{% set isStripeAccount = currentGatewayAccount.payment_provider === 'stripe' %}
<table class="transaction-details govuk-table">
  <tbody class="govuk-table__body">

  {% if contextIsAllServiceTransactions and service %}
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Service name:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="service_name">{{ (service.serviceName and service.serviceName.en) or service.name }}</td>
  </tr>
  {% endif %}

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Reference number:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="reference">{{reference}}</td>
  </tr>

  {% if permissions.transactions_description_read %}
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Description:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="description">{{description}}</td>
  </tr>
  {% endif %}

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16 vertical-align-top" scope="row">Payment status:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="state">{{state_friendly}}
      {% if state_friendly === "Declined" %}
        {% set stateInfo %}
          <p class="govuk-!-font-size-16">The payment was declined. This may happen if:</p>
          <ul class="govuk-!-font-size-16">
            <li>the payment card failed a fraud check - for example, the cardholder address or the verification code did not match the card number, or the card has been blocked</li>
            <li>there was a 3D Secure authentication failure - for example, the user entered the incorrect password</li>
            <li>there was not enough money in the account</li>
          </ul>
        {% endset %}
        {{
          govukDetails({
            summaryText: "What does this mean?",
            classes: "small-arrow govuk-!-font-size-16",
            html: stateInfo
          })
        }}
      {% elif state_friendly === "Timed out" %}
        {% set stateInfo %}
          <p class="govuk-!-font-size-16">The user’s payment session timed out. This means the user took longer than 90 minutes to complete their payment details.</p>
          <p class="govuk-!-font-size-16">If the payment was already authorised, GOV.UK Pay will send a cancellation to the payment provider.</p>
        {% endset %}
        {{
          govukDetails({
            summaryText: "What does this mean?",
            classes: "small-arrow govuk-!-font-size-16",
            html: stateInfo
          })
        }}
      {% elif state_friendly === "Cancelled" %}
        {% set stateInfo %}
          {% if state.code === "P0040"%}
            <p class="govuk-!-font-size-16">Your service has cancelled the payment.</p>
            <p class="govuk-!-font-size-16">If the payment has already been authorised, GOV.UK Pay will cancel it with your payment provider.</p>
          {% else %}
            <p class="govuk-!-font-size-16">The payment was cancelled by the user. This means the user clicked on the ‘Cancel payment’ button.</p>
            <p class="govuk-!-font-size-16">If the payment was already authorised, GOV.UK Pay will send a cancellation to the payment provider.</p>
          {% endif %}
        {% endset %}
        {{
          govukDetails({
            summaryText: "What does this mean?",
            classes: "small-arrow govuk-!-font-size-16",
            html: stateInfo
          })
        }}
      {% elif state_friendly === "Error" %}
        {% set stateInfo %}
          <p class="govuk-!-font-size-16">The was an error with the payment. This could be due to a configuration problem between the service and the payment provider. Contact the GOV.UK Pay team with the payment ID, quoting error code P0050.</p>
        {% endset %}
        {{
          govukDetails({
            summaryText: "What does this mean?",
            classes: "small-arrow govuk-!-font-size-16",
            html: stateInfo
          })
        }}
      {% endif %}
    </td>
  </tr>

  {% if permissions.transactions_amount_read %}
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Payment amount:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="amount">
      {%- if total_amount and corporate_card_surcharge -%}
        {{total_amount}} (including a card fee of {{corporate_card_surcharge}})
      {%- else -%}
        {{amount}}
      {%- endif -%}
    </td>
  </tr>

  {% if isStripeAccount %}
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">PSP fee:</th>
        <td class="govuk-table__cell govuk-!-font-size-16" data-cell-type="fee">{{ fee }}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Net amount:</th>
        <td class="govuk-table__cell govuk-!-font-size-16" data-cell-type="net">{{ net_amount or total_amount or amount }}</td>
      </tr>
  {% endif %}

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Refunded amount:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="refunded-amount" class="qa-refunded-amount ">{% if refunded %}–{{refunded_amount}}{% else %}£0.00{% endif %}</td>
  </tr>
  {% endif %}

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Date created:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="date-created">{{updated}}</td>
  </tr>

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Provider:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="provider">{{payment_provider}}</td>
  </tr>

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Provider ID:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="transaction-id">{{gateway_transaction_id}}</td>
  </tr>

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">GOV.UK payment ID:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="payment-id">{{charge_id}}</td>
  </tr>

  {% if delayed_capture %}
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Delayed capture:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="delayed-capture">On</td>
  </tr>
  {% endif %}

  {% if currentGatewayAccount.allow_moto %}
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">MOTO:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="moto">{% if moto %}Yes{% else %}No{% endif %}</td>
  </tr>
  {% endif %}
  </tbody>
</table>
