
<form id="refundForm" action="/transactions/{{charge_id}}/refund" method="post" class="target-to-show {% if flash.genericError %}active{% endif %}">
  <input id="full-amount" type="hidden" name="full-amount" value="{{ refundable_amount }}" >
  <input id="amount-available" type="hidden" name="refund-amount-available-in-pence" value="{{ refund_summary.amount_available }}" />
  <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}" />

  {% set refundRemainingHint %}
    Refund the remaining {{ refundable_amount_display }} ({{ refunded_amount }} has already been refunded)
  {% endset %}

  {% set refundFullHint %}
    Refund the full amount of {{ refundable_amount_display }}{% if corporate_card_surcharge %} (including a card fee of {{corporate_card_surcharge}}){% endif %}
  {% endset %}

  {% set partialRefundHTML %}
    <div class="currency-input govuk-form-group">
      <label class="govuk-label" for="refund-amount">
        Refund amount
        <span class="govuk-visually-hidden">in &pound;</span>
      </label>
      <div class="currency-input__inner">
        <span class="currency-input__inner__unit">&pound;</span>
        <input
          class="govuk-input govuk-input--width-10"
          aria-label="Enter amount in pounds"
          name="refund-amount"
          autofocus
          data-non-numeric
          type="text"
          id="refund-amount"
        />
      </div>
    </div>
  {% endset %}

  {% if refunded %}
    {{
      govukRadios({
        name: "refund-type",
        fieldset: {
          legend: {
            text: "Refund payment",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "full",
            text: "Remaining amount",
            checked: true,
            id: "remaining",
            hint: {
              text: refundRemainingHint
            }
          },
          {
            value: "partial",
            text: "Partial refund",
            id: "partial",
            hint: {
              text: "Refund a partial amount"
            },
            conditional: {
              html: partialRefundHTML
            }
          }
        ]
      })
    }}
  {% else %}
    {{
      govukRadios({
        name: "refund-type",
        fieldset: {
          legend: {
            text: "Refund payment",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "full",
            text: "Full refund",
            checked: true,
            id: "full",
            hint: {
              text: refundFullHint
            }
          },
          {
            value: "partial",
            text: "Partial refund",
            id: "partial",
            hint: {
              text: "Refund a partial amount"
            },
            conditional: {
              html: partialRefundHTML
            }
          }
        ]
      })
    }}
  {% endif %}


  <div class="govuk-form-group govuk-!-margin-top-6">
    {{
      govukButton({
        text: 'Refund payment',
        classes: 'govuk-button--warning refund__submit-button',
        preventDoubleClick: true,
        attributes: {
          id: 'refund-button'
        }
      })
    }}
    <p class="govuk-body govuk-!-display-inline">
      <a href="#main" class="govuk-link govuk-!-margin-left-3 target-to-show--cancel">cancel</a>
    </p>
  </div>
</form>
