{% extends "../layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "../macro/breadcrumbs.njk" import breadcrumbs %}

{% set hideServiceHeader = contextIsAllServiceTransactions %}

{% block pageTitle %}
  Transaction details {{charge_id}} - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {% if contextIsAllServiceTransactions %}
    {% set pageTitleBreadcrumbWithTag %}
      <span>Transactions for all services</span>
      <strong class="service-info--tag govuk-tag govuk-tag--grey">{{ "LIVE" if live else "TEST" }}</strong>
    {% endset %}
    {{ breadcrumbs([
      { text: "My services", href: routes.serviceSwitcher.index },
      { html: pageTitleBreadcrumbWithTag  }
    ]) }}

    {% set allServicesBackLink %}{{routes.allServiceTransactions.index}}{% if allServicesTransactionsStatusFilter %}/{{allServicesTransactionsStatusFilter}}{% endif %}{% if indexFilters %}?{{indexFilters}}{% endif %}{% endset %}
    {{
      govukBackLink({
        text: 'Back to transactions for all services',
        href: allServicesBackLink | safe
      })
    }}
  {% else %}
    {{ super() }}
    {% set serviceTransactionsBackLink %}{{formatAccountPathsFor(routes.account.transactions.index, currentGatewayAccount.external_id)}}{% if indexFilters %}?{{indexFilters}}{% endif %}{% endset %}
    {{
      govukBackLink({
        text: 'Transactions list',
        href: serviceTransactionsBackLink | safe
      })
    }}
  {% endif %}

{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if flash.refundSuccess %}
      {% set html %}
        <p class="govuk-notification-banner__heading">Refund successful</p>
        <p class="govuk-body">It may take up to 6 days to process.</p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}
    {% elif flash.refundError %}
      <div class="govuk-error-summary hidden" aria-labelledby="error-summary-heading-example-1" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-heading-example-1">
          Refund failed
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>{{flash.refundError | safe}}</li>
          </ul>
        </div>
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">Transaction details</h1>
    {% include "./_details.njk" %}

    {% if dispute %}
      <h2 class="govuk-heading-m govuk-!-margin-top-9" data-cy="dispute-details">Dispute details</h2>
      {% include "./_dispute.njk" %}
    {% endif %}

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Payment method</h2>
    {% include "./_payment.njk" %}

    {% if metadata %}
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Metadata</h2>
      {% include "./_metadata.njk" %}
    {% endif %}

    {% if permissions.transactions_events_read %}
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Transaction events</h2>
      {% include "./_events.njk" %}
    {% endif %}
  </div>

  <div class="govuk-grid-column-one-third" data-cy="refund-container">
    {% if refund_unavailable_due_to_dispute %}
      <h2 class="govuk-heading-m govuk-!-margin-top-1">Refund</h2>
      <p class="govuk-body">You cannot refund this payment because it is being disputed.</p>
    {% elif refundable %}
      {% if permissions.refunds_create %}
        {% include "./_refund.njk" %}
        <div class="target-to-show--toggle-container {% if not flash.genericError %}active{% endif %}">
          <p class="govuk-body">Make a full or partial refund.</p>
          <a href="#refundForm" class="govuk-button govuk-button--secondary refund__toggle target-to-show--toggle delete">Refund payment</a>
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
