{% macro stripeTransactionRow(transaction) %}
  <tr class="transactions-list--row govuk-table__row vertical-align-top">
    <th
      scope="row"
      class="govuk-table__header vertical-align-middle"
      data-gateway-transaction-id="{{ transaction.gatewayTransactionId }}"
    >
      <a
        class="govuk-link govuk-!-font-weight-regular govuk-!-font-size-16 reference govuk-!-display-block"
        id="charge-id-{{ transaction.externalId }}"
        data-charge-id="{{ transaction.externalId }}"
        href="{{ transaction._links.detail(currentService.externalId, currentGatewayAccount.type) }}"
      >
        {{ transaction.displayValues.reference }}
      </a>
    </th>
    <td class="govuk-table__cell govuk-!-font-size-16 email vertical-align-middle"
      >{{ transaction.displayValues.email }}</td
    >
    <td class="govuk-table__cell amount govuk-!-font-size-16 vertical-align-middle" id="amount">
      {%- if transaction.totalAmount and transaction.corporateCardSurcharge -%}
        {{ transaction.displayValues.totalAmount }}
        <span class="govuk-!-display-block govuk-!-font-size-16">(with card fee)</span>
      {%- else -%}
        <span style="white-space: pre">{{ transaction.displayValues.amountInPounds }}</span>
      {%- endif -%}
    </td>
    <td data-cell-type="fee" class="govuk-table__cell govuk-!-font-size-16 state vertical-align-middle">
      {{ transaction.displayValues.fee }}
    </td>
    <td data-cell-type="net" class="govuk-table__cell govuk-!-font-size-16 state vertical-align-middle">
      <span style="white-space: pre">
        {%- if transaction.transactionType === 'DISPUTE' -%}
          {{ transaction.displayValues.netAmount }}
        {% elif transaction.netAmount %}
          {{ transaction.displayValues.netAmount }}
        {% elif transaction.totalAmount %}
          {{ transaction.displayValues.totalAmount }}
        {%- else -%}
          {{ transaction.displayValues.amountInPounds }}
        {%- endif -%}
      </span>
    </td>
    <td class="govuk-table__cell govuk-!-font-size-16 brand vertical-align-middle">
      {{ transaction.cardDetails.cardBrand }}
    </td>
    <td class="govuk-table__cell govuk-!-font-size-16 state vertical-align-middle">
      {{ transaction.formattedStatus }}
    </td>
    <td
      style="text-align: left"
      class="govuk-table__cell govuk-!-font-size-16 govuk-table__cell--numeric time vertical-align-middle"
    >
      {{ transaction.createdDate | shortTime }} - <wbr />{{ transaction.createdDate | zonedDate }}
    </td>
  </tr>
{% endmacro %}
