<li class="service--{{ account.type }}">
  <form method="post" action="{{routes.serviceSwitcher.switch}}">
    <input name="csrfToken" type="hidden" value="{{csrf}}" />
    <input name="gatewayAccountId" type="hidden" value="{{ account.external_id }}"/>
    <button
      class="button-as-link service-switcher {{ account.type }} {{ account.payment_provider }}"
      type="submit"
      role="link">
      {{ account.type | title }}
      {% if account.type === 'live' %}
        {% if account.payment_method === 'direct debit' %}
          direct debit account
        {% else %}
          card account
        {% endif %}
        {% else %}
        account ({{ account.payment_provider }})
      {% endif %}
    </button>
    {% if account.type !== 'live' %}
      {% if not loop.last %}
        <span class="govuk-body govuk-!-margin-left-1 govuk-!-margin-right-1">|</span>
      {% endif %}
    {% endif %}
  </form>
</li>
