<div class="grid-row service_list_item">
    <div class="heading-group">
        <h2 class="heading-medium service-name">{{name}}</h2>
    </div>
    <div class="column-half">
        <ul class="list">
        {{#gateway_accounts}}
            <li>
                <form method="post" action="{{routes.serviceSwitcher.switch}}">
                    <input name="csrfToken" type="hidden" value="{{csrf}}" />
                    <input name="gatewayAccountId" type="hidden" value="{{id}}"/>

                    <input class="service_switcher" type="submit" role="link" value="{{payment_provider}} {{type}}">
                </form>
            </li>
        {{/gateway_accounts}}
        </ul>
    </div>
    <div id="team-members" class="column-half">

        <p>
            {{#permissions.users_service_create}}
            <a href="/service/{{external_id}}" class="manage-team-members">Manage team members</a>
            {{/permissions.users_service_create}}
            {{^permissions.users_service_create}}
            <a href="/service/{{external_id}}" class="view-team-members">View team members</a>
            {{/permissions.users_service_create}}
        </p>
    </div>
</div>
