<div class="flex-grid--row service_list_item" data-name="{{ service.name }}">
  <div class="flex-grid--heading-group marked">
    <h2 class="govuk-heading-m service-name">
      {{ service.name }}
      {% if service.permissions.service_name_update %}
      <a href="/service/{{ service.external_id }}/edit-name" class="govuk-link govuk-!-font-size-14 govuk-!-font-weight-regular govuk-!-margin-left-2 edit-service-name">
        Edit name <span class="govuk-visually-hidden">for {{ service.name }}</span>
      </a>
      {% endif %}
    </h2>
  </div>
  <div class="flex-grid--column-half tight marked">
    {% if service.gateway_accounts.cardAccounts.length %}
    <h3 class="govuk-heading-s">Card payments</h3>
    <ul class="govuk-list service-list">
    {% for account in service.gateway_accounts.cardAccounts %}
      {% include "./_service-switch.njk" %}
    {% endfor %}
    </ul>
    {% endif %}

    {% if service.gateway_accounts.directdebitAccounts.length %}
    <h3 class="govuk-heading-s">Direct Debit payments</h3>
    <ul class="govuk-list service-list">
    {% for account in service.gateway_accounts.directdebitAccounts %}
      {% include "./_service-switch.njk" %}
    {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div id="team-members" class="flex-grid--column-half tight marked">
    <ul class="govuk-list">
      <li>
      {% if service.permissions.users_service_create %}
        <p>
          <a class="govuk-link govuk-link--no-visited-state manage-team-members" href="/service/{{ service.external_id }}">
            Manage team members <span class="govuk-visually-hidden">for {{ service.name }}</span>
          </a>
        </p>
      {% else %}
        <p>
          <a class="govuk-link govuk-link--no-visited-state view-team-members" href="/service/{{ service.external_id }}">
            View team members <span class="govuk-visually-hidden">for {{ service.name }}</span>
          </a>
        </p>
      {% endif %}
      </li>
      <li>
      {% if service.permissions.merchant_details_read %}
        <a class="govuk-link govuk-link--no-visited-state edit-merchant-details" href="/organisation-details/{{ service.external_id }}">
          Organisation details <span class="govuk-visually-hidden">for {{ service.name }}</span>
        </a>
      {% endif %}
      </li>
    </ul>
  </div>
</div>
