<li class="service--{{ account.type }}">
  <form method="post" action="{{routes.serviceSwitcher.switch}}">
    <input name="csrfToken" type="hidden" value="{{csrf}}" />
    <input name="gatewayAccountId" type="hidden" value="{{ account.id }}"/>
    <input name="gatewayAccountExternalId" type="hidden" value="{{ account.external_id }}"/>
    <button
      class="govuk-link pay-button--as-link service-switcher {{ account.type }} {{ account.payment_provider }}"
      type="submit"
      role="link">
      {{ account.type | title }}
      {% if account.type === 'live' %}
        card account
      {% else %}
        account ({{ account.payment_provider }})
      {% endif %}
    </button>
    {% if service.experimental_features_enabled and account.type === "live" and not prototype.switchComplete %}
      <strong class="govuk-tag govuk-tag--blue" style="margin-left: 5px">switching psp</strong>
    {% endif %}
  </form>
</li>
