{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Edit service name - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {{ errorSummary ({
      errors: errors,
      hrefs: {
        service_name: "#service-name",
        service_name_cy: "#service-name-cy"
      }
    }) }}

    <h1 class="govuk-heading-l">Edit service name</h1>
    <p class="govuk-body">
        Changing your service name affects both live and test environments, including user-facing payment pages and emails.
    </p>
    <form id="edit-service-name-form" method="post" action="{{submit_link}}" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

      {{ govukInput({
          label: {
            text: "Service name"
          },
          errorMessage: { text: errors.service_name } if errors.service_name else false,
          id: "service-name",
          name: "service-name",
          value: current_name.en,
          classes: "govuk-!-width-one-half",
          type: "text",
          spellcheck: true
        })
      }}

      {% set welshServiceNameHTML %}
        {{ govukInput({
          id: "service-name-cy",
          name: "service-name-cy",
          type: "text",
          value: current_name.cy,
          errorMessage: { text: errors.service_name_cy } if errors.service_name_cy else false,
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Welsh service name"
          },
          spellcheck: true,
          attributes: {
            "lang": "cy"
          }
        }) }}
        <div class="govuk-hint">To turn on Welsh translations, follow the instructions in our&nbsp;documentation</div>
      {% endset -%}

      {% if current_name.cy %}
        {{ welshServiceNameHTML | safe }}
      {% else %}
        {{ govukCheckboxes({
          idPrefix: "checkbox-service-name-cy",
          name: "welsh-service-name-bool",
          items: [
            {
              value: "true",
              text: "Add a Welsh (Cymraeg) service name",
              conditional: {
                html: welshServiceNameHTML
              }
            }
          ]
        }) }}
      {% endif %}

      {{ govukButton({ text: "Save" })}}
      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" id="service-name-cancel-link" href="{{my_services}}">
            Cancel
        </a>
      </p>
      <p class="govuk-body">
        <a class="govuk-link" id="service-nam-guidance" href="https://www.gov.uk/service-manual/design/naming-your-service">
          Get guidance on choosing a name for your service
        </a>
      </p>
    </form>
  </div>
{% endblock %}
