{% extends "../layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
  Choose service - GOV.UK Pay
{% endblock %}

{% block pageSpecificJS %}
  <script src="/public/js/components/notification-banner.js"></script>
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if show_new_contract_terms_banner %}
      {% set bannerHtml %}
          <div>
            <p class="govuk-body">
              From 21 February 2022 the following terms and conditions will apply. There are also changes to Stripe’s fees which are listed in the documents below. Please contact support
              (<a class="govuk-link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk">govuk-pay-support@digital.cabinet-office.gov.uk</a>)
              if you need further information.
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a class="govuk-link" href="/policy/memorandum-of-understanding-for-crown-bodies-2022">Memorandum of understanding for Crown bodies</a>
              </li>
              <li>
                <a class="govuk-link" href="/policy/contract-for-non-crown-bodies-2022">Contract for non-Crown bodies</a>
              </li>
              <li>
                <a class="govuk-link" href="/policy/stripe-connected-account-agreement-2022">Stripe Connected Account Agreement</a>
              </li>
            </ul>

            <form method="POST" action="{{routes.serviceSwitcher.removeNotification}}">
              <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
              {{ govukButton({
                text: "Close",
                classes: "govuk-button--secondary govuk-!-margin-bottom-0",
                type: "submit",
                attributes: {
                  "id": "my-services-notification-banner__close-button"
                }
              }) }}
            </form>
          </div>
      {% endset %}

      {{ govukNotificationBanner({
          html: bannerHtml,
          titleText: 'Changes on GOV.UK Pay',
          attributes: {
            id: 'my-services-notification-banner'
          }
      }) }}
    {% endif %}

    {% if new_service_name %}
      {% set html %}
        <p class="govuk-notification-banner__heading">
          You have been added to {{new_service_name}}
        </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Overview</h1>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Reports</h2>

    {% set allServiceTransactionsPath = routes.allServiceTransactions.index if has_live_account else
      routes.formattedPathFor(routes.allServiceTransactions.indexStatusFilter, 'test') %}

    <p class="govuk-body">
      <a href="{{ allServiceTransactionsPath }}" class="govuk-link govuk-!-margin-right-3 govuk-link--no-visited-state govuk-!-font-weight-bold">
        View transactions for all your services
      </a>
    </p>

    {% set payoutsPath = routes.payouts.list if has_live_account else
      routes.formattedPathFor(routes.payouts.listStatusFilter, 'test') %}

    {% if has_account_with_payouts %}
      <p class="govuk-body">
        <a href="{{ payoutsPath }}" class="govuk-link govuk-!-margin-right-3 govuk-link--no-visited-state govuk-!-font-weight-bold">
          View payments to your bank account
        </a>
      </p>
    {% endif %}

  </div>

  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible overview-divider">
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">Services</h2>

    <p class="govuk-body">
      {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Add a new service",
          href: routes.serviceSwitcher.create
        }) }}
    </p>

    {% if services.length > 7 %}
      <div class="js-show flex-grid--row">
        <div class="flex-grid--column-two-thirds tight">
          <label class="govuk-label" for="service-filter">Filter services</label>
          <div id="service-filter-container" class="autocomplete-container"></div>
        </div>
        <div class="flex-grid--column-third tight">
          <button class="govuk-link pay-button--as-link govuk-!-margin-top-7" id="clear-filters">Clear filter</button>
        </div>
      </div>
    {% endif %}

    <div class="flex-grid">
      {% for service in services %}
        {% include "./_service-section.njk" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
