{{< layout}}

{{$pageTitle}}
GOV.UK Pay - My services
{{/pageTitle}}

{{$mainClasses}}full-width{{/mainClasses}}
{{$full_width_content}}
<h1 class="heading-large">My services</h1>
<div class="grid-row grid-row-align-to-edges">
    <div class="column-two-thirds">
        <p class="lede service-count">You have {{services.length}} services</p>
    </div>
    <div class="column-one-third">
    </div>
</div>
<div class="marked-grid">

        {{#services}}
        {{>services/_service_section}}
        {{/services}}


</div>
{{/full_width_content}}

{{/layout}}
