{% extends "../layout.njk" %}

{% block pageTitle %}
  Choose service - GOV.UK Pay
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if new_service_name %}
      <div class="govuk-grid-column-full govuk-!-margin-0">
        <div class="flash-container flash-container--good">
          <p id="new-service-name" class="govuk-body govuk-!-margin-bottom-0">You have been added to {{new_service_name}}</p>
        </div>
      </div>
    {% endif %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Overview</h1>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Reports</h2>

    {% set allServiceTransactionsPath = routes.allServiceTransactions.index if has_live_account else 
      routes.formattedPathFor(routes.allServiceTransactions.indexStatusFilter, 'test') %}

    <p class="govuk-body">
      <a href="{{ allServiceTransactionsPath }}" class="govuk-link govuk-!-margin-right-3 govuk-link--no-visited-state">
        Show transactions for all your services
      </a>
    </p>

    {% set payoutsPath = routes.payouts.list if has_live_account else 
      routes.formattedPathFor(routes.payouts.listStatusFilter, 'test') %}

    {% if has_account_with_payouts %}
      <p class="govuk-body">
        <a href="{{ payoutsPath }}" class="govuk-link govuk-!-margin-right-3 govuk-link--no-visited-state">
          Show payments to your bank account
        </a>
      </p>
    {% endif %}

  </div>

  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible overview-divider">
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">Services</h2>

    <p class="govuk-body">
      {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Add a new service",
          href: routes.serviceSwitcher.create
        }) }}
    </p>

    {% if services.length > 7 %}
      <div class="js-show flex-grid--row">
        <div class="flex-grid--column-two-thirds tight">
          <label class="govuk-label" for="service-filter">Filter services</label>
          <div id="service-filter-container" class="autocomplete-container"></div>
        </div>
        <div class="flex-grid--column-third tight">
          <button class="govuk-link pay-button--as-link govuk-!-margin-top-7" id="clear-filters">Clear filter</button>
        </div>
      </div>
    {% endif %}

    <div class="flex-grid">
      {% for service in services %}
        {% include "./_service-section.njk" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}