{{< layout}}

{{$pageTitle}}
GOV.UK Pay - Edit user permissions
{{/pageTitle}}
{{$full_width_content}}
<h2 class="heading-large">Team members</h2>
<p id="edit-permissions-heading">Edit permissions</p>

<div id="email-address">
    <h2 class="heading-small">Email address</h2>
    <span id="email">{{email}}</span>
</div>

<div id="permission-level">
    <form id="role-update-form" method="post" action="{{routes.teamMembers.permissions}}">
        <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

        <div class="form-group">
            <label class="form-label-bold" for="role-admin-input">
                <h2 class="heading-small">Administrator</h2>
                <span>View and change settings</span>
                <span>Edit data. e.g. refund a payment</span>
                <span>View data. e.g. transactions</span>
            </label>
            <input id="role-admin-input" class="form-control" name="role-input" type="radio" value="{{admin.id}}" {{admin.checked}}>
        </div>

        <div class="form-group">
            <label class="form-label-bold" for="role-view-and-refund-input">
                <h2 class="heading-small">View and refund</h2>
                <span>Edit data. e.g. refund a payment</span>
                <span>View data. e.g. transactions</span>
                <span>Cannot view or edit settings</span>
            </label>
            <input id="role-view-and-refund-input" class="form-control" name="role-input" type="radio" value="{{viewAndRefund.id}}" {{viewAndRefund.checked}}>
        </div>

        <div class="form-group">
            <label class="form-label-bold" for="role-view-input">
                <h2 class="heading-small">View and refund</h2>
                <span>View data. e.g. transactions</span>
                <span>Cannot edit data</span>
                <span>Cannot view or edit settings</span>
            </label>
            <input id="role-view-input" class="form-control" name="role-input" type="radio" value="{{view.id}}" {{view.checked}}>
        </div>

        <div class="form-group">
            <input id="role-update-button" name="role-update-button" type="submit" class="button" value="Submit">
        </div>
        <a id="service-name-cancel-link" href="{{routes.teamMembers.index}}">
            Cancel
        </a>
    </form>
</div>
{{/full_width_content}}

{{/layout}}
