{{< layout}}

{{$pageTitle}}
GOV.UK Pay - Team members
{{/pageTitle}}

{{$full_width_content}}
<h2 class="heading-large">My profile</h2>

<table class="profile-details">
    <tbody>
    <tr>
        <td>Name:</td>
        <td id="name">{{username}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td id="email">{{email}}</td>
    </tr>
    <tr>
        <td>Mobile number:</td>
        <td id="telephone-number">{{telephone_number}}</td>
    </tr>
    </tbody>
</table>
{{/full_width_content}}

{{/layout}}
