{{< layout}}

{{$pageTitle}}
GOV.UK Pay - Team members
{{/pageTitle}}

{{$pageSpecificJS}}
<script src="/public/js/components/link-follower.js"></script>
{{/pageSpecificJS}}

{{$mainClasses}}full-width{{/mainClasses}}
{{$full_width_content}}

<div class="column-two-thirds no-padding">
    <h1 class="heading-large">This person has already been invited</h1>

    <p id="conflict-message">You cannot send an invitation to {{invitee}} because they have received one already, or may be an existing team member.</p>

    <a href="/team-members" class="link-back">Back to team member profile</a>
</div>

{{/full_width_content}}

{{/layout}}
