{{< layout}}

{{$pageTitle}}
GOV.UK Pay - Team members
{{/pageTitle}}

{{$pageSpecificJS}}
<script src="/public/js/components/confirm.js"></script>
{{/pageSpecificJS}}

{{$mainClasses}}full-width{{/mainClasses}}
{{$full_width_content}}
<a href="/team-members" class="link-back">See all team members</a>
<h1 id="details-for" class="heading-large">
    <span class="heading-secondary">Team members</span>
    Details for {{username}}
</h1>

<div class="grid-row">
    <div class="column-two-thirds admin-list">
        <table>
            <caption class="visually-hidden">Details for {{username}}</caption>
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td id="name">{{username}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td id="email">{{email}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Permission level:</td>
                    <td id="role">{{role}}</td>
                    <td id="edit-permissions-link"><a href="{{editPermissionsLink}}">Edit permissions</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="grid-row js-confirm">
    <div class="column-two-thirds">
        <p>
            <a id="remove-user-link" class="red js-toggle-confirm-dialog" href="#">Remove user</a>
        </p>
    </div>
</div>
<div class="grid-row js-confirm-dialog hidden">
    <div class="column-two-thirds">
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
            <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                Are you sure you want to remove {{username}}?
            </h1>
            <div class="button-group">
                <a id="remove-user-confirm" href="#" class="button delete">Yes, remove</a>
                <a id="remove-user-cancel" href="#" class="js-confirm-close-dialog">Cancel</a>
            </div>
        </div>
    </div>
</div>

{{/full_width_content}}

{{/layout}}
