{{< layout}}

{{$pageTitle}}
GOV.UK Pay - Team members
{{/pageTitle}}

{{$pageSpecificJS}}
<script src="/public/js/components/link-follower.js"></script>
{{/pageSpecificJS}}

{{$full_width_content}}
<h1 class="heading-large">Team members</h1>
<p class="admin-lede">Team member changes affect both live and test environments.</p>
<div class="grid-row">
    <div class="column-two-thirds admin-list-group">
        <h2 id="active-team-members-heading" class="admin-list-group-heading">Active ({{number_active_members}})</h2>

        <div class="admin-list" id="team-members-admin-list">
            <h3 id="admin-role-header" class="admin-list-heading">Administrators ({{number_admin_members}})</h3>
            <ul>
                {{#team_members.admin}}
                <li>
                    {{#permissions.users_service_read}}<a href="{{link}}">{{/permissions.users_service_read}}
                    {{username}} {{#is_current}}(you){{/is_current}}
                    {{#permissions.users_service_read}}</a>{{/permissions.users_service_read}}
                </li>
                {{/team_members.admin}}
            </ul>
        </div>

        <div class="admin-list" id="team-members-view-and-refund-list">
            <h3 id="view-and-refund-role-header" class="admin-list-heading">View and refund ({{number_view-and-refund_members}})</h3>
            <ul>
                {{#team_members.view-and-refund}}
                <li>
                    {{#permissions.users_service_read}}<a href="{{link}}">{{/permissions.users_service_read}}
                    {{username}} {{#is_current}}(you){{/is_current}}
                    {{#permissions.users_service_read}}</a>{{/permissions.users_service_read}}
                </li>
                {{/team_members.view-and-refund}}
            </ul>
        </div>

        <div class="admin-list" id="team-members-view-only-list">
            <h3 id="view-only-role-header" class="admin-list-heading">View only ({{number_view-only_members}})</h3>
            <ul>
                {{#team_members.view-only}}
                <li>
                    {{#permissions.users_service_read}}<a href="{{link}}">{{/permissions.users_service_read}}
                    {{username}} {{#is_current}}(you){{/is_current}}
                    {{#permissions.users_service_read}}</a>{{/permissions.users_service_read}}
                </li>
                {{/team_members.view-only}}
            </ul>
        </div>
    </div>
</div>

{{/full_width_content}}

{{/layout}}
