{{< layout}}

{{$pageTitle}}
GOV.UK Pay - Team members
{{/pageTitle}}

{{$full_width_content}}
<h1 id="details-for" class="heading-large">
    <span class="heading-secondary">Team members</span>
    Details for {{username}}
</h1>

<div class="grid-row">
    <div class="column-two-thirds admin-list">
        <table>
            <caption class="visually-hidden">Details for {{username}}</caption>
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td id="name">{{username}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td id="email">{{email}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Permission level:</td>
                    <td id="role">{{role}}</td>
                    <td id="edit-permissions-link"><a href="{{editPermissionsLink}}">Edit permissions</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{/full_width_content}}

{{/layout}}
