{{< layout}}

{{$pageTitle}}
GOV.UK Pay - Team members
{{/pageTitle}}

{{$pageSpecificJS}}
<script src="/public/js/components/link-follower.js"></script>
{{/pageSpecificJS}}

{{$mainClasses}}full-width{{/mainClasses}}
{{$full_width_content}}
<a href="{{teamMemberIndexLink}}" class="link-back">Back to team member profile</a>
<div>
    <h1 class="heading-large underline">
        <span class="heading-secondary">Team members</span>
        Invite a team member</h1>
</div>

<div class="column-full remove-left-margin">

    <form id="invite-member-form" method="post" action="{{teamMemberInviteSubmitLink}}">
        <div class="form-group">
            <label class="form-label" for="invitee-email">
                Email
            </label>
            <input type="text" class="form-control" id="invitee-email" name="invitee-email">
        </div>
        <div class="form-group">
            <fieldset>
                <legend class="heading-small">Permission level</legend>
                <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
                <div class="multiple-choice">
                    <input id="role-admin-input" type="radio" name="role-input" value="{{admin.id}}">
                    <label for="role-admin-input">
                        <span class="heading-small">Administrator</span>
                        <ul class="question-advice">
                            <li>View and change settings</li>
                            <li>Edit data, e.g. refund a payment</li>
                            <li>View data, e.g. transactions</li>
                        </ul>
                    </label>
                </div>
                <div class="multiple-choice">
                    <input id="role-view-and-refund-input" type="radio" name="role-input" value="{{viewAndRefund.id}}">
                    <label for="role-view-and-refund-input">
                        <span class="heading-small">View and refund</span>
                        <ul class="question-advice">
                            <li>Edit data, e.g. refund a payment</li>
                            <li>View data, e.g. transactions</li>
                            <li>Cannot view or edit settings</li>
                        </ul>
                    </label>
                </div>
                <div class="multiple-choice">
                    <input id="role-view-input" type="radio" name="role-input" value="{{view.id}}" checked>
                    <label for="role-view-input"><span class="heading-small">View only</span>
                        <ul class="question-advice">
                            <li>View data, e.g. transactions</li>
                            <li>Cannot edit data</li>
                            <li>Cannot view or edit settings</li>
                        </ul>
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="form-group call-to-action-group">
            <input type="submit" class="button" value="Submit">
            <a id="service-name-cancel-link" href="{{routes.teamMembers.index}}">
                Cancel
            </a>
        </div>
    </form>
</div>
{{/full_width_content}}

{{/layout}}
