<div id="service-search__container" class="govuk-!-margin-bottom-4">
    <label class="govuk-label govuk-label--s" for="service-search__input">Search for a service</label>
  <div id="service-search-input__container">
    <input class="govuk-input" type="text" id="service-search__input" autocomplete="off" />
    <button id="service-search__clear-button">&times;</button>
  </div>
  <p class="govuk-body govuk-!-margin-top-1" id="search-stats"></p>
</div>
