{% extends "../layout-logged-out.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
Forgot your password - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      username: '#username'
    }
  }) }}

  <form action="/reset-password" method="post" class="form submit-forgotten-email" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <h1 class="govuk-heading-l page-title">
        Forgot your password?
    </h1>
    <p class="govuk-body">We’ll then send you an email which you can use to set up a new password.</p>

    {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "username",
        errorMessage: { text: errors.username } if errors.username else false,
        name: "username",
        classes: "govuk-!-width-two-thirds",
        type: "email",
        autocomplete: "username",
        spellcheck: "false"
      })
    }}

    {{ govukButton({ text: "Send email" }) }}
  </form>
</div>
{% endblock %}
