{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% if method === secondFactorMethod.APP %}
  {% set title = 'Set up an authenticator app' %}
{% else %}
  {% set title = 'Check your phone' %}
{% endif %}

{% block pageTitle %}
  {{ title }} - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "My profile",
      href: routes.user.profile.index
    })
  }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      verificationCode: "#code"
    }
  }) }}
</div>
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l page-title">
    {{ title }}
  </h1>
</div>
<div class="govuk-grid-column-two-thirds">
{% if method === secondFactorMethod.APP %}
  <p class="govuk-body">Scan the barcode with your authenticator app or enter the secret manually.</p>
  {{
    govukWarningText({
      text: "Once setup is complete, you will only be able to use this authenticator app to sign in.",
      classes: "govuk-!-margin-bottom-0"
    })
  }}
  <figure class="govuk-!-margin-top-0 govuk-!-margin-left-0 govuk-!-margin-bottom-6">
    <img class="qr-code pay-!-negative-margin-h-3" src="{{qrCodeDataUrl}}" alt="If you cannot view or scan the barcode, please enter the secret manually">
    <figcaption>
      <h4 class="govuk-body">Secret</h4>
      <code class="code">{{prettyPrintedSecret}}</code>
    </figcaption>
  </figure>
{% else %}
  {{
    govukWarningText({
      text: "Once set-up is complete, you will only be able to sign in using text message codes."
    })
  }}
{% endif %}
  <form method="post" action="{{routes.user.profile.twoFactorAuth.configure}}" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

    {% set codeHint = "Enter the code shown in your app to complete the setup" %}
    {% if method === secondFactorMethod.SMS %}
      {% set codeHint = "We have sent you a text message with a verification code" %}
    {% endif %}

    {{ govukInput({
        label: {
          text: "Verification code"
        },
        hint: {
          text: codeHint
        },
        errorMessage: { text: errors.verificationCode } if  errors.verificationCode else false,
        id: "code",
        name: "code",
        classes: "govuk-input--width-10",
        type: "text",
        attributes: {
          "autocomplete": "off",
          "autofocus": true,
          "inputmode": "numeric",
          "pattern": "[0-9]*"
        }
      })
    }}

    {{ govukButton({ text: "Complete" }) }}
  </form>

  {% if method === secondFactorMethod.SMS %}
  <form method="post" action="{{routes.user.profile.twoFactorAuth.resend}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <div class="govuk-form-group">
      <button class="pay-button--as-link govuk-!-font-size-19" type="submit">
        Not received a text message?
      </button>
    </div>
  </form>
  {% endif %}

  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" id="service-name-cancel-link" href="{{routes.user.profile.twoFactorAuth.index}}">
      Cancel
    </a>
  </p>
</div>
{% endblock %}
