{% extends "../layout.njk" %}

{% block pageTitle %}
  Change sign-in method - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "My profile",
      href: routes.user.profile.index
    })
  }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l page-title">
    Change sign-in method
  </h1>
</div>
<div class="govuk-grid-column-two-thirds">
  <form method="post" action="{{routes.user.profile.twoFactorAuth.index}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {% if authenticatorMethod === secondFactorMethod.SMS %}
      <p class="govuk-body">You currently use text message codes to sign in to GOV.UK Pay.</p>
        <input name="two-fa-method" type="hidden" value="{{ secondFactorMethod.APP }}"/>
        {{
          govukButton({ text: "Use an authenticator app instead" })
        }}
    {% endif %}
    {% if authenticatorMethod === secondFactorMethod.APP %}
      <p class="govuk-body">You currently use an authenticator app to sign in to GOV.UK Pay.</p>

      {{ govukRadios({
        idPrefix: "two-fa-method",
        name: "two-fa-method",
        fieldset: {
          legend: {
            text: "Select a new sign-in method"
          }
        },
        items: [
          {
            value: secondFactorMethod.APP,
            text: "A different authenticator app",
            checked: true
          },
          {
            value: secondFactorMethod.SMS,
            text: "By text message"
          }
        ]
      }) }}
      {{
        govukButton({ text: "Submit" })
      }}
    {% endif %}
  </form>
  {% include "./_authenticator-app-details.njk" %}
</div>
{% endblock %}
