{% extends "../layout.njk" %}

{% block pageTitle %}
  Read and accept our legal terms - Request a live account - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">

    <span id="request-to-go-live-current-step" class="govuk-caption-l">Step 3 of 3</span>

    <form id="request-to-go-live-agreement-form" method="post"
          action="/service/{{ currentService.externalId }}/request-to-go-live/agreement" data-validate="true" >
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
      <fieldset class="govuk-fieldset" aria-describedby="email-confirmation-enabled-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
          <h1 class="govuk-fieldset__heading">
            Read and accept our legal terms
          </h1>
        </legend>
        <p class="govuk-body">To use GOV.UK Pay your organisation must accept our legal terms. {% if displayStripeAgreement %}These include the legal terms of Stripe, GOV.UK Pay’s payment service provider.{% endif %}</p>

        <p class="govuk-body">Download the relevant GOV.UK Pay legal terms. If you are a:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Crown body the <a href="https://selfservice.payments.service.gov.uk/policy/download/memorandum-of-understanding-for-crown-bodies" class="govuk-link">memorandum of understanding</a> applies</li>
          <li>non-Crown body the <a href="https://selfservice.payments.service.gov.uk/policy/download/contract-for-non-crown-bodies" class="govuk-link">contract</a> applies</li>
        </ul>

        {% if displayStripeAgreement %}
          <p class="govuk-body">You must also accept Stripe’s legal terms. Download the <a href="https://selfservice.payments.service.gov.uk/policy/download/stripe-connected-account-agreement" class="govuk-link">Stripe Connected Account Agreement.</a></p>
        {% endif %}
        <p class="govuk-body govuk-!-margin-bottom-6">These terms are confidential and should not be shared outside your organisation.</p>

          {{ govukCheckboxes({
            idPrefix: "agreement",
            name: "agreement",
            fieldset: {
              legend: {
                text: "Accept legal terms",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "accepted_legal_terms",
                text: "I confirm that I have the legal authority to accept these terms and that the organisation will be bound by them.",
                label: {
                  classes: "govuk-!-padding-top-0"
                }
              }
            ]
          }) }}
      </fieldset>

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
{% endblock %}
