{% extends "../layout.njk" %}

{% block pageTitle %}
  Request a live account - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">

    <span id="request-to-go-live-current-step" class="govuk-caption-l">Step 2 of 3</span>

    <form id="request-to-go-live-choose-how-to-process-payments-form" method="post"
          action="/service/{{ currentService.externalId }}/request-to-go-live/choose-how-to-process-payments" data-validate="true" >
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {% set otherPSP %}
        {{ govukRadios({
          idPrefix: 'choose-how-to-process-payments-mode-other',
          name: 'choose-how-to-process-payments-mode-other',
          fieldset: {
            legend: {
              text: 'Which payment service provider have you procured?',
              classes: 'pay-text-grey'
            }
          },
          items: [
            {
              value: 'worldpay',
              text: 'Worldpay'
            },
            {
              value: 'smartpay',
              text: 'Smartpay'
            },
            {
              value: 'epdq',
              text: 'ePDQ'
            }
          ]
        })
        }}
      {% endset %}

      {{ govukRadios({
        idPrefix: 'choose-how-to-process-payments-mode',
        name: 'choose-how-to-process-payments-mode',
        fieldset: {
          legend: {
            text: 'Which payment service provider will you use?',
            isPageHeading: true,
            classes: 'govuk-fieldset__legend--l'
          }
        },
        items: [
          {
            value: 'stripe',
            text: 'GOV.UK Pay’s provider',
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: 'GOV.UK Pay has a contract with Stripe to process payments. Using Stripe means that you don’t need your own contract with a payment service provider.'
            }
          },
          {
            value: 'gov_banking',
            text: "Government Banking's provider",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: 'Government Banking has a contract with Worldpay to process payments that is open to central government and health organisations. You need an agreement with Government Banking to use their contract.'
            }
          },
          {
            value: 'other_psp',
            text: 'Other providers',
            label: {
              classes: "govuk-label--s"
            },
            conditional: {
              html: otherPSP
            },
            hint: {
              text: 'If you’re already using GOV.UK Pay with one of the following providers, you can continue to use them for new services until 31st July 2021.'
            }
          }
        ]
        }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
{% endblock %}
