{% extends "../layout.njk" %}

{% block pageTitle %}
  Request a live account - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  {% if showNextSteps %}
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Request submitted</h1>

      <p class="govuk-body govuk-!-font-size-24">We’ll respond within one working day, and we can usually activate your live account on the same day.</p>

      {% if pspIsStripe %}
        <h2 class="govuk-heading-m govuk-!-margin-top-4">What happens next</h2>

        <p class="govuk-body">When we approve your request your service can start taking payments from users immediately.</p>

        <p class="govuk-body">To get money paid into your bank account from Stripe, you need to add more details. You need to provide:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the name, date of birth and home address of the person in your organisation legally reponsible for payments (called your ‘<a href="https://www.payments.service.gov.uk/what-being-a-responsible-person-means/" class="govuk-link">responsible person</a>’)</li>
          <li>your bank details</li>
          <li>your VAT number</li>
          <li>your company registration number if you’ve registered your company</li>
        </ul>

        <p class="govuk-body">GOV.UK Pay will email you a link to add these additional details after approving your request.</p>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
              All users with admin permissions can submit this information.  You can <a href="/service/{{ currentService.externalId }}" class="govuk-link">manage your users</a> here.
          </strong>
        </div>
      {% else %}
          <p class="govuk-body">When we activate your live account, we’ll email you with next steps.</p>
      {% endif %}

      <p class="govuk-body"><a href="{{routes.serviceSwitcher.index}}" class="govuk-link">Go to My services</a></p>
    </div>
  {% elif denied %}
    <div class="govuk-grid-column-full">
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: [
        {
          html: '<a class="govuk-link" href="https://www.payments.service.gov.uk/support/" title="Contact the GOV.UK Pay Team">Please contact GOV.UK Pay support</a>'
        }
      ]
    }) }}
    </div>
  {% else %}
    <div class="govuk-grid-column-two-thirds">
      {% if notStarted or startedButStillStepsToComplete %}
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Request a live account</h1>
        <p class="govuk-body-l intro">Complete these steps to request a live account.</p>
      {% endif %}
      <div class="request-to-go-live-list">
        <div id="request-to-go-live-step-organisation-name">
          <h2 class="govuk-heading-m">
            Add your organisation’s name and address
            {% if enteredOrganisationAddress %}
              <span class="status">Completed</span>
            {% elif enteredOrganisationName %}
              <span class="status">In Progress</span>
            {% endif %}
          </h2>
          <p class="govuk-body">These details will appear on your payment pages.</p>
        </div>
        <div id="request-to-go-live-step-choose-psp">
          <h2 class="govuk-heading-m">
            Tell us which payment service provider you will use
            {% if chosenHowToProcessPayments %}
              <span class="status">Completed</span>
            {% endif %}
          </h2>
        </div>
        <div id="request-to-go-live-step-agree-terms">
          <h2 class="govuk-heading-m">
            Read and accept our legal terms
            {% if agreedToTerms %}
              <span class="status">Completed</span>
            {% endif %}
          </h2>
        </div>
        <form id="request-to-go-live-index-form" method="post" action="/service/{{currentService.externalId}}/request-to-go-live" class="govuk-!-margin-top-8">
          <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
          {% if notStarted %}
            {{ govukButton({ text: "Start now" }) }}
          {% elif startedButStillStepsToComplete %}
            {{ govukButton({ text: "Continue" }) }}
          {% endif %}
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
