{% extends "../layout.njk" %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Request to go live - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  {% if currentService.currentGoLiveStage === goLiveStage.LIVE %}
    <div class="govuk-grid-column-full">
      <div class="next-steps-panel">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Your service is live</h3>
        <p class="govuk-body-l govuk-!-margin-bottom-4">You can now start taking payments.</p>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Next steps:</h3>
        <ul class="govuk-list govuk-list--bullet">
          {% if currentService.hasCardGatewayAccount %}
            <li><a class="govuk-link govuk-link--no-visited-state" href="/card-types/summary">manage the card types</a> your service accepts and turn on 3D Secure</li>
          {% endif %}
          <li><a class="govuk-link govuk-link--no-visited-state" href="/service/{{currentService.externalId}}">add team members</a> and edit their account permissions.</li>
        </ul>
      </div>
    </div>
  {% endif %}
  {% if currentService.currentGoLiveStage === goLiveStage.DENIED %}
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: [
        {
          html: '<a class="govuk-link" href="https://www.payments.service.gov.uk/support/" title="Contact the GOV.UK Pay Team">Please contact GOV.UK Pay support</a>'
        }
      ]
    }) }}
    </div>
  {% else %}
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-2">Request to go live</h1>
      <p class="govuk-body-l intro">Complete these steps to start taking real payments.</p>

      <div class="request-to-go-live-list">
        <div id="request-to-go-live-step-1">
          <h3 class="govuk-heading-m">
            Add your organisation’s name
            {% if currentService.currentGoLiveStage in [
              goLiveStage.ENTERED_ORGANISATION_NAME,
              goLiveStage.CHOSEN_PSP_STRIPE,
              goLiveStage.CHOSEN_PSP_WORLDPAY,
              goLiveStage.CHOSEN_PSP_SMARTPAY,
              goLiveStage.CHOSEN_PSP_EPDQ,
              goLiveStage.TERMS_AGREED_STRIPE,
              goLiveStage.TERMS_AGREED_WORLDPAY,
              goLiveStage.TERMS_AGREED_SMARTPAY,
              goLiveStage.TERMS_AGREED_EPDQ,
              goLiveStage.LIVE
            ] %}
              <span class="status">COMPLETED</span>
            {% endif %}
          </h3>
          <p class="govuk-body-m">This information will appear on your payment pages.</p>
        </div>
        <div id="request-to-go-live-step-2">
          <h3 class="govuk-heading-m">
            Choose how to process payments
            {% if currentService.currentGoLiveStage in [
              goLiveStage.CHOSEN_PSP_STRIPE,
              goLiveStage.CHOSEN_PSP_WORLDPAY,
              goLiveStage.CHOSEN_PSP_SMARTPAY,
              goLiveStage.CHOSEN_PSP_EPDQ,
              goLiveStage.TERMS_AGREED_STRIPE,
              goLiveStage.TERMS_AGREED_WORLDPAY,
              goLiveStage.TERMS_AGREED_SMARTPAY,
              goLiveStage.TERMS_AGREED_EPDQ,
              goLiveStage.LIVE
            ] %}
              <span class="status">COMPLETED</span>
            {% endif %}
          </h3>
          <p class="govuk-body-m">Use GOV.UK Pay’s preferred payment service provider (PSP). If you have already procured your own PSP, you can enter their details instead.</p>
        </div>
        <div id="request-to-go-live-step-3">
          <h3 class="govuk-heading-m">
            Sign an agreement with GOV.UK Pay
            {% if currentService.currentGoLiveStage in [
              goLiveStage.TERMS_AGREED_STRIPE,
              goLiveStage.TERMS_AGREED_WORLDPAY,
              goLiveStage.TERMS_AGREED_SMARTPAY,
              goLiveStage.TERMS_AGREED_EPDQ,
              goLiveStage.LIVE
            ] %}
              <span class="status">COMPLETED</span>
            {% endif %}
          </h3>
          <p class="govuk-body-m">GOV.UK Pay will contact you within one working day to confirm whether or not your organisation has already signed an agreement. If not, we’ll send you the relevant documents.</p>
        </div>
        <form id="request-to-go-live-index-form" method="post" action="/service/{{currentService.externalId}}/request-to-go-live">
          <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
          {% if currentService.currentGoLiveStage === goLiveStage.NOT_STARTED %}
            {{ govukButton({ text: "Start now" }) }}
          {% elif currentService.currentGoLiveStage not in [
            goLiveStage.TERMS_AGREED_STRIPE,
            goLiveStage.TERMS_AGREED_WORLDPAY,
            goLiveStage.TERMS_AGREED_SMARTPAY,
            goLiveStage.TERMS_AGREED_EPDQ,
            goLiveStage.LIVE
          ] %}
            {{ govukButton({ text: "Continue" }) }}
          {% endif %}
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
