{% extends "./layout.njk" %}

{% block pageTitle %}
  What is your organisation’s address? - Request a live account - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if errors %}
    {% set errorList = [] %}

    {% if errors['address-line1'] or errors['address-line2'] %}
      {% if errors['address-line1'] %}
        {% set href = '#address-line1' %}
      {% else %}
        {% set href = '#address-line2' %}
      {% endif %}
      {% set errorList = (errorList.push({
      text: 'Building and street',
      href: href
      }), errorList) %}
    {% endif %}

    {% if errors['address-city'] %}
      {% set errorList = (errorList.push({
        text: 'Town or city',
        href: '#address-city'
      }), errorList) %}
    {% endif %}

    {% if errors['address-country'] %}
      {% set errorList = (errorList.push({
        text: 'Country',
        href: '#address-country'
      }), errorList) %}
    {% endif %}

    {% if errors['address-postcode'] %}
      {% set errorList = (errorList.push({
        text: 'Postcode',
        href: '#address-postcode'
      }), errorList) %}
    {% endif %}

    {% if errors['telephone-number'] %}
      {% set errorList = (errorList.push({
        text: 'Telephone number',
        href: '#telephone-number'
      }), errorList) %}
    {% endif %}

    {{ govukErrorSummary({
    titleText: 'There was a problem with the details you gave for:',
    errorList: errorList
    }) }}
  {% endif %}

  <span id="request-to-go-live-current-step" class="govuk-caption-l">Step 1 of 3</span>

  <form id="request-to-go-live-organisation-address-form" method="post"
        action="/service/{{ currentService.externalId }}/request-to-go-live/organisation-address" data-validate="true">
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {% call govukFieldset({
    legend: {
    text: "What is your organisation’s address?",
    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-4",
    isPageHeading: true
    }
    }) %}

    <p class="govuk-body govuk-!-margin-bottom-6">Details of your organisation will appear on your payment pages. You can change them later if you need to.</p>

    {% set addressLine1Error = false %}
    {% if errors["address-line1"] %}
      {% set addressLine1Error = {
        text: errors["address-line1"]
      } %}
    {% endif %}

    {{ govukInput({
      label: {
        html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-line1",
      name: "address-line1",
      errorMessage: addressLine1Error,
      value: address_line1
    }) }}

    {% set addressLine2Error = false %}
    {% if errors["address-line2"] %}
      {% set addressLine2Error = {
        text: errors["address-line2"]
      } %}
    {% endif %}

    {{ govukInput({
      label: {
        html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-line2",
      name: "address-line2",
      errorMessage: addressLine2Error,
      value: address_line2
    }) }}

    {% set cityError = false %}
    {% if errors["address-city"] %}
      {% set cityError = {
        text: errors["address-city"]
      } %}
    {% endif %}

    {{ govukInput({
      label: {
        text: "Town or city"
      },
      classes: "govuk-!-width-one-half",
      id: "address-city",
      name: "address-city",
      errorMessage: cityError,
      value: address_city
    }) }}

    {% set countryError = false %}
    {% if errors["address-country"] %}
      {% set countryError = {
        text: errors["address-country"]
      } %}
    {% endif %}

    {{ govukSelect({
      id: "address-country",
      classes: "govuk-!-width-one-half",
      name: "address-country",
      errorMessage: countryError,
      label: {
        text: "Country"
      },
      items: countries
    }) }}

    {% set postcodeError = false %}
    {% if errors["address-postcode"] %}
      {% set postcodeError = {
        text: errors["address-postcode"]
      } %}
    {% endif %}

    {{ govukInput({
      label: {
        text: "Postcode"
      },
      classes: "govuk-input--width-10",
      id: "address-postcode",
      name: "address-postcode",
      errorMessage: postcodeError,
      value: address_postcode
    }) }}

    {% set phoneError = false %}
    {% if errors["telephone-number"] %}
      {% set phoneError = {
        text: errors["telephone-number"]
      } %}
    {% endif %}

    {{ govukInput({
      value: telephone_number,
      label: {
        text: "Telephone number"
      },
      hint: {
        text: "For international numbers include the country code"
      },
      errorMessage: phoneError,
      id: "telephone-number",
      name: "telephone-number",
      classes: "govuk-!-width-two-thirds",
      type: "tel"
    }) }}

    {% endcall %}

    {{ govukButton({ text: "Continue" }) }}
  </form>
</div>
{% endblock %}
