{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Enter the name of your organisation - Request a live account - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {{ errorSummary ({
      errors: errors,
      hrefs: {
        "organisation-name": "#request-to-go-live-organisation-name-input"
      }
    }) }}

    <span id="request-to-go-live-current-step" class="govuk-caption-l">Step 1 of 3</span>

    <form id="request-to-go-live-organisation-name-form" method="post"
          action="{{formatServicePathsFor(routes.service.requestToGoLive.organisationName, currentService.externalId)}}" >
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      <div class="govuk-form-group {% if errors['organisation-name'] %} govuk-form-group--error {% endif %}">
        <h1 class="govuk-label-wrapper">
           <label class="govuk-label govuk-label--l" for="request-to-go-live-organisation-name-input">
             Enter the name of your organisation
          </label>
        </h1>

        <span id="request-to-go-live-organisation-name-input-hint" class="govuk-hint">
          <p>Your organisation's details must be shown on your payment pages.</p>
          <p>Enter the main name of your organisation, not your local office or individual department.</p>
            Enter the full name. Only use acronyms that are widely understood, like NHS.
        </span>

        {% if errors['organisation-name'] %}
          <span id="request-to-go-live-organisation-name-input-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{errors['organisation-name']}}
          </span>
        {% endif %}

        <input class="govuk-input  {% if errors['organisation-name'] %} govuk-input--error {% endif %}"
               id="request-to-go-live-organisation-name-input" name="organisation-name"
               type="text" aria-describedby="request-to-go-live-organisation-name-input-hint"
               value="{{organisationName}}"/>
      </div>

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
{% endblock %}
