{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block side_navigation %}
  {% if isSwitchingCredentials %}
    {% include "includes/side-navigation.njk" %}
  {% endif %}
{% endblock %}

{% block pageTitle %}
{% if isRequestToGoLive %}
  Enter your organisation’s contact details - Request a live account - {{ currentService.name }} - GOV.UK Pay
{% elif isStripeSetupUserJourney %}
  What is the name and address of your organisation on your government entity document? - {{ currentService.name }} - GOV.UK Pay 
{% else %}
  Organisation details - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endif %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">

  {% if isSwitchingCredentials %}
    {{ govukBackLink({
      text: "Back to Switching payment service provider (PSP)",
      classes: "govuk-!-margin-top-0",
      href: formatAccountPathsFor(routes.account.switchPSP.index, currentGatewayAccount.external_id)
    }) }}
  {% endif %}

  {{ errorSummary ({
    errors: errors,
    hrefs: {
      'merchant-name': '#merchant-name',
      'address-line1': '#address-line1',
      'address-line2': '#address-line2',
      'address-city': '#address-city',
      'address-country': '#address-country',
      'address-postcode': '#address-postcode',
      'telephone-number': '#telephone-number',
      'url': '#url'
    }
  }) }}

  {% if isRequestToGoLive %}
    <span id="request-to-go-live-current-step" class="govuk-caption-l">Step 1 of 3</span>
    <h1 class="govuk-heading-l">Enter your organisation’s contact details</h1>
    <p class="govuk-body govuk-!-margin-bottom-6">Your payment pages will automatically display this information. You can change the details later if needed.</p>
  {% elif isStripeSetupUserJourney %}
    <h1 class="govuk-heading-l">What is the name and address of your organisation on your government entity document?</h1>
  {% else %}
    <h1 class="govuk-heading-l">Organisation details</h1>
    <p class="govuk-body" id="merchant-details-info">
        Payment card schemes require the details of the organisation taking payment to be shown on payment pages.
    </p>
  {% endif %}

  <form id="request-to-go-live-organisation-address-form" method="post" data-cy="form">
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {% if not isRequestToGoLive %}
    <div class="govuk-form-group {% if errors['merchant-name'] %} govuk-form-group--error {% endif %}">
      <label class="govuk-label govuk-label--m" for="merchant-name" data-cy="label-org-name">
        Organisation name
      </label>

      {% if not isStripeSetupUserJourney %} 
        <div id="merchant-name-hint" class="govuk-hint govuk-!-width-two-thirds">
          <p class="govuk-hint">Enter the main name of your organisation, not your local office or individual department.</p>
          <p class="govuk-hint">Write the organisation name in full. Only use acronyms that are widely understood (for example, NHS).</p>
        </div>
      {% endif %}
      
      {% if errors['merchant-name'] %}
      <span id="merchant-name-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{errors["merchant-name"]}}
      </span>
      {% endif %}
      <input class="govuk-input govuk-!-width-two-thirds {% if errors['merchant-name'] %} govuk-input--error {% endif %}"
             id="merchant-name" name="merchant-name" type="text" aria-describedby="merchant-name-hint" data-cy="input-org-name"
             value="{{name}}"/>
    </div>
    {% endif %}

    {% call govukFieldset({
    legend: {
    text: "Organisation address",
    classes: "govuk-fieldset__legend--m",
    isPageHeading: false
    }
    }) %}

    {{ govukInput({
      label: {
        html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>',
        attributes: { 'data-cy': 'label-address-line-1' }
      },
      hint: {
        text: "Enter the main building or office address"
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-line1",
      name: "address-line1",
      errorMessage: { text: errors['address-line1'] } if errors['address-line1'] else false,
      value: address_line1,
      attributes: { 'data-cy': 'input-address-line-1' }
    }) }}

    {{ govukInput({
      label: {
        html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>',
        attributes: { 'data-cy': 'label-address-line-2' }
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-line2",
      name: "address-line2",
      errorMessage: { text: errors['address-line2'] } if errors['address-line2'] else false,
      value: address_line2,
      attributes: { 'data-cy': 'input-address-line-2' }
    }) }}

    {{ govukInput({
      label: {
        text: "Town or city",
        attributes: { 'data-cy': 'label-address-city' }
      },
      classes: "govuk-!-width-one-half",
      id: "address-city",
      name: "address-city",
      errorMessage: { text: errors['address-city'] } if errors['address-city'] else false,
      value: address_city,
      attributes: { 'data-cy': 'input-address-city' }
    }) }}

    {{ govukSelect({
      id: "address-country",
      classes: "govuk-!-width-one-half",
      name: "address-country",
      errorMessage: { text: errors['address-country'] } if errors['address-country'] else false,
      label: {
        text: "Country",
         attributes: { 'data-cy': 'label-address-country' }
      },
      items: countries,
      attributes: { 'data-cy': 'input-address-country' }
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode",
         attributes: { 'data-cy': 'label-address-postcode' }
      },
      classes: "govuk-input--width-10",
      id: "address-postcode",
      name: "address-postcode",
      errorMessage: { text: errors['address-postcode'] } if errors['address-postcode'] else false,
      value: address_postcode,
      attributes: { 'data-cy': 'input-address-postcode' }
    }) }}

    {% endcall %}

    {% if not isStripeSetupUserJourney %}
      {{ govukInput({
        value: telephone_number,
        label: {
          text: "Telephone number",
          classes: "govuk-label--m",
          attributes: { 'data-cy': 'label-telephone-number' }
        },
        hint: {
          text: "Include the country code for international numbers",
          attributes: { 'data-cy': 'hint-telephone-number' }
        },
        errorMessage: { text: errors['telephone-number'] } if errors['telephone-number'] else false,
        id: "telephone-number",
        name: "telephone-number",
        classes: "govuk-!-width-two-thirds",
        type: "tel",
        attributes: { 'data-cy': 'input-telephone-number' }
      }) }}

      {{ govukInput({
        value: url,
        label: {
          text: "Organisation website address",
          classes: "govuk-label--m",
          attributes: { 'data-cy': 'label-url' }
        },
        hint: {
          text: "Enter the address in full like https://www.example.com",
          attributes: { 'data-cy': 'hint-url' }
        },
        errorMessage: { text: errors.url } if errors.url else false,
        id: "url",
        name: "url",
        classes: "govuk-!-width-two-thirds",
        attributes: { 'data-cy': 'input-url' }
      }) }}
    {% endif %}

    {% if isRequestToGoLive or isStripeSetupUserJourney %}
      {{ govukButton({ 
        text: "Continue",
        attributes: { 'data-cy': 'continue-button' } 
      }) }}
    {% else %}
      {{ govukButton({
        text: "Save organisation details",
        attributes: {
          id: "save-merchant-details",
          attributes: { 'data-cy': 'save-button' }
        }
      }) }}
    {% endif %}
  </form>
</div>
{% endblock %}
