{% extends "../layout.njk" %}

{% block pageTitle %}
  What is your organisation’s address? - Request a live account - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if errors %}
    {% set errorList = [] %}

    {% if errors['address-line1'] or errors['address-line2'] %}
      {% if errors['address-line1'] %}
        {% set href = '#address-line1' %}
      {% else %}
        {% set href = '#address-line2' %}
      {% endif %}
      {% set errorList = (errorList.push({
      text: 'Building and street',
      href: href
      }), errorList) %}
    {% endif %}

    {% if errors['address-city'] %}
      {% set errorList = (errorList.push({
        text: 'Town or city',
        href: '#address-city'
      }), errorList) %}
    {% endif %}

    {% if errors['address-country'] %}
      {% set errorList = (errorList.push({
        text: 'Country',
        href: '#address-country'
      }), errorList) %}
    {% endif %}

    {% if errors['address-postcode'] %}
      {% set errorList = (errorList.push({
        text: 'Postcode',
        href: '#address-postcode'
      }), errorList) %}
    {% endif %}

    {% if errors['telephone-number'] %}
      {% set errorList = (errorList.push({
        text: 'Telephone number',
        href: '#telephone-number'
      }), errorList) %}
    {% endif %}

    {% if errors['url'] %}
      {% set errorList = (errorList.push({
        text: 'Organisation website address',
        href: '#url'
      }), errorList) %}
    {% endif %}

    {{ govukErrorSummary({
    titleText: 'There was a problem with the details you gave for:',
    errorList: errorList
    }) }}
  {% endif %}

  <span id="request-to-go-live-current-step" class="govuk-caption-l">Step 1 of 3</span>

  <form id="request-to-go-live-organisation-address-form" method="post"
        action="{{formatServicePathsFor(routes.service.requestToGoLive.organisationAddress, currentService.externalId)}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {% call govukFieldset({
    legend: {
    text: "What is your organisation’s address?",
    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-4",
    isPageHeading: true
    }
    }) %}

    <p class="govuk-body govuk-!-margin-bottom-6">Details of your organisation will appear on your payment pages. You can change them later if you need to.</p>

    {{ govukInput({
      label: {
        html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-line1",
      name: "address-line1",
      errorMessage: { text: errors['address-line1'] } if errors['address-line1'] else false,
      value: address_line1
    }) }}

    {{ govukInput({
      label: {
        html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-line2",
      name: "address-line2",
      errorMessage: { text: errors['address-line2'] } if errors['address-line2'] else false,
      value: address_line2
    }) }}

    {{ govukInput({
      label: {
        text: "Town or city"
      },
      classes: "govuk-!-width-one-half",
      id: "address-city",
      name: "address-city",
      errorMessage: { text: errors['address-city'] } if errors['address-city'] else false,
      value: address_city
    }) }}

    {{ govukSelect({
      id: "address-country",
      classes: "govuk-!-width-one-half",
      name: "address-country",
      errorMessage: { text: errors['address-country'] } if errors['address-country'] else false,
      label: {
        text: "Country"
      },
      items: countries
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode"
      },
      classes: "govuk-input--width-10",
      id: "address-postcode",
      name: "address-postcode",
      errorMessage: { text: errors['address-postcode'] } if errors['address-postcode'] else false,
      value: address_postcode
    }) }}

    {{ govukInput({
      value: telephone_number,
      label: {
        text: "Telephone number"
      },
      hint: {
        text: "For international numbers include the country code"
      },
      errorMessage: { text: errors['telephone-number'] } if errors['telephone-number'] else false,
      id: "telephone-number",
      name: "telephone-number",
      classes: "govuk-!-width-two-thirds",
      type: "tel"
    }) }}

    {% if collectAdditionalKycData %}
      {{ govukInput({
        value: url,
        label: {
          text: "Organisation website address"
        },
        hint: {
          text: "Enter the address in full like https://www.example.com"
        },
        errorMessage: { text: errors.url } if errors.url else false,
        id: "url",
        name: "url",
        classes: "govuk-!-width-two-thirds"
      }) }}
    {% endif %}

    {% endcall %}

    {{ govukButton({ text: "Continue" }) }}
  </form>
</div>
{% endblock %}
