{% extends "../layout-two-thirds-no-nav.njk" %}

{% block pageTitle %}
  Request a live account - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
    {% if errors %}
      {% set errorList = [] %}
      {% if errors['organisation-name'] %}
        {% set errorList = (errorList.push({
          text: 'What is your organisation called?',
          href: '#request-to-go-live-organisation-name-input'
        }), errorList) %}
      {% endif %}
      {{ govukErrorSummary({
        titleText: 'There was a problem with the details you gave for:',
        errorList: errorList
      }) }}
    {% endif %}

    <span id="request-to-go-live-current-step" class="govuk-caption-l">Step 1 of 3</span>

    <form id="request-to-go-live-organisation-name-form" method="post"
          action="/service/{{ currentService.externalId }}/request-to-go-live/organisation-name" data-validate="true" >
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {% set organisationNameError = false %}
      {% if errors['organisation-name'] %}
        {% set organisationNameError = {
          text: "Please enter a valid name"
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          text: "What is your organisation called?",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        hint: {
          text: "Enter the main name of your organisation, not the name of your local office or individual department."
        },
        id: "request-to-go-live-organisation-name-input",
        name: "organisation-name",
        value: organisationName,
        type: "text",
        errorMessage: organisationNameError,
        attributes: {
          "data-validate": "required isFieldGreaterThanMaxLengthChars",
          "data-validate-max-length": "255"
        }
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
{% endblock %}
