{{ govukDateInput({
  id: "dob",
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--m",
      text: "Date of birth"
    }
  },
  hint: {
    text: "For example, 26 5 1980"
  },
  errorMessage: {
    text: errors.formErrors['dob'] or errors.formErrors['dobDay'] or errors.formErrors['dobMonth'] or errors.formErrors['dobYear']
  } if (errors.formErrors['dob'] or errors.formErrors['dobDay'] or errors.formErrors['dobMonth'] or errors.formErrors['dobYear']) else false,
  items: [
    {
      label: "Day",
      value: dob.dobDay,
      name: "dobDay",
      id: "dob-day",
      classes: "govuk-input--width-2 govuk-input--error" if (errors.formErrors['dob'] or errors.formErrors['dobDay']) else "govuk-input--width-2",
      autocomplete: "section-person bday-day"
    },
    {
      label: "Month",
      value: dob.dobMonth,
      name: "dobMonth",
      id: "dob-month",
      classes: "govuk-input--width-2 govuk-input--error" if (errors.formErrors['dob'] or errors.formErrors['dobMonth']) else "govuk-input--width-2",
      autocomplete: "section-person bday-month"
    },
    {
      label: "Year",
      value: dob.dobYear,
      name: "dobYear",
      id: "dob-year",
      classes: "govuk-input--width-4 govuk-input--error" if (errors.formErrors['dob'] or errors.formErrors['dobYear']) else "govuk-input--width-4",
      autocomplete: "section-person bday-year"
    }
  ]
}) }}
