{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if (isAdminUser and requiresAdditionalKycData and activeCredential.payment_provider === 'stripe') %}

  <div class="govuk-grid-column-full">
    {% set html %}
      <p class="govuk-notification-banner__heading">
          Add more information by {{ stripeKycAdditionalDataDueDate }}
      </p>
      <p class="govuk-body">
          Updated Know Your Customer (KYC) anti-money laundering regulations mean that you need to add more details about your organisation.
      </p>
      <p>
          You have until {{ stripeKycAdditionalDataDueDate }} to add these details. If you do not add them, your service will stop taking payments and Stripe will stop paying out to your bank account.
      </p>
      <p class="govuk-body">
        Continue to
        <a id="add-additional-kyc-details" class="govuk-notification-banner__link"
           href="{{ formatAccountPathsFor(routes.account.yourPsp.index, currentGatewayAccount.external_id, activeCredential.external_id) }}">
          Add new KYC Information</a>.
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html
    }) }}
  </div>

{% endif %}
