{% from "components/button/macro.njk" import govukButton %}

<p class="govuk-body">This service is connected to GoCardless and able to take payments from users.</p>
<p class="govuk-body">You can see a breakdown of your mandates and payments on your GoCardless dashboard.</p>

<a class="govuk-link govuk-link--no-visited-state payment-links-list--item__link" href="https://manage.gocardless.com/sign-in">Go to your GoCardless account</a>.