
<p class="govuk-body">
Your service is connected to GoCardless and can accept Direct Debit payments.
</p>

<p class="govuk-body">
If you want to make any changes to your account, or create manual reports, you need to <a class="govuk-link govuk-link--no-visited-state payment-links-list--item__link" href="https://manage.gocardless.com/sign-in">go to the GoCardless website</a>.
</p>
