{% from "components/button/macro.njk" import govukButton %}

<p class="govuk-body govuk-!-margin-bottom-0">
You must connect to GoCardless, the direct debit provider GOV.UK Pay has procured, before you can take payments. You will be able to:

create a new account

connect an existing account

Before you start

It takes around 5 minutes. You will need to provide:

bank account details

support contact details

You will be sent to GoCardless's website to complete this step and then redirected back to Pay when you are finished.
</p>

    {{
      govukButton({
        text: "Connect to GoCardless",
        href: "/link-account",
        classes: "generate-key"
      })
    }}