
{% if linksToDisplay.length % 3 == 0 %}
  {% set columnClass = "flex-grid--column-third" %}
{% else %}
  {% set columnClass = "flex-grid--column-half" %}
{% endif %}

<div class="govuk-grid-column-full flex-grid links-container" data-click-events data-click-category="Dashboard" data-click-action="First steps link clicked">

  <div class="flex-grid--row">
    {% if links.telephonePaymentLink in linksToDisplay %}
    <article class="{{columnClass}} links__box" id="take-a-telephone-payment-link">
      <a href="{{ telephonePaymentLink }}">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Take a telephone payment</h2>
        <p class="govuk-body govuk-!-margin-bottom-0">Take a payment now by having a user give their card details over the phone.</p>
      </a>
    </article>
    {% endif %}

    {% if links.demoPayment in linksToDisplay %}
    <article class="{{columnClass}} links__box" id="demo-payment-link">
      <a href="{{formatAccountPathsFor(routes.account.prototyping.demoPayment.index,  currentGatewayAccount.external_id)}}">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Make a demo payment</h2>
        <p class="govuk-body govuk-!-margin-bottom-0">Try the payment experience as a user. Then view the completed payment as an administrator on GOV.UK&nbsp;Pay.</p>
      </a>
    </article>
    {% endif %}

    {% if links.testPaymentLink in linksToDisplay %}
    <article class="{{columnClass}} links__box" id="test-payment-link-link">
      <a href="{{formatAccountPathsFor(routes.account.prototyping.demoService.index,  currentGatewayAccount.external_id)}}">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Test with your users</h2>
        <p class="govuk-body govuk-!-margin-bottom-0">Create a reusable link to integrate your service prototype with GOV.UK&nbsp;Pay and test with users.</p>
      </a>
    </article>
    {% endif %}

    {% if links.paymentLinks in linksToDisplay %}
    <article class="{{columnClass}} links__box" id="payment-links-link">
      {% if permissions.tokens_create %}
      <a href="{{formatAccountPathsFor(routes.account.paymentLinks.start, currentGatewayAccount.external_id)}}">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Create and manage payment links</h2>
      {% else %}
      <a href="{{formatAccountPathsFor(routes.account.paymentLinks.manage.index, currentGatewayAccount.external_id)}}">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">View payment links</h2>
      {% endif %}
        <p class="govuk-body govuk-!-margin-bottom-0">A payment link lets you take card payments online, even if you don't have a digital&nbsp;service.</p>
      </a>
    </article>
    {% endif %}

    {% if links.directDebitPaymentFlow in linksToDisplay %}
    <article class="{{columnClass}} links__box" id="payment-flow-link">
      <a href="https://docs.payments.service.gov.uk/payment_flow_overview/#making-a-payment">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">See the payment flow</h2>
        <p class="govuk-body govuk-!-margin-bottom-0">Get an overview of payment pages in our documentation.</p>
      </a>
    </article>
    {% endif %}

    {% if links.requestPspTestAccount in linksToDisplay %}
      {% if requestedStripeTestAccount %}
        <article class="{{columnClass}} links__box" id="stripe-test-account-requested">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Stripe test account requested</h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            You’ve requested a stripe account from the GOV.UK Pay team.
            We’re setting up your test account. It will be ready within 2 working days.
          </p>
        </article>
      {% else %}
        <article class="{{columnClass}} links__box" id="request-stripe-test-account">
          <a href="/service/{{ currentService.externalId }}/request-stripe-test-account" class="govuk-link">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Test Stripe’s reporting functionality</h2>
            <p class="govuk-body govuk-!-margin-bottom-0">Access transaction fee and payout reports to test reconciliation.</p>
          </a>
        </article>
      {% endif %}
    {% endif %}

    {% if links.goLive in linksToDisplay %}
    <article class="{{columnClass}} links__box" id="request-to-go-live-link">
      {% if paymentMethod === 'direct debit' %}
      <a href="https://docs.payments.service.gov.uk/switching_to_live/#switching-to-live">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Next steps to go live</h2>
        <p class="govuk-body govuk-!-margin-bottom-0">Read our documentation to see how your service can go live with GOV.UK&nbsp;Pay.</p>
      </a>
      {% elif goLiveNotStarted %}
      <a href="/service/{{ currentService.externalId }}/request-to-go-live">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Request a live account</h2>
        <p class="govuk-body govuk-!-margin-bottom-0">To request a live account, tell us your organisation’s name, your payment service provider and agree to our terms and conditions. Once that’s done our team will email you.</p>
      </a>
      {% elif goLiveStarted %}
      <a href="/service/{{ currentService.externalId }}/request-to-go-live">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Setting up your live account</h2>
        <p class="govuk-body govuk-!-margin-bottom-0">You’ve started to set up your live account. There are still some steps you need to complete.</p>
      </a>
      {% elif goLiveRequested %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Your live account</h2>
        <p class="govuk-body govuk-!-margin-bottom-0">You’ve requested a live account from the GOV.UK Pay team.</p>
      {% endif %}
    </article>
    {% endif %}
  </div>
</div>
