
<p class="govuk-body">
GoCardless will collect and manage Direct Debit payments for GOV.UK Pay.
</p>

<p class="govuk-body">
You need to connect to GoCardless before you can take Direct Debit payments. To do this, you’ll need to go to the GoCardless website.
</p>

<p class="govuk-body">
On the GoCardless website, you must either:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>create a new account</li>
    <li>authorise the connection to your existing GoCardless account</li>
</ul>

{{
  govukButton({
    text: "Connect to GoCardless",
    href: "/link-account"
  })
}}
