{% if permissions.go_live_stage_read and goLiveRequested %}
  <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
    <div class="account-status-panel">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">GOV.UK Pay are reviewing your request to go live</h2>
          <p class="govuk-body-m">GOV.UK Pay will review your request within 1 working day. Once approved, we will email you with instructions to add more details.</p>
        </div>
      </div>
    </div>
  </div>
{% endif %}