{% if permissions.stripe_account_details_update %}
  {% set stripeAccountSetup = account.accountSetupDetails %}
  {% if stripeAccountSetup and (not stripeAccountSetup.bankAccount or not stripeAccountSetup.vatNumberCompanyNumber or not stripeAccountSetup.responsiblePerson) %}
    <div class="account-status-panel govuk-grid-row govuk-!-margin-bottom-5">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">You must add more details to receive money into your bank account</h2>
        <p class="govuk-body-m">
          Your service can now take payments from users. You must add more details or Stripe will not pay the money into your bank account. Please add:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          {% if not stripeAccountSetup.bankAccount %}
            <li>bank details</li>
          {% endif %}
          {% if not stripeAccountSetup.responsiblePerson %}
            <li>details about your responsible person</li>
          {% endif %}
          {% if not stripeAccountSetup.vatNumberCompanyNumber %}
            <li>your organisation’s VAT number</li>
            <li>your company registration number if you’ve registered your company</li>
          {% endif %}
        </ul>

        {{
        govukButton({
          text: 'Add details',
          classes: 'govuk-!-margin-bottom-0',
          href: routes.stripe.addPspAccountDetails,
          attributes: {
            id: "add-account-details"
          }
        })
      }}
      </div>
    </div>
  {% endif %}
{% endif %}
