{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if permissions.stripe_account_details_update %}
  {% set connectorGatewayAccountStripeProgress = gatewayAccount.connectorGatewayAccountStripeProgress %}

  {% set isStripeAccountRestricted = stripeAccount.charges_enabled === false %}
  {% set stripeAccountHasDeadline = stripeAccount.requirements.current_deadline %}
  {% set isConnectorStripeJourneyComplete = connectorGatewayAccountStripeProgress.bankAccount and connectorGatewayAccountStripeProgress.vatNumber and connectorGatewayAccountStripeProgress.companyNumber and connectorGatewayAccountStripeProgress.responsiblePerson %}

  {% set panelModifierClass %}
    {% if isStripeAccountRestricted %}
      account-status-panel--restricted
    {% endif %}
  {% endset %}

  {% if connectorGatewayAccountStripeProgress and gatewayAccount.payment_provider === 'stripe' and (not isConnectorStripeJourneyComplete) %}
      <div class="govuk-grid-column-full">
        {% set html %}
        {% if isStripeAccountRestricted %}
          <h2 class="govuk-heading-m">Stripe has restricted your account</h2>

          <p class="govuk-body-m">To start taking payments again, please add:</p>
        {% elif stripeAccountHasDeadline %}
          {% set dateString = stripeAccount.requirements.current_deadline %}

          <h2 class="govuk-heading-m">You must add more details by {{dateString}} to continue taking payments</h2>
          <p class="govuk-body-m">
            Your service can now take payments from users. You must add more details by {{dateString}} or Stripe will not pay the money into your bank account. Please add:
          </p>
        {% else %}
          <h2 class="govuk-heading-m">Enter more information to enable payments to your bank account</h2>
          <p class="govuk-body-m">
              Until you add this information, your service is restricted to taking a total of £2000 and you will not get payouts to your bank account. Please add:
          </p>
        {% endif %}

        <ul class="govuk-list govuk-list--bullet">
          {% if not connectorGatewayAccountStripeProgress.responsiblePerson %}
            <li>The name, date of birth and home address of the person in your organisation legally responsible for payments (your '<a class="govuk-link" href="https://www.payments.service.gov.uk/what-being-a-responsible-person-means/">responsible person</a>')</li>
          {% endif %}
          {% if not connectorGatewayAccountStripeProgress.bankAccount %}
            <li>Organisation bank details</li>
          {% endif %}
          {% if not connectorGatewayAccountStripeProgress.director and collectAdditionalKycData %}
            <li>Details of the director of the service</li>
          {% endif %}
          {% if not connectorGatewayAccountStripeProgress.vatNumber %}
            <li>VAT number (if applicable)</li>
           {% endif %}
          {% if not connectorGatewayAccountStripeProgress.companyNumber %}
            <li>Company registration number (if applicable)</li>
          {% endif %}
        </ul>

        {{
        govukButton({
          text: 'Add details',
          classes: 'govuk-!-margin-bottom-0',
          href: formatAccountPathsFor(routes.account.stripe.addPspAccountDetails, currentGatewayAccount.external_id),
          attributes: {
            id: "add-account-details"
          }
        })
      }}
      {% endset %}
      {{ govukNotificationBanner({
          html: html
      }) }}
      </div>
  {% elif  isStripeAccountRestricted %}
    <div class="govuk-grid-column-full">
    {% set html %}
    <div class="account-status-panel account-status-panel--restricted govuk-grid-row govuk-!-margin-bottom-5">
      <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Stripe has restricted your account</h2>
          <p class="govuk-body-m">To start taking payments again, please contact support.</p>
          <p class="govuk-body">
            <a class="govuk-link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" target="_top">govuk-pay-support@digital.cabinet-office.gov.uk</a>
          </p>
      </div>
    </div>
    {% endset %}
    {{ govukNotificationBanner({
      html: html
    }) }}
    </div>
  {% endif %}
{% endif %}
