{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if permissions.stripe_account_details_update %}
  {% set connectorGatewayAccountStripeProgress = gatewayAccount.connectorGatewayAccountStripeProgress %}

  {% set isStripeAccountRestricted = stripeAccount.charges_enabled === false %}
  {% set stripeAccountHasDeadline = stripeAccount.requirements.current_deadline %}
  {% set governmentEntityDocCompleteOrNotRequired = stripeAccount.has_legacy_payments_capability or (not stripeAccount.has_legacy_payments_capability and connectorGatewayAccountStripeProgress.governmentEntityDocument) %}
  {% set isConnectorStripeJourneyComplete = connectorGatewayAccountStripeProgress.bankAccount and connectorGatewayAccountStripeProgress.vatNumber and connectorGatewayAccountStripeProgress.companyNumber and connectorGatewayAccountStripeProgress.responsiblePerson and governmentEntityDocCompleteOrNotRequired %}

  {% if connectorGatewayAccountStripeProgress and gatewayAccount.payment_provider === 'stripe' and (not isConnectorStripeJourneyComplete) %}
      <div class="govuk-grid-column-full">
        {% set html %}

        <p class="govuk-notification-banner__heading" data-cy="stripe-notification">
          {% if isStripeAccountRestricted %}
            Stripe has restricted your account. You need to
            <a class="govuk-notification-banner__link"
              href="{{formatAccountPathsFor(routes.account.yourPsp.index, currentGatewayAccount.external_id, activeCredential.external_id)}}">
              submit additional information to Stripe
            </a>
            to take payments.         
          {% elif stripeAccountHasDeadline %}
            {% set dateString = stripeAccount.requirements.current_deadline %}

            You need to
            <a class="govuk-notification-banner__link"
              href="{{formatAccountPathsFor(routes.account.yourPsp.index, currentGatewayAccount.external_id, activeCredential.external_id)}}">
              submit additional information to Stripe
            </a>
            by {{dateString}} to continue taking payments.     
          {% else %}    
            You need to
            <a class="govuk-notification-banner__link"
              href="{{formatAccountPathsFor(routes.account.yourPsp.index, currentGatewayAccount.external_id, activeCredential.external_id)}}">
              submit additional information to Stripe
            </a>
              to be able to take payments.
          {% endif %}
        </p>
      {% endset %}
      {{ govukNotificationBanner({
          html: html
      }) }}
      </div>
  {% elif  isStripeAccountRestricted %}
    <div class="govuk-grid-column-full">
    {% set html %}
        <p class="govuk-notification-banner__heading" data-cy="stripe-notification">Stripe has restricted your account.
        To start taking payments again, please contact support
          <a class="govuk-notification-banner__link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" target="_top">
            govuk-pay-support@digital.cabinet-office.gov.uk
          </a>.
        </p>
    {% endset %}
    {{ govukNotificationBanner({
      html: html
    }) }}
    </div>
  {% endif %}
{% endif %}
