{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if currentGatewayAccount.provider_switch_enabled %}

  <div class="govuk-grid-column-full">
  {% set html %}
    <p class="govuk-notification-banner__heading">
    Switch your payment service provider (PSP) to {{ targetCredential.payment_provider | formatPSPname }}
    </p>

    <p class="govuk-body">Your service is taking payments with {{ activeCredential.payment_provider | formatPSPname }} and needs to switch to {{ targetCredential.payment_provider | formatPSPname }}.

    <p class="govuk-body">
      Find out <a class="govuk-notification-banner__link" href="{{ formatAccountPathsFor(routes.account.switchPSP.index, currentGatewayAccount.external_id) }}">how to switch to {{ targetCredential.payment_provider | formatPSPname }}</a>.
    </p>

  {% endset %}

  {{ govukNotificationBanner({
    html: html
  }) }}
  </div>
{% endif %}