{% extends "../layout.njk" %}

{% block pageTitle %}
Dashboard - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  {% if showStripeCreatedPanelSuccess %}
    {% set html %}
      <p class="govuk-notification-banner__heading">
        This test account has been changed to a Stripe test account.
        If you use the GOV.UK Pay API, you will need to create new API keys.
      </p>
    {% endset %}
    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}
  {% endif %}
  {% if currentGatewayAccount.disabled %}
    {% include "./_account-disabled-banner.njk" %}
  {% else %}
    {% include "./_live-account-requested-banner.njk" %}

    {% if enableStripeOnboardingTaskList %}
      {% include "./_stripe-account-setup-banner_tasklist.njk" %}
    {% else %}
      {% include "./_stripe-account-setup-banner.njk" %}
    {% endif %}

    {% include "./_switching-psp-banner.njk" %}
    {% include "./_worldpay_account_not_configured_banner.njk" %}
  {% endif %}

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l first-steps__title">Dashboard</h1>
  </div>
  {% if paymentMethod === 'card' %}
    {% include "./_activity.njk" %}
  {% endif %}
  {% include "./_links.njk" %}
{% endblock %}
