{% extends "../layout.njk" %}

{% block page_title %}
Dashboard - {{currentServiceName}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block full_width_content %}
<h1 class="page-title first-steps__title">Welcome to GOV.UK&nbsp;Pay</h1>

  {% include "dashboard/_first-steps.njk" %}

{% endblock %}
