{% extends "../layout.njk" %}

{% block page_title %}
Dashboard - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="column-full">
  <h1 class="page-title first-steps__title">Dashboard</h1>

  {% if paymentMethod === 'card' %}
    {% include "./_activity.njk" %}
  {% endif %}
  {% include "./_links.njk" %}
</div>
{% endblock %}
