{% extends "../layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
  My profile - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if flash.otpMethodUpdated %}
      {% if flash.otpMethodUpdated[0] === secondFactorMethod.APP %}
        {% set html %}
          <p class="govuk-notification-banner__heading">Your authenticator app has been updated</p>
        {% endset %}
      {% else %}
        {% set html %}
          <p class="govuk-notification-banner__heading">Your mobile number has been updated</p>
        {% endset %}
      {% endif %}

      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}
    {% endif %}
  </div>
  <div class="govuk-grid-column-full">
    <h1 id="details-for" class="govuk-heading-l page-title">
      My profile
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <dl class="profile-settings govuk-table">
      <div class="profile-settings__row">
        <dt class="profile-settings__setting govuk-table__cell govuk-heading-s">
          Email
        </dt>
        <dd class="profile-settings__value govuk-table__cell" id="email">
          {{ email }}
        </dd>
      </div>
      {% if SHOW_DEGATEWAY_SETTINGS %}
        <div class="profile-settings__row">
          <dt class="profile-settings__setting govuk-table__cell govuk-heading-s">
            Account simplification
          </dt>
          <dd class="profile-settings__value govuk-table__cell" id="degatewayaccountification">
            {{ degatewayaccountification }}
            <span class="profile-settings__change-link">
            <a class="govuk-link govuk-link--no-visited-state" href="{{ routes.user.profile.degateway }}"
               id="change-degateway-preference-link">Change <span class="govuk-visually-hidden">Account simplification preference</span></a>
          </span>
          </dd>
        </div>
      {% endif %}
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table ">
      <caption class="govuk-table__caption govuk-table__caption--m">Two factor authentication</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Method</th>
        <th scope="col" class="govuk-table__header">Details</th>
        <th scope="col" class="govuk-table__header">Action</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Mobile</th>
        <td class="govuk-table__cell">{{ mfa_phone.phoneNumber }}</td>
        <td class="govuk-table__cell">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ two_factor_phone_config_link }}">
            {% if not mfa_phone %}
              Add
            {% else %}
              Change
            {% endif %}
            <span
              class="govuk-visually-hidden">mobile number</span></a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Authenticator app</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ two_factor_auth_config_link }}">
            {% if mfa_app === undefined %}
              Add
            {% else %}
              Change
            {% endif %}
            <span
              class="govuk-visually-hidden">change authenticator app</span>
          </a>
        </td>
      </tr>
      {#      <tr class="govuk-table__row"> #}
      {#        <th scope="row" class="govuk-table__header"> #}
      {#          Backup codes #}
      {#          <div class="govuk-row"> #}
      {#            <span class="govuk-hint">one time backup codes</span> #}
      {#          </div> #}
      {#        </th> #}
      {#        <td class="govuk-table__cell"></td> #}
      {#        <td class="govuk-table__cell"> #}
      {#          <a class="govuk-link govuk-link--no-visited-state" href="{{ two_factor_auth_link }}"> #}
      {#            {% if has_backup_codes %} #}
      {#              Regenerate #}
      {#            {% else %} #}
      {#              Generate #}
      {#            {% endif %} #}
      {#            <span #}
      {#              class="govuk-visually-hidden">backup codes</span></a> #}
      {#        </td> #}
      {#      </tr> #}
      </tbody>
    </table>
  </div>

  {% if todo %}
    <div class="govuk-grid-column-one-third">
      <div class="related-information">
        <p class="govuk-body govuk-!-font-size-16">To change your permission level on a service you need to contact an
          administrator for that service.</p>
      </div>
    </div>
  {% endif %}
{% endblock %}
