<li
  id="{{token_link}}"
  class="key-list-item js-{{^revoked}}active{{/revoked}}">
  <div id="description-{{token_link}}" class="heading-small remove-top-margin js-edit-description js-old-description">{{description}}</div>
  {{#revoked}}
    <div>Key was revoked on {{revoked}}.</div>
  {{/revoked}}
  {{^revoked}}
    <div class="js-edit-controls">
      <a href="#{{token_link}}" class="js-toggle-description">Edit description</a><br />
      <a href="#{{token_link}}" class="js-toggle-revoke">Revoke key</a>
    </div>
    <div class="js-edit-description form" hidden>
      <div class="form-group">
        <label class="visually-hidden" for="description-input-{{token_link}}">Description</label>
        <textarea id="description-input-{{token_link}}" class="js-new-description form-control">{{description}}</textarea>
      </div>
      <div class="button-group">
        <a id="save-description-{{token_link}}" href="#{{token_link}}" class="button js-save-description">Save changes</a>
        <a id="cancel-{{token_link}}" href="#{{token_link}}" class="button-link js-toggle-description">Cancel</a>
      </div>
    </div>
    <div class="js-revoke-confirmation" hidden>
      <p>
        Are you sure you want to revoke this developer key?<br />
        If revoked it will no longer enable integration with the platform.
      </p>
      <div class="button-group">
        <input id="revoke-token-{{token_link}}" type="button" class="button js-revoke-token" value="Yes" />
        <input id="cancel-revoke-{{token_link}}" type="button" value="No" class="button-secondary js-toggle-revoke" />
      </div>
    </div>
    <div class="js-revoke-confirmed" hidden>
      Key successfully revoked<br />
      It will no longer enable integration with the platform.
    </div>
  {{/revoked}}
</li>
