<div
  id="{{token_link}}"
  class="key-list-item js-{{^revoked}}active{{/revoked}}" data-csrf="{{ csrfToken }}">
  <h3 id="description-{{token_link}}" class="heading-small remove-top-margin js-edit-description js-old-description">{{description}}</h3>
  <div class="key-list-item-meta">
    <dl>
      <div class="qa-created-by" id="created-by-{{token_link}}">
        <dt>Created by: </dt><dd>{{created_by}}</dd>
      </div>
      <div class="qa-created-date" id="date-created-{{token_link}}">
        <dt>Date created: </dt><dd>{{issued_date}}</dd>
      </div>
  {{#last_used}}
      <div class="qa-last-used" id="date-used-{{token_link}}">
        <dt>Last used: </dt><dd>{{last_used}}</dd>
      </div>
    </dl>
  {{/last_used}}
  {{^last_used}}
    </dl>
    <p class="qa-last-used">Not used</p>
  {{/last_used}}
  {{#revoked}}
    <p id="revoked-{{token_link}}">Key was revoked on {{revoked}}.</p>
  {{/revoked}}
  </div>
  {{^revoked}}
  <div class="key-list-item-controls js-edit-controls">
      {{#permissions.tokens_update}}
      <a href="#{{token_link}}" class="js-toggle-description">Edit description<span class="visuallyhidden"> for {{description}}</span></a>
      {{/permissions.tokens_update}}
      {{#permissions.tokens_delete}}
      <a href="#{{token_link}}" class="js-toggle-revoke">Revoke key<span class="visuallyhidden"> for {{description}}</span></a>
      {{/permissions.tokens_delete}}
  </div>
  {{#permissions.tokens_update}}
  <div class="js-edit-description form">
      <div class="form-group">
        <label class="visually-hidden" for="description-input-{{token_link}}">Description</label>
        <textarea id="description-input-{{token_link}}" class="js-new-description form-control">{{description}}</textarea>
      </div>
      <div class="button-group">
        <a id="save-description-{{token_link}}" href="#{{token_link}}" class="button js-save-description">
          Save changes<span class="visuallyhidden"> to {{description}}</span>
        </a>
        <a id="cancel-{{token_link}}" href="#{{token_link}}" class="button-link js-toggle-description">
          Cancel<span class="visuallyhidden"> edits to {{description}}</span>
        </a>
      </div>
    </div>
  {{/permissions.tokens_update}}
  {{#permissions.tokens_delete}}
  <div class="js-revoke-confirmation">
      <p>
        Are you sure you want to revoke this developer key?<br />
        If revoked it will no longer enable integration with the platform.
      </p>
      <div class="button-group">
        <button id="revoke-token-{{token_link}}" type="button" class="button js-revoke-token">
          Yes<span class="visuallyhidden"> I want to revoke {{description}}</span>
        </button>
        <button id="cancel-revoke-{{token_link}}" type="button" class="button-secondary js-toggle-revoke">
          No<span class="visuallyhidden"> I don't want to revoke {{description}}</span>
        </button>
    </div>
  </div>
    <p class="js-revoke-confirmed">
      Key successfully revoked<br />
      It will no longer enable integration with the platform.
    </p>
    {{/permissions.tokens_delete}}
  {{/revoked}}
</div>
