{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  attributes: {id: "degateway-phase-banner"},
  tag: {
    text: "Experimental",
    classes: "govuk-tag--orange"
  },
  html: 'This is a test version of this page, intended only for use by the GOV.UK Pay team in GDS. You currently have \'Degatewayaccountification\' enabled in \'My profile\'. If you think you should not be seeing this, please <a class="govuk-link" href="https://www.payments.service.gov.uk/support/">contact the GOV.UK Pay Team</a>.'
}) }}
