<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--orange">
      Experimental
    </strong>
    <span class="govuk-phase-banner__text">
      Your account is opted in to the experimental degateway view – <a class="govuk-link" href="{{ routes.user.profile.degateway }}">opt out</a>.
    </span>
  </p>
</div>
