{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

<div class="govuk-!-margin-bottom-6 pay-!-negative-margin-t-2 pay-!-negative-margin-t-5-ns">
  {% set phaseBannerHTML %}
    This is a new service — your <a class="govuk-link" href="{{routes.feedback}}">feedback</a> will help us to improve.
  {% endset %}
  {{
    govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: phaseBannerHTML,
      classes: "govuk-!-padding-top-0 govuk-!-padding-bottom-3"
    })
  }}
</div>
