{% block flash %}
  {% if flash.genericError %}
    <div class="govuk-grid-row govuk-!-margin-bottom-5 flash-container">
      <div class="govuk-grid-column-two-thirds notification generic-error error-summary">
        {{ flash.genericError | safe }}
      </div>
    </div>
  {% endif %}
  {% if flash.generic %}
    <div class="govuk-grid-row govuk-!-margin-bottom-5 flash-container flash-container--good">
      <div class="govuk-grid-column-two-thirds notification generic-flash">
        {{ flash.generic | safe }}
      </div>
    </div>
  {% endif %}
{% endblock %}
