<div class="footer-categories">
  <div class="footer-categories-wrapper">
    <div class="grid-row">
      <div class="column-one-third">
        <h2>About</h2>
        <ul>
          <li><a href="https://www.payments.service.gov.uk/getstarted/">Get started</a></li>
          <li><a href="https://www.payments.service.gov.uk/features/">Features</a></li>
          <li><a href="https://www.payments.service.gov.uk/roadmap/">Roadmap</a></li>
          <li><a href="https://www.gov.uk/performance/govuk-pay">Performance</a></li>
        </ul>
      </div>
      <div class="column-one-third">
        <h2>Support</h2>
        <ul>
          <li><a href="https://www.payments.service.gov.uk/support/">Contact</a></li>
          <li><a href="https://ukgovernmentdigital.slack.com/messages/govuk-pay">Chat with GOV.UK Pay on Slack</a></li>
          <li><a href="https://govukpay-docs.cloudapps.digital">Documentation</a></li>
          <li><a href="http://stats.pingdom.com/ejtodj13fqqx">System status</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
