{% if currentService.name %}
<div class="govuk-phase-banner govuk-clearfix pay-top-navigation">
  <div class="service-info">
    <h4 class="service-info--name govuk-heading-s">
      {{currentService.name}}
      {% if currentGatewayAccount %}
        {% set paymentProvider = currentGatewayAccount.payment_provider.toLower() %}
        {% set isLive = currentGatewayAccount.type === "live" %}
        {% set stripeAccountIsSetup = (currentGatewayAccount.accountSetupDetails.bankAccount and currentGatewayAccount.accountSetupDetails.responsiblePerson and currentGatewayAccount.accountSetupDetails.vatNumberCompanyNumber) %}

        {% set tagModifierClass %}
          {% if not isLive %}
            govuk-tag--grey
          {% elseif paymentProvider === 'stripe' and not stripeAccountIsSetup %}
            govuk-tag--blue
          {% endif %}
        {% endset %}

        {% set tagText %}
          {% if paymentProvider === 'sandbox' %}
            Test
          {% elseif paymentProvider === 'stripe' and not stripeAccountIsSetup %}
            {{ paymentProvider }} {{ currentGatewayAccount.type }} - information needed
          {% else %}
            {{ paymentProvider }} {{ currentGatewayAccount.type }}
          {% endif %}
         {% endset %}
        <strong class="govuk-tag {{ tagModifierClass }}">{{ tagText }}</strong>
      {% endif %}
    </h4>
  </div>
  {% if not hideServiceNav %}
  <nav role="navigation" class="service-navigation">
    <ul class="service-navigation--list">
      {% for item in serviceNavigationItems %}
        {% if item.permissions %}
          {% if item.current %}
            <li class="service-navigation--list-item service-navigation--list-item-active"><a id="{{item.id}}" href="{{item.url}}">{{item.name}}</a></li>
          {% else %}
            <li class="service-navigation--list-item"><a id="{{item.id}}" href="{{item.url}}">{{item.name}}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endif %}
