{% from "../macro/breadcrumbs.njk" import breadcrumbs %}
{% set accountLabelWithTag %}
  <strong>{{currentService.name}}</strong>
  {% if currentGatewayAccount %}
    {% set paymentProvider = currentGatewayAccount.payment_provider and currentGatewayAccount.payment_provider.toLowerCase() %}
    {% set isLive = currentGatewayAccount.type === "live" %}
    {% set stripeAccountIsSetup = (currentGatewayAccount.connectorGatewayAccountStripeProgress.bankAccount and currentGatewayAccount.connectorGatewayAccountStripeProgress.responsiblePerson
      and currentGatewayAccount.connectorGatewayAccountStripeProgress.vatNumber and currentGatewayAccount.connectorGatewayAccountStripeProgress.companyNumber) %}
    {% set isRequiresAdditionalKycData = currentGatewayAccount.requires_additional_kyc_data and isAdminUser %}

    {% set tagModifierClass %}
      {% if isRequiresAdditionalKycData or (paymentProvider === 'stripe' and not stripeAccountIsSetup) or
        currentGatewayAccount.provider_switch_enabled %}
        govuk-tag--blue
      {% elseif not isLive %}
        govuk-tag--grey
      {% endif %}
    {% endset %}

    {% set tagText %}
      {% if not isLive %}
        {% if paymentProvider === 'sandbox' %}
          Test
        {% else %}
          {{ paymentProvider }} Test
        {% endif %}
      {% else %}
        Live
      {% endif %}
      {% if isRequiresAdditionalKycData or (paymentProvider === 'stripe' and not stripeAccountIsSetup) %}
        - information needed
      {% endif %}
      {% if isAdminUser and currentGatewayAccount.provider_switch_enabled %}
      - switch psp
      {% endif %}
    {% endset %}
    <strong class="service-info--tag govuk-tag {{ tagModifierClass }}">{{ tagText }}</strong>
  {% endif %}
{% endset %}

{% set breadcrumbItems = [
  { text: "My services", href: routes.serviceSwitcher.index }
] %}

{% if not hideServiceHeader and currentService.name %}
{% set breadcrumbItems = (breadcrumbItems.push({
  html: accountLabelWithTag
}), breadcrumbItems) %}
{% endif %}

{{ breadcrumbs(breadcrumbItems) }}

{% if not hideServiceNav and not hideServiceHeader %}
<div class="govuk-phase-banner govuk-clearfix pay-top-navigation">
  <nav role="navigation" class="service-navigation">
    <ul class="service-navigation--list">
      {% for item in serviceNavigationItems %}
        {% if item.permissions %}
          {% if item.current %}
            <li class="service-navigation--list-item service-navigation--list-item-active"><a id="{{item.id}}" href="{{item.url}}">{{item.name}}</a></li>
          {% else %}
            <li class="service-navigation--list-item"><a id="{{item.id}}" href="{{item.url}}">{{item.name}}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
{% endif %}
