{% if currentService.name %}
<div class="govuk-phase-banner govuk-clearfix pay-top-navigation">
  <div class="service-info">
    <h4 class="service-info--name govuk-heading-s">
      {{currentService.name}}
      {% if currentGatewayAccount %}
        <strong class="environment-tag environment-tag-{{currentGatewayAccount.type}}">{% if currentGatewayAccount.full_type === 'sandbox test' or currentGatewayAccount.full_type === 'SANDBOX test' %}Test{% else %}{{currentGatewayAccount.full_type | capitalize}}{% endif %}</strong>
      {% endif %}
    </h4>
  </div>
  {% if not hideServiceNav %}
  <nav role="navigation" class="service-navigation">
    <ul class="service-navigation--list">
      {% for item in serviceNavigationItems %}
        {% if item.permissions %}
          {% if item.current %}
            <li class="service-navigation--list-item service-navigation--list-item-active"><a id="{{item.id}}" href="{{item.url}}">{{item.name}}</a></li>
          {% else %}
            <li class="service-navigation--list-item"><a id="{{item.id}}" href="{{item.url}}">{{item.name}}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endif %}
