<div class="phase-banner">
  <div class="service-info">
    <h4 class="service-info--name heading-small">{{serviceName}}</h4>
    <p>
      <strong class="phase-tag">{{currentGatewayAccount.full_type}}</strong>
    </p>
  </div>
  <nav role="navigation" class="service-navigation">
	  <ul class="service-navigation--list">
      {{#serviceNavigationItems}}
        {{#permissions}}
          {{#current}}
            <li class="service-navigation--list-item service-navigation--list-item-active"><a href="{{url}}">{{name}}</a></li>
          {{/current}}
          {{^current}}
            <li class="service-navigation--list-item"><a href="{{url}}">{{name}}</a></li>
          {{/current}}
        {{/permissions}}
      {{/serviceNavigationItems}}
	  </ul>
	</nav>
{{currentURL}}
</div>
