<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu" aria-label="Top Level Navigation" aria-hidden="true">
      <ul id="proposition-links">
        <li><a href="https://govukpay-docs.cloudapps.digital" title="Read the GOV.UK Pay Documentation">Documentation</a></li>
        <li><a {{#services}}class="active"{{/services}} href="{{ routes.serviceSwitcher.index }}" title="My Services" id="my-services">My Services</a></li>
        <li><a href="/logout" title="Log me out" id="logout" class="content logout">Sign out</a></li>
      </ul>
    </nav>
  </div>
</div>
