<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu" aria-label="Top Level Navigation" aria-hidden="true">
      <ul id="proposition-links">
        <li><a href="https://www.payments.service.gov.uk/#main" title="Learn more about GOV.UK Pay">About</a></li>
        <li><a href="https://govukpay-docs.cloudapps.digital" title="Read the GOV.UK Pay Documentation">Documentation</a></li>
        <li><a href="https://www.payments.service.gov.uk/support/" title="Contact the GOV.UK Pay Team">Support</a></li>
        <li><a href="/login" title="Log me in" id="login" class="content login active">Sign in</a></li>
      </ul>
    </nav>
  </div>
</div>
