<div class="navigation">
  <div class="inner">
      <nav role="navigation">
          <ul>
            {{#adminNavigationItems}}
              {{#permissions}}
                {{#current}}
                  <li class="active"><a href="{{url}}">{{name}}</a></li>
                {{/current}}
                {{^current}}
                  <li class=""><a href="{{url}}">{{name}}</a></li>
                {{/current}}
              {{/permissions}}
            {{/adminNavigationItems}}
          </ul>
      </nav>
  </div>
</div>
