<div id="error-summary-{{form.id}}" class="error-summary" role="group" aria-labelledby="error-summary-heading-{{form.id}}" tabindex="-1">
  <h2 class="heading-medium error-summary-heading" id="error-summary-heading-{{form.id}}">
    There was a problem with the details you gave for:
  </h2>
  <ul class="error-summary-list">
    {% for field in fields %}
      <li class="error-{{ field.id }}"><a href="#{{ field.id }}">{{ field.label }}</a></li>
    {% endfor %}
  </ul>
</div>
