{% extends "../settings-layout.njk" %}

{% set inputLabel %}
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="service-name-input">
      {% if editCy %}Welsh service name (<span lang="cy">Cymraeg</span>){% else %}Service name (English){% endif %}
    </label>
  </h1>
{% endset %}

{% block settingsPageTitle %}
  Edit {% if editCy %}Welsh{% else %}English{% endif%} service name
{% endblock %}

{% block settingsContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}

  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.summary
    }) }}
  {% endif %}

  <form id="edit-service-name" method="post" action="{{ submitLink }}" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
    <input id="cy" name="cy" type="hidden" value="{{ editCy }}"/>

    {{ govukInput({
      label: {
        html: inputLabel
      },
      errorMessage: { text: errors.formErrors['serviceNameInput'] } if errors.formErrors['serviceNameInput'] else false,
      id: "service-name-input",
      name: "serviceNameInput",
      value: serviceName,
      classes: "govuk-!-width-one-half",
      type: "text",
      spellcheck: true,
      hint: {
        text: "This is what your users will see when making a payment."
      },
      attributes: {
        lang: "cy" if editCy else "en"
      }
    }) }}

    <p class="govuk-body">
      {% if editCy %}
        <a class="govuk-link govuk-link--no-visited-state" id="welsh-language-guidance"
           href="https://docs.payments.service.gov.uk/optional_features/welsh_language/">
          Read our documentation on how to use Welsh on your payment pages
        </a>
      {% else %}
        <a class="govuk-link govuk-link--no-visited-state" id="service-name-guidance"
           href="https://www.gov.uk/service-manual/design/naming-your-service">
          Get guidance on choosing a name for your service
        </a>
      {% endif %}
    </p>
  </form>

  {% if editCy and serviceName %}
    <form id="remove-welsh-service-name" action="{{ removeCyLink }}" method="POST">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
    </form>
  {% endif %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save changes",
      attributes: { form: "edit-service-name" }
    }) }}

    {% if editCy and serviceName %}
      {{ govukButton({
        text: "Remove Welsh service name",
        classes: "govuk-button--secondary",
        attributes: { form: "remove-welsh-service-name" }
      }) }}
    {% endif %}
  </div>
{% endblock %}
