{% extends "../../../layout.njk" %}
{% from "includes/systemMessages.njk" import systemMessages %}

{% block pageTitle %}
  Settings - Service name - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "../_settings-navigation.njk" %}
{% endblock %}

{% set add_cy_link %}
  <a class='govuk-link govuk-link--no-visited-state' href='{{ manage_cy }}' data-cy="add-welsh-name">Add Welsh service name</a>
{% endset %}

{% block mainContent %}
  <div class="govuk-grid-column-three-quarters">
    {% if messages is defined and messages is iterable and messages|length > 0 %}
      {{ systemMessages({ messages: messages }) }}
    {% endif %}

    <h1 class="govuk-heading-l">Service name</h1>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
        {
          key: {
          text: "Service name"
        },
          value: {
          text: service_name_en
        },
          actions: {
          items: [
            {
              href: manage_en,
              text: "Change",
              classes: "govuk-link--no-visited-state",
              visuallyHiddenText: "Edit English service name",
              attributes: { 'data-cy': 'edit-english-name' }
            }
          ]
        }
        },
        {
          key: {
          text: "Welsh service name"
        },
          value: {
          html: service_name_cy | default(add_cy_link)
        },
          actions: {
          items: [
            {
              href: manage_cy,
              text: "Change",
              classes: "govuk-link--no-visited-state",
              visuallyHiddenText: "Edit Welsh service name",
              attributes: { 'data-cy': 'edit-welsh-name' }
            } if service_name_cy else {}
          ]
        }
        }
      ]
    }) }}
  </div>
{% endblock %}
