{% extends "../layout-full-width.njk" %}

{% block pageTitle %}
   Policy Document Download - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<h1 class="govuk-heading-l">
  {% block policyTitle %} {% endblock %}
</h1>

<div class="govuk-grid-column-two-thirds">
  <p class="govuk-body">
    {% block policyDescription %} {% endblock %}
  </p>
  <p class="govuk-body">
    {% block policyDownloadAction %} {% endblock %}
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="{{ link }}" download>{% block policyDownloadLinkDescription %}{% endblock %}</a>
    </li>
  </ul>
  <p class="govuk-body">These terms are confidential and should not be shared outside of your organisation.</p>
</div>
{% endblock %}
