{% extends "../layout.njk" %}

{% block pageTitle %}
  Privacy policy - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" id="heading-1">Privacy notice</h1>
  </div>
{% endblock %}
