<aside class="govuk-grid-column-one-third navigation--pad-bottom">
  <nav role="navigation" class="navigation settings-navigation">
    <ul class="govuk-list govuk-!-margin-bottom-9">
       <li class="{% if createLink %}govuk-!-font-weight-bold {% endif %}govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-!-display-block" href="{{ routes.paymentLinks.start }}">Create a payment link</a></li>
      <li class="{% if not createLink %}govuk-!-font-weight-bold {% endif %}govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-!-display-block" href="{{ routes.paymentLinks.manage.index }}">Manage payment&nbsp;links</a></li>
    </ul>
  </nav>
</aside>
