{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {% if isEditing %}
  Edit your payment link amount - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
  {% else %}
  Is the payment for a fixed amount? - Create a payment link - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
  {% endif %}
{% endblock %}

{% block side_navigation %}
  {% set createLink = false if isEditing else true %}
  {% include "./_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      type: "#amount-type-fixed",
      amount: "#payment-amount",
      hint: "#amount-hint-text"
    }
  }) }}

  <form class="form" method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

    {% set noSelectionError = false %}
    {% if errors.type %}
    {% set noSelectionError = {
        text: "Please choose an option"
    } %}
    {% endif %}

    {% set fixedAmountHTML %}
      <div class="currency-input govuk-form-group{% if errors.amount %} govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="payment-amount">
          Enter the amount
          <span class="govuk-visually-hidden">in &pound;</span>
          {% if errors.amount %}
          <span class="govuk-error-message">
            Choose an amount in pounds and pence using digits and a decimal point. For example “10.50”
          </span>
          {% endif %}
        </label>
        <div class="currency-input__inner">
          <span class="currency-input__inner__unit">&pound;</span>
          <input
            class="govuk-input govuk-input--width-10{% if errors.amount %} govuk-input--error{% endif %}"
            aria-label="Enter amount in pounds"
            name="payment-amount"
            autofocus
            data-non-numeric
            type="text"
            inputmode="numeric"
            id="payment-amount"
            value="{{ amountInPence | penceToPounds if amountInPence else '' }}"
            data-trim
          />
        </div>
      </div>
    {% endset %}

    {% if isWelsh %}
      {% set amountHintHint = 'Explain in Welsh how users can work out how much they should pay, or where to find the payment amount.' %}
      {% set lang = 'cy' %}
    {% else %}
      {% set amountHintHint = 'Tell users how to work out how much they should pay, or where to find the payment amount.' %}
      {% set lang = 'en' %}
    {% endif %}
    
    {% set userProvidedAmountHTML %}
      {{
        govukCharacterCount({
          id: "amount-hint-text",
          name: "amount-hint-text",
          value: amountHint,
          errorMessage: { text: errors.hint } if errors.hint else false,
          classes: "govuk-input--width-20",
          maxlength: 255,
          label: {
              text: "Hint text (optional)",
              classes: "govuk-label--s"
          },
          hint: {
            text: amountHintHint
          },
          attributes: {
            "maxlength": "255",
            "lang": lang
          }
        })
      }}
    {% endset %}

    {{
      govukRadios({
        idPrefix: "amount-type-group",
        name: "amount-type-group",
        fieldset: {
            legend: {
                text: "Is the payment for a fixed amount?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: noSelectionError,
        items: [
          {
              value: "fixed",
              text: "Yes",
              id: "amount-type-fixed",
              checked: amountType === "fixed",
              conditional: {
                html: fixedAmountHTML
              }
          },
          {
              value: "variable",
              id: "amount-type-variable",
              text: "No, the user can choose the amount",
              checked: amountType === "variable",
              conditional: {
                html: userProvidedAmountHTML
              }
          }
        ]
      })
    }}

    {{
      govukButton({
        text: "Continue",
        classes: "button"
      })
    }}
    {% set cancelLinkHref = formatAccountPathsFor(routes.account.paymentLinks.manage.index, currentGatewayAccount.external_id) if isEditing else formatAccountPathsFor(routes.account.paymentLinks.start, currentGatewayAccount.external_id) %}
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state cancel" href="{{ cancelLinkHref }}" data-cy="cancel-link">Cancel</a></p>
  </form>

  {% if not isWelsh %}
  <div class="govuk-!-margin-top-9" id="payment-link-example">
    <h3 class="govuk-heading-s">Example of what the user will see</h3>
    <img src="/public/images/payment-links/amount-and-confirm-page.svg" alt="Screenshot of both possible payment link amount pages">
  </div>
  {% endif %}
</section>
{% endblock %}
