{% extends "../layout.njk" %}

{% block page_title %}
Create a payment link - {{currentServiceName}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block mainClasses %}fullwidth{% endblock %}

{% block full_width_content %}
<div class="grid-row">
  <aside class="column-one-third">
    <nav role="navigation" class="navigation settings-navigation">
      <ul class="list">
        <li class="active"><a href="{{ returnToStart }}">Create payment link</a></li>
        <li><a href="{{ manage }}">Manage payment&nbsp;links</a></li>
      </ul>
    </nav>
  </aside>
  <section class="column-two-thirds">
    {% include "includes/flash.njk" %}
    <h1 class="page-title">Is the payment for a fixed amount?</h1>
    <form action="{{ nextPage }}" class="form" method="post">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
      <div class="form-group{% if flash.genericError %} error{% endif %}">
        {% if flash.errorType == 'paymentAmountType' %}
        <span class="error-message">
          Please choose an option
        </span>
        {% endif %}
        <fieldset data-module="show-hide-content" id="fixed-or-variable">
          <div class="multiple-choice" data-target="fixed-amount">
            <input id="amount-type-fixed" type="radio" name="amount-type-group" value="fixed" {% if paymentLinkAmount or flash.errorType == 'paymentAmountFormat' %}checked{% endif %}>
            <label for="amount-type-fixed">Yes</label>
          </div>
          <div class="panel panel-border-wide {% if not paymentLinkAmount or flash.errorType == 'paymentAmountFormat' %}js-hidden{% endif %}" id="fixed-amount">
            <label class="form-label" for="contact-email">
              Enter the amount
              <span class="visually-hidden">in £</span>
              {% if flash.errorType == 'paymentAmountFormat' %}
              <span class="error-message">
                Choose an amount in pounds and pence using digits and a decimal point. For example “10.50”
              </span>
              {% endif %}
            </label>
           <div class="currency-input__inner">
             <span class="currency-input__inner__unit">£</span>
             <input class="form-control form-control-1-4" aria-label="Enter amount in pounds" name="payment-amount" data-non-numeric="" type="text" id="payment-amount" value="{{ paymentLinkAmount }}" {% if flash.genericError %}autofocus{% endif %}>
           </div>
          </div>

          <div class="multiple-choice">
            <input id="amount-type-variable" type="radio" name="amount-type-group" value="variable">
            <label for="amount-type-variable">No, the user can choose the amount</label>
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <button class="button" type="submit">Continue</button>
      </div>
      <p><a class="cancel" href="{{ returnToStart }}">Cancel</a></p>
    </form>
  </section>
</div>
{% endblock %}
