{% extends "../layout-with-side-nav.njk" %}

{% block pageTitle %}
  Payment link - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "./_nav.njk" %}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Payment link</h1>

  {% set detailsHTML %}
    {% if product.description %}
      {{ product.description | striptags(true) | escape | nl2br }}
    {% else %}
      <span class="pay-text-grey">None given</span>
    {% endif %}
  {% endset %}

  {% set referenceHTML %}
    {% if product.referenceEnabled === true %}
      {{ product.referenceLabel }}
      {% if product.referenceHint %}
        <span class="govuk-!-display-block pay-text-grey">
          {{ product.referenceHint | striptags(true) | escape | nl2br }}
        </span>
      {% endif %}
    {% else %}
      <span class="pay-text-grey">Created by GOV.UK Pay</span>
    {% endif %}
  {% endset %}

  {% set paymentAmountHTML %}
    {% if product.price %}
      {{ product.price | penceToPoundsWithCurrency }}
    {% else %}
      <span class="pay-text-grey">User can choose</span>
    {% endif %}
  {% endset %}


  {{
    govukSummaryList({
      attributes: {
        id: "payment-link-summary"
      },
      rows: [
        {
          key: {
            text: "Title"
          },
          value: {
            text: product.name
          },
          actions: {
            items: [
              {
                href: editInformation + '?field=payment-link-title',
                text: "Change",
                visuallyHiddenText: "title",
                classes: 'govuk-link--no-visited-state'
              }
            ]
          }
        },
        {
          key: {
            text: "More details"
          },
          value: {
            html: detailsHTML
          },
          actions: {
            items: [
              {
                href: editInformation + '?field=payment-link-description',
                text: "Change",
                visuallyHiddenText: "more details",
                classes: 'govuk-link--no-visited-state'
              }
            ]
          }
        },
        {
          key: {
            text: "Reference number"
          },
          value: {
            html: referenceHTML
          },
          actions: {
            items: [
              {
                href: editReference + '?change=true',
                text: "Change",
                visuallyHiddenText: "payment reference",
                classes: 'govuk-link--no-visited-state'
              }
            ]
          }
        },
        {
          key: {
            text: "Payment amount"
          },
          value: {
            html: paymentAmountHTML
          },
          actions: {
            items: [
              {
                href: editAmount,
                text: "Change",
                visuallyHiddenText: "payment amount",
                classes: 'govuk-link--no-visited-state'
              }
            ]
          }
        }
      ]
    })
  }}

{% if currentService.experimentalFeaturesEnabled %}
  <h2 class="govuk-heading-m">Reporting columns</h2>
  <p class="govuk-body">You can download reports about your payments from your account. <p>
  <p class="govuk-body">You can add extra columns about your transactions to these reports. For example, to include your cost centre code or business area. This will help finance teams track and reconcile your payments.<p>

  {% if product.metadata %}
    <dl id="reporting-columns-summary" class="govuk-summary-list">
      {% for metadataKey, metadataValue in product.metadata | dictsort %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{metadataKey}}
            </dt>
            <dd class="govuk-summary-list__value">
              {{metadataValue}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ formattedPathFor(paths.paymentLinks.metadata.edit, product.externalId, metadataKey) }}">
                Change<span class="govuk-visually-hidden"> ‘{{ metadataKey }}’</span>
              </a>
            </dd>
          </div>
      {% endfor %}
    </dl>
    {% endif %}

    {% set addReportingColumnButtonText %}
      {% if product.metadata %}
        Add another reporting column
      {% else %}
        Add a reporting column
      {% endif %}
    {% endset %}

    {{ govukButton({
      text: addReportingColumnButtonText,
      classes: "govuk-button--secondary",
      href: addMetadata
    }) }}
  {% endif %}

  <form action="{{ self }}" class="form" method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {{
      govukButton({
        text: "Save changes",
        attributes: {
          id: "update-payment-link-publish"
        }
      })
    }}
    <p class="govuk-body"><a id="update-payment-link-cancel" class="govuk-link govuk-link--no-visited-state cancel" href="{{ routes.paymentLinks.manage }}">Cancel</a></p>
  </form>
{% endblock %}
