{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Edit your payment link amount - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "./_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      type: "#amount-type-fixed",
      amount: "#payment-amount"
    }
  }) }}

  <form action="{{ self }}" class="form" method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

    {% set noSelectionError = false %}
    {% if errors.type %}
    {% set noSelectionError = {
        text: "Please choose an option"
    } %}
    {% endif %}

    {% set variableHTML %}
      <div class="currency-input govuk-form-group{% if errors.amount' %} govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="payment-amount">
          Enter the amount
          <span class="govuk-visually-hidden">in &pound;</span>
          {% if errors.amount %}
          <span class="govuk-error-message">
            Choose an amount in pounds and pence using digits and a decimal point. For example “10.50”
          </span>
          {% endif %}
        </label>
        <div class="currency-input__inner">
          <span class="currency-input__inner__unit">&pound;</span>
          <input
            class="govuk-input govuk-input--width-10{% if errors.amount %} govuk-input--error{% endif %}"
            aria-label="Enter amount in pounds"
            name="payment-amount"
            autofocus
            data-non-numeric
            type="text"
            inputmode="numeric"
            id="payment-amount"
            value="{{ amountInPence | penceToPounds if amountInPence else '' }}"
            data-trim
          />
        </div>
      </div>
    {% endset %}

    {{
      govukRadios({
        idPrefix: "amount-type-group",
        name: "amount-type-group",
        fieldset: {
            legend: {
                text: "Is the payment for a fixed amount?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: noSelectionError,
        items: [
          {
              value: "fixed",
              text: "Yes",
              id: "amount-type-fixed",
              checked: amountType === "fixed",
              conditional: {
                html: variableHTML
              }
          },
          {
              value: "variable",
              id: "amount-type-variable",
              text: "No, the user can choose the amount",
              checked: amountType === "variable"
          }
        ]
      })
    }}

    {{
      govukButton({
        text: "Continue",
        classes: "button"
      })
    }}
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state cancel" href="{{ formatAccountPathsFor(routes.account.paymentLinks.manage.index, currentGatewayAccount.external_id) }}">Cancel</a></p>
  </form>

  {% if not isWelsh %}
  <div class="govuk-!-margin-top-9" id="payment-link-example">
    <h3 class="govuk-heading-s">Example of what the user will see</h3>
    <img class="create-payment-link-screenshot" src="/public/images/adhoc-2-amount.svg" alt="Screenshot of both possible payment link amount pages">
  </div>
  {% endif %}
</section>
{% endblock %}
