{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Edit your payment link details - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "./_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      title: "#payment-link-title"
    }
  }) }}

  <aside class="pay-info-warning-box">
    <p class="govuk-body">Editing the payment link title does not change the web&nbsp;address.</p>
  </aside>

  <h1 class="govuk-heading-l">Edit payment link information</h1>
  <form action="{{ self }}" class="form" method="post" data-validate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {% if change.length %}
      <input name="change" type="hidden" value="true"/>
    {% endif %}

    {% set titleError = false %}
    {% if errors.title %}
    {% set titleError = {
      text: errors.title | safe
    } %}
    {% endif %}

  {% if isWelsh %}
      {% set titleLabel = 'Welsh title' %}
      {% set titleHint = 'Briefly describe what the user is paying for. For example, <span lang="cy">“Talu am drwydded barcio”</span>.' %}
      {% set detailsHint = 'Give your users more information in Welsh. For example, you could tell them how long it takes for their application to be processed.' %}
      {% set lang = "cy" %}
    {% else %}
      {% set titleLabel = 'Title' %}
      {% set titleHint = 'Briefly describe what the user is paying for. For example, “Pay for a parking permit”.' %}
      {% set detailsHint = 'Give your users more information. For example, you could tell them how long it takes for their application to be processed.' %}
      {% set lang = "en" %}
    {% endif %}

    {% set titleAttributes = {
      "data-validate": "isFieldGreaterThanMaxLengthChars isNaxsiSafe",
      "data-validate-max-length": "254",
      "lang": lang
    } %}
    {% set descriptionAttributes = {
      "rows": "5",
      "lang": lang
    } %}
    {% if change !== 'payment-link-description' %}
      {% set titleAttributes = {
        "data-validate": "isFieldGreaterThanMaxLengthChars isNaxsiSafe",
        "data-validate-max-length": "254",
        "lang": lang,
        "autofocus": true
      } %}
    {% else %}
      {% set descriptionAttributes = {
        "rows": "5",
        "lang": lang,
        "autofocus": true
      } %}
    {% endif %}

    {{
      govukInput({
        id: "payment-link-title",
        name: "payment-link-title",
        label: {
            text: titleLabel,
            classes: "govuk-label--s"
        },
        hint: {
          html: titleHint
        },
        value: paymentLinkTitle,
        attributes: titleAttributes,
        errorMessage: titleError
      })
    }}

    {{
      govukTextarea({
        id: "payment-link-description",
        name: "payment-link-description",
        label: {
            text: "Details (optional)",
            classes: "govuk-label--s"
        },
        hint: {
          text: detailsHint
        },
        value: paymentLinkDescription,
        attributes: descriptionAttributes
      })
    }}

    {{
      govukButton({
        text: "Continue",
        classes: "button"
      })
    }}

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state cancel" href="{{ formatAccountPathsFor(routes.account.paymentLinks.manage.index, currentGatewayAccount.external_id) }}">Cancel</a></p>
  </form>

  {% if not isWelsh %}
  <div class="govuk-!-margin-top-9" id="payment-link-example">
    <h3 class="govuk-heading-s">Example of what the user will see</h3>
    <img src="/public/images/adhoc-1-start.svg" alt="Screenshot of payment link landing page">
  </div>
  {% endif %}
</section>
{% endblock %}
