{% extends "../layout.njk" %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% from "components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Edit your payment link details - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "./_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  <aside class="pay-info-warning-box">
    <p class="govuk-body">Editing the payment link title does not change the web&nbsp;address.</p>
  </aside>

  <h1 class="govuk-heading-l">Edit payment link information</h1>
  <form action="{{ self }}" class="form" method="post" data-validate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {% if change.length %}
      <input name="change" type="hidden" value="true"/>
    {% endif %}

    {% set titleAttributes = {
      "data-validate": "isFieldGreaterThanMaxLengthChars isNaxsiSafe",
      "data-validate-max-length": "254"
    } %}
    {% set descriptionAttributes = {
      "rows": "5"
    } %}
    {% if change !== 'payment-link-description' %}
      {% set titleAttributes = {
        "data-validate": "isFieldGreaterThanMaxLengthChars isNaxsiSafe",
        "data-validate-max-length": "254",
        "autofocus": true
      } %}
    {% else %}
      {% set descriptionAttributes = {
        "rows": "5",
        "autofocus": true
      } %}
    {% endif %}
    {% set titleError = false %}
    {% if flash.genericError %}
    {% set titleError = {
      text: "This field cannot be blank"
    } %}
    {% endif %}

    {{
      govukInput({
        id: "payment-link-title",
        name: "payment-link-title",
        label: {
            text: "Title",
            classes: "govuk-label--s"
        },
        hint: {
          text: "Briefly describe what the user is paying for. For example, “Pay for a parking permit”."
        },
        value: product.name,
        attributes: titleAttributes,
        errorMessage: titleError
      })
    }}

    {{
      govukTextarea({
        id: "payment-link-description",
        name: "payment-link-description",
        label: {
            text: "Details (optional)",
            classes: "govuk-label--s"
        },
        hint: {
          text: "Give your users more information. For example, you could tell them how long it takes for their application to be processed."
        },
        value: product.description,
        attributes: descriptionAttributes
      })
    }}

    {{
      govukButton({
        text: "Continue",
        classes: "button"
      })
    }}

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state cancel" href="{{ routes.paymentLinks.manage }}">Cancel</a></p>
  </form>
  <div class="govuk-!-margin-top-9">
    <h3 class="govuk-heading-s">Example of what the user will see</h3>
    <img src="/public/images/adhoc-1-start.svg" alt="Screenshot of payment link landing page">
  </div>
</section>
{% endblock %}
