{% extends "../layout.njk" %}

{% block pageTitle %}
  Payment link - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "./_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Payment link</h1>

  {% set detailsHTML %}
    {% if product.description %}
      {{ product.description | striptags(true) | escape | nl2br }}
    {% else %}
      <span class="pay-text-grey">None given</span>
    {% endif %}
  {% endset %}

  {% set referenceHTML %}
    {% if product.referenceEnabled === true %}
      {{ product.referenceLabel }}
      {% if product.referenceHint %}
        <span class="govuk-!-display-block pay-text-grey">
          {{ product.referenceHint | striptags(true) | escape | nl2br }}
        </span>
      {% endif %}
    {% else %}
      <span class="pay-text-grey">Created by GOV.UK Pay</span>
    {% endif %}
  {% endset %}

  {% set paymentAmountHTML %}
    {% if product.price %}
      {{ product.price | penceToPoundsWithCurrency }}
    {% else %}
      <span class="pay-text-grey">User can choose</span>
    {% endif %}
  {% endset %}


  {{
    govukSummaryList({
      attributes: {
        id: "payment-link-summary"
      },
      rows: [
        {
          key: {
            text: "Title"
          },
          value: {
            text: product.name
          },
          actions: {
            items: [
              {
                href: editInformation + '?field=payment-link-title',
                text: "Change",
                visuallyHiddenText: "title",
                classes: 'govuk-link--no-visited-state'
              }
            ]
          }
        },
        {
          key: {
            text: "More details"
          },
          value: {
            html: detailsHTML
          },
          actions: {
            items: [
              {
                href: editInformation + '?field=payment-link-description',
                text: "Change",
                visuallyHiddenText: "more details",
                classes: 'govuk-link--no-visited-state'
              }
            ]
          }
        },
        {
          key: {
            text: "Reference number"
          },
          value: {
            html: referenceHTML
          },
          actions: {
            items: [
              {
                href: editReference + '?change=true',
                text: "Change",
                visuallyHiddenText: "payment reference",
                classes: 'govuk-link--no-visited-state'
              }
            ]
          }
        },
        {
          key: {
            text: "Payment amount"
          },
          value: {
            html: paymentAmountHTML
          },
          actions: {
            items: [
              {
                href: editAmount,
                text: "Change",
                visuallyHiddenText: "payment amount",
                classes: 'govuk-link--no-visited-state'
              }
            ]
          }
        }
      ]
    })
  }}

  {% include "./reporting-columns/_manage-reporting-columns.njk" %}

  <form action="{{ self }}" class="form" method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {{
      govukButton({
        text: "Save changes",
        attributes: {
          id: "update-payment-link-publish"
        }
      })
    }}
    <p class="govuk-body"><a id="update-payment-link-cancel" class="govuk-link govuk-link--no-visited-state cancel" href="{{ formatAccountPathsFor(routes.account.paymentLinks.manage.index, currentGatewayAccount.external_id) }}">Cancel</a></p>
  </form>
</section>
{% endblock %}
