{% extends "../layout.njk" %}

{% block pageTitle %}
  Create a payment link - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% set createLink = true %}
  {% include "./_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Create a payment link</h1>
  <p class="govuk-body">You can create a payment link so that users can make online payments to your service. Even if you don’t have a digital service, GOV.UK Pay can still take payments for you.</p>
  <p class="govuk-body">It’s quick and easy to create a payment link and you don’t need any technical knowledge.</p>
  <p class="govuk-body">The same payment link can be used by all users of your service.</p>
  {{
    govukButton({
      text: "Create a payment link",
      href: formatAccountPathsFor(routes.account.paymentLinks.information, currentGatewayAccount.external_id),
      classes: "govuk-!-margin-bottom-4",
      attributes: {
        id: "create-payment-link"
      }
    })
  }}

  <p class="govuk-body govuk-!-margin-bottom-6">
    <a class="govuk-link govuk-link--no-visited-state" href="{{ formatAccountPathsFor(routes.account.paymentLinks.information, currentGatewayAccount.external_id) }}?language=cy">Create a payment link in Welsh</a>
  </p>

  {% set example %}
    <ol>
      <li>
        <h4 class="govuk-!-margin-bottom-1">A user copies the payment link and enters it in a web browser.</h4>
        <p>The url will be created from your service name. For example https://payment.service.gov.uk/pay/fishing-permit</p>
      </li>
      <li>
        <h4 class="govuk-!-margin-bottom-1">They arrive at the start page, which tells them what they’re paying for. You choose the wording that goes here.</h4>
        <p>You can choose to use a unique payment reference number or we can create one for you.</p>
        <img src="/public/images/adhoc-1-start.svg" alt="Screenshot of payment link landing page">
      </li>
      <li>
        <h4>They enter the amount they need to pay, or proceed with a set amount you’ve chosen.</h4>
        <img src="/public/images/adhoc-2-amount.svg" alt="Screenshot of both possible payment link amount pages">
      </li>
      <li>
        <h4>They enter their payment information and make the payment.</h4>
        <img src="/public/images/adhoc-3-start.svg" alt="Screenshot of payment information page">
      </li>
      <li>
        <h4>They receive a confirmation of successful payment. This is also emailed to them with a payment reference number.</h4>
        <img src="/public/images/adhoc-4-confirm.svg" alt="Screenshot of confirmation page">
      </li>
    </ol>
  {% endset %}
  {{
    govukDetails({
      summaryText: "See an example",
      html: example
    })
  }}

</section>
{% endblock %}
