{% extends "../layout.njk" %}

{% block pageTitle %}
  Create a payment link - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block sideNavigation %}
  {% set createLink = true %}
  {% include "./_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Create a payment link</h1>

  {% if accountUsesWorldpayMotoMerchantCode %}
    {% set worldpayMotoMerchantCodeWarningHtml %}
      Your service is set up to only use MOTO payments. Do not create payment links and send them to paying users. Use a non-MOTO service or
      <a class="govuk-link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" target="_top">
        contact support
      <a>
      for help.
    {% endset %}

    {{ govukWarningText({
      html: worldpayMotoMerchantCodeWarningHtml,
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

  <p class="govuk-body">You can create payment links and send them to your users so they can pay you. The same payment
    link can be used by all users of your service. You can create payment links without any technical knowledge.</p>
  <p class="govuk-body">You can prefill the amount and reference fields or allow users to put them in. Learn <a
    href="https://docs.payments.service.gov.uk/prefill_payment_links/" class="govuk-link">how to create prefilled
    links</a>.</p>

  <h2 class="govuk-heading-m">What to call your link</h2>
  <p class="govuk-body">Make sure the payment link name describes exactly what the user is paying for, and can be
    understood out of context. Use plain language and spell out acronyms in the description if necessary.</p>
  <p class="govuk-body">Bad:</p>
  <p class="govuk-body">R1</p>
  <p class="govuk-body">Good:</p>
  <p class="govuk-body">Pay for your registration on the Register of Overseas Entities (R1)</p>

  {{ govukButton({
      text: "Create a payment link",
      href: formatAccountPathsFor(routes.account.paymentLinks.information, currentGatewayAccount.external_id),
      classes: "govuk-!-margin-bottom-4",
      attributes: {
        id: "create-payment-link"
      }
    })
  }}

  <p class="govuk-body govuk-!-margin-bottom-6">
    <a class="govuk-link govuk-link--no-visited-state" href="{{ formatAccountPathsFor(routes.account.paymentLinks.information, currentGatewayAccount.external_id) }}?language=cy">Create a payment link in Welsh</a>
  </p>

  {% set example %}
      <ol>
        <li class="govuk-!-margin-bottom-5">
          <p class="govuk-body govuk-!-font-weight-bold">A user copies the payment link and enters it in a web browser.</p>
          <p class="govuk-body">The URL will be created from your service name. For example: https://payment.service.gov.uk/pay/fishing-permit</p>
        </li>
        <li class="govuk-!-margin-bottom-5">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">The user arrives at this page, which tells them what they’re paying for. You can customise the wording that goes here.</p>
          <img src="/public/images/payment-links/start-page.svg" alt="Screenshot of payment link start page">
        </li>
        <li class="govuk-!-margin-bottom-5">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">You can choose to use a unique payment reference number for the user to enter or we can create one for you.</p>
          <img src="/public/images/payment-links/reference-page.svg" alt="Screenshot of payment link reference page">
        </li>
        <li class="govuk-!-margin-bottom-5">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">The user enters the amount they need to pay, or proceeds with a set amount you’ve chosen.</p>
          <img src="/public/images/payment-links/amount-and-confirm-page.svg" alt="Screenshot of both payment link amount and confirm pages">
        </li>
        <li class="govuk-!-margin-bottom-5">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">The user enters their payment information and makes the payment.</p>
          <img src="/public/images/payment-links/payment-page.svg" alt="Screenshot of payment information page">
        </li>
        <li class="govuk-!-margin-bottom-5">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">The user receives confirmation that their payment was successful. This is also emailed to them with a payment reference number.</p>
          <img src="/public/images/payment-links/success-page.svg" alt="Screenshot of confirmation page">
        </li>
      </ol>
  {% endset %}
  {{
    govukDetails({
      summaryText: "See an example",
      html: example
    })
  }}

</section>
{% endblock %}
