{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Set payment link information - Create a payment link - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% set createLink = true %}
  {% include "./_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      title: "#payment-link-title",
      description: "#payment-link-description"
    }
  }) }}

  {% if isWelsh %}
    <h1 class="govuk-heading-l">Set Welsh payment link information</h1>
  {% else %}
    <h1 class="govuk-heading-l">Set payment link information</h1>
  {% endif %}

  <form action="{{ formatAccountPathsFor(routes.account.paymentLinks.information, currentGatewayAccount.external_id) }}" class="form" method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <input type="hidden" name="service-name-path" value="{{serviceName}}">
    {% if change.length %}
      <input name="change" type="hidden" value="true"/>
    {% endif %}

    {% set confirmationLabel %}{{friendlyURL}}/{{serviceName | removeIndefiniteArticles | slugify}}/{% endset %}

    {% if isWelsh %}
      {% set titleLabel = 'Welsh title' %}
      {% set titleHint = 'Briefly describe what the user is paying for. For example, <span lang="cy">“Talu am drwydded barcio”</span>. This will also be your website address. Do not include names or personal information.' %}
      {% set detailsHint = 'Give your users more information in Welsh. For example, you could tell them how long it takes for their application to be processed.' %}
      {% set lang = "cy" %}
    {% else %}
      {% set titleLabel = 'Title' %}
      {% set titleHint = 'Briefly describe what the user is paying for. For example, “Pay for a parking permit”. This will also be your website address. Do not include names or personal information.' %}
      {% set detailsHint = 'Give your users more information. For example, you could tell them how long it takes for their application to be processed.' %}
      {% set lang = "en" %}
    {% endif %}

    {{
      govukInput({
        id: 'payment-link-title',
        name: 'payment-link-title',
        value: paymentLinkTitle,
        classes: '',
        label: {
            text: titleLabel,
            classes: 'govuk-label--s'
        },
        hint: {
          html: titleHint
        },
        errorMessage: { text: errors.title } if errors.title else false,
        attributes: {
          "autofocus": change !== "payment-link-description",
          "data-confirmation": true,
          "data-confirmation-title": "The website address for this payment link will look like:",
          "data-confirmation-label": confirmationLabel,
          "data-confirmation-filter": "slugify",
          "data-confirmation-display": "onload" if change.length else false,
          "lang": lang
        }
      })
    }}

    {{
      govukTextarea({
        id: 'payment-link-description',
        name: 'payment-link-description',
        value: paymentLinkDescription,
        classes: '',
        label: {
            text: 'Details (optional)',
            classes: 'govuk-label--s'
        },
        hint: {
          text: detailsHint
        },
        errorMessage: { text: errors.description } if errors.description else false,
        attributes: {
          "autofocus": change !== "payment-link-description",
          "rows": "5",
          "lang": lang
        }
      })
    }}

    {{
      govukButton({
        text: 'Continue',
        classes: 'button'
      })
     }}

    <p class="govuk-body"><a class="govuk-link cancel govuk-link--no-visited-state" href="{{ formatAccountPathsFor(routes.account.paymentLinks.start, currentGatewayAccount.external_id) }}" data-cy="cancel-link">Cancel</a></p>
  </form>

  {% if not isWelsh %}
  <div class="govuk-!-margin-top-9" id="payment-link-example">
    <h3 class="govuk-heading-s">Example of what the user will see</h3>
    <img src="/public/images/payment-links/start-page.svg" alt="Screenshot of payment link landing page">
  </div>
  {% endif %}
</section>
{% endblock %}
