{% extends "../layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
  {% if permissions.tokens_create %}Manage{% else %}View{% endif %} a payment link - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% if permissions.tokens_create %}
    {% include "./_nav.njk" %}
  {% endif%}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
{% if flash.createPaymentLinkSuccess %}
  {% if isTestGateway %}
        {% set html %}
        <p class="govuk-notification-banner__heading">
          Your Payment link is ready to test
        </p>
        <p class="govuk-body">
          To start collecting payments, you need to <a class="govuk-link" href="{{formatServicePathsFor(routes.service.requestToGoLive.index, service.external_id)}}">Request a live account</a>. Once live, you’ll need to recreate your Payment link before you can give it to users.
        </p>
    {% endset %}
  {% else %}
        {% set html %}
        <p class="govuk-notification-banner__heading">
          Your payment link is now live
        </p>
        <p class="govuk-body">
          Give this link to your users to collect payments for your service.
        </p>
    {% endset %}
  {% endif %}

      {{ govukNotificationBanner({
        html: html,
        type: 'success'
  }) }}
{% endif %}

  <h1 class="govuk-heading-l">{% if permissions.tokens_create %}Manage{% else %}View{% endif %} payment links</h1>

  {% if not permissions.tokens_create %}
  <aside class="pay-info-warning-box">
    <p class="govuk-body">You don’t have permission to create or edit payment links. Contact your service admin if you would like to manage payment links.</p>
  </aside>
  {% endif %}

  <p class="govuk-body payment-links-list--header">
    {% if productsLength === 1 %}
      There is 1 payment link
    {% elif productsLength > 1 %}
      There are {{productsLength}} payment links
    {% elif not permissions.tokens_create %}
      There are no payment links.
    {% else %}
      There are no payment links, you can <a class="govuk-link govuk-link--no-visited-state" href="{{ formatAccountPathsFor(routes.account.paymentLinks.start, currentGatewayAccount.external_id) }}">create one now</a>.
    {% endif %}
  </p>

  {% if permissions.tokens_create %}
  <h2 class="govuk-heading-m">Add metadata for reconciliation and reporting</h2>

  <p class="govuk-body">You can add metadata like cost centre codes or business area to your payment links. To add these:</p>

  <ol class="govuk-list govuk-list--number">
    <li>Find the Payment link you want and select <span class="govuk-!-font-weight-bold">Edit</span>.</li>
    <li>Select <span class="govuk-!-font-weight-bold">Add a reporting column<span>.</li>
  </ol>
  {% endif %}

  {% if englishPaymentLinks.length %}
  <ul class="govuk-list pay-!-border-top govuk-!-padding-top-3 govuk-!-padding-bottom-3 payment-links-list">
    {% for product in englishPaymentLinks %}
      {% include "./_product.njk" %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if welshPaymentLinks.length %}
  <div id="welsh-payment-links">
    <h3 class="govuk-heading-m">Welsh payment links</h3>
    <ul class="govuk-list pay-!-border-top govuk-!-padding-top-3 govuk-!-padding-bottom-3 payment-links-list">
      {% for product in welshPaymentLinks %}
        {% include "./_product.njk" %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</section>
{% endblock %}