{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Do your users already have a payment reference? - Create a payment link - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% set createLink = true %}
  {% include "./_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      type: "#reference-type-custom",
      label: "#reference-label",
      hint: "#reference-hint-text"
    }
  }) }}

  <form action="{{ formatAccountPathsFor(routes.account.paymentLinks.reference, currentGatewayAccount.external_id) }}" class="form" method="post" data-validate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {% if change.length %}
      <input name="change" type="hidden" value="true"/>
    {% endif %}

    {% set noSelectionError = false %}
    {% if errors.type %}
    {% set noSelectionError = {
        text: "Please choose an option"
    } %}
    {% endif %}

    {% if isWelsh %}
      {% set referenceNameHint = 'For example, <span lang="cy">“rhif anfoneb”</span>' %}
      {% set referenceHintHint = 'Explain in Welsh what the payment reference looks like and where to find it.' %}
      {% set lang = 'cy' %}
    {% else %}
      {% set referenceNameHint = 'For example, “invoice number”' %}
      {% set referenceHintHint = 'Tell users what the payment reference looks like and where they can find it.' %}
      {% set lang = 'en' %}
    {% endif %}

    {% set customReferenceHTML %}
      {{
        govukInput({
          id: "reference-label",
          name: "reference-label",
          value: paymentReferenceLabel,
          errorMessage: { text: errors.label } if errors.label else false,
          classes: "govuk-input--width-20",
          label: {
              text: "Name of payment reference",
              classes: "govuk-label--s"
          },
          hint: {
            html: referenceNameHint
          },
          attributes: {
            "lang": lang
          }
        })
      }}

      {{
        govukCharacterCount({
          id: "reference-hint-text",
          name: "reference-hint-text",
          value: paymentReferenceHint,
          errorMessage: { text: errors.hint } if errors.hint else false,
          classes: "govuk-input--width-20",
          maxlength: 255,
          label: {
              text: "Hint text (optional)",
              classes: "govuk-label--s"
          },
          hint: {
            text: referenceHintHint
          },
          attributes: {
            "maxlength": "255",
            "lang": lang
          }
        })
      }}
    {% endset %}
    {% set standardReferenceHTML %}
    <p class="govuk-body">GOV.UK Pay will create a unique payment reference for each transaction.</p>
    {% endset %}
    {{
      govukRadios({
        idPrefix: "reference-type-group",
        name: "reference-type-group",
        fieldset: {
            legend: {
                text: "Do your users already have a payment reference?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
          text: "You can use numbers or words in your payment reference. For example, you can include the applicant’s name or an existing reference number."
        },
        errorMessage: noSelectionError,
        items: [
          {
              value: "custom",
              text: "Yes",
              checked: paymentReferenceType === 'custom',
              id: "reference-type-custom",
              conditional: {
                html: customReferenceHTML
              }
          },
          {
              value: "standard",
              text: "No",
              checked: paymentReferenceType === 'standard',
              id: "reference-type-standard",
              conditional: {
                html: standardReferenceHTML
              }
          }
        ]
      })
    }}

    {{
      govukButton({
        text: "Continue",
        classes: "button"
      })
    }}
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state cancel" href="{{ formatAccountPathsFor(routes.account.paymentLinks.start, currentGatewayAccount.external_id) }}">Cancel</a></p>
  </form>

  {% if not isWelsh %}
  <div class="govuk-!-margin-top-9" id="payment-link-example">
    <h3 class="govuk-heading-s">Example of what the user will see</h3>
    <img src="/public/images/adhoc-1-start.svg" alt="Screenshot of a payment link page showing a input for the user to enter a reference">
  </div>
  {% endif %}
</section>
{% endblock %}
