{% extends "../layout.njk" %}

{% block pageTitle %}
  Review your payment link details - Create a payment link - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% set createLink = true %}
  {% include "./_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Review your payment link details</h1>

  {% set detailsHTML %}
    <span id="create-payment-link-description">
      {% if pageData.paymentLinkDescription %}
        {{ pageData.paymentLinkDescription | striptags(true) | escape | nl2br }}
      {% else %}
        <span class="pay-text-grey">None given</span>
      {% endif %}
    </span>
  {% endset %}

  {% set referenceHTML %}
    <span id="create-payment-link-reference">
      {% if pageData.paymentReferenceType === 'custom' %}
        {{ pageData.paymentReferenceLabel }}
        {% if pageData.paymentReferenceHint %}
          <span class="govuk-!-display-block pay-text-grey">
            {{ pageData.paymentReferenceHint | striptags(true) | escape | nl2br }}
          </span>
        {% endif %}
      {% else %}
        <span class="pay-text-grey">Created by GOV.UK Pay</span>
      {% endif %}
    </span>
  {% endset %}

  {% set paymentAmountHTML %}
    <span id="create-payment-link-amount">
    {% if pageData.paymentLinkAmount %}
      £{{ pageData.paymentLinkAmount | penceToPounds }}
    {% else %}
      <span class="pay-text-grey">User can choose</span>
    {% endif %}
    </span>
  {% endset %}

  {{
    govukSummaryList({
      rows: [
        {
          key: {
            text: "Title"
          },
          value: {
            html: '<span id="create-payment-link-title">' + pageData.paymentLinkTitle + '</span>'
          },
          actions: {
            items: [
              {
                href: routes.paymentLinks.information + '?field=payment-link-title',
                text: "Change",
                visuallyHiddenText: "title",
                classes: 'govuk-link--no-visited-state'
              }
            ]
          }
        },
        {
          key: {
            text: "More details"
          },
          value: {
            html: detailsHTML
          },
          actions: {
            items: [
              {
                href: routes.paymentLinks.information + '?field=payment-link-description',
                text: "Change",
                visuallyHiddenText: "more details",
                classes: 'govuk-link--no-visited-state'
              }
            ]
          }
        },
        {
          key: {
            text: "Reference number"
          },
          value: {
            html: referenceHTML
          },
          actions: {
            items: [
              {
                href: routes.paymentLinks.reference + '?change=true',
                text: "Change",
                visuallyHiddenText: "payment reference",
                classes: 'govuk-link--no-visited-state'
              }
            ]
          }
        },
        {
          key: {
            text: "Payment amount"
          },
          value: {
            html: paymentAmountHTML
          },
          actions: {
            items: [
              {
                href: routes.paymentLinks.amount,
                text: "Change",
                visuallyHiddenText: "payment amount",
                classes: 'govuk-link--no-visited-state'
              }
            ]
          }
        }
      ]
    })
  }}

  <form action="{{ routes.paymentLinks.review }}" class="form" method="post" data-virtual-pageview="/create-payment-link/success" data-parameters="dimension1:service-name">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <input name="service-name" type="hidden" value="{{currentService.name}}"/>

    {% if pageData.isWelsh %}
      {% set submitText = "Create Welsh payment link" %}
    {% else %}
      {% set submitText = "Create payment link" %}
    {% endif %}

    {{
      govukButton({
        text: submitText,
        attributes: {
          id: "create-payment-link-publish"
        }
      })
    }}

    <p class="govuk-body"><a id="create-payment-link-cancel" class="govuk-link govuk-link--no-visited-state cancel" href="{{ routes.paymentLinks.start }}">Cancel</a></p>
  </form>
</section>
{% endblock %}
