{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  The website address is already taken - Create a payment link - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% set createLink = true %}
  {% include "./_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      path: "#payment-name-path"
    }
  }) }}

  <h1 class="govuk-heading-l">The website address is already taken</h1>

  <form action="{{ formatAccountPathsFor(routes.account.paymentLinks.webAddress, currentGatewayAccount.external_id) }}" class="form" method="post" data-validate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

    <div class="govuk-form-group {% if flash.genericError %}govuk-form-group--error{% endif %}">
      <label class="govuk-label govuk-label--s" for="payment-name-path">
        Please change the website address
      </label>
      <span id="payment-name-path-hint" class="govuk-hint">
        This will not change the title<br>
      </span>
      <span class="govuk-hint pay-text-black">
        {{friendlyURL}}/{{currentService.name | removeIndefiniteArticles | slugify}}/
      </span>
      {% if errors.path %}
        <span id="payment-name-path-error" class="govuk-error-message">
          The website address is already taken
        </span>
      {% endif %}
      <input class="govuk-input govuk-!-width-one-half {% if flash.genericError %}govuk-input--error{% endif %}" id="payment-name-path" name="payment-name-path" type="text" value="{{productNamePath}}" aria-describedby="payment-name-path-hint" autofocus="true" data-validate="true" data-slugify="true">

      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-3"><a class="govuk-link" href="https://www.gov.uk/guidance/content-design/url-standards-for-gov-uk">Get guidance on writing a web address (URL)</a></p>
    </div>

    {{
      govukButton({
        text: 'Continue',
        classes: 'button'
      })
    }}

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state cancel" href="{{ formatAccountPathsFor(routes.account.paymentLinks.start, currentGatewayAccount.external_id) }}">Cancel</a></p>
  </form>
</section>
{% endblock %}
