{% extends "../../settings-layout.njk" %}

{% set settingsPageTitle = "Responsible person's address" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>
  <form id="responsible-person-address-form" method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}" />
    {% call govukFieldset({}) %}
      <p class="govuk-body"
        >Do not use a work address. Adyen needs the responsible person’s home address to check their identity.</p
      >

      {% include "simplified-account/settings/partials/_address.njk" %}
    {% endcall %}
    {{ govukButton({ text: "Continue" }) }}
  </form>
{% endblock %}
