{% extends "../../settings-layout.njk" %}

{% set settingsPageTitle = "Check your answers" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>

  {{
    govukSummaryList({
      card: {
        title: {
          text: "Responsible person’s personal details"
        },
        actions: {
          items: [
            {
              href: detailsLink,
              text: "Change"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "First name"
          },
          value: {
            html: currentSession.firstName
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            html: currentSession.lastName
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            html: "01 January 1970"
          }
        }
      ]
    })
  }}

  {{
    govukSummaryList({
      card: {
        title: {
          text: "Responsible person’s address"
        },
        actions: {
          items: [
            {
              href: addressLink,
              text: "Change"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Address line 1"
          },
          value: {
            html: currentSession.addressLine1
          }
        },
        {
          key: {
            text: "Address line 2"
          },
          value: {
            html: currentSession.addressLine2
          }
        } if hasAddressLine2,
        {
          key: {
            text: "Town or city"
          },
          value: {
            html: currentSession.addressCity
          }
        },
        {
          key: {
            text: "Postcode"
          },
          value: {
            html: currentSession.addressPostcode
          }
        }
      ]
    })
  }}

  {{
    govukSummaryList({
      card: {
        title: {
          text: "Responsible person’s contact details"
        },
        actions: {
          items: [
            {
              href: contactDetailsLink,
              text: "Change"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Telephone number"
          },
          value: {
            html: currentSession.telephoneNumber
          }
        },
        {
          key: {
            text: "Work email address"
          },
          value: {
            html: currentSession.email
          }
        }
      ]
    })
  }}

  <form id="responsible-person-check-your-answers-form" method="post" class="govuk-!-margin-top-4" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}" />

    {{
      govukButton({
        text: "Confirm and continue",
        id: "responsible-person-confirm"
      })
    }}
  </form>
{% endblock %}
