{{< layout}}

{{$content}}

<h1 class="page-title">Confirm new email template</h1>
<p>This email will be sent to user's when they successfully complete a payment within your service.</p>

<h2 class="heading-medium">New email template</h2>
{{>email_notifications/email_body}}
<form method="post" action="{{routes.emailNotifications.update}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

    <input type="hidden" value="{{customEmailText}}" name="custom-email-text" class="qa-custom-p" />
    <input name="email-confirm" type="submit" class="button push-top qa-confirm-submit" value="Confirm">
    <a class="push-top-sml" href="{{routes.emailNotifications.index}}">cancel</a>
</form>

{{/content}}

{{/layout}}
