{{< layout}}

{{$pageTitle}}
GOV.UK Pay - Email notifications
{{/pageTitle}}

{{$mainContent}}

<h1 class="page-title heading-large">
    Add a custom paragraph to the email
</h1>
<h2 class="heading-medium">
  Current email template
</h2>
{{>email_notifications/email_body}}

{{#customEmailText}}
<h2 class="heading-medium">
Edit custom paragraph
</h2>
{{/customEmailText}}
{{^customEmailText}}
<h2 class="heading-medium">
Add a custom paragraph
</h2>
{{/customEmailText}}



<h3 class="heading-small push-bottom">
    Guidance on providing extra information
</h3>

<ul class="list-bullet push-bottom">
    <li>
        let the user know if they need to do something else to complete the service or application
    </li>
    <li>
        include information regarding delivery dates or how long it will take to process the payment
    </li>
    <li>
        link to a page on GOV.UK if you want to provide contact service details
    </li>
    <li>
        links must point to a .gov.uk domain and show the url in full
    </li>
    <li>
        dont use redirects or tracking links
    </li>
    <li>
        dont link directly to a sign in page
    </li>
    <li>
        use https where available
    </li>
    <li>
        dont request personal data passwords or payment details
    </li>
</ul>

<h2 class="heading-small">
    Enter extra information
</h2>
<p>
    This will appear after the payment summary in the email
</p>
<form method="post" action="{{routes.emailNotifications.confirm}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

    <textarea name="custom-email-text" class="qa-custom-p">{{customEmailText}}</textarea>
    <input name="email-edit" type="submit" class="button push-top qa-edit-submit" value="Continue">
    <a class="push-top-sml" href="{{routes.emailNotifications.index}}">
        cancel
    </a>
</form>
</ul>
{{/mainContent}}

{{/layout}}
