<div class="pay-email-template">
  <div class="pay-email-template-meta-item govuk-body govuk-!-margin-bottom-0 govuk-clearfix">
    <span class="pay-email-template-meta-item__key">
      From
    </span>
    <span class="pay-email-template-meta-item__value">
      GOV.UK Pay
    </span>
  </div>
  <div class="pay-email-template-meta-item govuk-body govuk-!-margin-bottom-0 govuk-clearfix">
    <span class="pay-email-template-meta-item__key">
      To
    </span>
    <span class="pay-email-template-meta-item__value">
      <span class="govuk-grey-text">[email address]</span>
    </span>
  </div>
  <div class="pay-email-template-meta-item govuk-body govuk-!-margin-bottom-0 govuk-clearfix">
    <span class="pay-email-template-meta-item__key">
      Subject
    </span>
    <span class="pay-email-template-meta-item__value">
      You have been refunded £<span class="govuk-grey-text">[amount]</span> by <span class="govuk-grey-text">{{ serviceName }}</span>
    </span>
  </div>
  <div class="pay-email-template-body">
    <h3 class="govuk-heading-m email-heading">Your payment of £<span class="govuk-grey-text">[amount]</span> to <span class="govuk-grey-text">{{ serviceName }}</span> was successful</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Refund for: <span class="govuk-grey-text">[description]</span></li>
      <li>Reference: <span class="govuk-grey-text">[service reference]</span></li>
      <li>Date of original payment: <span class="govuk-grey-text">[date]</span></li>
    </ul>
    <p class="govuk-body">Your refund may take up to 6 days to appear in your account.</p>
    <p class="govuk-body">This email address is not monitored. If you have any questions about your refund, contact the service you made the original payment to directly.</p>
  </div>
</div>

