<div class="email-template">

    <div class="email-meta-item">
        <span class="email-meta-key">
            From
        </span>
        <span class="email-meta-value">
            GOV.UK Pay
        </span>
    </div>
    <div class="email-meta-item">
        <span class="email-meta-key">
            To
        </span>
        <span class="email-meta-value">
            <span class="grey">[email address]</span>
        </span>
    </div>
    <div class="email-meta-item">
        <span class="email-meta-key">
            Subject
        </span>
        <span class="email-meta-value">
            Your payment of £<span class="grey">[amount]</span> to <span class="grey">{{ serviceName }}</span> was successful
        </span>
    </div>

    <div class="email-body">

        <p class="heading-medium email-heading">Your payment of £<span class="grey">[amount]</span> to <span class="grey">{{ serviceName }}</span> was successful</p>
        <ul class="list">
            <li>Payment for: <span class="grey">[description]</span></li>
            <li>Reference: <span class="grey">[service reference]</span></li>
            <li>Date of payment: <span class="grey">[date]</span></li>
        </ul>
        {% if customEmailText %}
          <p class="push-bottom qa-custom-p">{{customEmailText}}</p>
        {% else %}
          <span class="grey push-bottom qa-custom-p">*Optional custom paragraph - add this below*</span>
        {% endif %}

        <p>This email address is not monitored. If you have any questions about your payment, contact the service you made the payment to directly.</p>

    </div>

</div>

