{% extends "../layout.njk" %}

{% block page_title %}
  Email notifications - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="column-two-thirds">
  {% if not permissions.email_notification_toggle_update %}
    {% include "includes/settings-read-only.njk" %}
  {% endif %}

  <h1 class="page-title">
    Email notifications
  </h1>

  <p>
    GOV.UK Pay can send notifications to users who enter an email address.
  </p>

  {% if permissions.email_notification_template_read %}

  <h2 class="heading-medium">Settings</h2>

      <div id="email-notifications" class="form-group">
         <div id="email-nofifications-toggle-summary" class="form-group">
            <table>
                <tbody>
                    <tr>
                        <td class="table-data-label">
                            {% if emailCollectionMode === 'OPTIONAL' %}
                                <span>
                                    Users can choose to enter an email address
                                </span>
                            {% elif emailCollectionMode === 'OFF' %}
                                <span>
                                    Users do not have the option to enter an email address
                                </span>
                            {% else %}
                                <span>
                                    Users must enter an email address
                                </span>
                            {% endif %}
                        </td>
                        <td class="table-data-change">
                            <span>
                                <a id="email-notifications-toggle-collection" href="{{routes.emailNotifications.collection}}">Change</a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-data-label">
                            {% if emailEnabled %}
                                <span>
                                    Payment confirmation emails are on
                                </span>
                                {% if (emailCollectionMode === 'OPTIONAL') or (emailCollectionMode === 'OFF') %}
                                    <span class="grey">
                                        Users must enter an email address to receive notifications
                                    </span>
                                {% endif %}
                            {% else %}
                                <span>
                                    Payment confirmation emails are off
                                </span>
                            {% endif %}
                        </td>
                        <td class="table-data-change">
                            <span>
                                <a id="email-notifications-toggle-confirmation" href="{{routes.emailNotifications.confirmation}}">Change</a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-data-label">
                            {% if refundEmailEnabled %}
                                <span>
                                    Refund emails are on
                                </span>
                                {% if (emailCollectionMode === 'OPTIONAL') or (emailCollectionMode === 'OFF') %}
                                    <span class="grey">
                                        Users must enter an email address to receive notifications
                                    </span>
                                {% endif %}
                            {% else %}
                                 <span>
                                     Refund emails are off
                                 </span>
                            {% endif %}
                        </td>
                        <td class="table-data-change">
                            <span>
                                <a id="email-notifications-toggle-refund" href="{{routes.emailNotifications.refund}}">Change</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

  {% endif %}

  {% if permissions.email_notification_template_read %}

        <h1 class="page-title">
            Email templates
        </h1>

        <div id="email-templates" class="form-group">

            <ul class="tabs">
              {% if confirmationTabActive %}
              <li class="current">Confirmation email</li>
              <li><a id="revoked-keys-tab" href="{{ routes.emailNotifications.indexRefundTabEnabled }}">Refund email</a></li>
              {% else %}
              <li><a id="active-keys-tab" href="{{ routes.emailNotifications.index }}">Confirmation email</a></li>
              <li class="current">Refund email</li>
              {% endif %}
            </ul>

            {% if confirmationTabActive %}

                <h2 class="heading-medium">Confirmation email template</h2>

                <div class="tab-content current">

                    {% include "./email_confirmation_body.njk" %}

                    <h2 class="heading-medium">Custom paragraph</h2>

                    <p>
                        You can add a custom paragraph to give users extra information related to your service. For example, how long it will take to process the payment.
                    </p>

                    <a id="add-custom-paragraph-link" href="{{ routes.emailNotifications.edit }}" class="button">
                        Add a custom paragraph
                    </a>

                    <h2 class="heading-medium">What we mean by ‘description’</h2>

                    <p>
                        You added a payment description when you created a new payment call to the Pay API. If you’re using a payment link, the description is taken from the payment link title.
                    </p>

                </div>

            {% else %}

                <h2 class="heading-medium">Refund email template</h2>

                <div class="tab-content current">

                    {% include "./email_refund_body.njk" %}

                    <h2 class="heading-medium">What we mean by ‘description’</h2>

                    <p>
                        You added a payment description when you created a new payment call to the Pay API. If you’re using a payment link, the description is taken from the payment link title.
                    </p>

                </div>

            {% endif %}

        </div>

    {% endif %}

</div>
{% endblock %}
