{% extends "../layout-new.njk" %}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/button/macro.njk" import govukButton %}

{% macro changeLink(name) %}
  <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" id="email-notifications-toggle-{{name}}" href="{{routes.emailNotifications[name]}}">Change</a>
{% endmacro %}

{% macro tableCellText(text, optional=false) %}
  {{text}}
  {% if optional %}
    <span class="govuk-!-display-block govuk-text-grey">
      Users must enter an email address to receive notifications
    </span>
  {% endif %}
{% endmacro %}

{% block pageTitle %}
  Email notifications - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
  {% if not permissions.email_notification_toggle_update %}
    {% include "includes/settings-read-only.njk" %}
  {% endif %}

  <h1 class="govuk-heading-l">
    Email notifications
  </h1>

  <p class="govuk-body">
    GOV.UK Pay can send notifications to users. {% if false %}who enter an email address.{% endif %}
  </p>

  {% set emailRequired %}
    {% if emailCollectionMode === 'OPTIONAL' %}
      Users can choose to enter an email address
    {% elif emailCollectionMode === 'OFF' %}
      Users do not have the option to enter an email address
    {% else %}
      Users must enter an email address
    {% endif %}
  {% endset %}

  {% set paymentConfirmationEmailHTML %}
    {% if emailEnabled %}
      {% if (emailCollectionMode === 'OPTIONAL') or (emailCollectionMode === 'OFF') %}
        {{ tableCellText('Payment confirmation emails are on', true) }}
      {% else %}
        {{ tableCellText('Payment confirmation emails are on', false) }}
      {% endif %}
    {% else %}
      Payment confirmation emails are off
    {% endif %}
  {% endset %}

  {% set paymentRefundEmailHTML %}
    {% if refundEmailEnabled %}
      {% if (emailCollectionMode === 'OPTIONAL') or (emailCollectionMode === 'OFF') %}
        {{ tableCellText('Refund emails are on', true) }}
      {% else %}
        {{ tableCellText('Refund emails are on', false) }}
      {% endif %}
    {% else %}
      Refund emails are off
    {% endif %}
  {% endset %}

  {% if permissions.email_notification_template_read %}
    {{
      govukTable({
        caption: "Settings",
        captionClasses: "govuk-heading-m govuk-!-margin-top-6",
        attributes: {
          id: "email-nofifications-toggle-summary"
        },
        rows: [
          [
            {
              text: emailRequired
            },
            {
              html: changeLink('collection'),
              classes: "govuk-text-align-right"
            }
          ],
          [
            {
              html: paymentConfirmationEmailHTML
            },
            {
              html: changeLink('confirmation'),
              classes: "govuk-text-align-right"
            }
          ],
          [
            {
              html: paymentRefundEmailHTML
            },
            {
              html: changeLink('refund'),
              classes: "govuk-text-align-right"
            }
          ]
        ]
      })
    }}
  {% endif %}

  {% if permissions.email_notification_template_read %}

    <h1 class="govuk-heading-l">Email templates</h1>

    <div class="govuk-tabs">
      <ul class="govuk-tabs__list">
        {% if confirmationTabActive %}
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#confirmation-email-template" aria-selected="true">
              Confirmation email
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a id="refund-tab" class="govuk-tabs__tab govuk-tabs__tab" href="{{ routes.emailNotifications.indexRefundTabEnabled }}">
              Refund email
            </a>
          </li>
        {% else %}
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="{{ routes.emailNotifications.index }}">
              Confirmation email
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#refund-email-template" aria-selected="true">
              Refund email
            </a>
          </li>
        {% endif %}
      </ul>

      {% if confirmationTabActive %}
        <h2 id="confirmation-email-template" class="govuk-heading-m govuk-!-margin-top-6">Confirmation email template</h2>
        <div class="tab-content current">
          {% include "./email_confirmation_body.njk" %}
          <h2 class="govuk-heading-m">Custom paragraph</h2>
          <p class="govuk-body">
            You can add a custom paragraph to give users extra information related to your service. For example, how long it will take to process the payment.
          </p>

          {{
            govukButton({
              href: routes.emailNotifications.edit,
              text: "Add a custom paragraph",
              attributes: {
                id: "add-custom-paragraph-link"
              }
            })
          }}

          <h2 class="govuk-heading-m">What we mean by ‘description’</h2>
          <p class="govuk-body">
            You added a payment description when you created a new payment call to the Pay API. If you’re using a payment link, the description is taken from the payment link title.
          </p>
        </div>
      {% else %}
        <h2 id="refund-email-template" class="govuk-heading-m govuk-!-margin-top-6">Refund email template</h2>

        <div class="tab-content current">
          {% include "./email_refund_body.njk" %}
          <h2 class="govuk-heading-m">What we mean by ‘description’</h2>
          <p class="govuk-body">
            You added a payment description when you created a new payment call to the Pay API. If you’re using a payment link, the description is taken from the payment link title.
          </p>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}
