{% extends "../layout-with-side-nav.njk" %}

{% macro changeLink(name) %}
    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" id="email-notifications-toggle-{{name}}" href="{{routes.emailNotifications[name]}}">{% if permissions.email_notification_toggle_update %}Change{% else %}View{% endif %}</a>
{% endmacro %}

{% macro tableCellText(text, optional=false) %}
  {{text}}
  {% if optional %}
    <span class="govuk-!-display-block pay-text-grey">
      Users must enter an email address to receive notifications
    </span>
  {% endif %}
{% endmacro %}

{% block pageTitle %}
  Email notifications - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
  {% if not permissions.email_notification_toggle_update %}
    {% include "includes/settings-read-only.njk" %}
  {% endif %}

  {% if permissions.email_notification_template_read %}
    <h1 class="govuk-heading-l">Email templates</h1>

    <p class="govuk-body-l">
      GOV.UK Pay can send notifications to users{% if emailCollectionMode !== 'MANDATORY' %} who enter an email address{% endif %}.
    </p>

    <div class="govuk-tabs">
      <ul class="govuk-tabs__list">
        {% if confirmationTabActive %}
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#confirmation-email-template" aria-selected="true">
              Confirmation email
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a id="refund-tab" class="govuk-tabs__tab govuk-tabs__tab" href="{{ routes.emailNotifications.indexRefundTabEnabled }}">
              Refund email
            </a>
          </li>
        {% else %}
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="{{ routes.emailNotifications.index }}">
              Confirmation email
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#refund-email-template" aria-selected="true">
              Refund email
            </a>
          </li>
        {% endif %}
      </ul>

      {% if confirmationTabActive %}
        <h2 id="confirmation-email-template" class="govuk-heading-m govuk-!-margin-top-6">Confirmation email template</h2>
        <div class="tab-content current">
          {% include "./email_confirmation_body.njk" %}
          <h2 class="govuk-heading-m">Custom paragraph</h2>
          <p class="govuk-body">
            You can add a custom paragraph to give users extra information related to your service. For example, how long it will take to process the payment.
          </p>

          {% if permissions.email_notification_toggle_update %}
            {{
              govukButton({
                href: routes.emailNotifications.edit,
                text: "Add a custom paragraph",
                attributes: {
                  id: "add-custom-paragraph-link"
                }
              })
            }}
          {% else %}
            {{
              govukButton({
                text: "Add a custom paragraph",
                attributes: {
                  id: "add-custom-paragraph-link"
                },
                disabled: true
              })
            }}
          {% endif %}

          <h2 class="govuk-heading-m">What we mean by ‘description’</h2>
          <p class="govuk-body">
            You added a payment description when you created a new payment call to the Pay API. If you’re using a payment link, the description is taken from the payment link title.
          </p>
        </div>
      {% else %}
        <h2 id="refund-email-template" class="govuk-heading-m govuk-!-margin-top-6">Refund email template</h2>

        <div class="tab-content current">
          {% include "./email_refund_body.njk" %}
          <h2 class="govuk-heading-m">What we mean by ‘description’</h2>
          <p class="govuk-body">
            You added a payment description when you created a new payment call to the Pay API. If you’re using a payment link, the description is taken from the payment link title.
          </p>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
