{{< layout}}

{{$pageTitle}}
Email notifications - {{currentServiceName}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{{/pageTitle}}

{{$mainContent}}

<h1 class="page-title">
  Email notifications
</h1>
{{#permissions.email_notification_template_read}}
{{#emailEnabled}}
<p>
  Payment confirmation emails are turned on for this account
</p>

{{#permissions.email_notification_toggle_update}}
<a href="{{routes.emailNotifications.offConfirm}}" class="qa-off-confirm-link"> Turn off email notifications</a>
{{/permissions.email_notification_toggle_update}}

<h2 class="heading-medium">
  Current email template
</h2>
{{>email_notifications/email_body}}
<p class="small push-top">
  The optional custom paragraph should give users extra information related
  to your service.
</p>
{{#permissions.email_notification_paragraph_update}}
{{#customEmailText}}
<a class="button qa-edit-link" href="/email-notifications/edit">
  Edit custom paragraph
</a>
{{/customEmailText}}
{{^customEmailText}}
<a class="button qa-edit-link" href="/email-notifications/edit">
  Add a custom paragraph
</a>
{{/customEmailText}}
{{/permissions.email_notification_paragraph_update}}
{{/emailEnabled}}
{{^emailEnabled}}
<h1 class="heading-medium">
  Email notifications are turned off
</h1>

{{#permissions.email_notification_toggle_update}}
<p>
  Turn on payment confirmation emails so your users receive<br/>helpful information relating to their payments.
</p>
<form method="post" action="{{routes.emailNotifications.on}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <input name="email-on" type="submit" class="button push-top qa-on" value="Turn on email notifications">
</form>
{{/permissions.email_notification_toggle_update}}
{{/emailEnabled}}

{{/permissions.email_notification_template_read}}


{{/mainContent}}

{{/layout}}
