{{< layout}}

{{$content}}

<h1 class="heading-medium">
  Are you sure you want to turn off email notifications?
</h1>
<p class="info">
  Your users won’t receive payment confirmation emails from GOV.UK Pay if you do this.
</p>
<form method="post" action="{{routes.emailNotifications.off}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <input name="email-off" type="submit" class="button push-top qa-off" value="Turn off email notifications">
</form>

{{/content}}

{{/layout}}
