{{< layout}}

{{$pageTitle}}
GOV.UK Pay - Email notifications
{{/pageTitle}}

{{$mainContent}}

<h1 class="heading-medium">
  Are you sure you want to turn off email notifications?
</h1>
<div class="text">
    <div class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong class="bold-small">
          Your users won’t receive payment confirmation emails from GOV.UK Pay if you do this.
      </strong>
    </div>
</div>
<form method="post" action="{{routes.emailNotifications.off}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <input name="email-off" type="submit" class="button push-top qa-off" value="Turn off email notifications">
</form>

{{/mainContent}}

{{/layout}}
