{% extends "../layout.njk" %}

{% block pageTitle %}
  Email notifications - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if permissions.email_notification_toggle_update %}
    {% set isReadyOnly = false %}
  {% else %}
    {% set isReadyOnly = true %}
  {% endif %}

  {% if isReadyOnly %}
    {% include "includes/settings-read-only.njk" %}
  {% endif %}

  <form id="refund-email-form" method="post" action="{{routes.emailNotifications.refund}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="email-confirmation-enabled-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
          Do you want to send refund emails?
          </h1>
        </legend>
        <span id="email-confirmation-enabled-hint" class="govuk-hint">
        Users will receive an email confirming their refund from GOV.UK Pay
        </span>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="email-confirmation-yes-input" name="email-refund-enabled" type="radio" value="true" {{'checked' if refundEmailEnabled === true else ''}} {{'disabled' if isReadyOnly === true else ''}} data-aria-controls="conditional-email-refund-yes-input">
            <label class="govuk-label govuk-radios__label" for="email-refund-yes-input">
              Yes
            </label>
          </div>
          {% if (emailCollectionMode === 'OFF') or (emailCollectionMode === 'OPTIONAL') %}
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-email-refund-yes-input">
              {% if emailCollectionMode === 'OFF' %}
                {{
                  govukWarningText({
                    text: 'Users will not receive refund emails because they do not have the option to enter an email address. Change your settings to let them enter an email address.',
                    iconFallbackText: 'Warning'
                  })
                }}
              {% elif emailCollectionMode === 'OPTIONAL' %}
                {{
                  govukWarningText({
                    text: 'Users might not receive refund emails because entering an email address is optional. You can change your settings to make entering an email address mandatory.',
                    iconFallbackText: 'Warning'
                  })
                }}
              {% endif %}
            </div>
          {% endif %}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="email-refund-no-input" name="email-refund-enabled" type="radio" value="false" {{'checked' if refundEmailEnabled === false else ''}} {{'disabled' if isReadyOnly === true else ''}}>
            <label class="govuk-label govuk-radios__label" for="email-refund-no-input">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    {% if not isReadyOnly %}
      {{
        govukButton({
          text: 'Save changes'
        })
      }}
    {% endif %}
    <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state"href="{{routes.settings.index}}">
        {{ 'Go back' if isReadyOnly else 'Cancel' }}
      </a>
    </p>
  </form>
</div>
{% endblock %}
