<form method="post">
  <p class="govuk-body">Reporting columns are added to your CSV payment reports. They are not shown to the user making
    the payment.</p>
  <p class="govuk-body">If you are adding reporting columns to more than one service or payment link, use consistent
    wording. This will make it easier to read your payment report.</p>

  <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}" />

  {{ govukInput({
    name: "reportingColumn",
    id: "reporting-column",
    label: {
      text: "Column header",
      classes: "govuk-label--m"
    },
    hint: {
      text: "For example, ‘cost centre’ or ‘fee type’."
    },
    value: formValues.reportingColumn,
    errorMessage: { text: errors.formErrors['reportingColumn'] } if errors.formErrors['reportingColumn'] else false
  }) }}

  {{ govukInput({
    name: "cellContent",
    id: "cell-content",
    label: {
      text: "Cell content",
      classes: "govuk-label--m"
    },
    hint: {
      text: "For example, if you put ‘cost centre’ as your heading, you could add ‘12345’ as the cost centre code."
    },
    value: formValues.cellContent,
    errorMessage: { text: errors.formErrors['cellContent'] } if errors.formErrors['cellContent'] else false
  }) }}

  <div class="govuk-button-group govuk-!-margin-bottom-9">
    {% if createJourney %}
      {{ govukButton({
        text: "Add reporting column",
        name: "action",
        value: "edit"
      }) }}
    {% else %}
      {{ govukButton({
        text: "Save changes",
        name: "action",
        value: "edit"
      }) }}
      {{ govukButton({
        text: "Delete reporting column",
        classes: "govuk-button--secondary",
        name: "action",
        value: "delete"
      }) }}
    {% endif %}
  </div>
</form>
