{% if isWelsh %}
  {% set referenceLabelHint = 'For example, <span lang="cy">“rhif anfoneb”</span>' %}
  {% set referenceHintHint = 'Explain in Welsh what the payment reference looks like and where to find it.' %}
  {% set lang = 'cy' %}
{% else %}
  {% set referenceLabelHint = 'For example, “invoice number”' %}
  {% set referenceHintHint = 'Tell users what the payment reference looks like and where they can find it.' %}
  {% set lang = 'en' %}
{% endif %}

{% set customReferenceHTML %}
  {{
  govukInput({
    id: "reference-label",
    name: "referenceLabel",
    value: formValues.referenceLabel,
    spellcheck: true,
    errorMessage: { text: errors.formErrors['referenceLabel'] } if errors.formErrors['referenceLabel'] else false,
    label: {
      text: "Name of payment reference",
      classes: "govuk-label--s govuk-!-margin-top-3"
    },
    hint: {
      html: referenceLabelHint
    },
    attributes: {
      "lang": lang
    }
  })
  }}

  {{
  govukCharacterCount({
    id: "reference-hint",
    name: "referenceHint",
    value: formValues.referenceHint,
    spellcheck: true,
    errorMessage: { text: errors.formErrors['referenceHint'] } if errors.formErrors['referenceHint'] else false,
    maxlength: 255,
    label: {
      text: "Hint text (optional)",
      classes: "govuk-label--s"
    },
    hint: {
      text: referenceHintHint
    },
    attributes: {
      "maxlength": "255",
      "lang": lang
    }
  })
  }}
{% endset %}

<form method="post">
  <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

  {{
  govukRadios({
    idPrefix: "reference-type-group",
    name: "referenceTypeGroup",
    fieldset: {
      legend: {
        text: "Will your users already have a payment reference?",
        isPageHeading: createJourney,
        classes: "govuk-fieldset__legend--l" if createJourney else "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "You can use numbers or words in your payment reference. For example, you can include the applicant's name or an existing reference number."
    },
    errorMessage: { text: errors.formErrors['referenceTypeGroup'] } if errors.formErrors['referenceTypeGroup'] else false,
    items: [
      {
        value: "custom",
        text: "Yes",
        hint: {
        text: "Either the paying user will provide the reference or I will be able to pre-fill the payment link with a reference for them"
      },
        checked: formValues.referenceTypeGroup === "custom",
        id: "reference-type-custom",
        conditional: {
        html: customReferenceHTML
      }
      },
      {
        value: "standard",
        text: "No - use a reference generated by GOV.UK Pay",
        checked: formValues.referenceTypeGroup === "standard",
        id: "reference-type-standard"
      }
    ]
  })
  }}

  <button class="govuk-button" type="submit">{% if createJourney %}Continue{% else %}Save changes{% endif %}</button>
</form>

{% if not isWelsh %}
  <h3 class="govuk-heading-s">Example of what users will see</h3>
  <img class="govuk-!-margin-bottom-6" src="/assets/images/payment-links/reference-page.svg" alt="Screenshot of a payment link page showing a input for the user to enter a reference">
{% endif %}
