// We set all our pages wider in selfservice because it helps people viewing the list of transactions
$govuk-page-width: 1200px;

@import "govuk-frontend/govuk/all";
@import "accessible-autocomplete";

@import "components/cookie-message";
@import "components/header";
@import "components/phase-tag";
@import "components/navigation";
@import "components/environment-tag";
@import "components/dashboard-activity";
@import "components/flex-grid";
@import "components/links-box";
@import "components/links-container";
@import "components/flash";
@import "components/text-align";
@import "components/button";
@import "components/accessible-autocomplete";
@import "components/related-information";
@import "components/service-switch";
@import "components/code";
@import "components/negative-margin";
@import "components/links";
@import "components/api-keys";
@import "components/target-to-show";
@import "components/info-box";
@import "components/email-template";
@import "components/colour";
@import "components/currency-input";
@import "components/transaction-list";
@import "components/transaction-filter";
@import "components/multi-select";
@import "components/pagination";
@import "components/transaction-refund";
@import "components/vertical-align";
@import "components/borders";
@import "components/request-to-go-live";
@import "components/error-label";
@import "components/digital-wallet";
@import "components/padding";
@import "components/reporting-columns";
@import "components/account-status-panel";
@import "components/psp-go-live-panel";
@import "components/demo-payment";
@import "components/my-profile";
@import "components/prototype-links";
