// Application reset
@import "reset/_reset";

// govuk_frontend_toolkit dependencies
// https://github.com/alphagov/govuk_frontend_toolkit#usage
@import "_shims";
@import "_css3";
@import "_conditionals";
@import "_colours";
@import "_measurements";
@import "_typography";
@import "_grid_layout";
@import "design-patterns/_buttons";

// Override New Transport font-stack from front-end toolkit
$grey-8: #fff;

@mixin media-down($mobile) {
  @content;
}

@import 'govuk-elements';

// Application mixins and helpers
@import "helpers/_margins";
@import "helpers/_headings";
@import "helpers/_tables";
@import "helpers/_key_list";
@import "helpers/_admin_list";
@import "helpers/_buttons";
@import "helpers/_alerts";
@import "helpers/_mixins";
@import "helpers/_movement";
@import "helpers/_links";
@import "helpers/_text_treatment";
@import "helpers/_forms";

@import "modules/_service_switcher";
@import "modules/_transactions_filter";
@import "modules/_dev_tokens";
@import "modules/_transactions_list";
@import "modules/_transaction_detail";
@import "modules/_pagination";
@import "modules/_download_link";
@import "modules/_display_size";
@import "modules/_total_results";
@import "modules/_payment_types";
@import "modules/_transaction_refund";
@import "modules/_flash";
@import "modules/service_type";
@import "modules/_related_information";
@import "modules/_marked_grid";
@import "modules/_toggle_3ds";

@import 'gov-uk-overrides/_forms';
@import 'gov-uk-overrides/_icons';
@import 'gov-uk-overrides/_movement';
@import 'gov-uk-overrides/_footer-categories';
@import 'gov-uk-overrides/_grid';

@import "template/template";
@import "template/fonts";
