test
docs
.gitignore
.git
.github
.sass-lint.yml
CONTRIBUTING.md
env.sh
node_modules
node_modules_local
docker/build_and_test.Dockerfile
Dockerfile
Gruntfile.js
Jenkinsfile
.snyk
build-local.sh
pacts
.settings
.project
*.log
*.txt
