.idea
.sass-cache
.DS_Store
.start.pid
.project
.settings
.start.pid
config/dev-env.json
public
govuk_modules
node_modules/*
*/node_modules/*
database.sqlite
nightwatch-reports
nightwatch-screenshots
*.txt
*.log

# IntelliJ gubbins
.idea
*.iml
*.ipr
*.iws

create_user.js$
