{% extends "../settings-layout.njk" %}

{% block settingsPageTitle %}
  Card payments
{% endblock %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">Apple Pay</h1>
  <h2 class="govuk-heading-s">
    If you turn on Apple Pay:
  </h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>corporate card fees cannot be applied to payments made with Apple Pay.</li>
  </ul>

  <form action="{{ formAction }}" method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {{ govukRadios({
      name: "applePay",
      fieldset: {
        legend: {
          text: "Apple Pay",
          classes: "govuk-fieldset__legend--m"
        }
      },
      value: currentState,
      items: [
        {
          value: "on",
          text: "On",
          id: "apple-pay-on"
        },
        {
          value: "off",
          text: "Off",
          id: "apple-pay-off"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save changes"
    }) }}
  </form>

{% endblock %}
