{% extends "../settings-layout.njk" %}

{% set settingsPageTitle = "Default billing address country" %}

{% block settingsContent %}
  <form method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
    {{ govukRadios({
      name: "defaultBillingAddress",
      fieldset: {
        legend: {
          text: settingsPageTitle,
          classes: 'govuk-fieldset__legend--l',
          isPageHeading: true
        }
      },
      hint: {
        text: 'By default, the country field in the user’s billing address will be automatically set to United Kingdom. If your service frequently takes payments from overseas users, you can turn this off.'
      },
      value: currentState,
      errorMessage: { text: errors.formErrors['defaultBillingAddress'] } if errors.formErrors['defaultBillingAddress'] else false,
      items: [
        {
          value: "on",
          text: "On",
          id: "default-billing-address-on"
        },
        {
          value: "off",
          text: "Off",
          id: "default-billing-address-off"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save changes"
    }) }}
  </form>

{% endblock %}
