{% extends "../settings-layout.njk" %}

{% block settingsPageTitle %}
  Worldpay details
{% endblock %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">Your Worldpay credentials</h1>

  <p class="govuk-body govuk-!-margin-bottom-6">
    Go to your <a class="govuk-link" href="https://secure.worldpay.com/sso/public/auth/login.html">Worldpay account</a>
    to get the details you need to enter here or
    <a class="govuk-link" href="https://docs.payments.service.gov.uk/switching_to_live/set_up_a_live_worldpay_account/#connect-your-live-account-to-worldpay">read more in our documentation</a>.
  </p>

  <form id="credentials-form" method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

    {{ govukInput({
      label: {
        text: 'Merchant code'
      },
      id: 'merchantCode',
      name: 'merchantCode',
      classes: 'govuk-input--width-20',
      type: 'text',
      value: merchantCode,
      errorMessage: errors.formErrors.merchantCode and {
        text: errors.formErrors.merchantCode
      }
    })
    }}

    {{ govukInput({
      label: {
        text: 'Username'
      },
      id: 'username',
      name: 'username',
      classes: 'govuk-input--width-20',
      type: 'text',
      value: username,
      errorMessage: errors.formErrors.username and {
        text: errors.formErrors.username
      },
      autocomplete: 'off'
    })
    }}

    {{ govukInput({
      label: {
        text: 'Password'
      },
      id: 'password',
      name: 'password',
      classes: "govuk-input--width-20",
      type: 'password',
      value: password,
      errorMessage: errors.formErrors.password and {
        text: errors.formErrors.password
      },
      autocomplete: 'off'
    })
    }}

    {{
    govukButton({
      text: 'Save credentials',
      attributes: {
        id: 'submitCredentials'
      }
    })
    }}
  </form>
{% endblock %}
