<div id="{{token.token_link}}" class="key-list-item">
  {% if token.description %}
    <h3 id="description-{{token.token_link}}" class="govuk-heading-s govuk-!-margin-bottom-1 js-edit-description js-old-description">{{token.description}}</h3>
  {% endif %}
  <div class="key-list-item-meta">
    <dl class="qa-created-by" id="created-by-{{token.token_link}}">
      <dt>Created by: </dt>
      <dd>{{token.created_by}}</dd>
    </dl>
    <dl class="qa-created-date" id="date-created-{{token.token_link}}">
      <dt>Date created: </dt>
      <dd>{{token.issued_date}}</dd>
    </dl>
    {% if token.last_used %}
    <dl class="qa-last-used" id="date-used-{{token.token_link}}">
      <dt>Last used: </dt>
      <dd>{{token.last_used}}</dd>
    </dl>
    {% else %}
    <p class="qa-last-used govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold">Not used</p>
    {% endif %}
    {% if token.revoked %}
      <p class="govuk-body govuk-!-font-size-16" id="revoked-{{token.token_link}}">Key was revoked on {{token.revoked}}</p>
    {% endif %}
  </div>

  {% if not token.revoked %}
  <div>
    {% if permissions.tokens_update %}
      <a href="#update-{{token.token_link}}" class="govuk-link govuk-link--no-visited-state target-to-show--toggle js-toggle-description">
        Update key<span class="govuk-visually-hidden"> for {{token.description}}</span></a>
    {% endif %}
    {% if permissions.tokens_delete %}
      <a href="#delete-{{token.token_link}}" class="govuk-link govuk-link--no-visited-state target-to-show--toggle js-toggle-revoke govuk-!-margin-left-3">
        Revoke key<span class="govuk-visually-hidden"> for {{token.description}}</span>
      </a>
    {% endif %}

    {% if permissions.tokens_delete %}
    <form class="target-to-show" id="delete-{{token.token_link}}" method="POST" action="{{formatAccountPathsFor(routes.account.apiKeys.revoke, currentGatewayAccount.external_id)}}">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
      <input type="hidden" name="token_link" value="{{token.token_link}}"/>
      <div class="govuk-error-summary govuk-!-margin-top-6" role="group" aria-labelledby="error-summary" tabindex="-1">
        <h2 class="govuk-error-summary__title" id="error-summary">
          Are you sure you want to revoke this API key?
        </h2>
        <p class="govuk-body">
          If revoked it will no longer enable integration with the platform.
        </p>
        <div class="button-group">
          {{
            govukButton({
              text: "Yes, revoke this API key",
              classes: "govuk-button--warning js-revoke-token",
              attributes: {
                id: "revoke-token" + token.token_link
              }
            })
          }}
          <a class="govuk-link govuk-link--no-visited-state
govuk-link--no-visited-state target-to-show--cancel" href="#main">Cancel</a>
        </div>
      </div>
    </form>
    {% endif %}
    {% if permissions.tokens_update %}
      <form class="target-to-show govuk-!-margin-top-6" id="update-{{token.token_link}}" method="POST" action="{{formatAccountPathsFor(routes.account.apiKeys.update, currentGatewayAccount.external_id)}}">
        <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
        <input type="hidden" name="token_link" value="{{token.token_link}}"/>
        {{
          govukInput({
            id: "description",
            name: "description",
            value: token.description,
            label: {
              text: "Edit API key description"
            },
            type: "text",
            classes: "govuk-input--width-20 js-new-description",
            attributes: {
              maxlength: "100"
            }
          })
        }}

        {% set buttonID %}update-token-{{token.token_link}}{% endset %}
        {{
          govukButton({
            text: "Save changes",
            classes: "js-save-description",
            attributes: {
              id: buttonID
            }
          })
        }}
        <a class="govuk-link govuk-link--no-visited-state
govuk-link--no-visited-state target-to-show--cancel js-toggle-description" href="#main">Cancel</a>
      </form>
    {% endif %}
  </div>
  {% endif %}
</div>
