<h2 class="govuk-heading-m govuk-!-margin-top-6">
  {% if tokens.length %}
    {% if tokens_singular %}
      There is 1 {{token_state}} API key
    {% else %}
      There are {{tokens.length}} {{token_state}} API keys
    {% endif %}
  {% else %}
  There are no {{token_state}} API keys
  {% endif %}
</h2>

{% if tokens.length %}
<div class="key-list">
  {% for token in tokens %}
    {% include "./_key.njk" %}
  {% endfor %}
</div>
{% endif %}

