{% extends "../layout.njk" %}

{% block pageTitle %}
Create an API key - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if not token %}
  <h1 class="govuk-heading-l page-title">Create an API key</h1>
    <form class="form" method="post" action="{{formatAccountPathsFor(routes.account.apiKeys.create, currentGatewayAccount.external_id)}}">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

      {{
        govukInput({
          id: "description",
          name: "description",
          type: "text",
          attributes: {
            maxlength: "100"
          },
          classes: "govuk-input--width-20",
          label: {
            text: "Add a description for the key"
          },
          hint: {
            text: "For example, “John Smith’s API key”"
          }
        })
      }}
      <p class="govuk-body">When generated the key will only be shown once.</p>

      {{
        govukButton({
          text: "Continue",
          attributes: {
            id: "generate-button"
          }
        })
      }}
    </form>
    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="{{formatAccountPathsFor(routes.account.apiKeys.index, currentGatewayAccount.external_id)}}">Cancel</a>
    </p>
  {% else %}
    <h1 class="govuk-heading-l page-title">New API key</h1>
    <p class="govuk-body">Copy your key to somewhere safe. You won’t be able to see it again once you leave this page. You must copy the whole key, including the <code>api_test_</code> or <code>api_live_</code> prefix.</p>

    <h3 class="govuk-heading-s">
      {{description}}
    </h3>
    <div>
      <span id="token" class="code copy-this-api-key">{{token}}</span>
    </div>

    {{
      govukButton({
        text: "Copy API key to clipboard",
        classes: "govuk-button--secondary govuk-!-margin-top-4",
        attributes: {
          id: "generate-button",
          "data-copy-text": true,
          "data-target": "copy-this-api-key",
          "data-success": "API key has been copied",
          "data-notification-target": "copy-this-api-key-notification" 
        }
      })
    }}

    <div class="copy-this-api-key-notification govuk-visually-hidden" aria-live="assertive"></div>

    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="{{formatAccountPathsFor(routes.account.apiKeys.index, currentGatewayAccount.external_id)}}" id="finish-link">
        Back to API keys
      </a>
    </p>
  {% endif %}
</div>
{% endblock %}
