{% extends "../layout.njk" %}

{% block pageTitle %}
API Keys - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l page-title">API Keys</h1>

  <p class="govuk-body">Use these to connect your digital service to Pay, and to access the reporting API.</p>
  <p class="govuk-body">
    You do not need API keys to use 
    <a class="govuk-link" href="https://www.payments.service.gov.uk/govuk-payment-pages/">payment links</a>.
  </p>
  
  {% if permissions.tokens_create %}
    {{
      govukButton({
        text: "Create a new API key",
        href: formatAccountPathsFor(routes.account.apiKeys.create, currentGatewayAccount.external_id),
        classes: "generate-key govuk-!-margin-top-6",
        attributes: {
          id: "create-api-key"
        }
      })
    }}
  {% endif %}

  {% set token_state = "active" %}
  {% set header_id = "active-tokens" %}
  {% include "./_keys.njk" %}

  <div class="govuk-body key-list-item">
    <a class="govuk-link" href="{{ formatAccountPathsFor(routes.account.apiKeys.revoked, currentGatewayAccount.external_id) }}" id="revoked-keys-link">Show revoked keys</a>
  </div>
</div>
{% endblock %}
