{% extends "../layout.njk" %}

{% block pageTitle %}
API Keys - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l page-title">API Keys</h1>
  
  {% include "./_keys.njk" %}
</div>
{% endblock %}
