{% extends "../layout-with-side-nav.njk" %}
{% block page_title %}
Create an API key - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
<form>
  <h1 class="page-title">Update an API key</h1>
  <div class="form-group">
    <label class="form-label-bold" for="description">
      Edit API key description
      <span class="form-hint">For example, ‘John Smith’s API key’</span>
    </label>
    <input id="description" name="description" type="text" maxlength="100" class="form-control"/>
  </div>
  <div class="button-group">
    <button type="submit" id="save-description-{{token.token_link}}" href="#{{token.token_link}}" class="button">
      Save changes<span class="visuallyhidden"> to {{token.description}}</span>
    </button>
    <a id="cancel-{{token.token_link}}" href="{{routes.apiKeys.index}}" class="button-link">
      Cancel<span class="visuallyhidden"> edits to {{token.description}}</span>
    </a>
  </div>
</form>
{% endblock %}
