{% extends "../../layout.njk" %}
{% from "includes/system-messages.njk" import systemMessages %}

{% block pageTitle %}
  Settings - {% block settingsPageTitle %}{% endblock %} - GOV.UK Pay
{% endblock %}

{% block sideNavigation %}
  {% include "./_settings-navigation.njk" %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-three-quarters">
    {% if messages is defined and messages is iterable and messages|length > 0 %}
      {{ systemMessages({ messages: messages }) }}
    {% endif %}

    {% block settingsContent %}{% endblock %}
  </div>
{% endblock %}
