{% extends "../layout.njk" %}

{% block page_title %}
  Merchant details - {{currentServiceName}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  {% if success %}
  <div class="notification">
      Merchant details updated
  </div>
  {% endif %}
  {% if errors %}
  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
      There was a problem with the details you gave for:
    </h2>
    <ul class="error-summary-list">
      {% if errors.merchant-name %}
      <li><a href="#merchant-name">Name</a></li>
      {% endif %}
      {% if errors.address-line1 %}
      <li><a href="#address-line1">Address</a></li>
      {% endif %}
      {% if errors.address-city %}
      <li><a href="#address-city">City</a></li>
      {% endif %}
      {% if errors.address-postcode %}
      <li><a href="#address-postcode">Postcode</a></li>
      {% endif %}
      {% if errors.address-country %}
      <li><a href="#address-country">Country</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
  <h1 class="page-title">Merchant details</h1>

  <p>Payment card schemes require the details of the merchant taking payment to be shown on payment pages. This information is displayed in the footer.</p>

  <form id="merchant-details-form" method="post" action="{{routes.merchantDetails.update}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <div class="form-group">
      <label class="form-label" for="merchant-name">
        <span class="heading-small">Merchant name</span>
        <span class="form-hint form-control-2-3">
          Organisation or department that holds the bank account with payment service provider
        </span>
      </label>
      {% if errors.merchant-name %}
        <span class="error-message">
          Please enter a valid name
        </span>
      {% endif %}
      <input class="form-control form-control-2-3" id="merchant-name" name="merchant-name" type="text" value="{{merchant_details.name}}">
    </div>
    <div class="form-group">
      <h2 class="heading-small billing-address-label">Merchant address</h2>
      <div class="payment-type-intro">
      </div>
      <fieldset>
        <div class="form-group">
            <label class="form-label" for="address-line1">
              Building name/number and street
            </label>
            {% if errors.address-line1 %}
            <span class="error-message">
              Please enter a valid address
            </span>
            {% endif %}
            <input class="form-control form-control-2-3" id="address-line1" name="address-line1" type="text" value="{{merchant_details.address_line1}}">
            <input class="form-control form-control-2-3" id="address-line2" name="address-line2" type="text" value="{{merchant_details.address_line2}}">
        </div>
        <div class="form-group reduced-margin">
          <label class="form-label" for="address-city">
            Town or city
          </label>
          {% if errors.address-city %}
          <span class="error-message">
            Please enter a valid town or city
          </span>
          {% endif %}
          <input class="form-control  form-control-2-3" id="address-city" name="address-city" type="text" value="{{merchant_details.address_city}}">
        </div>
        <div class="form-group reduced-margin">
          <label class="form-label" for="address-postcode">
            Postcode
          </label>
          {% if errors.address-postcode %}
          <span class="error-message">
            Please enter a valid postcode
          </span>
          {% endif %}
          <input class="form-control form-control-2-3" id="address-postcode" name="address-postcode" type="text" value="{{merchant_details.address_postcode}}">
        </div>
        <div class="form-group">
          <label class="form-label" for="address-country">
              Country
          </label>
          {% if errors.address-country %}
          <span class="error-message">
            Please enter a valid country
          </span>
          {% endif %}
          <div class="dropdown">
            <select name="address-country" class="form-control form-control-2-3" id="address-country">
              {% for country in countries %}
              <option
                value="{{ country.entry.country }}"
                data-aliases="{{ country.entry.aliases }}"
                data-weighting="{{ country.entry.weighting }}"
                {% if country.entry.selected %}selected="selected"{% endif %}>{{ country.entry.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="form-group">
        <input id="save-merchant-details" class="button" type="submit" value="Save">
    </div>
  </form>
{% endblock %}
