{% set statusStyleMap = {
"CREATED": "govuk-tag--grey",
"ACTIVE": "govuk-tag--green",
"CANCELLED": "govuk-tag--yellow",
"INACTIVE": "govuk-tag--yellow"
} %}
{% set statusTextMap = {
"CREATED": "Needs payment details",
"ACTIVE": "Active",
"CANCELLED": "Cancelled",
"INACTIVE": "Inactive"
} %}

{% macro agreementStatusTag(status) %}
<strong class="govuk-tag {{ statusStyleMap[status] }}">{{ statusTextMap[status] }}</strong>
{% endmacro %}