<h2 id="prototyping__links-header" class="govuk-heading-m">
  {% if productsLength === 1 %}
    There is 1 prototype link
  {% elif productsLength > 1 %}
    There are {{ productsLength }} prototype links
  {% else %}
    There are no prototype links
  {% endif %}
</h2>
<div class="key-list">
  {% for product in products %}
    <div class="key-list-item prototyping__links-list-item">
      <h3 class="govuk-heading-s">
        <a class="govuk-link" href="{{ product.links.pay.href }}">{{ product.links.pay.href }}</a>
      </h3>
      <dl class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">
        <dt class="govuk-!-display-inline-block">Payment description:</dt>
        <dd
          class="govuk-!-display-inline-block govuk-!-font-weight-bold govuk-!-margin-left-0 prototyping__links-list-item-description"
        >
          {{ product.name }}
        </dd>
      </dl>
      <dl class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">
        <dt class="govuk-!-display-inline-block">Payment amount:</dt>
        <dd
          class="govuk-!-display-inline-block govuk-!-font-weight-bold govuk-!-margin-left-0 prototyping__links-list-item-amount"
        >
          {{ product.price | penceToPoundsWithCurrency }}
        </dd>
      </dl>
      <dl class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">
        <dt class="govuk-!-display-inline-block">Success page:</dt>
        <dd
          class="govuk-!-display-inline-block govuk-!-font-weight-bold govuk-!-margin-left-0 prototyping__links-list-item-success-page"
        >
          {{ product.returnUrl }}
        </dd>
      </dl>
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-3">
        <a
          class="govuk-link govuk-link--no-visited-state prototyping__links-list-item-delete-link"
          href="links/disable/{{ product.externalId }}"
          >Delete prototype link</a
        >
      </p>
    </div>
  {% endfor %}
</div>
