{% extends "../layout.njk" %}

{% block pageTitle %}
  Organisation details - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if errors %}
  <div class="govuk-error-summary hidden" aria-labelledby="error-summary-heading-example-1" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-heading-example-1">
      There was a problem with the details you gave for:
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% if errors["merchant-name"] %}
        <li><a href="#merchant-name">Name</a></li>
        {% endif %}
        {% if errors["telephone-number"] %}
          <li><a href="#telephone-number">Phone number</a></li>
        {% endif %}
        {% if errors["merchant-email"] %}
          <li><a href="#merchant-email">Email</a></li>
        {% endif %}
        {% if errors["address-line1"] %}
        <li><a href="#address-line1">Address</a></li>
        {% endif %}
        {% if errors["address-city"] %}
        <li><a href="#address-city">City</a></li>
        {% endif %}
        {% if errors["address-postcode"] %}
        <li><a href="#address-postcode">Postcode</a></li>
        {% endif %}
        {% if errors["address-country"] %}
        <li><a href="#address-country">Country</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  {% endif %}
  <h1 class="govuk-heading-l page-title">Organisation details</h1>
  <p class="govuk-body" id="merchant-details-info">Payment card schemes require the details of the organisation taking payment to be shown on payment pages.</p>

  <form id="merchant-details-form" method="post" action="{{formatServicePathsFor(routes.service.merchantDetails.edit, currentService.externalId)}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

    <div class="govuk-form-group {% if errors['merchant-name'] %} govuk-form-group--error {% endif %}">
      <label class="govuk-label govuk-label--s" for="merchant-name">
        Organisation Name
      </label>

      <div id="merchant-name-hint" class="govuk-hint govuk-!-width-two-thirds">
        <p class="govuk-hint">Enter the main name of your organisation, not your local office or individual department.</p>
        <p class="govuk-hint">Write the organisation name in full. Only use acronyms that are widely understood (for example, NHS).</p>
      </div>
      {% if errors['merchant-name'] %}
      <span id="merchant-name-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{errors["merchant-name"]}}
      </span>
      {% endif %}
      <input class="govuk-input govuk-!-width-two-thirds {% if errors['merchant-name'] %} govuk-input--error {% endif %}"
             id="merchant-name" name="merchant-name" type="text" aria-describedby="merchant-name-hint"
             value="{{merchant_details.name}}"/>
    </div>

    {% set phoneError = false %}
    {% if errors["telephone-number"] %}
      {% set phoneError = {
        text: errors["telephone-number"]
      } %}
    {% endif %}

    {{
      govukInput({
      value: merchant_details.telephone_number,
        label: {
          text: "Phone number",
          classes: "govuk-label--s"
        },
        errorMessage: phoneError,
        id: "telephone-number",
        name: "telephone-number",
        classes: "govuk-!-width-two-thirds",
        type: "tel"
      })
    }}

    {% set addressLine1Error = false %}
    {% if errors["address-line1"] %}
      {% set addressLine1Error = {
        text: errors["address-line1"]
      } %}
    {% endif %}

    {% set addressLine2Error = false %}
    {% if errors["address-line2"] %}
      {% set addressLine2Error = {
        text: errors["address-line2"]
      } %}
    {% endif %}

    {% set cityError = false %}
    {% if errors["address-city"] %}
      {% set cityError = {
        text: errors["address-city"]
      } %}
    {% endif %}

    {% set postcodeError = false %}
    {% if errors["address-postcode"] %}
      {% set postcodeError = {
        text: errors["address-postcode"]
      } %}
    {% endif %}

    {% set countryError = false %}
    {% if errors["address-country"] %}
      {% set countryError = {
        text: errors["address-country"]
      } %}
    {% endif %}

    {% call govukFieldset({
      legend: {
        text: "Address",
        classes: "govuk-fieldset__legend--s",
        isPageHeading: true
      }
    }) %}

      {{ govukInput({
        label: {
          html: 'Building name/number and street <span class="govuk-visually-hidden">line 1 of 2</span>'
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-line1",
        name: "address-line1",
        errorMessage: addressLine1Error,
        value: merchant_details.address_line1
      }) }}

      {{ govukInput({
        label: {
          html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-line2",
        name: "address-line2",
        errorMessage: addressLine2Error,
        value: merchant_details.address_line2
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        classes: "govuk-!-width-one-half",
        id: "address-city",
        name: "address-city",
        errorMessage: cityError,
        value: merchant_details.address_city
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "address-postcode",
        name: "address-postcode",
        errorMessage: postcodeError,
        value: merchant_details.address_postcode
      }) }}

      {{ govukSelect({
        id: "address-country",
        classes: "govuk-!-width-one-half",
        name: "address-country",
        errorMessage: countryError,
        label: {
          text: "Country"
        },
        items: countries
      }) }}

    {% endcall %}

    {{ govukButton({
      text: "Save organisation details",
      attributes: {
        id: "save-merchant-details"
      }
    }) }}
  </form>
</div>
{% endblock %}
