{% extends "../layout.njk" %}

{% block pageTitle %}
  Organisation details - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Organisation details</h1>
  <p class="govuk-body" id="merchant-details-info">
    {% if has_card_and_dd_gateway_account %}
      Payment card schemes and Direct Debit require the details of the organisation taking payment to be shown to the payer. This information is displayed in emails and on payment pages.
    {% elif has_direct_debit_gateway_account %}
      Direct Debit requires the details of the organisation taking payment to be shown to the payer. This information is displayed in emails and on payment pages.
    {% elif has_card_gateway_account %}
      Payment card schemes require the details of the organisation taking payment to be shown on payment pages.
    {% endif %}
  </p>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
          Name
        </th>
        <td class="govuk-table__cell" id="merchant-name">
          {{merchant_details.name}}
        </td>
        <td class="govuk-table__cell pay-text-align-right">
          <a class="govuk-link govuk-link--no-visited-state" href="{{editPath}}">Change<span class="govuk-visually-hidden">organisation name</span></a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
          Address
        </th>
        <td class="govuk-table__cell" id="merchant-address">
          {{merchant_details.address_line1}}<br/>
          {% if merchant_details.address_line2 %}
          {{merchant_details.address_line2}}<br/>
          {% endif %}
          {{merchant_details.address_city}}<br/>
          {{merchant_details.address_postcode}}<br/>
          {{merchant_details.address_country | countryISOtoName}}
        </td>
        <td class="govuk-table__cell pay-text-align-right">
          <a class="govuk-link govuk-link--no-visited-state" href="{{editPath}}">Change<span class="govuk-visually-hidden"> organisation address</span></a>
        </td>
      </tr>
      {% if merchant_details.telephone_number %}
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
          Phone number
        </th>
        <td class="govuk-table__cell" id="telephone-number">
          {{merchant_details.telephone_number}}
        </td>
        <td class="govuk-table__cell pay-text-align-right">
          <a class="govuk-link govuk-link--no-visited-state" href="{{editPath}}">Change<span class="govuk-visually-hidden"> organisation phone number</span></a>
        </td>
      </tr>
      {% endif %}
      {% if merchant_details.email %}
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
          Email
        </th>
        <td class="govuk-table__cell" id="merchant-email">
          {{merchant_details.email}}
        </td>
        <td class="govuk-table__cell pay-text-align-right">
          <a class="govuk-link govuk-link--no-visited-state" href="{{editPath}}">Change<span class="govuk-visually-hidden"> organisation email</span></a>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
