{% extends "simplified-account/settings/settings-layout.njk" %}

{% set settingsPageTitle = "Change API key name" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l page-title">{{ settingsPageTitle }}</h1>
  {% include "simplified-account/settings/api-keys/partials/_api_key_name_form.njk" %}
{% endblock %}
