{% extends "../layout.njk" %}

{% block pageTitle %}
  Turn off email notifications - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-m">
    Are you sure you want to turn off email notifications?
  </h1>
  {{
    govukWarningText({
      text: 'Your users won’t receive payment confirmation emails from GOV.UK Pay if you do this.',
      iconFallbackText: 'Warning'
    })
  }}

  <form method="post" action="{{routes.emailNotifications.off}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {{ govukButton({
        text: 'Turn off email notifications',
        classes: 'qa-off'
    }) }}
  </form>
</div>
{% endblock %}
