{% extends "simplified-account/services/service-layout.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% set servicePageTitle = serviceMode | smartCaps + " payment links" %}

{% set examplePaymentLink %}
  {% include "simplified-account/services/payment-links/partials/_example-payment-link.njk" %}
{% endset %}

{% block serviceContent %}
  {% if isAdmin %}
    {% include "simplified-account/services/payment-links/partials/_index-admin.njk" %}
  {% else %}
    {% include "simplified-account/services/payment-links/partials/_index-non-admin.njk" %}
  {% endif %}
{% endblock %}
