{% extends "../../layout-full-width.njk" %}

{% block pageTitle %}
  Nominate a responsible person - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <span id="request-to-go-live-current-step" class="govuk-caption-l">Before you can take payments</span>
    <h1 class="govuk-heading-l">Check details before saving</h1>

    <form id="responsible-person-check-display-form" method="post" action="/responsible-person" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}">
      <input name="answers-need-changing" type="hidden" value="true">
      <input name="first-name" type="hidden" value="{{ firstName }}">
      <input name="last-name" type="hidden" value="{{ lastName }}">
      <input name="home-address-line-1" type="hidden" value="{{ homeAddressLine1 }}">
      <input name="home-address-line-2" type="hidden" value="{{ homeAddressLine2 }}">
      <input name="home-address-city" type="hidden" value="{{ homeAddressCity }}">
      <input name="home-address-postcode" type="hidden" value="{{ homeAddressPostcode }}">
      <input name="dob-day" type="hidden" value="{{ dobDay }}">
      <input name="dob-month" type="hidden" value="{{ dobMonth }}">
      <input name="dob-year" type="hidden" value="{{ dobYear }}">

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ firstName }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <button id="first-name-change-button" class="pay-button--as-link" type="submit">
              Change
              <span class="govuk-visually-hidden">first name</span>
            </button>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ lastName }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <button id="last-name-change-button" class="pay-button--as-link" type="submit">
              Change
              <span class="govuk-visually-hidden">last name</span>
            </button>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ homeAddressLine1 }}
            <br>
            {%  if homeAddressLine2 %}
            {{ homeAddressLine2 }}
            <br>
            {% endif %}
            {{ homeAddressCity }}
            <br>
            {{ homeAddressPostcode }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <button id="home-address-change-button" class="pay-button--as-link" type="submit">
              Change
              <span class="govuk-visually-hidden">home address</span>
            </button>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ friendlyDateOfBirth }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <button id="date-of-birth-change-button" class="pay-button--as-link" type="submit">
              Change
              <span class="govuk-visually-hidden">date of birth</span>
            </button>
          </dd>
        </div>
      </dl>
    </form>

    <form id="responsible-person-check-submit-form" method="post" action="/responsible-person" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}">
      <input name="answers-checked" type="hidden" value="true">
      <input name="first-name" type="hidden" value="{{ firstName }}">
      <input name="last-name" type="hidden" value="{{ lastName }}">
      <input name="home-address-line-1" type="hidden" value="{{ homeAddressLine1 }}">
      <input name="home-address-line-2" type="hidden" value="{{ homeAddressLine2 }}">
      <input name="home-address-city" type="hidden" value="{{ homeAddressCity }}">
      <input name="home-address-postcode" type="hidden" value="{{ homeAddressPostcode }}">
      <input name="dob-day" type="hidden" value="{{ dobDay }}">
      <input name="dob-month" type="hidden" value="{{ dobMonth }}">
      <input name="dob-year" type="hidden" value="{{ dobYear }}">

      {{ govukButton({ text: "Save details" }) }}
    </form>

  </div>
{% endblock %}
