{% extends "../../layout.njk" %}

{% block pageTitle %}
  Who is your responsible person? - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if errors %}
      {% set errorList = [] %}

      {% if errors['first-name'] %}
        {% set errorList = (errorList.push({
          text: 'First name',
          href: '#first-name'
        }), errorList) %}
      {% endif %}

      {% if errors['last-name'] %}
        {% set errorList = (errorList.push({
          text: 'Last name',
          href: '#last-name'
        }), errorList) %}
      {% endif %}

      {% if errors['home-address-line-1'] or errors['home-address-line-2'] %}
        {% if errors['home-address-line-1'] %}
          {% set href = '#home-address-line-1' %}
        {% else %}
          {% set href = '#home-address-line-2' %}
        {% endif %}
        {% set errorList = (errorList.push({
          text: 'Building and street',
          href: href
        }), errorList) %}
      {% endif %}

      {% if errors['home-address-city'] %}
        {% set errorList = (errorList.push({
          text: 'Town or city',
          href: '#home-address-city'
        }), errorList) %}
      {% endif %}

      {% if errors['home-address-postcode'] %}
        {% set errorList = (errorList.push({
          text: 'Postcode',
          href: '#home-address-postcode'
        }), errorList) %}
      {% endif %}

      {% if errors['dob'] %}
        {% set errorList = (errorList.push({
          text: 'Date of birth',
          href: '#dob-day'
        }), errorList) %}
      {% endif %}
      {{ govukErrorSummary({
        titleText: 'There was a problem with the details you gave for:',
        errorList: errorList
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">Who is your responsible person?</h1>

    <p class="govuk-body">We need details of a <a class="govuk-link" href="https://www.payments.service.gov.uk/what-being-a-responsible-person-means">responsible person</a> so that Stripe can run anti-money laundering checks. Liability stays at an organisational, and not individual level.</p>
    <p class="govuk-body">The responsible person can be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>someone in your organisation authorised to sign contracts</li>
      <li>the head of finance</li>
      <li>the head of the organisation</li>
    </ul>

    <p class="govuk-body">Stripe will store the responsible person’s details, not GOV.UK Pay.</p>

    <form id="responsible-person-form" method="post" action="/responsible-person" class="govuk-!-margin-top-4" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {% call govukFieldset({
        legend: {
          text: "Name",
          classes: "govuk-fieldset__legend--m",
          isPageHeading: false
        }
      }) %}

      {% set firstNameError = false %}
      {% if errors['first-name'] %}
        {% set firstNameError = {
          text: errors['first-name']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "first-name",
        name: "first-name",
        value: firstName,
        type: "text",
        autocomplete: "given-name",
        errorMessage: firstNameError,
        classes: "govuk-input--width-20"
      }) }}

      {% set lastNameNameError = false %}
      {% if errors['last-name'] %}
        {% set lastNameNameError = {
          text: errors['last-name']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "last-name",
        name: "last-name",
        value: lastName,
        type: "text",
        autocomplete: "family-name",
        errorMessage: lastNameNameError,
        classes: "govuk-input--width-20"
      }) }}

      {% endcall %}

      {% call govukFieldset({
        legend: {
          text: "Home address",
          classes: "govuk-fieldset__legend--m",
          isPageHeading: false
        }
      }) %}

      <p class="govuk-body">Do not use a work address – Stripe needs the responsible person’s home address to check their identity</p>

      {% set homeAddressLine1Error = false %}
      {% if errors['home-address-line-1'] %}
        {% set homeAddressLine1Error = {
          text: errors['home-address-line-1']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
        },
        id: "home-address-line-1",
        name: "home-address-line-1",
        value: homeAddressLine1,
        type: "text",
        autocomplete: "address-line1",
        errorMessage: homeAddressLine1Error
      }) }}
      {% set homeAddressLine2Error = false %}
      {% if errors['home-address-line-2'] %}
        {% set homeAddressLine2Error = {
          text: errors['home-address-line-2']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
        },
        id: "home-address-line-2",
        name: "home-address-line-2",
        value: homeAddressLine2,
        type: "text",
        autocomplete: "address-line2",
        errorMessage: homeAddressLine2Error,
        attributes: {
          "aria-label": "Enter address line 2"
        }
      }) }}
      {% set homeAddressCityError = false %}
      {% if errors['home-address-city'] %}
        {% set homeAddressCityError = {
          text: errors['home-address-city']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          text: "Town or city"
        },
        id: "home-address-city",
        name: "home-address-city",
        value: homeAddressCity,
        type: "text",
        autocomplete: "address-level2",
        errorMessage: homeAddressCityError,
        classes: "govuk-input--width-20"
      }) }}
      {% set homeAddressPostcodeError = false %}
      {% if errors['home-address-postcode'] %}
        {% set homeAddressPostcodeError = {
          text: errors['home-address-postcode']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          text: "Postcode"
        },
        id: "home-address-postcode",
        name: "home-address-postcode",
        value: homeAddressPostcode,
        type: "text",
        autocomplete: "postal-code",
        classes: "govuk-input--width-10",
        errorMessage: homeAddressPostcodeError
      }) }}

      {% endcall %}

      {% set dobError = false %}
      {% if errors['dob'] %}
        {% set dobError = {
          text: errors['dob']
        } %}
      {% endif %}
      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--m",
            text: "Date of birth"
          }
        },
        hint: {
          text: "For example, 26 5 1980"
        },
        errorMessage: dobError,
        items: [
          {
            value: dobDay,
            name: "day",
            classes: "govuk-input--width-2",
            autocomplete: "bday-day"
          },
          {
            value: dobMonth,
            name: "month",
            classes: "govuk-input--width-2",
            autocomplete: "bday-month"
          },
          {
            value: dobYear,
            name: "year",
            classes: "govuk-input--width-4",
            autocomplete: "bday-year"
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
{% endblock %}
