{% extends "../../layout-two-thirds-no-nav.njk" %}

{% block pageTitle %}
  Nominate a responsible person - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
    {% if errors %}
      {% set errorList = [] %}

      {% if errors['first-name'] %}
        {% set errorList = (errorList.push({
          text: 'First name',
          href: '#first-name'
        }), errorList) %}
      {% endif %}

      {% if errors['last-name'] %}
        {% set errorList = (errorList.push({
          text: 'Last name',
          href: '#last-name'
        }), errorList) %}
      {% endif %}

      {% if errors['home-address-line-1'] or errors['home-address-line-2'] %}
        {% if errors['home-address-line-1'] %}
          {% set href = '#home-address-line-1' %}
        {% else %}
          {% set href = '#home-address-line-2' %}
        {% endif %}
        {% set errorList = (errorList.push({
          text: 'Home address',
          href: href
        }), errorList) %}
      {% endif %}

      {% if errors['home-address-city'] %}
        {% set errorList = (errorList.push({
          text: 'City',
          href: '#home-address-city'
        }), errorList) %}
      {% endif %}

      {% if errors['home-address-postcode'] %}
        {% set errorList = (errorList.push({
          text: 'Postcode',
          href: '#home-address-postcode'
        }), errorList) %}
      {% endif %}

      {% if errors['dob'] %}
        {% set errorList = (errorList.push({
          text: 'Date of birth',
          href: '#dob-day'
        }), errorList) %}
      {% endif %}
      {{ govukErrorSummary({
        titleText: 'There was a problem with the details you gave for:',
        errorList: errorList
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">Nominate a responsible person</h1>
    <p class="govuk-body">Before you can take any payments, we need a named person in your organisation. It’s a legal
      requirement to provide this information. This person will be responsible for the management of payments.</p>
    <p class="govuk-body">The responsible person can be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>someone in your organisation authorised to sign contracts</li>
      <li>the head of finance</li>
      <li>the head of the organisation</li>
    </ul>
    <form id="responsible-person-form" method="post" action="/responsible-person" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {% set firstNameError = false %}
      {% if errors['first-name'] %}
        {% set firstNameError = {
          text: errors['first-name']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "first-name",
        name: "first-name",
        value: firstName,
        type: "text",
        autocomplete: "given-name",
        errorMessage: firstNameError,
        classes: "govuk-input--width-20"
      }) }}
      {% set lastNameNameError = false %}
      {% if errors['last-name'] %}
        {% set lastNameNameError = {
          text: errors['last-name']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "last-name",
        name: "last-name",
        value: lastName,
        type: "text",
        autocomplete: "family-name",
        errorMessage: lastNameNameError,
        classes: "govuk-input--width-20"
      }) }}
      {% set homeAddressLine1Error = false %}
      {% if errors['home-address-line-1'] %}
        {% set homeAddressLine1Error = {
          text: errors['home-address-line-1']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          html: 'Home address <span class="govuk-visually-hidden">line 1 of 2</span>'
        },
        id: "home-address-line-1",
        name: "home-address-line-1",
        value: homeAddressLine1,
        type: "text",
        autocomplete: "address-line1",
        errorMessage: homeAddressLine1Error
      }) }}
      {% set homeAddressLine2Error = false %}
      {% if errors['home-address-line-2'] %}
        {% set homeAddressLine2Error = {
          text: errors['home-address-line-2']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          html: '<span class="govuk-visually-hidden">Home address line 2 of 2</span>'
        },
        id: "home-address-line-2",
        name: "home-address-line-2",
        value: homeAddressLine2,
        type: "text",
        autocomplete: "address-line2",
        errorMessage: homeAddressLine2Error,
        attributes: {
          "aria-label": "Enter address line 2"
        }
      }) }}
      {% set homeAddressCityError = false %}
      {% if errors['home-address-city'] %}
        {% set homeAddressCityError = {
          text: errors['home-address-city']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          text: "City"
        },
        id: "home-address-city",
        name: "home-address-city",
        value: homeAddressCity,
        type: "text",
        autocomplete: "address-level2",
        errorMessage: homeAddressCityError,
        classes: "govuk-input--width-20"
      }) }}
      {% set homeAddressPostcodeError = false %}
      {% if errors['home-address-postcode'] %}
        {% set homeAddressPostcodeError = {
          text: errors['home-address-postcode']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          text: "Postcode"
        },
        id: "home-address-postcode",
        name: "home-address-postcode",
        value: homeAddressPostcode,
        type: "text",
        autocomplete: "postal-code",
        classes: "govuk-input--width-10",
        errorMessage: homeAddressPostcodeError
      }) }}
      {% set dobError = false %}
      {% if errors['dob'] %}
        {% set dobError = {
          text: errors['dob']
        } %}
      {% endif %}
      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            text: "Date of birth"
          }
        },
        hint: {
          text: "For example, 26 5 1980"
        },
        errorMessage: dobError,
        items: [
          {
            value: dobDay,
            name: "day",
            classes: "govuk-input--width-2",
            autocomplete: "bday-day"
          },
          {
            value: dobMonth,
            name: "month",
            classes: "govuk-input--width-2",
            autocomplete: "bday-month"
          },
          {
            value: dobYear,
            name: "year",
            classes: "govuk-input--width-4",
            autocomplete: "bday-year"
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h1 class="govuk-heading-m">What will happen to this information</h1>
    <p class="govuk-body">We’ll send this information to our payment service provider, Stripe. Stripe will use these
      details to confirm the responsible person’s identity.</p>
    <p class="govuk-body">Their details will be processed and stored by Stripe. GOV.UK Pay will not store these
      details.</p>
{% endblock %}
