<form id="credentials-form" method="post" novalidate>
  <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

  {{
  govukInput({
    label: {
      text: 'Organisational Unit ID'
    },
    hint: {
      text: 'Provided to you by Worldpay. For example, ‘5bd9b55e4444761ac0af1c80’.'
    },
    id: 'organisational-unit-id',
    name: 'organisationalUnitId',
    classes: 'govuk-input--width-20',
    type: 'text',
    value: credentials.organisationalUnitId,
    errorMessage: errors.formErrors.organisationalUnitId and {
      text: errors.formErrors.organisationalUnitId
    }
  })
  }}

  {{
  govukInput({
    label: {
      text: 'Issuer (API ID)'
    },
    hint: {
      text: 'Provided to you by Worldpay. For example, ‘5bd9e0e4444dce15fed8c940’.'
    },
    id: 'issuer',
    name: 'issuer',
    classes: 'govuk-input--width-20',
    type: 'text',
    value: credentials.issuer,
    errorMessage: errors.formErrors.issuer and {
      text: errors.formErrors.issuer
    }
  })
  }}

  {{
  govukInput({
    label: {
      text: 'JWT MAC key (API key)'
    },
    hint: {
      text: 'Provided to you by Worldpay. For example, ‘fa2daee2-1fbb-45ff-4444-52805d5cd9e0’.'
    },
    id: 'jwt-mac-key',
    name: 'jwtMacKey',
    classes: "govuk-input--width-20",
    type: 'password',
    autocomplete: 'off',
    errorMessage: errors.formErrors.jwtMacKey and {
      text: errors.formErrors.jwtMacKey
    }
  })
  }}

  {{
  govukButton({
    text: 'Save credentials',
    attributes: {
      id: 'submitCredentials'
    }
  })
  }}
</form>
