{% extends "../settings-layout.njk" %}

{% macro teamMemberEmail(email, isCurrent, isServiceAdmin) %}
  <p class="govuk-body">{{ email }}{% if isCurrent %} (me){% endif %}</p>
{% endmacro %}

{% set settingsPageTitle = "Team members" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>
  {% if isServiceAdmin %}
    <p class="govuk-body govuk-!-margin-bottom-6">Team member changes affect both live and test environments.</p>
  {% else %}
    <p class="govuk-body govuk-!-margin-bottom-6">Contact an administrator to invite team members and change
      permissions.</p>
  {% endif %}

  {% if isServiceAdmin %}
    {{ govukButton({
      text: "Invite a team member",
      href: inviteTeamMemberLink,
      attributes: {
        id: "invite-team-member-link"
      }
    }) }}
  {% endif %}

  {% for role, roleDetails in roles %}
    {% if teamMembers[role].length %}
      <div class="team-member-email-list" id="team-members-{{ role }}-list">
        <h2 id="{{ role }}-role-header" class="govuk-heading-m">
          {{ roleDetails.description }} <span
            class="govuk-!-font-weight-regular pay-text-grey">({{ teamMembers[role].length }})</span>
        </h2>

        {% set teamMembersListedForRole = [] %}
        {% for member in teamMembers[role] %}

          {% set actionItems = [] %}
          {% if member.isCurrent %}
            {% set actionItems = [{ href: member.link, text: "View my profile", classes: "govuk-link--no-visited-state" }] %}
          {% else %}
            {% if isServiceAdmin %}
              {% set actionItems = [
                { href: member.changePermissionLink, text: "Change", visuallyHiddenText: member.email, classes: "govuk-link--no-visited-state" },
                { href: member.removeLink, text: "Remove", visuallyHiddenText: member.email, classes: "govuk-link--no-visited-state" }
              ] %}
            {% endif %}
          {% endif %}

          {% set teamMemberListItem = {
            key: {
              text: "Email address",
              classes: "govuk-!-display-none"
            },
            value: {
              html: teamMemberEmail(member.email, member.isCurrent)
            },
            actions: {
              items: actionItems
            }
          } %}

          {% set teamMembersListedForRole = (teamMembersListedForRole.push(teamMemberListItem), teamMembersListedForRole) %}
        {% endfor %}

        {{ govukSummaryList({ rows: teamMembersListedForRole }) }}

      </div>
    {% endif %}
  {% endfor %}


  {% if numberInvitedMembers > 0 %}
    <h2 id="invited-team-members-heading" class="govuk-heading-m">
      Invited <span class="govuk-!-font-weight-regular pay-text-grey">({{ numberInvitedMembers }})</span>
    </h2>
    {% for role, roleDetails in roles %}
      {% if role in invitedTeamMembers %}
        {% if invitedTeamMembers[role].length %}
          <div class="team-member-email-list" id="invited-team-members-{{ role }}-list">
            <h3 id="invited-team-members-{{ role }}-role-header" class="govuk-heading-s">{{ roleDetails.description }}
              <span class="govuk-!-font-weight-regular pay-text-grey">({{ invitedTeamMembers[role].length }})</span>
            </h3>

            {% set invitedTeamMembersListedForRole = [] %}
            {% for invitedMember in invitedTeamMembers[role] %}
              {% set invitedTeamMemberListItem = {
                key: {
                  text: "Email address",
                  classes: "govuk-!-display-none"
                },
                value: {
                  html: invitedMember.email
                }
              } %}
              {% set invitedTeamMembersListedForRole = (invitedTeamMembersListedForRole.push(invitedTeamMemberListItem), invitedTeamMembersListedForRole) %}
            {% endfor %}

            {{ govukSummaryList({ rows: invitedTeamMembersListedForRole }) }}

          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
