{% extends "../settings-layout.njk" %}

{% set settingsPageTitle = "Paying user email addresses" %}


{% block settingsContent %}
  {% if not isAdminUser %}
    {% include "simplified-account/settings/partials/read-only-message.njk" %}
  {% endif %}

  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>
  <p class="govuk-body">You can ask users for their email address to send confirmation and refund emails, or you can
    communicate with them separately. Email addresses are also used by Payment Service Providers (PSPs) to carry out fraud checks.</p>

  {{ govukSummaryList({
    rows: [
      {
        key: {
        text: "Ask users for their email address"
      },
        value: {
        text: 'On' if (emailCollectionMode === 'MANDATORY') else ('On - as an optional field' if (emailCollectionMode === 'OPTIONAL') else 'Off')
      },
        actions: {
          items: [
            {
              href: editEmailCollectionHref,
              text: "Change",
              classes: "govuk-link--no-visited-state",
              visuallyHiddenText: "collect email addresses"
            } if isAdminUser else {}
          ]
        }
      },
      {
        key: {
        text: "Send payment confirmation emails"
      },
        value: {
        text: 'On' if (confirmationEmailEnabled and emailCollectionMode !== 'OFF') else
          ('Off' if (not confirmationEmailEnabled and emailCollectionMode !== 'OFF') else 'Off (not asking users for their email address)')
      },
        actions: {
          items: [
            {
              href: editPaymentConfirmationEmailToggleHref,
              text: "Change",
              classes: "govuk-link--no-visited-state",
              visuallyHiddenText: "payment confirmation emails settings"
            } if (isAdminUser and emailCollectionMode !== 'OFF') else {}
          ]
        }
      },
      {
        key: {
        text: "Send refund emails"
      },
        value: {
        text: 'On' if (refundEmailEnabled and emailCollectionMode !== 'OFF') else
          ('Off' if (not refundEmailEnabled and emailCollectionMode !== 'OFF') else 'Off (not asking users for their email address)')
      },
        actions: {
          items: [
            {
              href: editRefundEmailToggleHref,
              text: "Change",
              classes: "govuk-link--no-visited-state",
              visuallyHiddenText: "refund emails settings"
            } if (isAdminUser and emailCollectionMode !== 'OFF') else {}
          ]
        }
      }
    ]}) }}

  {% if isAdminUser %}
    <p class="govuk-body"><a class="govuk-link" href="{{ templatesHref }}" id="templates-link">View email templates
        and add a custom paragraph</a></p>
  {% else %}
    <p class="govuk-body"><a class="govuk-link" href="{{ templatesHref }}" id="templates-link">View email
        templates</a></p>
  {% endif %}
{% endblock %}
