{% macro navigation(key, details) %}
{% if details.items and details.items.length > 0 %}
    {% if details.settings.collapsible %}
    <div class="collapsible-section">
        <button class="nav__button sub-nav__button govuk-button govuk-button--inverse" type="button" open {% if details.settings.defaultState == 'open' %} active{% endif %}>{{ key | smartCaps }}</button>
        <div class="sub-nav">
            {% for item in details.items %}
                <a class="nav__button govuk-button govuk-button--inverse" id="service-navigation-{{item.id}}" data-module="govuk-button" href="{{item.url}}" {% if item.current %}aria-current="page" current{% endif %}>{{item.name | smartCaps}}</a>
            {% endfor %}
        </div>
    </div>
    {% else %}
        {% if details.settings.displayCategoryName %}
        <h3 class="nav__h3">{{ key | smartCaps }}</h3>
        {% endif %}
        {% for item in details.items %}
        <a class="nav__button govuk-button govuk-button--inverse" id="service-navigation-{{item.id}}" data-module="govuk-button" href="{{item.url}}" {% if item.current %}aria-current="page" current{% endif %}>{{item.name | smartCaps}}</a>
        {% endfor %}
    {% endif %}
{% endif %}
{% endmacro %}


<div class="govuk-grid-column-one-quarter service-nav">
  <nav role="navigation" aria-labelledby="service-nav-heading">
    <h2 class="govuk-visually-hidden" id="service-nav-heading">Service navigation</h2>
    <!-- {% for key, details in serviceNavigation %}
        {{ navigation(key, details) }}
    {% endfor %}
    <hr class="nav__hr govuk-section-break govuk-section-break--visible">
    <h3 class="nav__h3">Settings</h3> -->
    {% for key, details in serviceSettings %}
        {{ navigation(key, details) }}
    {% endfor %}
  </nav>
</div>

<script>
const onButtonClick = (event) => {
  const { target } = event
  event.stopPropagation()

  const parent = target.closest('.collapsible-section')
  const subnav = parent.querySelector('.sub-nav')
  const subnavButton = parent.querySelector('.sub-nav__button')
  const expandedState = subnavButton.getAttribute('aria-expanded')
  subnav.style.display = expandedState === 'true' ? 'none' : 'block'
  subnavButton.setAttribute('aria-expanded', expandedState === 'true' ? 'false' : 'true')
  subnavButton.hasAttribute('open') ? subnavButton.removeAttribute('open') : subnavButton.setAttribute('open', '')
}

// init
const enhance = () => {
  document.querySelectorAll('.collapsible-section').forEach(section => {
    const subnavButton = section.querySelector('.sub-nav__button')
    const subnav = section.querySelector('.sub-nav')
    if (!subnavButton.hasAttribute('active')) {
      subnav.style.display = 'none'
      subnavButton.setAttribute('aria-expanded', 'false')
      subnavButton.removeAttribute('open')
    } else {
      subnavButton.setAttribute('aria-expanded', 'true')
    }
    subnavButton.addEventListener('click', onButtonClick)
  })
}

const ready = (fn) => {
  if (document.readyState !== 'loading') {
    fn()
  } else {
    document.addEventListener('DOMContentLoaded', fn)
  }
}

ready(enhance)
</script>
