{% extends "../../layout.njk" %}
{% from "includes/system-messages.njk" import systemMessages %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% block pageTitle %}
  {{ settingsPageTitle }} - Settings - {{  currentService.name }} - GOV.UK Pay
{% endblock %}

{% block sideNavigation %}
  {% include "./_settings-navigation.njk" %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-three-quarters">
    <div class="service-settings-pane">
      {% if backLink %}
        {{ govukBackLink({
          text: "Back",
          href: backLink
        }) }}
      {% endif %}
      {% if messages is defined and messages is iterable and messages|length > 0 %}
        {{ systemMessages({ messages: messages }) }}
      {% endif %}
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors.summary
        }) }}
      {% endif %}
      {% block settingsContent %}{% endblock %}
    </div>
  </div>
{% endblock %}
