{% extends "layout.njk" %}
{% from "macro/system-messages.njk" import systemMessages %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

{% block pageTitle %}
  {{ settingsPageTitle }} - Settings - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    text: "Skip to main content",
    href: "#service-content"
  }) }}
{% endblock %}

{% block sideNavigation %}
  {% include "../includes/_service-navigation.njk" %}
{% endblock %}

{% block serviceHeader %}
  {% include "includes/service-header.njk" %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-three-quarters">
    <div class="service-pane">
      {% if backLink %}
        {{ govukBackLink({
          text: "Back",
          href: backLink
        }) }}
      {% endif %}
      {% if messages is defined and messages is iterable and messages|length > 0 %}
        {{ systemMessages({ messages: messages }) }}
      {% endif %}
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors.summary
        }) }}
      {% endif %}
      <div id="service-content">
        {% block settingsContent %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
