{% extends "../../../layout.njk" %}

{% block pageTitle %}
  Settings - Email notifications
{% endblock %}

{% block side_navigation %}
  {% include "../_settings-navigation.njk" %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Email notifications</h1>
    <p class="govuk-body">coming soon...</p>
    <!-- TODO -->
  </div>
{% endblock %}
