{% extends "../settings-layout.njk" %}

{% block settingsPageTitle %}
  Email notifications - {{ currentService.name }} {{ currentGatewayAccount.full_type }}
{% endblock %}

{% block settingsContent %}

  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}

  <form id="payment-confirmation-email-toggle" method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {{ govukRadios({
      idPrefix: 'toggle',
      name: 'paymentConfirmationEmailToggle',
      hint: {
        text: 'Users will receive an email confirming their payment from GOV.UK Pay'
      } if emailCollectionMode === 'MANDATORY' else {
        text: 'If they entered an email address, users will get a payment confirmation email from GOV.UK Pay'
      },
      fieldset: {
        legend: {
          text: 'Send payment confirmation emails',
          isPageHeading: true,
          classes: 'govuk-fieldset__legend--l'
        }
      },
      items: [
        {
          value: 'true',
          html: 'On',
          label: {
            classes: 'govuk-!-font-weight-bold'
          } if emailCollectionMode === 'OPTIONAL',
          checked: confirmationEnabled === true,
          hint: {
            text: 'Entering an email address is currently optional so users might not get a payment confirmation',
            classes: 'hint-text'
          } if emailCollectionMode === 'OPTIONAL'
        },
        {
          value: 'false',
          html: 'Off',
          label: {
            classes: 'govuk-!-font-weight-bold'
          } if emailCollectionMode === 'OPTIONAL',
          checked: confirmationEnabled === false
        }
      ]
    }) }}
    {{ govukButton({
      text: 'Save changes'
    }) }}

  </form>
{% endblock %}
