{% extends "../settings-layout.njk" %}

{% block settingsPageTitle %}
  Email notifications - {{ currentService.name }} {{ currentGatewayAccount.full_type }}
{% endblock %}

{% block settingsContent %}

  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}

  <form id="refund-email-toggle" method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {{ govukRadios({
      idPrefix: 'refund-email-toggle',
      name: 'refundEmailToggle',
      hint: {
        text: 'Users will receive an email confirming their refund from GOV.UK Pay'
      } if emailCollectionMode === 'MANDATORY',
      fieldset: {
        legend: {
          text: 'Do you want to send refund emails?',
          isPageHeading: true,
          classes: 'govuk-fieldset__legend--l'
        }
      },
      items: [
        {
          value: 'true',
          text: 'Yes',
          checked: refundEmailEnabled === 'true',
          hint: {
            text: "Users might not receive refund emails because entering an email address is optional"
          }
        },
        {
          value: 'false',
          text: 'No',
          checked: refundEmailEnabled === 'false'
        }
      ]
    }) }}
    {{ govukButton({
      text: 'Save changes'
    }) }}

  </form>
{% endblock %}
