{% extends "../../layout.njk" %}

{% block pageTitle %}
  What is your organisation’s VAT number? - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}


{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length %}
      {% set errorList = [] %}
      {% if errors['vat-number'] %}
        {% set errorList = (errorList.push({
          text: 'Enter a valid VAT number, including ‘GB’ at the start',
          href: '#vat-number'
        }), errorList) %}
      {% endif %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errorList
      }) }}
    {% endif %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6"><label for="vat-number">What is your organisation’s VAT number?</label></h1>

    <form id="vat-number-form" method="post"
          novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {% set vatNumberError = false %}
      {% if errors['vat-number'] %}
        {% set vatNumberError = {
          text: errors['vat-number']
        } %}
      {% endif %}

      {{ govukInput({
        name: "vat-number",
        id: "vat-number",
        hint: {
          text: "VAT numbers start with ‘GB’, for example ‘GBGD123’"
        },
        classes: "govuk-input--width-30",
        value: vatNumber,
        type: "text",
        errorMessage: vatNumberError,
        attributes: {
          autocomplete: "off",
          spellcheck: "false"
        }
      }) }}

      {{ govukButton({ text: "Save and continue" }) }}
    </form>
  </div>
{% endblock %}
