{% extends "../../layout.njk" %}
{% from "../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  VAT number - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% if isSwitchingCredentials %}
    {% include "includes/side-navigation.njk" %}
  {% endif %}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-column-two-thirds">

    {% if isSwitchingCredentials %}
      {{ govukBackLink({
        text: "Back to Switching payment service provider (PSP)",
        classes: "govuk-!-margin-top-0",
        href: formatAccountPathsFor(routes.account.switchPSP.index, currentGatewayAccount.external_id)
      }) }}
    {% endif %}

    {{ errorSummary ({
      errors: errors,
      hrefs: {
        'vat-number-declaration': '#have-vat-number',
        'vat-number': '#vat-number'
      }
    }) }}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-6"><label for="vat-number">VAT registration number</label></h1>

    <form id="vat-number-form" method="post" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {% set vatNumberHTML %}
        {{ govukInput({
          name: "vat-number",
          id: "vat-number",
          label: {
            text: "VAT registration number"
          },
          hint: {
            text: "This is usually 9 numbers and may start with GB. For example, 123456789 or GB123456789. You can find it on your VAT registration certificate."
          },
          classes: "govuk-input--width-30",
          value: vatNumber,
          type: "text",
          errorMessage: { text: errors['vat-number'] } if errors['vat-number'] else false,
          attributes: {
            autocomplete: "off",
            spellcheck: "false"
          }
        }) }}
      {% endset %}

      {{
        govukRadios({
          idPrefix: "vat-number-declaration",
          name: "vat-number-declaration",
          fieldset: {
            legend: {
              text: 'Does your organisation have a VAT registration number?',
              isPageHeading: false,
              classes: 'govuk-fieldset__legend--m'
            }
          },
          errorMessage: { text: errors['vat-number-declaration'] } if errors['vat-number-declaration'] else false,
          items: [
            {
              value: "true",
              text: "Yes",
              id: "have-vat-number",
              hint: "VAT numbers start with ‘GB’. For example, ‘GBGD123’.",
              conditional: {
                html: vatNumberHTML
              },
              checked: (vatNumberDeclaration === 'true')
            },
            {
              value: "false",
              text: "No",
              id: "not-have-vat-number",
              checked: (vatNumberDeclaration === 'false')
            }
          ]
        })
      }}



      {{ govukButton({ text: "Save and continue" }) }}
    </form>
  </div>
{% endblock %}
