{% extends "../../layout.njk" %}

{% block pageTitle %}
  VAT number - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% if isSwitchingCredentials %}
    {% include "includes/side-navigation.njk" %}
  {% endif %}
{% endblock %}

{% block mainContent %}

  {% if isSwitchingCredentials %}
    {{ govukBackLink({
      text: "Back to Switching payment service provider (PSP)",
      classes: "govuk-!-margin-top-0",
      href: formatAccountPathsFor(routes.account.switchPSP.index, currentGatewayAccount.external_id)
    }) }}
  {% endif %}

  <div class="govuk-grid-column-two-thirds">
    {% if errors | length %}
      {% set errorList = [] %}
      {% if errors['vat-number'] %}
        {% set errorList = (errorList.push({
          text: 'Enter a valid VAT number, including ‘GB’ at the start',
          href: '#vat-number'
        }), errorList) %}
      {% endif %}
      {% if errors['vat-number-declaration'] %}
        {% set errorList = (errorList.push({
          text: errors['vat-number-declaration'],
          href: '#vat-number-declaration'
        }), errorList) %}
      {% endif %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errorList
      }) }}
    {% endif %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6"><label for="vat-number">VAT number</label></h1>

    <form id="vat-number-form" method="post" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {% set noSelectionError = false %}
      {% if errors['vat-number-declaration'] %}
        {% set noSelectionError = {
          text: "Please choose an option"
        } %}
      {% endif %}

      {% set vatNumberError = false %}
      {% if errors['vat-number'] %}
        {% set vatNumberError = {
          text: errors['vat-number']
        } %}
      {% endif %}

      {% set vatNumberHTML %}
        {{ govukInput({
          name: "vat-number",
          id: "vat-number",
          label: {
            text: "Enter your organisation's VAT number"
          },
          hint: {
            text: "VAT numbers start with ‘GB’, for example ‘GBGD123’"
          },
          classes: "govuk-input--width-30",
          value: vatNumber,
          type: "text",
          errorMessage: vatNumberError,
          attributes: {
            autocomplete: "off",
            spellcheck: "false"
          }
        }) }}
      {% endset %}

      {{
        govukRadios({
          idPrefix: "vat-number-declaration",
          name: "vat-number-declaration",
          fieldset: {
            legend: {
              text: 'Does your organisation have a VAT number?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--m'
            }
          },
          errorMessage: noSelectionError,
          items: [
            {
              value: "true",
              text: "Yes",
              id: "have-vat-number",
              hint: "VAT numbers start with ‘GB’. For example, ‘GBGD123’.",
              conditional: {
                html: vatNumberHTML
              },
              checked: (vatNumberDeclaration === 'true')
            },
            {
              value: "false",
              text: "No",
              id: "not-have-vat-number",
              checked: (vatNumberDeclaration === 'false')
            }
          ]
        })
      }}



      {{ govukButton({ text: "Save and continue" }) }}
    </form>
  </div>
{% endblock %}
