{% extends "layout-new.njk" %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/inset-text/macro.njk" import govukInsetText %}
{% from "components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  3D Secure - {{ currentService.name }} {{ currentGatewayAccount.full_type }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if not permissions.toggle_3ds_update %}
      {% include "../includes/settings-read-only.njk" %}
    {% endif %}

    {% if supports3ds %}
      {% if permissions.toggle_3ds_read %}
        {% if justToggled %}
          <div id="3ds-toggled" class="flash-container">
            <div class="notification generic-flash">
              {% if requires3ds %}
                <h2>3D Secure is turned on for this service</h2>
              {% else %}
                <h2>3D Secure is turned off for this service</h2>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endif %}

      <h1 class="govuk-heading-l govuk-!-margin-top-6">3D Secure</h1>

      <p class="govuk-body" id="threeds-supported">3D Secure (3DS) adds an extra layer of authentication to user payments. This can help
        reduce fraud, but also makes it <strong>harder for your service users to complete
          payments.</strong></p>
      <p class="govuk-body"><strong>Verified by Visa</strong> and <strong>Mastercard
          SecureCode</strong> are common examples of 3D Secure.</p>

      {% if not requires3ds %}
        {% if permissions.toggle_3ds_read %}
          <h2 id="3ds-status" class="govuk-heading-m">3D Secure is off</h2>
        {% endif %}

        {% if permissions.toggle_3ds_update %}
          {% if showHelper3ds %}
            <div id="3ds-helper-text-worldpay">
              {% set helperHTML %}
              <h2 class="govuk-heading-s">Activating 3D Secure</h2>
              <p class="govuk-body">Check with your Worldpay account manager that your merchant code has been configured to support 3D
                Secure. Read more about this in our <a
                  href="https://docs.payments.service.gov.uk/#worldpay-setup-for-3d-secure">technical
                  documentation</a>.
              </p>
              {% endset %}
              {{
                govukInsetText({
                  html: helperHTML
                })
              }}
              <p class="govuk-body">Once that’s done, you can turn on 3D Secure for all payments to your service.</p>
            </div>
          {% endif %}

          <form class="permission-main" method="post" action="{{ routes.toggle3ds.onConfirm }}">
            <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
            {{
              govukButton({
                text: "Turn on 3D Secure",
                attributes: {
                  id: "threeds-on-button"
                }
              })
            }}
          </form>
        {% endif %}
      {% endif %}

      {% if requires3ds %}
        {% if permissions.toggle_3ds_read %}
          <h2 id="3ds-status" class="govuk-heading-m">3D Secure is activated</h2>

          {% set problemsHTML %}
          <h2 class="govuk-heading-s">Having problems with 3D Secure?</h2>
          <p class="govuk-body">If 3D Secure isn’t working on your service’s payment pages you’ll need to check with your Payment Gateway
            account manager that your merchant code has been configured to support 3D Secure.</p>
          {% endset %}
          {{
            govukInsetText({
              html: problemsHTML
            })
          }}
        {% endif %}

        {% if hasAnyCardTypeRequiring3dsSelected %}
          {{
            govukWarningText({
              text: "You must disable Maestro to turn off 3D Secure",
              iconFallbackText: "Warning"
            })
          }}
        {% endif %}

        {% if permissions.toggle_3ds_update %}
          <form class="permission-main" method="post" action="{{ routes.toggle3ds.off }}">
            <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
            {% if hasAnyCardTypeRequiring3dsSelected %}
              {{
                govukButton({
                  text: "Turn off 3D Secure",
                  disabled: true,
                  attributes: {
                    id: "threeds-off-button-disabled"
                  }
                })
              }}
            {% else %}
              {{
                govukButton({
                  text: "Turn off 3D Secure",
                  attributes: {
                    id: "threeds-off-button"
                  }
                })
              }}
            {% endif %}
          </form>
        {% endif %}
      {% endif %}
    {% else %}
      <h1 class="govuk-heading-l govuk-!-margin-top-6">3D Secure</h1>
      <p class="govuk-body" id="threeds-not-supported">3D Secure is not currently supported for this payment service provider (PSP).</p>
    {% endif %}
  </div>
{% endblock %}
