{% extends "../credentials.njk" %}

{% block page_title %}
  3D Secure - {{currentServiceName}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block mainContent %}

  {% if not permissions.toggle_3ds_update %}
    {% extends "../includes/settings_read_only.njk" %}
  {% endif %}

  {% if supports3ds %}
    {% if permissions.toggle_3ds_read %}
      {% if justToggled %}
        <div id="3ds-toggled" class="govuk-box-highlight">
        {% if requires3ds %}
          <p>3D Secure is turned on for this service</p>
        {% else %}
          <p>3D Secure is turned off for this service</p>
        {% endif %}
        </div>
      {% endif %}
    {% endif %}

    <h1 class="page-title">3D Secure</h1>

    <p>3D Secure (3DS) adds an extra layer of authentication to user payments. This can help reduce fraud, but also makes it <strong class="bold-small">harder for your service users to complete payments.</strong></p>
    <p><strong class="bold-small">Verified by Visa</strong> and <strong class="bold-small">Mastercard SecureCode</strong> are common examples of 3D Secure.</p>

    {% if not requires3ds %}
      {% if permissions.toggle_3ds_read %}
        <h2 id="3ds-status" class="heading-medium remove-top-margin">3D Secure is off</h2>
      {% endif %}

      {% if permissions.toggle_3ds_update %}
      <div class="panel panel-border-wide">
          <h2 class="heading-small">Activating 3D Secure</h2>
          <p>Check with your Worldpay account manager that your merchant code has been configured to support 3D Secure. Read more about this in our <a href="https://govukpay-docs.cloudapps.digital/switching-to-production#worldpay-setup-for-3d-secure">technical documentation</a>.</p>
      </div>

      <p>Once that’s done, you can turn on 3D Secure for all payments to your service.</p>

      <form class="permission-main" method="post" action="{{routes.toggle3ds.onConfirm}}">
          <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
          <div class="form-group">
              <input id="threeds-on-button" class="button" type="submit" value="Turn on 3D Secure">
          </div>
      </form>
      {% endif %}
    {% endif %}

    {% if requires3ds %}
      {% if permissions.toggle_3ds_read %}
        <h2 id="3ds-status" class="heading-medium remove-top-margin">3D Secure is activated</h2>

        <div class="panel panel-border-wide">
            <h2 class="heading-small">Having problems with 3D Secure?</h2>
            <p>If 3D Secure isn’t working on your service’s payment pages you’ll need to check with your Worldpay account manager that your merchant code has been configured to support 3D Secure.</p>
        </div>
      {% endif %}

      {% if hasAnyCardTypeRequiring3dsSelected %}
        <div id="info-message" class="notice">
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>

            <strong class="bold-small">
                You must disable Maestro to turn off 3D Secure
            </strong>
        </div>
      {% endif %}

      {% if permissions.toggle_3ds_update %}
        <form class="permission-main" method="post" action="{{routes.toggle3ds.off}}">
          <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
          <div class="form-group">
            {% if hasAnyCardTypeRequiring3dsSelected %}
              <input id="threeds-off-button-disabled" disabled class="button disabled" type="submit" value="Turn off 3D Secure">
            {% else %}
              <input id="threeds-off-button" class="button" type="submit" value="Turn off 3D Secure">
            {% endif %}
          </div>
        </form>
      {% endif %}
    {% endif %}
  {% else %}
    <h1 class="page-title">3D Secure</h1>
    <p>3D Secure is not currently supported for this payment service provider (PSP).</p>
  {% endif %}

{% endblock %}
