{% extends "layout.njk" %}
{% from "components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Confirm 3D Secure - {{ currentService.name }} {{ currentGatewayAccount.full_type }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-6">3D Secure</h1>

    {% if permissions.toggle_3ds_update %}
      {% if showHelper3ds %}
        <div id="3ds-helper-text-worldpay">
          <h2 class="govuk-heading-m">Has your merchant code been configured to support 3D Secure?</h2>
          <p class="govuk-body">If you haven’t confirmed this with Worldpay, 3D Secure won’t work on your service’s payment pages.</p>
        </div>
      {% endif %}
      <form class="permission-main" method="post" action="{{ routes.toggle3ds.on }}">
        <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
        {{
          govukButton({
            text: "Yes, turn on 3D Secure",
            attributes: {
              id: "3ds-confirm-on-button"
            }
          })
        }}
        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state remove-cancel" href="{{ routes.toggle3ds.index }}">No, cancel</a>
        </p>
      </form>
    </div>
  {% endif %}
{% endblock %}
