{% extends "../../layout.njk" %}

{% block pageTitle %}
  Payment link reporting columns - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "./../_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  {% if tested.errors and tested.errors.length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: tested.errors
    })
  }}
  {% endif %}

  {% set pageHeading = ("Edit reporting column" if isEditing else "Payment link reporting column") %}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
  <form action="{{ self }}" class="form" method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <p class="govuk-body">Reporting columns are not shown to the user making the payment.</p>

    {% set metadataKeyField = form.fields.metadataKey %}
    {% set metadataKeyAttributes = { "readonly": "readonly" } if isEditing else { "autofocus": "true" } %}
    {{
      govukInput({
        id: metadataKeyField.id,
        name: metadataKeyField.name,
        label: {
            text: "Column header"
        },
        value: form.values[metadataKeyField.id],
        hint: {
          html: "Shown in the header row of the report"
        },
        errorMessage: tested.errorMaps[metadataKeyField.id] and {
          text: tested.errorMaps[metadataKeyField.id]
        },
        attributes: metadataKeyAttributes
      })
    }}
    {# "disabled": "true" if isEditing else "" #}


    {% set metadataValueField = form.fields.metadataValue %}
    {{
      govukInput({
        id: metadataValueField.id,
        name: metadataValueField.name,
        label: {
            text: "Cell value"
        },
        value: form.values[metadataValueField.id],
        hint: {
          html: "Added to each row of the report"
        },
        errorMessage: tested.errorMaps[metadataValueField.id] and {
          text: tested.errorMaps[metadataValueField.id]
        }
      })
    }}

    {{
      govukButton({
        text: "Update reporting column" if isEditing else "Add reporting column",
        classes: "button"
      })
    }}

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state cancel" href="{{ cancelRoute }}">Cancel</a></p>
  </form>
</section>
{% endblock %}
