{% extends "../../layout.njk" %}

{% block pageTitle %}
  Payment link reporting columns - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "./../_nav.njk" %}
{% endblock %}

{% block mainContent %}
<section class="govuk-grid-column-two-thirds">
  {% if tested.errors and tested.errors.length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: tested.errors
    })
  }}
  {% endif %}

  {% set pageHeading = ("Edit reporting column" if isEditing else "Payment link reporting column") %}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
  <form action="{{ self }}" class="form" method="post" style="display: inline">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <p class="govuk-body">Reporting columns are added to your CSV payment reports. They are not shown to the user making the payment.</p>
    <p class="govuk-body">Use consistent wording if you are adding reporting columns to more than one payment link or service. This will make it easier to read your payment report.</p>

    {% set metadataKeyField = form.fields.metadataKey %}
    {% set metadataKeyAttributes = { "readonly": "readonly" } if isEditing else { "autofocus": "true" } %}
    {% set columnHeaderHeading = "Column Header" %}
    {% set columnHeaderHint = "Shown in the header row of the report" %}
    {% if isEditing %}
      <p class="govuk-body edit-reporting-column--bottom-spacing">{{columnHeaderHeading}}</p>
      <p class="govuk-body govuk-hint edit-reporting-column--bottom-spacing">{{columnHeaderHint}}</span>
      <p class="govuk-body govuk-!-font-weight-bold" >{{form.values[metadataKeyField.id]}}</p>
      <input type="hidden" id="{{metadataKeyField.id}}" name="{{metadataKeyField.name}}"
       value="{{form.values[metadataKeyField.id]}}" />
    {% else %}
      {{
        govukInput({
          id: metadataKeyField.id,
          name: metadataKeyField.name,
          label: {
              text: columnHeaderHeading
          },
          value: form.values[metadataKeyField.id],
          hint: {
            html: columnHeaderHint
          },
          errorMessage: tested.errorMaps[metadataKeyField.id] and {
            text: tested.errorMaps[metadataKeyField.id]
          },
          attributes: metadataKeyAttributes
        })
      }}
    {% endif %}

    {% set metadataValueField = form.fields.metadataValue %}
    {{
      govukInput({
        id: metadataValueField.id,
        name: metadataValueField.name,
        label: {
            text: "Cell content"
        },
        value: form.values[metadataValueField.id],
        hint: {
          html: "For example, if you put ‘cost centre’ as your heading, you could add ‘12345’ as the cost centre code."
        },
        errorMessage: tested.errorMaps[metadataValueField.id] and {
          text: tested.errorMaps[metadataValueField.id]
        }
      })
    }}

    {{
      govukButton({
        text: "Update reporting column" if isEditing else "Add reporting column",
        classes: "button"
      })
    }}

    </form>

    {% if isEditing %}
      <form method="post" action="{{ self }}/delete" style="display: inline">
        <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
        {{
        govukButton({
          text: "Delete reporting column",
          classes: "govuk-button--warning"
        })
        }}
      </form>
    {% endif %}

  <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state cancel" href="{{ cancelRoute }}">Cancel</a></p>
</section>
{% endblock %}
