{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
Change email notifications template - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block sideNavigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      customEmailText: "#custom-email-text"
    }
  }) }}

  <h1 class="govuk-heading-l">Add a custom paragraph</h1>

  <p class="govuk-body">
      You can add a custom paragraph to give users more information about your service. For example, you can tell users:
  </p>

  <ul class="govuk-list govuk-list--bullet">
      <li>what they need to do next</li>
      <li>how long it will take to process the payment</li>
      <li>about delivery dates</li>
  </ul>

  <p class="govuk-body">
      If you include a link in your custom paragraph you must:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>only link to a gov.uk domain</li>
    <li>use HTTPS where available</li>
    <li>show the URL in full - for example, ‘Apply now at https://www.stratford.gov.uk’</li>
  </ul>

  <p class="govuk-body">
      Do not include contact details in the custom paragraph. If you want to provide contact details, you must link to a page on a gov.uk domain.
  </p>

  <p class="govuk-body">
      You should not:
  </p>

  <ul class="govuk-list govuk-list--bullet">
      <li>request personal data, passwords or payment details</li>
      <li>link directly to a sign-in page</li>
      <li>use redirects or tracking links</li>
  </ul>

  <form method="post" action="{{ formatAccountPathsFor(routes.account.emailNotifications.confirm, currentGatewayAccount.external_id) }}" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

    {{
      govukTextarea({
        name: "custom-email-text",
        id: "custom-email-text",
        label: {
          text: "Enter a custom paragraph",
          classes: "govuk-label--s"
        },
        classes: "qa-custom-p",
        value: customEmailText,
        errorMessage: { text: errors.customEmailText } if errors.customEmailText else false
      })
    }}
    {{
      govukButton({
        text: "Continue",
        classes: "qa-edit-submit",
        attributes: {
          id: "continue"
        }
      })
    }}
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ formatAccountPathsFor(routes.account.emailNotifications.index, currentGatewayAccount.external_id) }}">Cancel</a></p>
  </form>
</div>
{% endblock %}
