<div class="pay-email-template">
  <div class="pay-email-template-meta-item govuk-body govuk-!-margin-bottom-0 govuk-clearfix">
    <span class="pay-email-template-meta-item__key">
      From
    </span>
    <span class="pay-email-template-meta-item__value">
      GOV.UK Pay
    </span>
  </div>
  <div class="pay-email-template-meta-item govuk-body govuk-!-margin-bottom-0 govuk-clearfix">
    <span class="pay-email-template-meta-item__key">
      To
    </span>
    <span class="pay-email-template-meta-item__value">
      <span class="govuk-grey-text">[email address]</span>
    </span>
  </div>
  <div class="pay-email-template-meta-item govuk-body govuk-!-margin-bottom-0 govuk-clearfix">
    <span class="pay-email-template-meta-item__key">
      Subject
    </span>
    <span class="pay-email-template-meta-item__value">
      Your payment of £<span class="govuk-grey-text">[amount]</span> to <span class="govuk-grey-text">{{ serviceName }}</span> was successful
    </span>
  </div>
  <div class="pay-email-template-body">
    <h3 class="govuk-heading-m pay-email-heading">Your payment of £<span class="govuk-grey-text">[amount]</span> to <span class="govuk-grey-text">{{ serviceName }}</span> was successful</h3>
    <ul class="govuk-list">
      <li>Payment for: <span class="govuk-grey-text">[description]</span></li>
      <li>Reference: <span class="govuk-grey-text">[service reference]</span></li>
      <li>Date of payment: <span class="govuk-grey-text">[date]</span></li>
    </ul>
    {% if customEmailText %}
      <p class="govuk-body qa-custom-p">
        {{ customEmailText | striptags(true) | escape | nl2br }}
      </p>
    {% else %}
      <span class="govuk-body govuk-grey-text qa-custom-p">*Optional custom paragraph - add this below*</span>
    {% endif %}
    <p class="govuk-body">This email address is not monitored. If you have any questions about your payment, contact the service you made the payment to directly.</p>
  </div>
</div>

