{% extends "simplified-account/services/service-layout.njk" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% set servicePageTitle = "Test with your users" %}
{% set backLinkText = "Back to dashboard" %}

{% block serviceContent %}
  <h1 class="govuk-heading-l page-title">
    {{ servicePageTitle }}
  </h1>

  <p class="govuk-body">Create a reusable link to integrate your service prototype with GOV.UK Pay and test with users.</p>

  {{
    govukButton({
      text: "Create prototype link",
      href: createLink,
      attributes: {
        id: "prototyping__links-button-create"
      }
    })
  }}

  <div class="govuk-tabs">
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab {% if not productsTab %}
govuk-tabs__tab--selected{% endif %}" href="{{ indexLink }}">
          Mock card numbers
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab {% if productsTab %}
govuk-tabs__tab--selected{% endif %}" href="{{ prototypesLink }}">
          Prototype links
        </a>
      </li>
    </ul>
  </div>

  {% if productsTab %}
    {% include './partials/_payment-links-list.njk' %}
  {% else %}
    {% include './partials/_mock-card-numbers.njk' %}
  {% endif %}

{% endblock %}
