{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Edit phone number - My profile - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "My profile",
      href: routes.user.profile.index
    })
  }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      phone: "#phone"
    }
  }) }}

  <h1 class="govuk-heading-l">Change your phone number</h1>
  <p class="govuk-body">Your phone number is used to send a text message code when you sign in to help verify your identity.</p>

  {% set phoneError = false %}
  {% if errors.phone %}
  {% set phoneError = {
    text: errors.phone
  } %}
  {% endif %}

  <form method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {{
      govukInput({
        id: "phone",
        name: "phone",
        type: "tel",
        value: telephoneNumber,
        classes: "govuk-!-width-one-half",
        label: {
          text: "Phone number"
        },
        errorMessage: phoneError
      })
    }}
    {{
      govukButton({
        text: "Save changes",
        attributes: {
          id: "save-phone-number"
        }
      })
    }}
  </form>
</div>
{% endblock %}
