{% extends "../layout-two-thirds-no-nav.njk" %}

{% block pageTitle %}
  Edit phone number - My profile - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "My profile",
      href: routes.user.profile
    })
  }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Change your phone number</h1>
  <p class="govuk-body">Your phone number is used to send a text message code when you sign in to help verify your identity.</p>

  {% set phoneError = false %}
  {% if flash.genericError %}
  {% set phoneError = {
    text: "Invalid telephone number. Enter a telephone number, like 01632 960 001, 07700 900 982 or +44 0808 157 0192"
  } %}
  {% endif %}

  <form method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {{
      govukInput({
        id: "phone",
        name: "phone",
        type: "tel",
        value: telephoneNumber,
        classes: "govuk-!-width-one-half",
        label: {
          text: "Phone number"
        },
        errorMessage: phoneError
      })
    }}
    {{
      govukButton({
        text: "Save changes",
        attributes: {
          id: "save-phone-number"
        }
      })
    }}
  </form>
{% endblock %}
