{% extends "../layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
My profile - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if flash.otpMethodUpdated %}
    {% set html %}
      <p class="govuk-notification-banner__heading">Your sign-in method has been updated</p>

      {% if flash.otpMethodUpdated[0] === secondFactorMethod.APP %}
        <p class="govuk-body">Use your authenticator app when you next sign in.</p>
      {% else %}
        <p class="govuk-body">We’ll send you a text message when you next sign in.</p>
      {% endif %}
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}
  {% endif %}
</div>
<div class="govuk-grid-column-full">
  <h1 id="details-for" class="govuk-heading-l page-title">
      My profile
  </h1>
</div>
<div class="govuk-grid-column-two-thirds">
  <dl class="profile-settings govuk-table">
    <div class="profile-settings__row">
      <dt class="profile-settings__setting govuk-table__cell govuk-heading-s">
        Email
      </dt>
      <dd class="profile-settings__value govuk-table__cell" id="email">
        {{email | truncate(10, true)}}
      </dd>
    </div>
    {% if telephone_number %}
    <div class="profile-settings__row" data-cy="telephone-number-row">
      <dt class="profile-settings__setting govuk-table__cell govuk-heading-s">
        Mobile number
      </dt>
      <dd class="profile-settings__value govuk-table__cell" id="telephone-number">
        {{telephone_number}}
        <span class="profile-settings__change-link">
          <a class="govuk-link" href="{{routes.user.profile.phoneNumber }}" id="change-phone-link">Change <span class="govuk-visually-hidden">mobile number</span></a>
        </span>
      </dd>
    </div>
    {% endif %}
    <div class="profile-settings__row">
      <dt class="profile-settings__setting govuk-table__cell govuk-heading-s">
        Sign-in method
      </dt>
      <dd class="profile-settings__value govuk-table__cell" id="two-factor-auth">
          {% if two_factor_auth === secondFactorMethod.APP %}
            Authenticator app
          {% endif %}
          {% if two_factor_auth === secondFactorMethod.SMS %}
            Text message
          {% endif %}
          <span class="profile-settings__change-link">
            <a class="govuk-link" href="{{two_factor_auth_link}}">Change <span class="govuk-visually-hidden">sign-in method</span></a>
          </span>
      </dd>
    </div>
    {% if SHOW_DEGATEWAY_SETTINGS %}
      <div class="profile-settings__row">
        <dt class="profile-settings__setting govuk-table__cell govuk-heading-s">
          Degatewayaccountification
        </dt>
        <dd class="profile-settings__value govuk-table__cell" id="degatewayaccountification">
          {{degatewayaccountification}}
          <span class="profile-settings__change-link">
            <a class="govuk-link" href="{{ routes.user.profile.degateway }}" id="change-degateway-preference-link">Change <span class="govuk-visually-hidden">degateway preference</span></a>
          </span>
        </dd>
      </div>
    {% endif %}
  </dl>
</div>
<div class="govuk-grid-column-one-third">
  <div class="related-information">
    <p class="govuk-body govuk-!-font-size-16">To change your permission level on a service you need to contact an administrator for that service.</p>
  </div>
</div>
{% endblock %}
