{% extends "../layout.njk" %}

{% block page_title %}
My profile - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="column-full">
  <h1 id="details-for" class="heading-large page-title">
      My profile
  </h1>
</div>
<div class="column-two-thirds admin-list">
  <table>
    <caption class="visually-hidden">Details for {{username}}</caption>
    <tbody>
      <tr>
        <th>Email:</th>
        <td colspan="2" id="email">{{email}}</td>
      </tr>
      <tr>
        <th>Mobile number:</th>
        <td colspan="2" id="telephone-number">{{telephone_number}}</td>
      </tr>
      <tr>
        <th>Sign-in method:</th>
        <td id="two-factor-auth">
          {% if two_factor_auth === 'APP' %}
            Authenticator app
          {% endif %}
          {% if two_factor_auth === 'SMS' %}
            Text message
          {% endif %}
        </td>
        <td>
          <a href="{{two_factor_auth_link}}">Change</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="column-one-third admin-list">
  <div class="related-information">
    <p>To change your permission level on a service you need to contact an administrator for that service.</p>
  </div>
</div>
{% endblock %}
