{% extends "../layout.njk" %}

{% block pageTitle %}
Team members - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l page-title govuk-!-margin-bottom-2">Team members</h1>
    {% if permissions.users_service_create %}
      <p class="govuk-body govuk-!-margin-bottom-6 admin-lede">Team member changes affect both live and test environments.</p>
    {% else %}
      <p class="govuk-body govuk-!-margin-bottom-6 admin-lede">Contact an administrator to invite team members and change permissions.</p>
    {% endif %}

    {% if permissions.users_service_create %}
      {{
        govukButton({
          text: "Invite a team member",
          href: inviteTeamMemberLink,
          attributes: {
            id: "invite-team-member-link"
          }
        })
      }}
    {% endif %}
  </div>
  <div class="govuk-grid-column-two-thirds admin-list-group govuk-!-margin-top-6">
    <div class="admin-list" id="team-members-admin-list">
      <h3 id="admin-role-header" class="govuk-heading-m">
        Administrators <span class="govuk-!-font-weight-regular pay-text-grey">({{team_members["admin"].length}})</span>
      </h3>
      <table class="govuk-table pay-!-border-top">
        <tbody class="govuk-table__body">
          {% for team_member in team_members["admin"] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {% set team_member_label %}
                  {{ team_member.email }} {% if team_member.is_current %}(you){% endif %}
                {% endset %}
                {% if permissions.users_service_read %}
                  <a class="govuk-link govuk-link--no-visited-state govuk-!-display-block" id="admin-member-{{ loop.index }}-trnk" href="{{ team_member.link }}">
                    {{ team_member_label }}
                  </a>
                {% else %}
                  <span>{{ team_member_label }}</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if team_members["view-and-refund"].length %}
    <div class="admin-list" id="team-members-view-and-refund-list">
      <h3 id="view-and-refund-role-header" class="govuk-heading-m">
        View and refund <span class="govuk-!-font-weight-regular pay-text-grey">({{team_members["view-and-refund"].length}})</span>
      </h3>
      <table class="govuk-table pay-!-border-top">
        <tbody class="govuk-table__body">
          {% for team_member in team_members["view-and-refund"] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {% set team_member_label %}
                  {{ team_member.email }} {% if team_member.is_current %}(you){% endif %}
                {% endset %}
                {% if permissions.users_service_read %}
                  <a class="govuk-link govuk-link--no-visited-state govuk-!-display-block" id="view-and-refund-member-{{ loop.index }}-trnk" href="{{ team_member.link }}">
                    {{ team_member_label }}
                  </a>
                {% else %}
                  <span>{{ team_member_label }}</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if team_members["view-only"].length %}
    <div class="admin-list" id="team-members-view-only-list">
      <h3 id="view-only-role-header" class="govuk-heading-m">
        View only <span class="govuk-!-font-weight-regular pay-text-grey">({{team_members["view-only"].length}})</span>
      </h3>
      <table class="govuk-table pay-!-border-top">
        <tbody class="govuk-table__body">
          {% for team_member in team_members["view-only"] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {% set team_member_label %}
                  {{ team_member.email }} {% if team_member.is_current %}(you){% endif %}
                {% endset %}
                {% if permissions.users_service_read %}
                  <a class="govuk-link govuk-link--no-visited-state govuk-!-display-block" id="view-only-member-{{ loop.index }}-trnk" href="{{ team_member.link }}">
                    {{ team_member_label }}
                  </a>
                {% else %}
                  <span>{{ team_member_label }}</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if team_members["view-and-initiate-moto"].length %}
    <div class="admin-list" id="team-members-view-and-initiate-moto-list">
      <h3 id="view-and-initiate-moto-role-header" class="govuk-heading-m">
        View and take telephone payments <span class="govuk-!-font-weight-regular pay-text-grey">({{team_members["view-and-initiate-moto"].length}})</span>
      </h3>
      <table class="govuk-table pay-!-border-top">
        <tbody class="govuk-table__body">
          {% for team_member in team_members["view-and-initiate-moto"] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {% set team_member_label %}
                  {{ team_member.email }} {% if team_member.is_current %}(you){% endif %}
                {% endset %}
                {% if permissions.users_service_read %}
                  <a class="govuk-link govuk-link--no-visited-state govuk-!-display-block" id="view-and-intiate-moto-member-{{ loop.index }}-trnk" href="{{ team_member.link }}">
                    {{ team_member_label }}
                  </a>
                {% else %}
                  <span>{{ team_member_label }}</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if team_members["view-refund-and-initiate-moto"].length %}
    <div class="admin-list" id="team-members-view-refund-and-initiate-moto-list">
      <h3 id="view-refund-and-initiate-moto-role-header" class="govuk-heading-m">
        View, refund and take telephone payments <span class="govuk-!-font-weight-regular pay-text-grey">({{team_members["view-refund-and-initiate-moto"].length}})</span>
      </h3>
      <table class="govuk-table pay-!-border-top">
        <tbody class="govuk-table__body">
          {% for team_member in team_members["view-refund-and-initiate-moto"] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {% set team_member_label %}
                  {{ team_member.email }} {% if team_member.is_current %}(you){% endif %}
                {% endset %}
                {% if permissions.users_service_read %}
                  <a class="govuk-link govuk-link--no-visited-state govuk-!-display-block" id="view-refund-and-initiate-moto-member-{{ loop.index }}-trnk" href="{{ team_member.link }}">
                    {{ team_member_label }}
                  </a>
                {% else %}
                  <span>{{ team_member_label }}</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
  {% if number_invited_members > 0 %}
  <div class="govuk-grid-column-two-thirds admin-list-group govuk-!-margin-top-6">
    <h2 id="invited-team-members-heading" class="govuk-heading-m">
      Invited <span class="govuk-!-font-weight-regular pay-text-grey">({{number_invited_members}})</span>
    </h2>
    {% if invited_team_members["admin"].length %}
    <div class="admin-list" id="invited-team-members-admin-list">
      <h3 id="invited-team-members-admin-role-header" class="govuk-heading-s">Administrators <span class="govuk-!-font-weight-regular pay-text-grey">({{invited_team_members["admin"].length}})</span></h3>
      <table class="govuk-table pay-!-border-top">
        <tbody class="govuk-table__body">
          {% for admin in invited_team_members["admin"] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <span>
                  {{ admin.email }}
                </span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if invited_team_members["view-and-refund"].length %}
    <div class="admin-list" id="invited-team-members-view-and-refund-list">
      <h3 id="invited-team-members-view-and-refund-role-header" class="govuk-heading-s">
        View and refund <span class="govuk-!-font-weight-regular pay-text-grey">({{invited_team_members["view-and-refund"].length}})</span>
      </h3>
      <table class="govuk-table pay-!-border-top">
        <tbody class="govuk-table__body">
          {% for team_member in invited_team_members["view-and-refund"] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <span>
                  {{ team_member.email }}
                </span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if invited_team_members["view-only"].length %}
    <div class="admin-list" id="invited-team-members-view-only-list">
      <h3 id="invited-team-members-view-only-role-header" class="govuk-heading-s">
        View only <span class="govuk-!-font-weight-regular pay-text-grey">({{invited_team_members["view-only"].length}})</span>
      </h3>
      <table class="govuk-table pay-!-border-top">
        <tbody class="govuk-table__body">
          {% for team_member in invited_team_members["view-only"] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <span>
                  {{ team_member.email }}
                </span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if invited_team_members["view-and-initiate-moto"].length %}
    <div class="admin-list" id="invited-team-members-view-and-initiate-moto-list">
      <h3 id="invited-team-members-view-and-initiate-moto-role-header" class="govuk-heading-s">
        View and take telephone payments <span class="govuk-!-font-weight-regular pay-text-grey">({{invited_team_members["view-and-initiate-moto"].length}})</span>
      </h3>
      <table class="govuk-table pay-!-border-top">
        <tbody class="govuk-table__body">
          {% for team_member in invited_team_members["view-and-initiate-moto"] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <span>
                  {{ team_member.email }}
                </span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if invited_team_members["view-refund-and-initiate-moto"].length %}
    <div class="admin-list" id="invited-team-members-view-refund-and-initiate-moto-list">
      <h3 id="invited-team-members-view-refund-and-initiate-moto-role-header" class="govuk-heading-s">
        View, refund and take telephone payments <span class="govuk-!-font-weight-regular pay-text-grey">({{invited_team_members["view-refund-and-initiate-moto"].length}})</span>
      </h3>
      <table class="govuk-table pay-!-border-top">
        <tbody class="govuk-table__body">
          {% for team_member in invited_team_members["view-refund-and-initiate-moto"] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <span>
                  {{ team_member.email }}
                </span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  {% endif %}
{% endblock %}
