{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
Invite a new team member - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "See all team members",
      href: teamMemberIndexLink
    })
  }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {{ errorSummary ({
      errors: errors,
      hrefs: {
        invitee: '#invitee-email'
      }
    }) }}
    <div>
      <h1 class="govuk-heading-l underline">
        <span class="govuk-caption-l">Team members</span>
        Invite a team member</h1>
    </div>
  </div>
  <form id="invite-member-form" method="post" action="{{teamMemberInviteSubmitLink}}" class="govuk-grid-column-two-thirds">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "invitee-email",
        name: "invitee-email",
        classes: "govuk-!-width-two-thirds",
        type: "email",
        errorMessage: { text: errors.invitee } if errors.invitee or false
      })
    }}

    {{ govukRadios({
      idPrefix: "role-input",
      name: "role-input",
      fieldset: {
        legend: {
          text: "Permission level",
          classes: "govuk-label--s"
        }
      },
      items: [
        {
          value: admin.id,
          text: "Administrator",
          label: {
            classes: "govuk-label--s"
          },
          hint: {
            html: "View transactions<br/>Refund payments</br/>Manage settings"
          }
        },
        {
          value: viewAndRefund.id,
          text: "View and refund",
          label: {
            classes: "govuk-label--s"
          },
          hint: {
            html: "View transactions<br/>Refund payments</br/>Cannot manage settings"
          }
        },
        {
          value: view.id,
          text: "View only",
          label: {
            classes: "govuk-label--s"
          },
          checked: true,
          hint: {
            html: "View transactions<br/>Cannot
            refund payments</br/>Cannot manage settings"
          }
        }
      ]
    }) }}

    {{ govukButton({ text: "Send invitation email" }) }}
    <p class="govuk-body">
      <a id="service-name-cancel-link" class="govuk-link govuk-link--no-visited-state" href="{{teamMemberIndexLink}}">
        Cancel
      </a>
    </p>
  </form>
{% endblock %}
