{% extends "simplified-account/services/service-layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set servicePageTitle %}
  Enter {% if isWelsh %}Welsh{% endif %} {{ serviceMode }} payment link details
{% endset %}

{% block serviceContent %}
  <h1 class="govuk-heading-l">{{ servicePageTitle }}</h1>

  {% set titleHint %}
    <p class="govuk-!-margin-bottom-0">The title of your payment link should:</p>
    <ul class="govuk-!-margin-top-0">
      <li>briefly describe what the user is paying for</li>
      <li>use plain language</li>
      <li>spell out acronyms in the description if necessary</li>
      <li>not include names or personal information</li>
    </ul>

    {% if isWelsh %}
      <p>For example “Talu am drwydded barcio”.</p>
    {% else %}
      <p>For example<br/>
        Bad: R1<br/>
        Good: Pay for your registration on the Register of Overseas Entities (R1)</p>
    {% endif %}
  {% endset %}

  {% set detailHint %}
    Give your users more information{% if isWelsh %} in Welsh{% endif %}. For example, you could tell them how long it takes for their application to be processed.
  {% endset %}

  {% set confirmationLabel %} https://www.gov.uk/payments{{friendlyURL}}/{{serviceName | removeIndefiniteArticles | slugify}}/{% endset %}

  <form method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

    {{ govukInput({
      label: {
        text: "Title",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      hint: {
        html: titleHint
      },
      id: "name",
      name: "name",
      value: formValues.name,
      errorMessage: { text: errors.formErrors['name'] } if errors.formErrors['name'] else false,
      attributes: {
        "data-confirmation": true,
        "data-confirmation-title": "Website address",
        "data-confirmation-label": confirmationLabel,
        "data-confirmation-filter": "slugify",
        "data-confirmation-display": "onload" if formValues.name else false
      }
    }) }}

    {{ govukTextarea({
      label: {
        text: "Details (optional)",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      hint: {
        text: detailHint
      },
      id: "description",
      name: "description",
      value: formValues.description,
      errorMessage: { text: errors.formErrors['description'] } if errors.formErrors['description'] else false
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

  {% if not isWelsh %}
    <h3 class="govuk-heading-s">Example of what users will see</h3>
    <img class="govuk-!-margin-bottom-6" src="/assets/images/payment-links/start-page.svg" alt="Screenshot of payment link start page">
  {% endif %}
{% endblock %}
