{% extends "simplified-account/services/service-layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set servicePageTitle = "Will your users already have a payment reference?" %}

{% block serviceContent %}
  <h1 class="govuk-heading-l">{{ servicePageTitle }}</h1>

  <p class="govuk-body">
    You can use numbers or words in your payment reference. For example, you can include the applicant's name or an existing reference number.
  </p>

  <form method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

    {{ govukRadios({
      idPrefix: "reference",
      name: "reference",
      classes: "bold-radio-labels",
      items: [
        {
          value: "yes",
          text: "Yes",
          hint: {
            text: "Either the paying user will provide the reference or I will be able to pre-fill the payment link with a reference for them"
          },
          checked: formValues.reference === "yes",
          conditional: {
            html: govukInput({
              label: {
                text: "Name of payment reference",
                classes: "govuk-label--m"
              },
              hint: {
                text: "For example 'Invoice number'"
              },
              id: "reference-label",
              name: "referenceLabel",
              value: formValues.referenceLabel,
              classes: "govuk-!-width-two-thirds",
              errorMessage: { text: errors.formErrors['referenceLabel'] } if errors.formErrors['referenceLabel'] else false
            }) +
            govukTextarea({
              label: {
                text: "Hint text (optional)",
                classes: "govuk-label--m"
              },
              hint: {
                text: "Tell users what the payment reference looks like and where to find it."
              },
              id: "reference-hint",
              name: "referenceHint",
              value: formValues.referenceHint,
              classes: "govuk-!-width-two-thirds",
              rows: 2,
              errorMessage: { text: errors.formErrors['referenceHint'] } if errors.formErrors['referenceHint'] else false
            })
          }
        },
        {
          value: "no",
          text: "No - use a reference generated by GOV.UK Pay",
          checked: formValues.reference === "no" or not formValues.reference
        }
      ],
      errorMessage: { text: errors.formErrors['reference'] } if errors.formErrors['reference'] else false
    }) }}

    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-top-0"
    }) }}
  </form>

  {% if not isWelsh %}
    <h2 class="govuk-heading-m govuk-!-margin-top-9">Example of what users will see</h2>

    <img src="/assets/images/payment-links/reference-page.svg" alt="Screenshot of payment link start page">
  {% endif %}
{% endblock %}
