<ol class="govuk-list govuk-list--number list__marker--bold">
  <li>
    <p class="govuk-body govuk-!-font-weight-bold">A user copies the payment link and enters it in a web browser.</p>
    <p class="govuk-body"
      >The URL will be created from your service name. For example: https://payment.service.gov.uk/pay/fishing-permit</p
    >
  </li>
  <li>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3"
      >The user arrives at this page, which tells them what they're paying for. You can customise the wording that goes
      here.</p
    >
    <img
      class="image__max-width"
      src="/assets/images/payment-links/start-page.svg"
      alt="Screenshot of payment link start page"
    />
  </li>
  <li>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3"
      >You can choose to use a unique payment reference number for the user to enter, or we can create one for you.</p
    >
    <img
      class="image__max-width"
      src="/assets/images/payment-links/reference-page.svg"
      alt="Screenshot of payment link reference page"
    />
  </li>
  <li>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3"
      >The user enters the amount they need to pay, or proceeds with a set amount you've chosen.</p
    >
    <img
      class="image__max-width"
      src="/assets/images/payment-links/amount-and-confirm-page.svg"
      alt="Screenshot of both payment link amount and confirm pages"
    />
  </li>
  <li>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3"
      >The user enters their payment information and makes the payment.</p
    >
    <img
      class="image__max-width"
      src="/assets/images/payment-links/payment-page.svg"
      alt="Screenshot of payment information page"
    />
  </li>
  <li>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3"
      >The user receives confirmation that their payment was successful. This is also emailed to them with a payment
      reference number.</p
    >
    <img
      class="image__max-width"
      src="/assets/images/payment-links/success-page.svg"
      alt="Screenshot of confirmation page"
    />
  </li>
</ol>
