{% if currentGatewayAccount.paymentProvider | lower == 'stripe' %}
  {% set onboardingPath = paths.simplifiedAccount.settings.stripeDetails.index | formatServiceAndAccountPathsFor(currentService.externalId, currentGatewayAccount.type) %}
  {% elseif currentGatewayAccount.paymentProvider | lower == 'worldpay' %}
  {% set onboardingPath = paths.simplifiedAccount.settings.worldpayDetails.index | formatServiceAndAccountPathsFor(currentService.externalId, currentGatewayAccount.type) %}
{% endif %}
{% set sandboxModePath = paths.simplifiedAccount.enterSandboxMode.index | formatServiceAndAccountPathsFor(currentService.externalId, currentGatewayAccount.type) %}

{{
  govukInsetText({
    html: "<a class='govuk-link govuk-link--no-visited-state' href='" + onboardingPath + "'>Finish going live</a> before you can " + ("create" if products.length === 0 else "edit") + " live payment links. <a class='govuk-link govuk-link--no-visited-state' href='" + sandboxModePath + "'>Enter sandbox mode</a> to " + ("view" if products.length === 0 else "edit") + " and create test payment links.",
    classes: "service-settings-inset-text--grey"
  })
}}
