<h1 class="govuk-heading-l page-title">{{ servicePageTitle }}</h1>

{% if products.length > 0 and serviceMode === 'test' %}
  {{
    govukWarningText({
      text: "Test payment links will not work for paying users. Do not send them to users as they will be unable to pay for your service.",
      iconFallbackText: "Warning"
    })
  }}
{% endif %}
{% include "simplified-account/services/payment-links/partials/_index-preamble.njk" %}

<div class="govuk-button-group">
  {{
    govukButton({
      text: "Create a " + serviceMode + " payment link",
      href: createLink
    })
  }}

  <a class="govuk-link govuk-link--no-visited-state" href="{{ createLink }}?language=cy"
    >Create a {{ serviceMode }} payment link in Welsh</a
  >
</div>

{% if products.length > 0 %}
  <h2 class="govuk-heading-m">{{ serviceMode | smartCaps }} payment links ({{ products.length }})</h2>
  {% for product in products %}
    {% set productTitle %}
      {{ product.name }}
      {% if product.language === 'cy' %}<br /><span class="govuk-!-font-weight-regular">(Welsh)</span>{% endif %}
    {% endset %}

    {{
      govukSummaryList({
        card: {
          title: {
            html: productTitle,
            headingLevel: 3,
            classes: "multiline-title break-all"
          },
          actions: {
            items: [
              {
                href: product.editLink,
                text: 'Edit',
                visuallyHiddenText: 'payment link',
                classes: "govuk-link govuk-link--no-visited-state"
              },
              {
                href: product.deleteLink,
                text: 'Delete',
                visuallyHiddenText: 'payment link',
                classes: "govuk-link govuk-link--no-visited-state"
              }
            ]
          }
        },
        rows: [
          {
            key: {
            text: 'Web address'
          },
            value: {
            html: '<a href="' + product.href + '" class="govuk-link govuk-link--no-visited-state">' + product.href + '</a>'
          }
          },
          {
            key: {
            text: 'Details'
          },
            value: {
            html: product.details
          }
          } if product.details,
          {
            key: {
            text: 'Payment reference'
          },
            value: {
            text: product.reference
          }
          },
          {
            key: {
            text: 'Payment amount'
          },
            value: {
            text: product.amount
          }
          }
        ]
      })
    }}
  {% endfor %}
{% endif %}
