{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Set up an authenticator app - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
  govukBackLink({
    text: "Back",
    href: routes.register.securityCodes
  })
  }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Set up an authenticator app</h1>

    <p class="govuk-body">1. Open your authenticator app on your smartphone, tablet or computer.</p>

    {% set detailsHTML %}
      <p class="govuk-body">Instead of text message codes, you can use an authenticator app to sign in to GOV.UK Pay. This is an app (usually installed on your phone) that generates a security code whenever you need to sign in. If you choose to use an authenticator app, you will only be able to sign in to GOV.UK Pay using that app.</p>
      <p class="govuk-body">GOV.UK Pay works with most authenticator apps. If you do not have one installed already, there are several available. These include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://authy.com/">Authy</a></li>
        <li><a class="govuk-link" href="https://duo.com/product/multi-factor-authentication-mfa/duo-mobile-app">Duo Mobile</a></li>
        <li><a class="govuk-link" href="https://freeotp.github.io/">FreeOTP</a></li>
        <li><a class="govuk-link" href="https://support.google.com/accounts/answer/1066447">Google Authenticator</a></li>
        <li><a class="govuk-link" href="https://www.microsoft.com/en-gb/security/mobile-authenticator-app">Microsoft Authenticator</a></li>
      </ul>
    {% endset %}

    {{ govukDetails({
      summaryText: "What is an authenticator app?",
      html: detailsHTML
    }) }}

    <p class="govuk-body">2. Use your authenticator app to scan the QR code or type the secret key into your authenticator app. Some authenticator apps call the secret key a ‘code’</p>

    <figure class="govuk-!-margin-top-0 govuk-!-margin-left-0 govuk-!-margin-bottom-6">
      <img class="qr-code pay-!-negative-margin-h-3" src="{{qrCodeDataUrl}}" alt="If you cannot view or scan the barcode, please enter the secret manually">
      <figcaption>
        <h4 class="govuk-body">Secret key:</h4>
        <code class="code" data-cy="otp-secret">{{prettyPrintedSecret}}</code>
      </figcaption>
    </figure>

    <p class="govuk-body">3. The authenticator app will show a security code.</p>

    <p class="govuk-body">4. Enter the security code.</p>

    <form method="post">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {{ govukInput({
        label: {
          text: "Security code",
          isPageHeading: false
        },
        hint: {
          text: 'This is the 6-digit number shown in your authenticator app'
        },
        id: "code",
        name: "code",
        classes: "govuk-input--width-10"
      }) }}

      {{ govukButton({ text: "Continue" }) }}

      <p class="govuk-body">
        <a href="{{ routes.register.securityCodes }}" class="govuk-link govuk-link--no-visited-state">Get a code another way</a>
      </p>
    </form>
  </div>
{% endblock %}
