{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Enter your email address - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-one-half">

    {{ errorSummary ({
      errors: errors,
      hrefs: {
        'email': '#email'
      }
    }) }}

    <form method="post" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {{ govukInput({
        label: {
          text: "Enter your email address",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Must be from a government organisation"
        },
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "work email",
        spellcheck: false,
        errorMessage: { text: errors['email'] } if errors['email'] else false,
        value: email
      }) }}

      {{ govukButton({
        text: "Continue",
        attributes: {
          id: "continue"
        }
      }) }}
    </form>
  </div>
{% endblock %}
