{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Create your password - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-one-half">

    <h1 class="govuk-heading-l">Create your password</h1>

    <p class="govuk-body">Your password must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>be at least 10 characters long</li>
    </ul>

    <p class="govuk-body">Do not use a very common password, such as ‘password’ or a sequence of numbers.</p>

    <form method="post">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {{ govukInput({
        label: {
          text: "Enter a password",
          isPageHeading: false
        },
        id: "password",
        name: "password",
        classes: "govuk-!-width-two-thirds",
        type: "password",
        autocomplete: "new-password"
      }) }}

      {{ govukInput({
        label: {
          text: "Re-type password",
          isPageHeading: false
        },
        id: "password-2",
        name: "password-2",
        classes: "govuk-!-width-two-thirds",
        type: "password",
        autocomplete: "new-password"
      }) }}

      {{ govukDetails({
        summaryText: "How to create a secure password",
        text: "A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces."
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
{% endblock %}
