{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Enter your mobile phone number - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
  govukBackLink({
    text: "Back",
    href: routes.register.securityCodes
  })
  }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-one-half">

    <form method="post">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {{ govukInput({
        label: {
          text: "Enter your mobile phone number",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "We will send a 6 digit security code to the number you give us."
        },
        id: "phone",
        name: "phone"
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
{% endblock %}
