{{< layout_logged_out}}

{{$pageTitle}}
Sign in to GOV.UK Pay
{{/pageTitle}}
{{$mainContent}}
<div class="column-half no-padding">
  <h1 class="form-title heading-large">
    Resend verification code
  </h1>
  <p>
    text messages sometimes take a few minutes to arrive. If you did not receive the text, you can resend it.
  </p>
  <p>
    If you no longer have access to the phone with the number registered for this service,
    speak to your service manager to reset the number
  </p>
  <form action="{{routes.register.reVerifyPhone}}" class="form" method="post" id="otp-send-again">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <div class="form-group">
      <label class="form-label" for="telephone-number">
        Mobile number
        <span class="form-hint">
	              We'll send you a security code by text message
	            </span>
      </label>
      <input type="text" class="form-control" id="telephone-number" name="telephone-number" value="{{telephone_number}}">
    </div>
    <div class="form-group">
      <input type="hidden" name="send" value="true">
      <input class="button" type="submit" value="Resend verification code">
    </div>
  </form>
</div>

{{/mainContent}}
{{/layout_logged_out}}








