{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Check your phone - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
  govukBackLink({
    text: "Back",
    href: routes.register.phoneNumber
  })
  }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-one-half">

    <h1 class="govuk-heading-l">Check your phone</h1>

    {{ govukInsetText({
      text: "We have sent a code to " + redactedPhoneNumber + "."
    }) }}

    <form method="post">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {{ govukInput({
        label: {
          text: "Enter the 6 digit security code",
          isPageHeading: false
        },
        id: "code",
        name: "code",
        classes: "govuk-input--width-10"
      }) }}

      {% set detailsHTML %}
      <p class="govuk-body">Try to <a class="govuk-link govuk-link govuk-link--no-visited-state" href="{{ routes.register.resendCode }}">send the code again</a>, or <a class="govuk-link govuk-link govuk-link--no-visited-state" href="{{ routes.register.securityCodes }}">get a code another way</a>.
      {% endset %}

      {{ govukDetails({
        summaryText: "Problems with the code?",
        html: detailsHTML
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
{% endblock %}
