{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  You’ve created your account - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">You’ve created your GOV.UK Pay account</h1>

  <p class="govuk-body">Now continue to use the service</p>

  {{
    govukButton({
      text: "Continue",
      href: routes.serviceSwitcher.index
    })
  }}
</div>
{% endblock %}
