{% extends "simplified-account/settings/settings-layout.njk" %}

{% set settingsPageTitle = "Revoke " + ("test" if accountType === 'test' else "live") + " API key" %}

{% block settingsContent %}
  <form id="revoke-key-form" method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {{ govukRadios({
      name: 'revokeKey',
      errorMessage: { text: errors.formErrors['revokeKey'] } if errors.formErrors['revokeKey'] else false,
      fieldset: {
        legend: {
          text: 'Are you sure you want to revoke ' + name + '?',
          isPageHeading: true,
          classes: 'govuk-fieldset__legend--l govuk-!-font-weight-bold'
        }
      },
      hint: {
        text: 'The key will stop working immediately. Any integration you’ve created will no longer work.'
      },
      items: [
        {
          text: 'Yes',
          value: 'yes'
        },
        {
          text: 'No',
          value: 'no'
        }
      ]
    }) }}
    {{ govukButton({
      text: 'Save changes'
    }) }}
  </form>
{% endblock %}
