{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Choose the payment service provider you’ll use - Request a live account - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">

    {{ errorSummary ({
      errors: errors,
      hrefs: {
        'choose-how-to-process-payments-mode': '#choose-how-to-process-payments-mode'
      }
    }) }}

    <span id="request-to-go-live-current-step" class="govuk-caption-l">Step 2 of 3</span>

    <form id="request-to-go-live-choose-how-to-process-payments-form" method="post"
          action="{{formatServicePathsFor(routes.service.requestToGoLive.chooseHowToProcessPayments, currentService.externalId)}}" >
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {{ govukRadios({
        idPrefix: 'choose-how-to-process-payments-mode',
        name: 'choose-how-to-process-payments-mode',
        fieldset: {
          legend: {
            text: 'Choose the payment service provider you’ll use',
            isPageHeading: true,
            classes: 'govuk-fieldset__legend--l'
          }
        },
        errorMessage: { text: errors['choose-how-to-process-payments-mode'] } if errors['choose-how-to-process-payments-mode'] else false,
        items: [
          {
            value: 'stripe',
            text: 'GOV.UK Pay’s provider',
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: 'For local authorities, police and government-owned charitable groups. GOV.UK Pay has a contract with Stripe to process payments. Using Stripe means that you do not need your own contract with a payment service provider.'
            }
          },
          {
            value: 'gov_banking',
            text: "Government Banking’s provider",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: 'For central government, arm’s length bodies and NHS. Government Banking has a contract with Worldpay to process payments. You need an agreement with Government Banking to use their contract.'
            }
          }
        ]
        }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
{% endblock %}
