{% extends "../../layout.njk" %}
{% from "../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Please update your account information - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if errors %}
        {{ errorSummary({
            errors: errors,
            keyIsHref: true
        }) }}
    {% endif %}

    <h1 class="govuk-heading-l">Please update your account information</h1>
    <p class="govuk-body">GOV.UK Pay's provider, Stripe, have updated thier account compliance requirements.</p>
    <p class="govuk-body">Updating information about your business is required to help protect against fraud and stay current with Know Your Customer (KYC) regulations.</p>
    <p class="govuk-body">All additional required information will be stored by Stripe, not GOV.UK Pay.</p>

    <form
        id="compliance-required-info-form"
        method="POST"
        action="/stripe-compliance-2020"
        class="govuk-!-margin-top-6"
        enctype="multipart/form-data"
        novalidate>
        <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                Your organisation
                </h1>
            </legend>

            {# {{ govukInput({
                label: { html: '<span class="govuk-visually-hidden">Your organisation</span> Email' },
                id: "organisation-email",
                name: "organisation-email",
                value: form["organisation-email"],
                errorMessage: {
                    text: errors["organisation-email"]
                } if errors["organisation-email"]
            }) }} #}

            {{ govukInput({
                label: { html: '<span class="govuk-visually-hidden">Your organisation</span> Website' },
                id: "organisation-url",
                name: "organisation-url",
                value: form["organisation-url"],
                errorMessage: {
                    text: errors["organisation-url"]
                } if errors["organisation-url"]
            }) }}
        </fieldset>

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                Your responsible person
                </h1>
            </legend>


            <p class="govuk-body">As a reminder, the responsible person for this account is <b>{{ responsiblePerson.first_name }} {{ responsiblePerson.last_name }}</b>.</p>

            {{ govukInput({
                label: { html: '<span class="govuk-visually-hidden">Responsible person</span> Email' },
                id: "person-email",
                name: "person-email",
                value: form["person-email"],
                errorMessage: {
                    text: errors["person-email"]
                } if errors["person-email"]
            }) }}

            {{ govukInput({
                label: { html: '<span class="govuk-visually-hidden">Responsible person</span> Phone number' },
                id: "person-number",
                name: "person-number",
                value: form["person-number"],
                hint: { text: "Any valid UK phone number" },
                errorMessage: {
                    text: errors["person-number"]
                } if errors["person-number"]
            }) }}

            {{ govukInput({
                label: { html: '<span class="govuk-visually-hidden">Responsible person</span> Job title' },
                id: "person-job-title",
                name: "person-job-title",
                value: form["person-job-title"],
                errorMessage: {
                    text: errors["person-job-title"]
                } if errors["person-job-title"]
            }) }}

            {% if personIsVerified %}
                <div class="govuk-form-group">
                    <label class="govuk-label">
                        Upload a <span class="govuk-visually-hidden">responsible person</span> verification document
                    </label>
                    <p class="govuk-body">
                        <strong class="govuk-tag govuk-tag--green">Verified</strong> Your responsible person has already been successfully verified with Stripe.
                    </p>
                </div>
            {% else %}
                {{ govukFileUpload({
                    id: "person-identity-document",
                    name: "person-identity-document",
                    label: { html: 'Upload an <span class="govuk-visually-hidden">responsible person</span> identity document' },
                    hint: { text: 'Acceptable forms of identification include: Passport, Driver license, Resident permit, Citizen Card, electoral ID, Validate UK. Document should be in colour and rotated with the image right-side up.' },
                    errorMessage: {
                        text: errors["person-identity-document"]
                    } if errors["person-identity-document"],
                    attributes: {
                        "accept": "image/jpeg, image/png"
                    }
                }) }}
                {{ govukFileUpload({
                    id: "person-additional-document",
                    name: "person-additional-document",
                    label: { html: 'Upload a <span class="govuk-visually-hidden">responsible person</span> verification document' },
                    hint: { text: 'A document showing address, either a passport, local ID card or utility bill from a well-known utility company.' },
                    errorMessage: {
                        text: errors["person-additional-document"]
                    } if errors["person-additional-document"],
                    attributes: {
                        "accept": "image/jpeg, image/png, application/pdf"
                    }
                }) }}

            {% endif %}
        </fieldset>

        {{ govukButton({ text: "Save and continue" }) }}
    </form>
   </div>
{% endblock %}