{% extends "../policy-html.njk" %}

{% set policyTitleText = "Contract For Non-Crown Bodies" %}

{% block policyTitle %}
  {{ policyTitleText }}
{% endblock %}

{% block policyDescription %}
  If you’re a non-Crown body, the contract terms apply when you use GOV.UK Pay.
{% endblock %}

{% block policyHtmlTitle %}
  {{ policyTitleText }} 
{% endblock %}

{% block downloadFileDetails %}
  PDF, 431KB, 38 pages
{% endblock %}

{% block lastUpdatedDate %}
  TBC
{% endblock %}
