{% extends "layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
  My services - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if flags.recentlyInvitedServiceName %}
      {% set html %}
        <p class="govuk-notification-banner__heading">
          You have been added to {{ flags.recentlyInvitedServiceName }}
        </p>
      {% endset %}
      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}
    {% endif %}
    <h1 class="govuk-heading-l">My services</h1>
  </div>
  {% if services.length %}
    <div class="govuk-grid-column-two-thirds reports" data-cy="reports-section">
      <h2 class="govuk-body">
        <a href="{{ allServiceTransactionsPath }}"
           class="govuk-link govuk-!-margin-right-3 govuk-link--no-visited-state govuk-!-font-weight-bold">
          Transactions for all services
        </a>
      </h2>

      {% if flags.hasAccountWithPayouts %}
        <h2 class="govuk-body">
          <a href="{{ payoutsPath }}"
             class="govuk-link govuk-!-margin-right-3 govuk-link--no-visited-state govuk-!-font-weight-bold">
            Payments to your bank account
          </a>
        </h2>
      {% endif %}
    </div>
  {% endif %}
  <div class="govuk-grid-column-two-thirds">
    {{ govukButton({
      classes: "govuk-button--secondary",
      text: "Add a new service",
      href: createServicePath
    }) }}
    {% if services.length %}
      {% if services.length > 7 %}
        <div class="govuk-grid-row service-filter" data-cy="service-filter">
          <div class="govuk-grid-column-two-thirds">
            <label class="govuk-label" for="service-filter">Filter services</label>
            <div id="service-filter-container" class="autocomplete-container"></div>
          </div>
          <div class="govuk-grid-column-one-third">
            <button class="govuk-link pay-button--as-link govuk-!-margin-top-7" id="clear-filters">Clear filter</button>
          </div>
        </div>
      {% endif %}
      <div data-cy="service-list">
        {% for service in services %}
          {% include "./_service-section.njk" %}
        {% endfor %}
      </div>
    {% else %}
      <p class="govuk-body">
        You do not have any services set up at the moment. Either
        <a href="{{ createServicePath }}" class="govuk-link govuk-link--no-visited-state">create a new
          one</a>
        or contact an administrator of an existing service to be added to it.
      </p>
    {% endif %}
  </div>
{% endblock %}
