{% extends "layout-new.njk" %}

{% block pageTitle %}
Card types - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
  {% if not permissions.payment_types_update %}
    {% include "includes/settings-read-only.njk" %}
  {% endif %}

  <h1 class="govuk-heading-l page-title">Card types</h1>

  {% if permissions.payment_types_update %}
  <h2 class="govuk-heading-m">Manage accepted cards</h2>
  {% endif %}

  <div id="payment-types">
    {% block page_content %}
    {% endblock %}
  </div>
</div>
{% endblock %}
