{% extends "./index.njk" %}
{% from "components/inset-text/macro.njk" import govukInsetText %}
{% from "components/button/macro.njk" import govukButton %}

{% block page_content %}
  {% if permissions.payment_types_update %}
  <form id="payment-types-card-brand-selection-form" method="post" action="{{routes.paymentTypes.selectBrand}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <input id="accepted-card-type" name="acceptedType" type="hidden" value="{{acceptedType}}"/>

    <div class="panel panel-border-wide">
      {% if isAcceptedTypeAll %}
        {{ govukInsetText({
          text: "You have chosen to accept debit and credit cards",
          attributes: {
            id: "payment-types-accept-all-types-message"
          }
        }) }}
      {% else %}
        {{ govukInsetText({
          text: "You have chosen to only accept debit cards",
          attributes: {
            id: "payment-types-accept-debit-types-message"
          }
        }) }}
      {% endif %}
    </div>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Now choose the card brands you want to accept?
          </h1>
        </legend>
        <table class="govuk-table checkbox-row-selection">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Card brand</th>
              <th class="govuk-table__header govuk-text-align-right" scope="col">Accept</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% for brand in brands %}
          {% if brand.available %}
            <tr class="govuk-table__row" id="{{ brand.id }}">
          {% else %}
            <tr class="govuk-table__row govuk-text-grey payment-types-not-available" id="{{ brand.id }}">
          {% endif %}
            <td class="govuk-table__cell table-data-label">
                {% if brand.available %}
                  <img class="govuk-float--left  govuk-!-margin-2" src="/public/images/{{ brand.value }}-color.png" alt="" height="34" width="50" />
                {% else %}
                  <img class="govuk-float--left  govuk-!-margin-2" src="/public/images/{{ brand.value }}-bw.png" alt="" height="34" width="50" />
                {% endif %}
                <span class="govuk-float--left govuk-!-margin-left-2 govuk-!-margin-top-3 {{ brand.value }}">
                  {{ brand.label | upper if brand.label === 'Jcb' else brand.label }}
                </span>
              </td>
              <td class="govuk-table__cell table-data-accept govuk-text-align-right pay-checkbox__wrapper">
                {% if brand.available %}
                  <input id="checkbox-{{ brand.value }}" class="payment-types-checkbox pay-checkbox__input" type="checkbox" name="acceptedBrands" value="{{ brand.value }}" {{ brand.selected }}>
                  <label class="pay-checkbox__label" for="checkbox-{{ brand.value }}">
                    <span class="govuk-visually-hidden">{{ brand.value }}</span>
                  </label>
                {% else %}
                  {% if brand.unavailabilityReason === '3DS' %}
                    <span>You must <a href="{{routes.toggle3ds.index}}">enable 3D Secure</a> to accept Maestro</span>
                  {% else %}
                    <span>{{ brand.unavailabilityReason }}</span>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </fieldset>
      {% if error %}
      <div class="govuk-form-group govuk-form-group--error">
          <span class="govuk-error-message" id="payment-types-error-message">{{error}}</span>
      </div>
      {% endif %}
    </div>
    {{
      govukButton({
        text: "Save changes",
        attributes: {
          id: "payment-types-save-button"
        }
      })
    }}
    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" id="payment-types-cancel-link" href="{{routes.paymentTypes.summary}}">
          Cancel
      </a>
    </p>
  </form>
  {% endif %}
{% endblock %}
