
  <p class="govuk-body">Choose which credit and debit cards you want to accept.</p>

  <form method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <input type="hidden" name="currentAcceptedCardTypeIds" value="{{ currentAcceptedCardTypeIds }}" />
    {{
    govukCheckboxes({
      idPrefix: "debit",
      name: "debit",
      classes: "with-border govuk-!-padding-top-3 pay-!-border-top",
      fieldset: {
        legend: {
          text: "Debit cards",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: cardTypes.debitCards
    })
    }}

    {{
    govukCheckboxes({
      idPrefix: "credit",
      name: "credit",
      classes: "with-border govuk-!-padding-top-3 pay-!-border-top",
      fieldset: {
        legend: {
          text: "Credit cards",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: cardTypes.creditCards
    })
    }}

    {{
    govukButton({
      text: 'Save changes',
      attributes: {
        id: "save-card-types"
      }
    })
    }}
  </form>
