{% for category, items in cardTypes %}
    {% if (items.length > 0) %}
      <h3 class="govuk-heading-m">
        {{ category }}
      </h3>
      {% set cardList = [] %}
      {% for card in items %}
        {% set cardListItem = {
          key: {
            text: card,
            classes: "govuk-!-display-none"
          },
          value: {
            html: card
          }
        } %}
        {% set cardList = (cardList.push(cardListItem), cardList) %}
      {% endfor %}
      {{ govukSummaryList({ rows: cardList }) }}
    {% endif %}
{% endfor %}
