{% extends "../layout.njk" %}

{% block pageTitle %}
  Google Pay - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Google Pay
    </h1>

  {% if isDigitalWalletSupported %}
      <h2 class="govuk-heading-s">
        If you turn on Google Pay:
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>your service will accept both credit and debit cards</li>
        <li>corporate card fees cannot be applied to payments made with Google Pay.</li>
      </ul>

      <p class="govuk-body">
        You’ll need a Google Pay merchant ID. Refer to the <a class="govuk-link" href="https://docs.payments.service.gov.uk/digital_wallets/#enable-google-pay">GOV.UK Pay documentation on enabling Google Pay</a> to learn where to find your merchant ID.
      </p>

      <form method="post">
        <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

        {% set merchantID %}
          {{
            govukInput({
              id: "merchantId",
              name: "merchantId",
              label: {
                text: "Merchant ID"
              },
              classes: "govuk-!-width-two-thirds"
            })
          }}
        {% endset %}

        {{
          govukRadios({
            name: 'google-pay',
            fieldset: {
              legend: {
                text: 'Google Pay:',
                classes: 'govuk-!-font-weight-bold'
              }
            },
            items: [
              {
                text: 'On',
                value: 'on',
                checked: true if currentGatewayAccount.allow_google_pay else false,
                conditional: {
                  html: merchantID
                }
              },
              {
                text: 'Off',
                value: 'off',
                checked: true if not currentGatewayAccount.allow_google_pay else false
              }
            ]
          })
        }}

        {{
          govukButton({
            text: "Save changes"
          })
        }}
      </form>
      <p class="govuk-body">
        <a href="{{ formatAccountPathsFor(routes.account.settings.index, currentGatewayAccount.external_id) }}" class="govuk-link govuk-link--no-visited-state">
          No, cancel
        </a>
      </p>
    {% else %}
      {% include ('./_digital-wallet-not-supported-message.njk') %}
    {% endif %}
  </div>
{% endblock %}
