{% extends "../card-payment-types/index.njk" %}
{% from "components/inset-text/macro.njk" import govukInsetText %}
{% from "components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Manage digital wallet - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block page_content %}
  {% if permissions.payment_types_read %}
    <div id="payment-types-card-summary">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Provider</th>
            <th class="govuk-table__header" scope="col" colspan="{{'2' if permissions.payment_types_update else '1'}}">Accepted</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-data-label govuk-!-padding-top-3 govuk-!-padding-bottom-2">
              <img alt="Apple Pay logo" class="digital-wallet-provider-logo" src="/public/images/apple-pay-mark.svg"/>
              Apple Pay
            </td>
            <td class="govuk-table__cell table-data-label">
              No
            </td>
            {% if permissions.payment_types_update %}
            <td class="govuk-table__cell table-data-label govuk-text-align-right">
              {% if currentGatewayAccount.allow_apple_pay %}
              <form method="post" action="{{routes.digitalWallet.disableApplePay}}">
                  <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
                  {{
                    govukButton({
                      text: "Disable"
                    })
                  }}
                </form>
              {% else %}
              <a href="{{routes.digitalWallet.confirmApplePay}}" class="govuk-link govuk-link--no-visited-state">
                Enable
              </a> 
              </a>

              {% endif %}
            </td>
            {% endif %}
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-data-label govuk-!-padding-top-3 govuk-!-padding-bottom-2">
              <img alt="Google Pay logo" class="digital-wallet-provider-logo" src="public/images/google-pay-mark.svg"/>
              Google Pay
            </td>
            <td class="govuk-table__cell table-data-label">
              No
            </td>
            {% if permissions.payment_types_update %}
            <td class="govuk-table__cell table-data-label govuk-text-align-right">
              <a href="{{routes.digitalWallet.confirmGooglePay}}" class="govuk-link govuk-link--no-visited-state">
                Enable
              </a>
            </td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>

    {{ govukInsetText({
      text: "Corporate card feeds cannot be applied to digital wallet payments."
    }) }}
  {% endif %}
{% endblock %}
