{% extends "../layout.njk" %}

{% block pageTitle %}
  Request Stripe test account - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% if not enabledMyServicesAsDefaultView %}
  {{
    govukBackLink({
      text: "My services",
      href: routes.serviceSwitcher.index
    })
  }}
  {% endif %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">

  {% if isServiceLive %}
    <h1 class="govuk-heading-l">
      Test account cannot be requested
    <h1>
    <p class="govuk-body">
      Stripe test accounts cannot be requested for a live service. You can create another service and request a Stripe test account
    </p>
  {% else %}
      {% if requestForPspTestAccountNotStarted %}
        <form id="submit-request-for-psp-test-account-form" method="post">
            <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
            <h1 class="govuk-heading-l">Request Stripe test account</h1>
            <p class="govuk-body">
              Stripe is GOV.UK Pay's centrally-procured Payment Service Provider (PSP). With a Stripe test account, you can access the same reports and functionality as a live account, including:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                      <li>transaction fees</li>
                      <li>gross and net payments</li>
                      <li>payments into your bank account</li>
            </ul>
            <p class="govuk-body">
              You can also integrate with our reporting and reconciliation API.
              Learn more <a class="govuk-link" href="https://docs.payments.service.gov.uk/integrate_with_govuk_pay/#integrate-with-the-gov-uk-pay-api"> about Pay's API</a>.
            </p>
            <p class="govuk-body">
              We can usually set up a Stripe test account for your service within 2 working days.
            </p>

          <div class="button-group">
            <button type="submit" id="submit-request" href="" class="govuk-button govuk-!-margin-bottom-0">
              Submit request
            </button>
          </div>
        </form>
    {% elif requestForPspTestAccountSubmitted %}
      <h1 class="govuk-heading-l">
        Account already requested
      </h1>
      <p class="govuk-body">
        A user has requested a Stripe test account for this service. We usually set up the account within 2 working days.
      </p>
      <p class="govuk-body">
        When it's ready, you'll find it in
        <a class="govuk-link" href="{{ routes.serviceSwitcher.index }}" title="My services" id="my-services">My services</a>
      </p>
    {% elif pspTestAccountCreated %}
      <h1 class="govuk-heading-l">
        Stripe test account already set up
      <h1>
      <p class="govuk-body">
        There is a test account for this service. Find it in
        <a class="govuk-link" href="{{ routes.serviceSwitcher.index }}" title="My services" id="my-services">My services</a>
      </p>
    {% elif pspTestAccountRequestSubmitted %}
      <h1 class="govuk-heading-l">
        Request submitted for Stripe test account
      <h1>
      <p class="govuk-body">
        Thank you for requesting a Stripe test account
      </p>
      <p class="govuk-body">
        We’ll respond within two working days, and we usually create test account at the same time.
        Your service’s test account will be ready within 2 working days. We’ll email with confirmation and further information.
      </p>
      <p class="govuk-body">
        Access your live and test services in <a class="govuk-link" href="{{ routes.serviceSwitcher.index }}" title="My services" id="my-services">My services</a>
      </p>
    {% endif %}
  {% endif %}

  </div>
{% endblock %}
