<div class="govuk-grid-column-full">
  {% set html %}
    <p class="govuk-notification-banner__heading">
      Finish setting up your service to start taking payments
    </p>
    <p class="govuk-body">
      You've started to set up your live account. There are still some <a class="govuk-notification-banner__link" href="{{ configurePSPAccountLink }}">steps you need to complete</a>.
    </p>
  {% endset %}
  {{ govukNotificationBanner({
    html: html
  }) }}
</div>
