{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if permissions.stripe_account_details_update %}
  {% set connectorGatewayAccountStripeProgress = gatewayAccount.connectorGatewayAccountStripeProgress %}

  {% set isStripeAccountRestricted = stripeAccount.charges_enabled === false %}
  {% set stripeAccountHasDeadline = stripeAccount.requirements.current_deadline %}
  {% set governmentEntityDocCompleteOrNotRequired = stripeAccount.has_legacy_payments_capability or (not stripeAccount.has_legacy_payments_capability and connectorGatewayAccountStripeProgress.governmentEntityDocument) %}
  {% set isConnectorStripeJourneyComplete = connectorGatewayAccountStripeProgress.bankAccount and connectorGatewayAccountStripeProgress.vatNumber and connectorGatewayAccountStripeProgress.companyNumber and connectorGatewayAccountStripeProgress.responsiblePerson and governmentEntityDocCompleteOrNotRequired %}

  {% set panelModifierClass %}
    {% if isStripeAccountRestricted %}
      account-status-panel--restricted
    {% endif %}
  {% endset %}

  {% if connectorGatewayAccountStripeProgress and gatewayAccount.payment_provider === 'stripe' and (not isConnectorStripeJourneyComplete) %}
      <div class="govuk-grid-column-full">
        {% set html %}
        {% if isStripeAccountRestricted %}
          <h2 class="govuk-heading-m">Stripe has restricted your account</h2>

          <p class="govuk-body">To start taking payments again, please add:</p>
        {% elif stripeAccountHasDeadline %}
          {% set dateString = stripeAccount.requirements.current_deadline %}

          <h2 class="govuk-heading-m">You must add more details by {{dateString}} to continue taking payments</h2>
          <p class="govuk-body">
            Your service can now take payments from users. You must add more details by {{dateString}} or Stripe will not pay the money into your bank account. Please add:
          </p>
        {% else %}
          <h2 class="govuk-heading-m">Enter more information to enable payments to your bank account</h2>
          <p class="govuk-body">
              Until you add this information, your service is restricted to taking a total of £2000 and you will not get payouts to your bank account. Please add:
          </p>
        {% endif %}

        <ul class="govuk-list govuk-list--bullet" data-cy="stripe-setup-list">
          {% if not connectorGatewayAccountStripeProgress.bankAccount %}
            <li>organisation bank details</li>
          {% endif %}
          {% if not connectorGatewayAccountStripeProgress.responsiblePerson %}
            <li>the name, date of birth and home address of the person in your organisation legally responsible for payments (called your ‘<a href="https://www.payments.service.gov.uk/required-responsible-person-and-director-information/" class="govuk-link">responsible person</a>’)</li>
          {% endif %}
          {% if not connectorGatewayAccountStripeProgress.director %}
            <li>the name, date of birth and work email address of the director of your service (or someone at director level)</li>
          {% endif %}
          {% if not connectorGatewayAccountStripeProgress.vatNumber %}
            <li>VAT number (if applicable)</li>
           {% endif %}
          {% if not connectorGatewayAccountStripeProgress.companyNumber %}
            <li>Company registration number (if applicable)</li>
          {% endif %}
          {% if not connectorGatewayAccountStripeProgress.governmentEntityDocument %}
            <li>government entity document</li>
          {% endif %}
        </ul>

        {% if not connectorGatewayAccountStripeProgress.organisationDetails %}
          <p class="govuk-body" data-cy="stripe-setup-cofirm-org-details">
            You must also confirm that the name and address of your organisation in GOV.UK Pay exactly match your government entity document.
          </p>
        {% endif %}

        {{
        govukButton({
          text: 'Add details',
          classes: 'govuk-!-margin-bottom-0',
          href: formatAccountPathsFor(routes.account.stripe.addPspAccountDetails, currentGatewayAccount.external_id),
          attributes: {
            id: "add-account-details"
          }
        })
      }}
      {% endset %}
      {{ govukNotificationBanner({
          html: html
      }) }}
      </div>
  {% elif  isStripeAccountRestricted %}
    <div class="govuk-grid-column-full">
    {% set html %}
        <h2 class="govuk-heading-m">Stripe has restricted your account</h2>
        <p class="govuk-body">To start taking payments again, please contact support.</p>
        <p class="govuk-body">
          <a class="govuk-link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" target="_top">govuk-pay-support@digital.cabinet-office.gov.uk</a>
        </p>
    {% endset %}
    {{ govukNotificationBanner({
      html: html
    }) }}
    </div>
  {% endif %}
{% endif %}
