{% extends "layout.njk" %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  Confirm turn off billing address - {{ currentService.name }} {{ currentGatewayAccount.full_type }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if permissions.toggle_billing_address_update %}
      <h1 class="govuk-heading-l govuk-!-margin-top-6">Are you sure you want to turn off the billing address?</h1>

      {{
        govukWarningText({
          text: "Your GOV.UK Pay integration may stop working correctly.",
          iconFallbackText: "Warning",
          attributes: {
            id: "billing-address-turn-off-message"
          }
        })
      }}

      <p class="govuk-body">If you turn off the billing address:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your payment service provider (PSP) or your users’ banks may decline more payments — if you’re unsure, check with your PSP</li>
        <li>your GOV.UK Pay integration may stop working correctly — if you’re unsure, check with your technical team</li>
      </ul>

      <form class="permission-main" method="post" action="{{ routes.toggleBillingAddress.off }}">
        <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
        {{
          govukButton({
            text: "Yes, turn off billing address",
            attributes: {
              id: "billing-address-confirm-off-button"
            }
          })
        }}
      </form>
    {% endif %}
  </div>
{% endblock %}
