{% extends "layout.njk" %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/inset-text/macro.njk" import govukInsetText %}
{% from "components/warning-text/macro.njk" import govukWarningText %}
{% from "components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Billing address - {{ currentService.name }} {{ currentGatewayAccount.full_type }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if not permissions.toggle_billing_address_update %}
      {% include "../includes/settings-read-only.njk" %}
    {% endif %}

    {% if collectBillingAddress %}
      {% if permissions.toggle_billing_address_read %}
        <h1 class="govuk-heading-l govuk-!-margin-top-6">You are collecting the billing address</h1>
      {% endif %}

      {% if permissions.toggle_billing_address_update %}
        <p class="govuk-body">Your service is currently set to collect the billing address from users.</p>

        <p class="govuk-body">Payment service providers (PSPs) use the billing address to carry out fraud checks.</p>

        <h3 class="govuk-heading-m">Turn off the billing address</h3>

        <p class="govuk-body">If you turn off the billing address:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your payment service provider (PSP) or your users’ banks may decline more payments — if you’re unsure, check with your PSP</li>
          <li>your GOV.UK Pay integration may stop working correctly — if you’re unsure, check with your technical team</li>
        </ul>

        <form class="permission-main" method="post" action="{{ routes.toggleBillingAddress.confirmOff }}">
          <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
          {{ govukButton({
            text: "Turn off billing address",
            attributes: {
              id:"billing-address-off-button"
            }
          }) }}
        </form>
      {% endif %}
    {% else %}
      {% if permissions.toggle_billing_address_read %}
        <h1 class="govuk-heading-l govuk-!-margin-top-6">You are not collecting the billing address</h1>
      {% endif %}

      {% if permissions.toggle_billing_address_update %}
        <p class="govuk-body">Your service is not currently set to collect the billing address from users.
        <p class="govuk-body">Payment service providers (PSPs) use the billing address to carry out fraud checks.</p>

        {% set detailsHTML %}
        <p class="govuk-body">Turning on the billing address adds the billing address section to the payment page.</p>

        <img width="100%" src="/public/images/remove-address.png">
        {% endset %}

        {{
          govukDetails({
            summaryText: "See an example payment page",
            html: detailsHTML,
            id: "billing-address-add-section-message"
          })
        }}

        <form class="permission-main" method="post" action="{{ routes.toggleBillingAddress.on }}">
          <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
          {{ govukButton({
            text: "Turn on billing address",
            attributes: {
              id:"billing-address-on-button"
            }
          }) }}
        </form>
      {% endif %}
    {% endif %}

  </div>
{% endblock %}
