.account-status-panel {
  margin: 0 15px;
  padding: 20px;
  border: 5px solid govuk-colour("blue");

  .govuk-grid-column-two-thirds {
    padding: 0;
  }

  &--restricted {
    border: 5px solid govuk-colour("red");
  }
}
