.key-list-item-meta {
  @include govuk-font($size: 16);

  margin-bottom: 1em;

  dl {
    margin: 0;
  }

  dt {
    font-weight: bold;
  }

  dt,
  dd {
    display: inline;
    margin: 0;
  }

  p {
    margin: 0 0 govuk-spacing(2);
  }
}

.key-list-item {
  padding: govuk-spacing(6) 0;
  border-top: 1px solid $govuk-border-colour;
}
