.pay-\!-border-top {
  border-top: 1px solid $govuk-border-colour;
}

.pay-\!-border-right {
  border-right: 1px solid $govuk-border-colour;
}

.pay-\!-border-bottom {
  border-bottom: 1px solid $govuk-border-colour;
}

.pay-\!-border-left {
  border-left: 1px solid $govuk-border-colour;
}
