.pay-\!-border-top {
  border-top: 1px solid $govuk-border-colour;
}

.pay-\!-border-right {
  border-right: 1px solid $govuk-border-colour;
}

.pay-\!-border-bottom {
  border-bottom: 1px solid $govuk-border-colour;
}

.pay-\!-border-left {
  border-left: 1px solid $govuk-border-colour;
}

.with-border .govuk-checkboxes__item::after {
  content: "";
  display: block;
  position: relative;
  left: -1 * govuk-spacing(7);
  width: 100%;
  margin: govuk-spacing(3) 0;
  padding-left: govuk-spacing(7);
  border-top: 1px solid $govuk-border-colour;
}

.pay-\!-border-bottom-0 {
  border: 0;
}
