.pay-button {
  &--as-link {
    @include govuk-font($size: 16);

    display: inline;
    padding: 0;
    border: 0;
    color: $govuk-link-colour;
    background-color: transparent;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:hover {
      color: $govuk-link-hover-colour;
    }
  }
}
