.pay-email {
  &-template {
    margin-bottom: govuk-spacing(6);
    padding: govuk-spacing(6) 0;
    border: 1px solid $govuk-border-colour;

    &-body {
      padding: govuk-spacing(2) govuk-spacing(3);

      p {
        overflow-wrap: break-word;
      }
    }

    &-meta-item {
      padding: govuk-spacing(2) govuk-spacing(3);
      border-bottom: 1px solid $govuk-border-colour;

      &__key {
        width: 20%;
        float: left;
      }

      &__value {
        width: 80%;
        float: left;
      }
    }
  }
}
