.feeback-banner {
  @include govuk-font($size: 16);
  border-bottom: govuk-spacing(2) solid govuk-colour("blue");

  &--inner {
    margin: govuk-spacing(6) govuk-spacing(3) 0;
    padding: govuk-spacing(2) govuk-spacing(3) 0;
    background-color: govuk-colour("blue");

    @include govuk-media-query(tablet) {
      margin: govuk-spacing(6) govuk-spacing(6) 0;
    }

    @include govuk-media-query($and: "(min-width: #{($govuk-page-width + $govuk-gutter * 2)})") {
    max-width: 930px;
      margin: govuk-spacing(6) auto 0;
    }
  }

  p {
    margin: 0;
  }

  a:link, a:visited {
    color: govuk-colour("white");
  }

}
