.links__box {
  position: relative;

  a {
    display: inline-block;
    text-decoration: none;
  }

  a:link {
    h2 {
      color: $govuk-link-colour;
      text-decoration: underline;
    }
  }

  a:visited {
    h2 {
      color: $govuk-link-visited-colour;
    }
  }

  a:hover {
    h2 {
      color: $govuk-link-hover-colour;
    }
  }

  a:focus {
    outline: 3px solid $govuk-focus-colour;
    background-color: $govuk-focus-colour;

    h2 {
      color: $govuk-text-colour;
    }
  }
}
