.links-container {
  @include govuk-media-query(tablet) {
    .flex-grid--column-half:nth-child(n+3) {
      margin-top: 45px;

      &::before {
        content: "";
        position: absolute;
        top: - govuk-spacing(6);
        right: govuk-spacing(3);
        left: govuk-spacing(3);
        height: 1px;
        background-color: govuk-colour("light-grey");
      }
    }
  }
}
