.multi-select {
  @extend .govuk-clearfix;

  position: relative;
  width: 100%;
}

.multi-select-title {
  @include govuk-font($size: 16);

  display: block;
  max-width: 100%;
  min-height: 34px;
  padding: 8px 5px;
  border: 2px solid $govuk-text-colour;
  border-radius: 0;
  background-color: govuk-colour("white");
  background-image: url("/public/images/dd-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 6px;
  text-align: left;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;

  div {
    width: 15em;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include govuk-media-query(tablet) {
      width: 20em;
    }
  }

  &:focus {
    outline: 3px solid $govuk-focus-colour;
    outline-offset: 0;
    box-shadow: inset 0 0 0 $govuk-border-width-form-element;

    div {
      outline: none;
    }
  }
}

.multi-select-dropdown {
  @extend .govuk-clearfix;

  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid $govuk-text-colour;
  background-color: govuk-colour("white");
  font-size: 16px;

  .multi-select-dropdown-inner-container {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &:focus {
    outline: 3px solid $govuk-focus-colour;
    outline-offset: 0;
  }

  .multi-select-dropdown-close-area {
    position: absolute;
    z-index: 14;
    top: 0;
    right: 13px;
    width: 15%;
    height: 100%;
    background-image: url("/public/images/dd-arrow.svg");
    background-repeat: no-repeat;
    background-position: right -4px top 6px;
  }

  .govuk-checkboxes__item {
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;
    cursor: pointer;

    label {
      width: 100%;
      padding: 10px 4px 4px;
    }

    input {
      z-index: 12;
      width: 100%;
    }
  }

  .govuk-checkboxes__item [type="checkbox"] + label::before,
  .govuk-checkboxes__item [type="checkbox"] + label::after {
    top: 9px;
    left: 8px;
    width: 24px;
    height: 24px;
    margin: auto;
  }

  .govuk-checkboxes__item [type="checkbox"] + label::after {
    top: 15px;
    left: 12px;
    width: 13px;
    height: 5px;
    border-width: 0 0 3px 3px;
  }
}
