.profile-settings {
  display: table;

  &__row {
    display: table-row;
  }

  &__setting {
    display: table-cell;
  }

  &__value {
    display: table-cell;
  }

  &__change-link {
    float: right;
  }
}
