.service-switcher{
  &.live {
    @include govuk-font($size: 19, $weight: bold);
    position: relative;
    margin-bottom: govuk-spacing(3);
    padding-left: 2rem;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform:translate(0, -50%);
      -moz-transform:translate(0, -50%);
      -ms-transform:translate(0, -50%);
      -o-transform:translate(0, -50%);
      transform:translate(0, -50%);
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      background-color: govuk-colour("green");
    }
  }
}

.reports {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(4);
}

.service-filter {
  margin-bottom: govuk-spacing(6);
}

.service_list_item {
  hr {
    border: none;
    border-top: 1px solid $govuk-border-colour;
    margin-top: 0;
    margin-bottom: govuk-spacing(3);
  }
}

.service_list_item {
  margin-top: govuk-spacing(1);
}
