.service-switcher{
  &.live {
    @include govuk-font($size: 19, $weight: bold);
    position: relative;
    margin-bottom: govuk-spacing(3);
    padding-left: 2rem;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform:translate(0, -50%);
      -moz-transform:translate(0, -50%);
      -ms-transform:translate(0, -50%);
      -o-transform:translate(0, -50%);
      transform:translate(0, -50%);
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      background-color: govuk-colour("green");
    }
  }
}

.manage-service-links-container{
  margin-top: govuk-spacing(3);

  @include govuk-media-query(tablet) {
    margin-top: govuk-spacing(0);
  }
}

.overview-divider {
  border-top: 5px solid govuk-colour("black");
}
