.pagination {
  margin-bottom: govuk-spacing(3);

  .paginationForm {
    float: left;

    button {
      @include govuk-font($size: 14);

      padding: govuk-spacing(1) govuk-spacing(2);
      border: 1px solid $govuk-border-colour;
      border-right: none;
      color: $govuk-link-colour;
      background: inherit;
      vertical-align: middle;
      cursor: pointer;

      &:hover {
        color: $govuk-text-colour;
        background-color: $govuk-focus-colour;
      }

      &.active {
        border-color: govuk-colour("blue");
        color: govuk-colour("white");
        background-color: govuk-colour("blue");

        &:active {
          color: govuk-colour("white");
        }
      }
    }

    &:last-child button {
      border: 1px solid $govuk-border-colour;
    }

    /* Buttons for the next or previous set or either end of the whole lot */
    &.first button::before {
      content: "\00AB";
      margin-right: 0.25em;
    }

    &.previous button::before {
      content: "\2039";
      margin-right: 0.25em;
    }

    &.next button::after {
      content: "\203A";
      margin-left: 0.25em;
    }

    &.last button::after {
      content: "\00BB";
      margin-left: 0.25em;
    }
  }
}
