.reporting-columns {
  margin: 1rem 0;
}

.reporting-columns__keypair {
  display: inline-block;
  margin: 1rem 10px 0 0;
  border: 2px solid $govuk-border-colour;
}

.reporting-columns__key {
  padding: 10px 5px;
  border-bottom: 2px solid $govuk-border-colour;
  background: govuk-colour("light-grey");
}

.reporting-columns__value {
  margin-left: 0;
  padding: 10px 5px;
  margin-inline-start: 0;
}
