{% extends "../layout.njk" %}

{% block pageTitle %}
  Enter organisation website address - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}

<div class="govuk-grid-column-two-thirds">

  {{ govukBackLink({
    text: "Back",
    classes: "govuk-!-margin-top-0",
    href: formatAccountPathsFor(routes.account.yourPsp.index, currentGatewayAccount.external_id, credential.external_id)
  }) }}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    <label for="organisation-url">Enter organisation website address</label>
  </h1>

  <form id="organisation-url-form" method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {{ govukInput({
      name: "organisation-url",
      id: "organisation-url",
      classes: "govuk-input--width-30",
      value: organisationUrl,
      hint: {
        text: "Enter the address in full like https://www.example.com"
      },
      type: "text",
      attributes: {
        autocomplete: "off",
        spellcheck: "false"
      }
    }) }}

    {{ govukButton({ text: "submit" }) }}
  </form>
</div>

{% endblock %}
