{{< credentials}}

{{$providerContent}}

<p>
<h4 class="heading-small" id="view-title">Your {{payment_provider}} Credentials</h4>
</p>

{{^editMode}}
<dl id="credentials">
    <dt id="username-key" class="font-xsmall"><p>Username</p></dt>
    <dd id="username-value"><b>{{credentials.username}}</b></dd>

    <dt id="password-key" class="font-xsmall"><p>Password</p></dt>
    <dd id="password-value"><b>{{#credentials.username}}****{{/credentials.username}}</b></dd>
</dl>
<a id="edit-credentials-link" class="button" href="{{routes.credentials.edit}}">
    Edit credentials
</a>
{{/editMode}}

{{#editMode}}
<form id="credentials-form" method="post" action="{{routes.credentials.create}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <div class="form-group">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" id="username" name="username" type="text" value="{{credentials.username}}">
    </div>

    <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" id="password" name="password" type="password" value="">
    </div>

    <input id="submitCredentials" name="submitCredentials" type="submit" class="button" value="Save credentials">

</form>
{{/editMode}}

<p>
<h4 class="heading-small" id="view-title">Your {{payment_provider}} Notification Credentials</h4>
</p>

{{^editNotificationCredentialsMode}}
<dl id="notification_credentials">
    <dt id="notification-username-key" class="font-xsmall"><p>Username</p></dt>
    <dd id="notification-username-value"><b>{{notification_credentials.username}}</b></dd>

    <dt id="notification-password-key" class="font-xsmall"><p>Password</p></dt>
    <dd id="notification-password-value"><b>{{#notification_credentials.username}}****{{/notification_credentials.username}}</b></dd>
</dl>
<a id="edit-notification_credentials-link" class="button" href="{{routes.notificationCredentials.edit}}">
    Edit notification credentials
</a>
{{/editNotificationCredentialsMode}}

{{#editNotificationCredentialsMode}}
<form id="notification_credentials_form" method="post" action="{{routes.notificationCredentials.create}}">
    <input id="notification-csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <div class="form-group">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" id="notification-username" name="username" type="text" value="{{notification_credentials.username}}">
    </div>

    <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" id="notification-password" name="password" type="password" value="">
    </div>

    <input id="submitNotificationCredentials" name="submitCredentials" type="submit" class="button" value="Save credentials">

</form>
{{/editNotificationCredentialsMode}}

{{/providerContent}}

{{/credentials}}
