{{< credentials}}

{{$providerContent}}
<p>
<h4 class="heading-small" id="view-title">Your {{currentGatewayAccount.payment_provider}} Credentials</h4>
</p>

{{#permissions.gateway_credentials_read}}
{{^editMode}}
  <table id="credentials">
    <tbody>
      <tr>
        <th class="one-third" id="merchant-id-key">Merchant ID</th>
        <td id="merchant-id-value" class="font-small two-thirds">{{currentGatewayAccount.credentials.merchant_id}}</td>
      </tr>
      <tr>
        <th class="one-third" id="username-key">Username</th>
        <td id="username-value" class="font-small two-thirds">{{currentGatewayAccount.credentials.username}}</td>
      </tr>
      <tr>
        <th class="one-third" id="password-key">Password</th>
        <td id="password-value" class="font-small two-thirds">{{#currentGatewayAccount.credentials.username}}****{{/currentGatewayAccount.credentials.username}}</td>
      </tr>
    </tbody>
  </table>
  <a id="edit-credentials-link" class="button" href="{{routes.credentials.edit}}">Edit credentials</a>
{{/editMode}}
{{/permissions.gateway_credentials_read}}

{{#permissions.gateway_credentials_update}}
{{#editMode}}
<form id="credentials-form" method="post" action="{{routes.credentials.create}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <div class="form-group">
        <label class="form-label" for="merchantId">Merchant ID</label>
        <input class="form-control" id="merchantId" name="merchantId" type="text" value="{{currentGatewayAccount.credentials.merchant_id}}">
    </div>

    <div class="form-group">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" id="username" name="username" type="text" value="{{currentGatewayAccount.credentials.username}}">
    </div>

    <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" id="password" name="password" type="password" value="">
    </div>

    <input id="submitCredentials" name="submitCredentials" type="submit" class="button" value="Save credentials">

</form>
{{/editMode}}
{{/permissions.gateway_credentials_update}}
{{/providerContent}}

{{/credentials}}
