{% from "./_webhook_status.njk" import webhookStatusTag %}
{% from "./_message_status.njk" import messageStatusTag %}
{% extends "layout.njk" %}

{% block pageTitle %}
  Webhook {{ webhook.callback_url }} - {{currentService.name}} {{ humanReadableEnvironment }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l page-title" title="{{ webhook.callback_url }}">
    {{ webhook.callback_url | truncate(40) }}
    {{ webhookStatusTag(webhook.status) }}
  </h1>

  <p class="govuk-body">{{ webhook.description }}</p>
  <p class="govuk-body">This webhook sends updates after the following payment events:</p>

  <p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
    {% for subscription in webhook.subscriptions | sort %}
      {% set key = subscription | upper %}
      <li>{{ eventTypes[key] }}</li>
    {% endfor %}
    </ul>
  </p>

  <div>
    {{ govukButton({
      text: "Update webhook",
      classes: "govuk-button--secondary",
      href: formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.webhooks.update, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id, webhook.external_id),
      attributes: {
        "data-action": "update"
      }
    }) }}
    {{ govukButton({
      text: "Manage signing secret",
      classes: "govuk-button--secondary",
      href: formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.webhooks.signingSecret, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id, webhook.external_id),
      attributes: {
        "id": "signing-secret"
      }
    }) }}
  </div>

  <div class="govuk-!-margin-top-6">
    <h2 class="govuk-heading-m">Events</h2>

    <p class="govuk-body">Events sent to your webhook are stored for 7 days.</p>

      <div class="govuk-body govuk-!-margin-top-4">
      <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-1 {% if status == 'successful' %} govuk-!-font-weight-bold {% endif %}" href="?status=successful&page={{ page }}">Successful</a>
      <a id="filter-failed" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-1 {% if status == 'failed' %} govuk-!-font-weight-bold {% endif %}" href="?status=failed&page={{ page }}">Failed</a>
      <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-1 {% if not status %} govuk-!-font-weight-bold {% endif %}" href="?page={{ page }}">All</a>
      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Resource</th>
            <th class="govuk-table__header" scope="col">Event name</th>
            <th class="govuk-table__header" scope="col">Delivery status</th>
            <th class="govuk-table__header" scope="col">Event date</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% for message in messages.results %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% set resourceId = message.resource_id or message.resource.transaction_id %}
              <span title="{{ resourceId }}" class="govuk-caption-m">{{ resourceId | truncate(8, true, '') }}</span>
            </td>
            <td class="govuk-table__cell">
              <a
                class="govuk-link"
                data-action="detail"
                href="{{  formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.webhooks.message, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id, webhook.external_id, message.external_id) }}">
                {{ eventTypes[message.event_type | upper] }}
              </a>
            </td>
            <td class="govuk-table__cell">{{ messageStatusTag(message.latest_attempt and message.latest_attempt.status or 'PENDING') }}</td>
            <td class="govuk-table__cell">
              {# @TODO(sfount) fragile set up to avoid seconds granularity, update commons with a new format #}
              {{ message.event_date | datetime('datelong') }} {{ message.event_date | datetime('time') | truncate(5, true, '') }}
            </td>
          </tr>

        {% else %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="4">
              <i>No events found for Webhook</i>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <div class="govuk-!-margin-top-1">
        {% include "webhooks/_paginator.njk" %}
      </div>
  </div>

  {# spacing hack because the standard paginator template interrupts the page flow #}
  <div class="govuk-column-two-thirds" {% if messages.links and messages.links.length %}style="margin-top: 100px"{% endif %}>
    {% set actionText = "Deactivate webhook" if webhook.status == "ACTIVE" else "Activate webhook" %}
    <a id="toggle-status" class="govuk-link govuk-link--no-visited-state pay-link-text-red" href="{{ formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.webhooks.toggleActive, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id, webhook.external_id) }}">{{ actionText }}</a>
  </div>
</div>
{% endblock %}
