{% extends "layout.njk" %}

{% set heading = "Update your webhook details" if isEditing else "Create a new webhook" %}
{% set submitURL = formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.webhooks.update, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id, webhook.external_id) if isEditing else formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.webhooks.create, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id) %}
{% set backURL = formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.webhooks.detail, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id, webhook.external_id) if isEditing else formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.webhooks.index, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id) %}

{% block pageTitle %}
  {{ heading }} - {{currentService.name}} {{ humanReadableEnvironment }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {{ govukBackLink({
    text: "Back to webhook" if isEditing else "Back to webhooks",
    classes: "govuk-!-margin-top-0",
    href: backURL
  }) }}
  {% if form.errorSummaryList and form.errorSummaryList.length %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: form.errorSummaryList
    }) }}
  {% endif %}
  <h1 class="govuk-heading-l page-title">{{ heading }}</h1>

  <form method="POST" action="{{ submitURL }}" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

    {% set items = [] %}
    {% for key, name in eventTypes %}
      {% set normalisedKey = key | lower %}
      {% set subscriptions = form.values.subscriptions %}
      {% if subscriptions | isList %}
        {% set checked = normalisedKey in subscriptions %}
      {% else %}
        {% set checked = normalisedKey == subscriptions %}
      {% endif %}
      {% set items = (items.push({ value: normalisedKey, text: name, checked: checked }), items) %}
    {% endfor %}

    {{ govukInput({
      label: { text: "Callback URL" },
      hint: { text: "The HTTPS URL GOV.UK Pay will send webhook messages to" },
      id: "callback_url",
      name: "callback_url",
      value: form.values.callback_url,
      errorMessage: form.errors.callback_url and {
        text: form.errors.callback_url
      }
    }) }}

    {{ govukInput({
      label: { text: "Description" },
      hint: { text: "Short summary of what this webhook will be used for" },
      id: "description",
      name: "description",
      value: form.values.description,
      errorMessage: form.errors.description and {
        text: form.errors.description
      }
    }) }}
    {{ govukCheckboxes({
      idPrefix: "subscriptions",
      name: "subscriptions",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "What payment events should we send?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: items,
      errorMessage: form.errors.subscriptions and {
        text: form.errors.subscriptions
      }
    }) }}

    {{ govukButton({
      text: "Update webhook" if isEditing else "Create webhook",
      type: "submit"
    }) }}
  </form>
</div>
{% endblock %}