{% extends "layout.njk" %}

{% block pageTitle %}
  Webhooks - {{currentService.name}} {{ humanReadableEnvironment }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l page-title">Webhooks</h1>

  <p class="govuk-body-l">Use Webhooks to send a message to your application when a payment is processed.</p>

  {% if webhooks.length %}
    <h2 class="govuk-heading-m">Configured Webhooks</h2>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% endif %}

  {% for webhook in webhooks %}
    <div data-webhook-entry>
      <p class="govuk-body">
        <span class="pay-text-grey">{{ webhook.callback_url }}</span>
        <strong class="govuk-tag govuk-tag--blue">{{ webhook.status }}</strong>
      </p>
      <p class="govuk-body">{{ webhook.description }}</p>
      <div>
        <a class="govuk-link govuk-link--no-visited-state" href="{{ formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.webhooks.detail, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id, webhook.external_id) }}" data-action="update">Manage Webhook</a>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% endfor %}

  {# @TODO(sfount) all of the detail (other than account id) should come from the service and live context rather than the account, this will make it easier move off when the account is removed #}
  {{ govukButton({
    text: "Create a new Webhook",
    classes: "govuk-button--secondary",
    href: formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.webhooks.create, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id),
    attributes: {
      "data-action": "create"
    }
  }) }}
</div>
{% endblock %}