{% extends "layout.njk" %}

{% block pageTitle %}
  Webhooks - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l page-title">Webhooks</h1>

  <p class="govuk-body-l">Use Webhooks to send a message to your application when a payment is processed.</p>

  {{ govukButton({
    text: "Create a new Webhook",
    classes: "govuk-button--secondary"
  }) }}
</div>
{% endblock %}