{% extends "layout.njk" %}

{% block pageTitle %}
  Webhook signing secret {{ webhook.callback_url }} - {{currentService.name}} {{ humanReadableEnvironment }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {{ govukBackLink({
    text: "Back to Webhook",
    classes: "govuk-!-margin-top-0",
    href: formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.webhooks.detail, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id, webhook.external_id)
  }) }}

  <h1 class="govuk-heading-l page-title">Manage signing secret</h1>

  <p class="govuk-body">
    The contents of Webhooks are encrypted with a signing secret. Only your application should store this secret to unencrypt Webhooks content.
  </p>

  <p class="govuk-body">
    <a class="govuk-link" href="https://docs.payments.service.gov.uk/">Find out more about setting up Webhooks in your application</a>
  </p>

  <div class="govuk-!-margin-top-4">
  {% if signingSecret %}
    {{ govukSummaryList({
      rows: [{
        key: { text: "Callback URL" },
        value: { text: webhook.callback_url }
      }, {
        key: { text: "Description" },
        value: { text: webhook.description }
      }]
    }) }}

    <div class="govuk-!-margin-top-6">
      <h2 class="govuk-heading-m">Signing secret</h2>

      <div>
        <span id="secret" class="code copy-target">{{ signingSecret.signing_key }}</span>
      </div>

      {{
        govukButton({
          text: "Copy signing secret to clipboard",
          classes: "govuk-button--secondary govuk-!-margin-top-4",
          attributes: {
            id: "copy-signing-secret",
            "data-copy-text": true,
            "data-target": "copy-target",
            "data-success": "Webhook signing secret has been copied",
            "data-notification-target": "copy-notification"
          }
        })
      }}

      <div class="copy-notification govuk-visually-hidden" aria-live="assertive"></div>
    </div>
  {% else %}
    {{ govukWarningText({
      text: "Unable to load signing secret for Webhook",
      iconFallbackText: "Warning"
    }) }}
  {% endif %}
</div>
{% endblock %}