{% extends "./policy-no-html.njk" %}

{% set policyTitleText = "Memorandum Of Understanding" %}

{% block policyTitle %}
  {{ policyTitleText }}
{% endblock %}

{% block policyDescription %}
  If you’re a Crown body, the memorandum of understanding terms apply from 24 January 2022 when you use GOV.UK Pay.
{% endblock %}

{% block policyHtmlTitle %}
  {{ policyTitleText }} 
{% endblock %}

{% block downloadFileDetails %}
  PDF, 361KB, 32 pages
{% endblock %}
