{% extends "./policy-no-html.njk" %}

{% set policyTitleText = "Stripe Connected Account Agreement" %}

{% block policyTitle %}
  {{ policyTitleText }}
{% endblock %}

{% block policyDescription %}
  If you’re using our Payment Service Provider, Stripe, these legal terms apply to you from 21 February 2022.
{% endblock %}

{% block policyHtmlTitle %}
  {{ policyTitleText }}
{% endblock %}

{% block downloadFileDetails %}
  PDF, 380KB, 53 pages
{% endblock %}
