<p class="govuk-body">Before you can start taking payments, you need to link your ePDQ account to GOV.UK Pay.</p>

<p class="govuk-body">Go to your <a class="govuk-link" href="https://support.epdq.co.uk/en/login">ePDQ account</a> to get the details you need to enter here, or <a class="govuk-link" href="https://docs.payments.service.gov.uk/switching_to_live/set_up_a_live_epdq_account/#set-up-a-live-epdq-account">read more in our documentation</a>.</p>

<h2 class="govuk-heading-m">Account credentials</h2>

{% set isAccountCredentialsConfigured = (credential.credentials and credential.credentials.merchant_id) %}

{{
  govukSummaryList({
    rows: [
      {
        key: {
          text: "PSP ID"
        },
        value: {
          text: credential.credentials.merchant_id if isAccountCredentialsConfigured else "Not configured",
          classes: "value-merchant-id"
        },
        actions: {
          items: [
            {
              href: formatAccountPathsFor(routes.account.credentials.edit, currentGatewayAccount.external_id, credential.external_id) + "?change=merchantId",
              text: "Change",
              visuallyHiddenText: "account credentials",
              attributes: {
                id: "credentials-change-link"
              }
            }
          ]
        }
      },
      {
        key: {
          text: "Username"
        },
        value: {
          text: credential.credentials.username if isAccountCredentialsConfigured else "Not configured",
          classes: "value-username"
        },
        actions: {
          items: [
            {
              href: formatAccountPathsFor(routes.account.credentials.edit, currentGatewayAccount.external_id, credential.external_id) + "?change=username",
              text: "Change",
              visuallyHiddenText: "account credentials"
            }
          ]
        }
      },
      {
        key: {
          text: "Password"
        },
        value: {
          text: '●●●●●●●●' if isAccountCredentialsConfigured else "Not configured",
          classes: "value-password"
        },
        actions: {
          items: [
            {
              href: formatAccountPathsFor(routes.account.credentials.edit, currentGatewayAccount.external_id, credential.external_id) + "?change=password",
              text: "Change",
              visuallyHiddenText: "account credentials"
            }
          ]
        }
      },
      {
        key: {
          text: "SHA-IN passphrase"
        },
        value: {
          text: '●●●●●●●●' if isAccountCredentialsConfigured else "Not configured",
          classes: "value-sha-in"
        },
        actions: {
          items: [
            {
              href: formatAccountPathsFor(routes.account.credentials.edit, currentGatewayAccount.external_id, credential.external_id) + "?change=password",
              text: "Change",
              visuallyHiddenText: "account credentials"
            }
          ]
        }
      },
      {
        key: {
          text: "SHA-OUT passphrase"
        },
        value: {
          text: '●●●●●●●●' if isAccountCredentialsConfigured else "Not configured",
          classes: "value-sha-out"
        },
        actions: {
          items: [
            {
              href: formatAccountPathsFor(routes.account.credentials.edit, currentGatewayAccount.external_id, credential.external_id) + "?change=password",
              text: "Change",
              visuallyHiddenText: "account credentials"
            }
          ]
        }
      }
    ]
  })
}}
