  <p class="govuk-body">Before you can start taking payments, you need to link your Smartpay account to GOV.UK Pay.</p>

  <p class="govuk-body">Go to your Smartpay account to get the details you need to enter here, or <a class="govuk-link" href="https://docs.payments.service.gov.uk/switching_to_live/set_up_a_live_smartpay_account/#authentication">read more in our documentation</a>.</p>

  <h2 class="govuk-heading-m govuk-!-margin-top-9">Account credentials</h2>
{{
  govukSummaryList({
    rows: [
      {
        key: {
          text: "Merchant account code"
        },
        value: {
          text: currentGatewayAccount.credentials.merchant_id if isAccountCredentialsConfigured else "Not configured",
          classes: "value-merchant-id"
        },
        actions: {
          items: [
            {
              href: routes.credentials.edit + "?change=merchantId",
              text: "Change",
              visuallyHiddenText: "account credentials",
              attributes: {
                id: "credentials-change-link"
              }
            }
          ]
        }
      },
      {
        key: {
          text: "Username"
        },
        value: {
          text: currentGatewayAccount.credentials.username if isAccountCredentialsConfigured else "Not configured",
          classes: "value-username"
        },
        actions: {
          items: [
            {
              href: routes.credentials.edit + "?change=username",
              text: "Change",
              visuallyHiddenText: "account credentials"
            }
          ]
        }
      },
      {
        key: {
          text: "Password"
        },
        value: {
          text: '●●●●●●●●' if isAccountCredentialsConfigured else "Not configured",
          classes: "value-password"
        },
        actions: {
          items: [
            {
              href: routes.credentials.edit + "?change=password",
              text: "Change",
              visuallyHiddenText: "account credentials"
            }
          ]
        }
      }
    ]
  })
}}

{% if not currentGatewayAccount.notificationCredentials.userName %}
{% set warningHTML %}
  You must set your notification credentials here and in your Smartpay account. If you don’t do this, we can’t take payments. Find out more in <a class="govuk-link" href="https://docs.payments.service.gov.uk/switching_to_live/set_up_a_live_smartpay_account/#set-up-notification-credentials">our documentation</a>.
{% endset %}
{{
  govukWarningText({
    html: warningHTML,
    iconFallbackText: "Warning",
    classes: "govuk-!-margin-top-9"
  })
}}
{% endif %}
<h2 class="govuk-heading-m" id="view-notification-title">Your Smartpay notification credentials</h2>
{{
  govukSummaryList({
    rows: [
      {
        key: {
          text: "Username"
        },
        value: {
          text: currentGatewayAccount.notificationCredentials.userName if currentGatewayAccount.notificationCredentials.userName else "Not configured",
          classes: "value-notification-username"
        },
        actions: {
          items: [
            {
              href: routes.notificationCredentials.edit + "?change=username",
              text: "Change",
              visuallyHiddenText: "account credentials",
              attributes: {
                id: "notification-credentials-change-link"
              }
            }
          ]
        }
      },
      {
        key: {
          text: "Password"
        },
        value: {
          text: '●●●●●●●●' if currentGatewayAccount.notificationCredentials.userName else "Not configured",
          classes: "value-notification-password"
        },
        actions: {
          items: [
            {
              href: routes.notificationCredentials.edit + "?change=password",
              text: "Change",
              visuallyHiddenText: "account credentials"
            }
          ]
        }
      }
    ]
  })
}}
