{% macro taskListItem(id, label, url, item) %}
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      {% if not item.complete %}
        <a class="govuk-link" href="{{ url }}" aria-describedby="{{ id }}-status">
        {{ label }}
      </a>
      {% else %}
        <span>{{ label }}</span>
      {% endif %}
    </span>

    {% if not item.complete %}
      <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="{{ id }}-status">not started</strong>
    {% elif item.complete %}
      <strong class="govuk-tag app-task-list__tag" id="{{ id }}-status">completed</strong>
    {% endif %}
  </li>
{% endmacro %}

{% macro stripeTaskListItem(id, label, url, item) %}
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      {% if item.enabled %}
        <a class="govuk-link" href="{{ url }}" aria-describedby="{{ id }}-status">
        {{ label }}
      </a>
      {% else %}
        <span>{{ label }}</span>
      {% endif %}
    </span>

    {% if not item.enabled and not item.completed %}
    <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="{{ id }}-status">cannot start yet</strong>
    {% elif item.enabled and not item.completed %}
    <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="{{ id }}-status">not started</strong>
    {% elif item.completed %}
    <strong class="govuk-tag app-task-list__tag" id="{{ id }}-status">completed</strong>
    {% endif %}
  </li>
{% endmacro %}

{% if requiresAdditionalKycData or kycTaskListComplete %}
  {% if kycTaskListComplete %}
    <p class="govuk-body">Please review the responsible person and director information annually, and if either leaves or changes their role.
    Email any changes to <a class="govuk-link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" target="_top">govuk-pay-support@digital.cabinet-office.gov.uk</a></p>
  {% else %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Know your customer (KYC) details</h2>
    <p class="govuk-body">You must add additional details about your organisation for Stripe's anti-money laundering
      checks. </p>

    {% set warningText %}
      Stripe cannot pay monies received to your bank account if you do not add these details.
    {% endset %}
    {{ govukWarningText({
      text: warningText,
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

  {% set tasks %}
    {{ taskListItem(
      'task-organisation-url',
      "Add organisation website address",
      formatAccountPathsFor(routes.account.kyc.organisationUrl, currentGatewayAccount.external_id, activeCredential.external_id),
      kycTaskList.ENTER_ORGANISATION_URL
    ) }}
    {{ taskListItem(
      'task-update-sro',
      "Add responsible person information",
      formatAccountPathsFor(routes.account.kyc.responsiblePerson, currentGatewayAccount.external_id, activeCredential.external_id),
      kycTaskList.UPDATE_RESPONSIBLE_PERSON
    ) }}
    {{ taskListItem(
      'task-add-director',
      "Add director of service information",
      formatAccountPathsFor(routes.account.kyc.director, currentGatewayAccount.external_id, activeCredential.external_id),
      kycTaskList.ENTER_DIRECTOR
    ) }}
    {{ taskListItem(
      'task-upload-government-entity-document',
      "Upload a government entity document",
      formatAccountPathsFor(routes.account.kyc.governmentEntityDocument, currentGatewayAccount.external_id, activeCredential.external_id),
      kycTaskList.UPLOAD_GOVERNMENT_ENTITY_DOCUMENT
    ) }}
  {% endset %}

  <div class="app-task-list govuk-body">
    <div>
      <span class="app-task-list__items">{{ tasks | safe }}</span>
    </div>
  </div>

 {% else %}
 {% if  enableStripeOnboardingTaskList %}
    <h1 class="govuk-heading-m govuk-!-margin-top-8">Information for Stripe</h1>
    {% set tasks %}
      {{ stripeTaskListItem(
        'task-bank-details',
        "Bank Details",
        formatAccountPathsFor(routes.account.yourPsp.stripeSetup.bankDetails, currentGatewayAccount.external_id, activeCredential.external_id),
        taskList.ENTER_BANK_DETAILS
      ) }}
      {{ stripeTaskListItem(
        'task-sro',
        "Responsible person",
        formatAccountPathsFor(routes.account.yourPsp.stripeSetup.responsiblePerson, currentGatewayAccount.external_id, activeCredential.external_id),
        taskList.ENTER_RESPONSIBLE_PERSON
      ) }}
      {{ stripeTaskListItem(
        'task-director',
        "Service director",
        formatAccountPathsFor(routes.account.yourPsp.stripeSetup.director, currentGatewayAccount.external_id, activeCredential.external_id),
        taskList.ENTER_DIRECTOR
      ) }}
      {{ stripeTaskListItem(
        'task-vatNumber',
        "VAT registration number",
        formatAccountPathsFor(routes.account.yourPsp.stripeSetup.vatNumber, currentGatewayAccount.external_id, activeCredential.external_id),
        taskList.ENTER_VAT_NUMBER
      ) }}
      {{ stripeTaskListItem(
        'task-Company-number',
        "Company registration number",
        formatAccountPathsFor(routes.account.yourPsp.stripeSetup.companyNumber, currentGatewayAccount.external_id, activeCredential.external_id),
        taskList.ENTER_COMPANY_NUMBER
      ) }}
      {{ stripeTaskListItem(
        'task-checkorganisation-details',
        "Confirm your organisation’s name and address match your government entity document",
        formatAccountPathsFor(routes.account.yourPsp.stripeSetup.checkOrgDetails, currentGatewayAccount.external_id, activeCredential.external_id),
        taskList.CONFIRM_ORGANISATION_DETAILS
      ) }}
      {{ stripeTaskListItem(
        'task-government-entity-document',
        "Government entity document",
        formatAccountPathsFor(routes.account.yourPsp.stripeSetup.governmentEntityDocument,currentGatewayAccount.external_id, activeCredential.external_id ),
        taskList.UPLOAD_GOVERNMENT_ENTITY_DOCUMENT
      ) }}
  {% endset %}
  <div class="app-task-list govuk-body">
    <div>
      <span class="app-task-list__items">{{ tasks | safe }}</span>
    </div>
  </div>
{% endif %}
{% endif %}
