<p class="govuk-body">Before you can start taking payments, you need to link your Worldpay account to GOV.UK Pay.</p>

<p class="govuk-body">Go to your <a class="govuk-link" href="https://secure.worldpay.com/sso/public/auth/login.html">Worldpay account</a> to get the details you need to enter here, or <a class="govuk-link" href="https://docs.payments.service.gov.uk/switching_to_live/set_up_a_live_worldpay_account/#connect-your-live-account-to-worldpay">read more in our documentation.</a></p>

{% set isAccountCredentialsConfigured = (credential.credentials and credential.credentials.one_off_customer_initiated|length) %}

{{
  govukSummaryList({
    card: {
      title: {
        text: "Account credentials"
      },
      actions: {
        items: [
          {
            href: formatAccountPathsFor(routes.account.yourPsp.credentialsWithGatewayCheck, currentGatewayAccount.external_id, credential.external_id),
            text: "Change",
            visuallyHiddenText: "account credentials",
            attributes: {
              id: "credentials-change-link"
            }
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Merchant code"
        },
        value: {
        text: credential.credentials.one_off_customer_initiated.merchant_code if isAccountCredentialsConfigured else "Not configured",
          classes: "value-merchant-id"
        }
      },
      {
        key: {
          text: "Username"
        },
        value: {
          text: credential.credentials.one_off_customer_initiated.username if isAccountCredentialsConfigured else "Not configured",
          classes: "value-username"
        }
      },
      {
        key: {
          text: "Password"
        },
        value: {
          text: '●●●●●●●●' if isAccountCredentialsConfigured else "Not configured",
          classes: "value-password"
        }
      }
    ]
  })
}}
