{{govukSummaryList({
    attributes: {'data-cy': 'worldpay-flex-settings-summary-list'},
    card: {
      title: {
        text: "3DS Flex credentials"
      },
      actions: {
        items: [
          {
            href: formatAccountPathsFor(routes.account.yourPsp.flex, currentGatewayAccount.external_id, credential.external_id),
            text: "Change",
            visuallyHiddenText: "3DS Flex credentials",
            attributes: {
              id: "flex-credentials-change-link"
            }
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Organisational unit ID"
        },
        value: {
          text: currentGatewayAccount.worldpay_3ds_flex.organisational_unit_id if isWorldpay3dsFlexCredentialsConfigured else "Not configured",
          classes: "value-organisational-unit-id"
        }
      },
      {
        key: {
          text: "Issuer (API ID)"
        },
        value: {
          text: currentGatewayAccount.worldpay_3ds_flex.issuer if isWorldpay3dsFlexCredentialsConfigured else "Not configured",
          classes: "value-issuer"
        }
      },
      {
        key: {
          text: "JWT MAC key (API key)"
        },
        value: {
          text: '●●●●●●●●' if isWorldpay3dsFlexCredentialsConfigured else "Not configured",
          classes: "value-jwt-mac-key"
        }
      }
    ]
  })
}}
