{% set paymentProvider = 'worldpay' %}
{% set isTest = currentGatewayAccount.type === "test" %}

{% if isTest %}
  <div data-cy="3ds-flex-section-for-test-worldpay-accounts">
    <h2 class="govuk-heading-m govuk-!-margin-top-9">3DS Flex</h2>

    {{ govukInsetText({
      "attributes": {
        "id": "worldpay-3ds-flex-is-on" if isWorldpay3dsFlexEnabled else "worldpay-3ds-flex-is-off"
      },
      text: "3DS Flex is turned on." if isWorldpay3dsFlexEnabled else "3DS Flex is turned off."
    }) }}

    <p class="govuk-body">
      To set up 3DS Flex on your Worldpay test account, you need to enter the following test details to turn 3DS Flex on.
    </p>

    {% if (is3dsEnabled and isWorldpay3dsFlexCredentialsConfigured) or isWorldpay3dsFlexEnabled %}
      <form method="post" action="{{ formatAccountPathsFor(routes.account.yourPsp.worldpay3dsFlex, currentGatewayAccount.external_id, credential.external_id) }}" novalidate>
        <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}">
        {% if is3dsEnabled and isWorldpay3dsFlexCredentialsConfigured and not isWorldpay3dsFlexEnabled %}
            <input id="toggle-worldpay-3ds-flex" name="toggle-worldpay-3ds-flex" type="hidden" value="on">
            {{ govukButton({
              attributes: {
                id: "enable-worldpay-3ds-flex-button"
              },
              text: "Turn on 3DS Flex",
              classes: "govuk-button--secondary"
            }) }}
        {% elif isWorldpay3dsFlexEnabled %}
          <input id="toggle-worldpay-3ds-flex" name="toggle-worldpay-3ds-flex" type="hidden" value="off">
          {{ govukButton({
            attributes: {
              id: "disable-worldpay-3ds-flex-button"
            },
            text: "Turn off 3DS Flex",
            classes: "govuk-button--secondary"
          }) }}
        {% endif %}
      </form>
    {% endif %}

  </div>
{% endif %}

{{govukSummaryList({
    attributes: {'data-cy': 'worldpay-flex-settings-summary-list'},
    card: {
      title: {
        text: "3DS Flex credentials"
      },
      actions: {
        items: [
          {
            href: formatAccountPathsFor(routes.account.yourPsp.flex, currentGatewayAccount.external_id, credential.external_id),
            text: "Change",
            visuallyHiddenText: "3DS Flex credentials",
            attributes: {
              id: "flex-credentials-change-link"
            }
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Organisational unit ID"
        },
        value: {
          text: currentGatewayAccount.worldpay_3ds_flex.organisational_unit_id if isWorldpay3dsFlexCredentialsConfigured else "Not configured",
          classes: "value-organisational-unit-id"
        }
      },
      {
        key: {
          text: "Issuer (API ID)"
        },
        value: {
          text: currentGatewayAccount.worldpay_3ds_flex.issuer if isWorldpay3dsFlexCredentialsConfigured else "Not configured",
          classes: "value-issuer"
        }
      },
      {
        key: {
          text: "JWT MAC key (API key)"
        },
        value: {
          text: '●●●●●●●●' if isWorldpay3dsFlexCredentialsConfigured else "Not configured",
          classes: "value-jwt-mac-key"
        }
      }
    ]
  })
}}
