<h2 class="govuk-heading-m govuk-!-margin-top-9">3DS Flex</h2>

{{ govukInsetText({
  "attributes": {
    "id": "worldpay-3ds-flex-is-on" if isWorldpay3dsFlexEnabled else "worldpay-3ds-flex-is-off"
  },
  text: "3DS Flex is turned on." if isWorldpay3dsFlexEnabled else "3DS Flex is turned off."
}) }}

<p class="govuk-body">Worldpay’s 3DS Flex improves how 3DS works and will also enable 3DS2 when required. There’s an additional fee to Worldpay to use 3DS Flex. <a class="govuk-link" href="https://www.payments.service.gov.uk/3d-secure-2/">Find out more about 3DS2 and 3DS Flex</a>.</p>

<p class="govuk-body">If you have set up 3DS Flex on your Worldpay account, you need to enter the following details to turn 3DS Flex on. You’ll find these details in your <a class="govuk-link" href="https://secure.worldpay.com/sso/public/auth/login.html">Worldpay account</a>.</p>

{{  govukSummaryList({
    rows: [
      {
        key: {
          text: "Organisational unit ID"
        },
        value: {
          text: currentGatewayAccount.worldpay_3ds_flex.organisational_unit_id if isWorldpay3dsFlexCredentialsConfigured else "Not configured",
          classes: "value-organisational-unit-id"
        },
        actions: {
          items: [
            {
              href: formatAccountPathsFor(routes.account.yourPsp.flex, currentGatewayAccount.external_id) + "?change=organisationalUnitId",
              text: "Change",
              visuallyHiddenText: "3DS Flex credentials",
              attributes: {
                id: "flex-credentials-change-link"
              }
            }
          ]
        }
      },
      {
        key: {
          text: "Issuer (API ID)"
        },
        value: {
          text: currentGatewayAccount.worldpay_3ds_flex.issuer if isWorldpay3dsFlexCredentialsConfigured else "Not configured",
          classes: "value-issuer"
        },
        actions: {
          items: [
            {
              href: formatAccountPathsFor(routes.account.yourPsp.flex, currentGatewayAccount.external_id) + "?change=issuer",
              text: "Change",
              visuallyHiddenText: "3DS Flex credentials"
            }
          ]
        }
      },
      {
        key: {
          text: "JWT MAC key (API key)"
        },
        value: {
          text: '●●●●●●●●' if isWorldpay3dsFlexCredentialsConfigured else "Not configured",
          classes: "value-jwt-mac-key"
        },
        actions: {
          items: [
            {
              href: formatAccountPathsFor(routes.account.yourPsp.flex, currentGatewayAccount.external_id) + "?change=password",
              text: "Change",
              visuallyHiddenText: "3DS Flex credentials"
            }
          ]
        }
      }
    ]
  })
}}

{% if (is3dsEnabled and isWorldpay3dsFlexCredentialsConfigured) or isWorldpay3dsFlexEnabled %}
  <form method="post" action="{{ formatAccountPathsFor(routes.account.yourPsp.worldpay3dsFlex, currentGatewayAccount.external_id) }}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}">
    {% if is3dsEnabled and isWorldpay3dsFlexCredentialsConfigured and not isWorldpay3dsFlexEnabled %}
        <input id="toggle-worldpay-3ds-flex" name="toggle-worldpay-3ds-flex" type="hidden" value="on">
        {{ govukButton({
          attributes: {
            id: "enable-worldpay-3ds-flex-button"
          },
          text: "Turn on 3DS Flex",
          classes: "govuk-button--secondary"
        }) }}
    {% elif isWorldpay3dsFlexEnabled %}
      <input id="toggle-worldpay-3ds-flex" name="toggle-worldpay-3ds-flex" type="hidden" value="off">
      {{ govukButton({
        attributes: {
          id: "disable-worldpay-3ds-flex-button"
        },
        text: "Turn off 3DS Flex",
        classes: "govuk-button--secondary"
      }) }}
    {% endif %}
  </form>
{% endif %}
