{% extends "layout.njk" %}

{% block pageTitle %}
  Your PSP - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Your Worldpay 3DS Flex credentials</h1>
    <form method="post" action="{{routes.yourPsp.flex}}">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
        {% if errors %}
          {% set errorList = [] %}

          {% if errors['organisational-unit-id'] %}
            {% set errorList = (errorList.push({
              text: 'Organisational unit ID',
              href: '#organisational-unit-id'
            }), errorList) %}
            {% set orgUnitIdError = {
              text: errors["organisational-unit-id"]
            } %}
          {% endif %}

          {% if errors['issuer'] %}
            {% set errorList = (errorList.push({
              text: 'Issuer',
              href: '#issuer'
            }), errorList) %}
            {% set issuerError = {
              text: errors["issuer"]
            } %}
          {% endif %}

          {% if errors['jwt-mac-key'] %}
            {% set errorList = (errorList.push({
              text: 'JWT MAC key',
              href: '#jwt-mac-key'
            }), errorList) %}
            {% set jwtMacKeyError = {
              text: errors["jwt-mac-key"]
            } %}
          {% endif %}

          {{ govukErrorSummary({
            titleText: 'There was a problem with the details you gave for:',
            errorList: errorList
          }) }}
        {% endif %}

      {% if change === 'organisationalUnitId' %}
        {{ govukInput({
            label: {
              text: "Organisational unit ID"
            },
            hint: {
              text: "Provided to you by Worldpay. For example, ‘5bd9b55e4444761ac0af1c80’."
            },
            errorMessage: orgUnitIdError,
            id: "organisational-unit-id",
            name: "organisational-unit-id",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "autofocus": "autofocus"
            },
            value: orgUnitId
          })
        }}
      {% else %}
        {{ govukInput({
            label: {
              text: "Organisational unit ID"
            },
            hint: {
              text: "Provided to you by Worldpay. For example, ‘5bd9b55e4444761ac0af1c80’."
            },
            errorMessage: orgUnitIdError,
            id: "organisational-unit-id",
            name: "organisational-unit-id",
            classes: "govuk-input--width-20",
            type: "text",
            value: orgUnitId
          })
        }}
      {% endif %}

      {% if change === 'issuer' %}
        {{ govukInput({
            label: {
              text: "Issuer (API ID)"
            },
            hint: {
              text: "Provided to you by Worldpay. For example, ‘5bd9e0e4444dce153428c940’."
            },
            errorMessage: issuerError,
            id: "issuer",
            name: "issuer",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "autofocus": "autofocus"
            },
            value: issuer
          })
        }}
      {% else %}
        {{ govukInput({
            label: {
              text: "Issuer (API ID)"
            },
            hint: {
              text: "Provided to you by Worldpay. For example, ‘5bd9e0e4444dce153428c940’."
            },
            errorMessage: issuerError,
            id: "issuer",
            name: "issuer",
            classes: "govuk-input--width-20",
            type: "text",
            value: issuer
          })
        }}
      {% endif %}

      {% if change === 'password' %}
        {{ govukInput({
            label: {
              text: "JWT MAC key (API key)"
            },
            hint: {
              text: "Provided to you by Worldpay. For example, ‘fa2daee2-1fbb-45ff-4444-52805d5cd9e0’."
            },
            errorMessage: jwtMacKeyError,
            id: "jwt-mac-key",
            name: "jwt-mac-key",
            classes: "govuk-input--width-20",
            type: "password",
            attributes: {
              "autofocus": "autofocus"
            }
          })
        }}
        {% else %}
        {{ govukInput({
            label: {
              text: "JWT MAC key (API key)"
            },
            hint: {
              text: "Provided to you by Worldpay. For example, ‘fa2daee2-1fbb-45ff-4444-52805d5cd9e0’."
            },
            errorMessage: jwtMacKeyError,
            id: "jwt-mac-key",
            name: "jwt-mac-key",
            classes: "govuk-input--width-20",
            type: "password"
          })
        }}
      {% endif %}

      {{
        govukButton({
          text: "Save credentials",
          attributes: {
            id: "submitFlexCredentials"
          }
        })
      }}
    </form>
    <form method="post" action="{{routes.yourPsp.flex}}">
        {% if isFlexConfigured %}
            <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
            <input id="remove-credentials" name="remove-credentials" type="hidden" value="true" />
            {{
            govukButton({
                text: "Remove credentials",
                classes: "govuk-button--warning",
                attributes: {
                    id: "removeFlexCredentials"
                }
                })
            }}
        {% endif %}
    </form>
    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ routes.yourPsp.index }}">Cancel</a>
    </p>
</div>
{% endblock %}
