{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "layout.njk" %}

{% block pageTitle %}
  Your PSP - {{currentService.name}} {{ credential.payment_provider | formatPSPname }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if flash.switchPSPSuccess %}
    {% set html %}
      <p class="govuk-notification-banner__heading">
        You've switched payment service provider
      </p>
      <p class="govuk-body">
        {{ flash.switchPSPSuccess }}
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}
  {% endif %}
  <h1 class="govuk-heading-l page-title">Your payment service provider (PSP) - {{ credential.payment_provider | formatPSPname }}</h1>

  {% if credential.active_end_date %}
  <div id="switched-psp-status" class="govuk-inset-text">
    This service is taking payments with {{ activeCredential.payment_provider | formatPSPname }}. It switched from using {{ credential.payment_provider | formatPSPname }} on {{ credential.active_end_date | datetime('date') }}
  </div>
  {% endif %}

  {% if credential.payment_provider === "worldpay" %}
    {% include "./_worldpay.njk" %}
    {% include "./_worldpay-flex.njk" %}
  {% endif %}
  {% if credential.payment_provider === "smartpay" %}
    {% include "./_smartpay.njk" %}
  {% endif %}
  {% if credential.payment_provider === "epdq" %}
    {% include "./_epdq.njk" %}
  {% endif %}
</div>
{% endblock %}
