{% extends "layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
  Your PSP - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if flash.success %}
  {% set html %}
    <p class="govuk-notification-banner__heading">
      You’ve switched payment service provider to Worldpay
    </p>
    <p class="govuk-body">
      All future payments will be taken with Worldpay. Your {{ currentGatewayAccount.payment_provider | formatPSPname }} account is still live for processing refunds of payments made before the switch.
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html,
    type: 'success'
  }) }}
  {% endif %}

  <h1 class="govuk-heading-l page-title">Your payment service provider (PSP) - {{ targetProvider | formatPSPname }}</h1>

  {% if targetProvider === "worldpay" %}
    {% include "./_worldpay.njk" %}
    {% include "./_worldpay-flex.njk" %}
  {% endif %}
  {% if targetProvider === "smartpay" %}
    {% include "./_smartpay.njk" %}
  {% endif %}
  {% if targetProvider === "epdq" %}
    {% include "./_epdq.njk" %}
  {% endif %}
</div>
{% endblock %}
