{% extends "layout.njk" %}

{% block pageTitle %}
  Your PSP - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l page-title">Your payment service provider (PSP) - {{ targetProvider | formatPSPname }}</h1>

  {% if targetProvider === "worldpay" %}
    {% include "./_worldpay.njk" %}
    {% include "./_worldpay-flex.njk" %}
  {% endif %}
  {% if targetProvider === "smartpay" %}
    {% include "./_smartpay.njk" %}
  {% endif %}
  {% if targetProvider === "epdq" %}
    {% include "./_epdq.njk" %}
  {% endif %}
</div>
{% endblock %}
