{% extends "layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
  Switch PSP - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if flash.paymentError %}
    {{ govukErrorSummary({
      "titleText": "Worldpay live payment was unsuccessful",
      "errorList": [
        {
          "text": "Make a live payment to test your Worldpay PSP",
          "href": "#make-a-test-payment"
        }
      ]
    }) }}
  {% endif %}
  {% if flash.success %}
  {% set html %}
    <p class="govuk-notification-banner__heading">
      You’ve switched payment service provider to Worldpay
    </p>
    <p class="govuk-body">
      All future payments will be taken with Worldpay. Your {{ currentGatewayAccount.payment_provider | formatPSPname }} account is still live for processing refunds of payments made before the switch.
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html,
    type: 'success'
  }) }}
  {% endif %}
  <h1 class="govuk-heading-l page-title">Switch payment service provider (PSP)</h1>

  {% if prototype.switchComplete %}
  <p class="govuk-body">This service is taking payments with Worldpay. It switched from using {{ currentGatewayAccount.payment_provider | formatPSPname }} on {{ prototype.switchDate }}.</p>

  {% else %}
  <p class="govuk-body">This service is taking payments with {{ currentGatewayAccount.payment_provider | formatPSPname }}.</p>

  <p class="govuk-body">To prepare for the switch, you need:</p>
<ul class="govuk-list govuk-list--bullet">
          <li>the name, date of birth and home address of the person in your organisation legally reponsible for payments (called your ‘<a href="https://www.payments.service.gov.uk/what-being-a-responsible-person-means/" class="govuk-link">responsible person</a>’)</li>
          <li>your bank details</li>
          <li>your VAT number</li>
          <li>your company registration number if you’ve registered your company</li>
          <li>a debit or credit card to make a nominal live payment (refundable)</li>
        </ul>

  <ol class="app-task-list govuk-!-margin-top-8">
    <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Get ready to switch PSP
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a class="govuk-link" href="{{ formatAccountPathsFor(routes.account.credentials.edit, currentGatewayAccount.external_id, 'worldpay') }}" aria-describedby="eligibility-status">
                Provide your bank details
              </a>
            </span>
            {# <strong class="govuk-tag app-task-list__tag" id="eligibility-status">completed</strong> #}
            <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a class="govuk-link" href="{{ formatAccountPathsFor(routes.account.credentials.edit, currentGatewayAccount.external_id, 'worldpay') }}" aria-describedby="eligibility-status">
                Provide details about your responsible person
              </a>
            </span>
            {# <strong class="govuk-tag app-task-list__tag" id="eligibility-status">completed</strong> #}
            <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a class="govuk-link" href="{{ formatAccountPathsFor(routes.account.credentials.edit, currentGatewayAccount.external_id, 'worldpay') }}" aria-describedby="eligibility-status">
                Provide your organisation’s VAT number
              </a>
            </span>
            {# <strong class="govuk-tag app-task-list__tag" id="eligibility-status">completed</strong> #}
            <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a class="govuk-link" href="{{ formatAccountPathsFor(routes.account.credentials.edit, currentGatewayAccount.external_id, 'worldpay') }}" aria-describedby="eligibility-status">
              Provide your company registration number
              </a>
            </span>
            {# <strong class="govuk-tag app-task-list__tag" id="eligibility-status">completed</strong> #}
            <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">not started</strong>
          </li>
          <li class="app-task-list__item">
            {% set testPaymentLabel = "Make a live payment to test your Stripe PSP" %}
            <span class="app-task-list__task-name">
              {# <a class="govuk-link" id="make-a-test-payment" href="{{ formatAccountPathsFor(routes.account.yourPsp.testPayment, currentGatewayAccount.external_id) }}" aria-describedby="read-declaration-status"> #}
                {{ testPaymentLabel }}
              {# </a> #}
            </span>

            {# <strong class="govuk-tag app-task-list__tag" id="eligibility-status">completed</strong> #}
            {# {% if prototype.livePaymentCompleted %} #}
            {# <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">completed</strong> #}
            {# {% else %} #}
              {# {% set testPaymentStatusLabel = "not started" if prototype.credentialsComplete else "cannot start yet" %} #}
              <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="read-declaration-status">cannot start yet</strong>
            {# {% endif %} #}
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Switch PSP to Stripe
        </h2>
        <ul class="app-task-list__flat_items">
          <li class="app-task-list__item">
            {# <p class="govuk-body">
              After switching payment service provider, all future payments will taken by Worldpay.
            </p>

            <p class="govuk-body">
              {{ currentGatewayAccount.payment_provider | formatPSPname }} will remain linked to process refunds for existing payments.
            </p> #}
            <p class="govuk-body">
              After providing account details for Stripe, you can safely switch to taking payments with Stripe.
            </p>
            <form method="POST" action="{{ formatAccountPathsFor(routes.account.yourPsp.switch, currentGatewayAccount.external_id) }}">
              <input hidden name="csrfToken" value="{{ csrf }}">
              <button disabled class="govuk-button">Switch to Stripe</button>
            </form>
          </li>
        </ul>
      </li>
    </ol>
    {% endif %}
</div>
{% endblock %}
