{% extends "../settings-layout.njk" %}

{% block settingsPageTitle %}
  Create a webhook
{% endblock %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">Webhook details</h1>

{% endblock %}
