{% extends "../settings-layout.njk" %}

{% set settingsPageTitle = "Webhook details" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>
  <form method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {% set subscriptionItems = [] %}
    {% for key, name in eventTypes %}
      {% set normalisedKey = key | lower %}
      {% if form.subscriptions %}
        {% set checked = normalisedKey in form.subscriptions %}
      {% endif %}
      {% set subscriptionItems = (subscriptionItems.push({ value: normalisedKey, text: name, checked: checked}), subscriptionItems) %}
    {% endfor %}

    {{ govukInput({
      label: {
        text: "Callback URL",
        classes: "govuk-label--s"
      },
      hint: { text: "The HTTPS URL GOV.UK Pay will send webhook messages to" },
      id: "callback_url",
      name: "callbackUrl",
      value: form.callbackUrl,
      type: "url",
      spellcheck: false,
      errorMessage: { text: errors.formErrors['callbackUrl'] } if errors.formErrors['callbackUrl'] else false
    }) }}

    {{ govukInput({
      label: {
        text: "Description",
        classes: "govuk-label--s"
      },
      hint: { text: "Short summary of what this webhook will be used for" },
      id: "description",
      name: "description",
      value: form.description,
      attributes: {
        maxlength: "40"
      },
      spellcheck: true,
      errorMessage: { text: errors.formErrors['description'] } if errors.formErrors['description'] else false
    }) }}

    {{ govukCheckboxes({
      idPrefix: "subscriptions",
      name: "subscriptions",
      fieldset: {
        legend: {
          text: "Which payment events should we send?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: subscriptionItems,
      errorMessage: { text: errors.formErrors['subscriptions'] } if errors.formErrors['subscriptions'] else false
    }) }}

    {{ govukButton({
      text: "Save",
      type: "submit"
    }) }}

  </form>
{% endblock %}
