{% from "./_webhook_status.njk" import webhookStatusTag %}
{% from "./_message_status.njk" import messageStatusTag %}
{% extends "../settings-layout.njk" %}

{% macro webhookSubscriptions(webhook) %}
  <ul class="govuk-list">
    {% for subscription in webhook.subscriptions | sort %}
      {% set key = subscription | upper %}
      <li>{{ eventTypes[key] }}</li>
    {% endfor %}
  </ul>
{% endmacro %}

{% set settingsPageTitle = webhook.description %}

{% block settingsContent %}

  {{ govukBackLink({
    text: "Back to webhooks",
    href: backToWebhooksLink
  }) }}

  <div class="webhook-header-with-tag">
    <h1 class="govuk-heading-l">{{ webhook.description }}</h1>
    <span class="webhook-tag">{{ webhookStatusTag(webhook.status) }}</span>
  </div>

  {% set webhookSubscriptionsList = webhookSubscriptions(webhook) %}

  {{ govukSummaryList({
    classes: "webhooks-summary-card",
    rows: [
      {
        key: {
          text: 'Callback URL'
        },
        value: {
          text: webhook.callbackUrl
        }
      },
      {
        key: {
          text: 'Payment events sent by this webhook'
        },
        value: {
          html: webhookSubscriptionsList
        }
      },
      {
        key: {
          text: 'Date created'
        },
        value: {
          html: webhook.createdDate | datetime('datelong')
        }
      }
    ]
  }) }}

  {{ govukButton({
    href: updateWebhookLink,
    text: 'Update webhook',
    classes: 'govuk-!-margin-top-2 govuk-button--secondary'
  }) }}

  {% if webhook.status == 'ACTIVE' %}
    {{ govukButton({
      href: toggleWebhookStatusLink,
      text: 'Deactivate webhook',
      classes: 'govuk-!-margin-top-2 govuk-button--secondary'
    }) }}
  {% else %}
    {{ govukButton({
      href: toggleWebhookStatusLink,
      text: 'Activate webhook',
      classes: 'govuk-!-margin-top-2 govuk-button--secondary'
    }) }}
  {% endif %}


  <h2 class="govuk-heading-m">Signing Secret</h2>
  <p class="govuk-body">Webhook messages sent by GOV.UK Pay will include a signature. Only your application should store this secret to verify messages are from GOV.UK Pay.</p>
  <h3 class="govuk-visually-hidden" id="app-subnav-heading">{{ webhook.description }} signing secret </h3>
  <div>
    <span id="signing-secret" class="code copy-target">{{ signingSecret.signing_key }}</span>
  </div>
  {{
  govukButton({
    text: "Copy signing secret to clipboard",
    classes: "govuk-button--secondary govuk-!-margin-top-4",
    attributes: {
      id: "copy-signing-secret",
      "data-copy-text": true,
      "data-target": "copy-target",
      "data-success": "Signing secret copied",
      "data-notification-target": "copy-notification"
    }
  })
  }}
  <div class="copy-notification govuk-visually-hidden" aria-live="assertive"></div>

  <h2 class="govuk-heading-m">Events</h2>
  <p class="govuk-body">Events sent to your webhook are stored for 7 days.</p>
  <form>
    {{ govukSelect({
      id: "filter-events",
      name: "deliveryStatus",
      label: {
        text: "Filter Events",
        classes: "govuk-label--s"
      },
      value: deliveryStatus,
      items: [
        {
          value: "all",
          text: "All"
        },
        {
          value: "successful",
          text: "Successful"
        },
        {
          value: "failed",
          text: "Failed"
        }
      ],
      formGroup: {
        afterInput: {
            html: '<button type="submit" class="govuk-button govuk-button" data-module="govuk-button" data-govuk-button-init="">Update</button>'
        }
      }
    }) }}
  </form>

  {% set eventRows = [] %}
  {% for event in webhookEvents %}
    {% set eventRow = [
      { text: event.resourceId },
      { html: eventTypes[event.eventType | upper] + '<br><a href="'+event.eventDetailUrl+'">View details<a/>' },
      { html: messageStatusTag(event.lastDeliveryStatus) },
      { text: event.eventDate | datetime('datetime') }
    ] %}
    {% set eventRows = (eventRows.push(eventRow), eventRows) %}
  {% endfor %}

  {{ govukTable({
    firstCellIsHeader: false,
    head: [
      {
        html: "GOV.UK payment ID"
      },
      {
        text: "Event name"
      },
      {
        text: "Delivery status"
      },
      {
        text: "Event date"
      }
    ],
    rows: eventRows

  }) }}

  {% from "govuk/components/pagination/macro.njk" import govukPagination %}

  {{ govukPagination( paginationDetails ) }}

{% endblock %}
