{% extends "../settings-layout.njk" %}
{% from "./macro/webhook-event-status.njk" import webhookEventStatus %}

{% set heading = eventTypes[event.event_type | upper] %}
{% set settingsPageTitle = heading + " event details - " + webhookDescription %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ heading }}</h1>

  {% set resourceLink %}
    <a class="govuk-link" href="{{ resourceLink }}"
      ><span class="govuk-visually-hidden">GOV.UK payment ID </span>{{ event.resource_id }}</a
    >
  {% endset %}
  {{
    govukSummaryList({
      classes: "webhooks-summary-card",
      rows: [
        {
          key: {
            text: 'GOV.UK payment ID'
          },
          value: {
            html: resourceLink
          }
        },
        {
          key: {
            text: 'Event date'
          },
          value: {
            html: event.event_date | govukDate()
          }
        },
        {
          key: {
            text: 'Status'
          },
          value: {
            html: webhookEventStatus(event.latest_attempt.status)
          }
        }
      ]
    })
  }}

  {{
    govukDetails({
      summaryText: heading + " event body",
      html: '<pre class="json-block"><code>' + event.resource | dump(4) + '</code></pre>'
    })
  }}

  <h2 class="govuk-heading-m">Delivery attempts</h2>
  {% set attemptRows = [] %}
  {% for attempt in attempts %}
    {%
      set attemptRow = [
        { text: attempt.send_at | govukDate({ preserveTime: true }) },
        { html: webhookEventStatus(attempt.status) },
        { text: (attempt.status_code if attempt.status_code else 'None') },
        { text: attempt.result }
      ]
    %}
    {% set attemptRows = (attemptRows.push(attemptRow), attemptRows) %}
  {% endfor %}

  {{
    govukTable({
      firstCellIsHeader: false,
      head: [
        {
          text: "Attempt date"
        },
        {
          text: "Status"
        },
        {
          text: "Status code"
        },
        {
          text: "Result"
        }
      ],
      rows: attemptRows

    })
  }}
{% endblock %}
