{% from "./macro/webhook-status.njk" import webhookStatus %}
{% extends "../settings-layout.njk" %}

{% set settingsPageTitle = "Webhooks" %}
{% set isPspOnboarding = EnvironmentFeatures.isEnabled(EnvironmentFeatures.MY_SERVICES) and serviceView.statusTag === 'PSP_ONBOARDING' %}

{% macro webhookSubscriptions(webhook) %}
  <ul class="govuk-list">
    {% for subscription in webhook.subscriptions | sort %}
      {% set key = subscription | upper %}
      <li>{{ eventTypes[key] }}</li>
    {% endfor %}
  </ul>
{% endmacro %}

{% block settingsContent %}
  {% if isPspOnboarding %}
    {% include "simplified-account/settings/webhooks/partials/_finish-onboarding-message.njk" %}
  {% endif %}

  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>
  <p class="govuk-body">Use webhooks to send a message to your application when a payment is processed.</p>
  <p class="govuk-body">
    Find out more about
    {{
      "setting up webhooks in your
      application" | docsLink("webhooks")
    }}.
  </p>

  {% if not isPspOnboarding %}
    {{
      govukButton({
        text: "Create a new webhook",
        classes: "govuk-button",
        href: createWebhookLink
      })
    }}
  {% endif %}

  {% if (activeWebhooks.length + deactivatedWebhooks.length) == 0 %}
    <h2 class="govuk-heading-m">There are no configured webhooks</h2>
  {% else %}

    {% if activeWebhooks.length > 0 %}
      <h2 class="govuk-heading-m">Active webhooks ({{ activeWebhooks.length }})</h2>

      {% for webhook in activeWebhooks %}
        {% set webhookTitle %}
          {{ webhook.description }}
          <br />
          <div class="govuk-!-margin-top-1">{{ webhookStatus(webhook.status) }}</div>
        {% endset %}

        {% set webhookSubscriptionsList = webhookSubscriptions(webhook) %}
        {{
          govukSummaryList({
            card: {
              title: {
                html: webhookTitle,
                classes: "multiline-title"
              },
              actions: {
                items: [
                  {
                    href: webhook.detailUrl,
                    text: 'View',
                    classes: "govuk-link govuk-link--no-visited-state"
                  },
                  {
                    href: webhook.updateUrl,
                    text: 'Update',
                    classes: "govuk-link govuk-link--no-visited-state"
                  }
                ]
              }
            },
            rows: [
              {
                key: {
                text: 'Callback URL'
              },
                value: {
                text: webhook.callbackUrl
              }
              },
              {
                key: {
                text: 'Payment events sent by this webhook'
              },
                value: {
                html: webhookSubscriptionsList
              }
              }
            ]
          })
        }}
      {% endfor %}
    {% endif %}

    {% if deactivatedWebhooks.length > 0 %}
      <h2 class="govuk-heading-m">Deactivated webhooks ({{ deactivatedWebhooks.length }})</h2>

      {% for webhook in deactivatedWebhooks %}
        {% set webhookTitle %}
          {{ webhook.description }}
          <br />
          <div class="govuk-!-margin-top-1">{{ webhookStatus(webhook.status) }}</div>
        {% endset %}
        {% set webhookSubscriptionsList = webhookSubscriptions(webhook) %}
        {{
          govukSummaryList({
            card: {
              title: {
                html: webhookTitle,
                classes: "multiline-title"
              },
              actions: {
                items: [
                  {
                    href: webhook.detailUrl,
                    text: 'View',
                    classes: "govuk-link govuk-link--no-visited-state"
                  },
                  {
                    href: webhook.updateUrl,
                    text: 'Update',
                    classes: "govuk-link govuk-link--no-visited-state"
                  }
                ]
              }
            },
            rows: [
              {
                key: {
                text: 'Callback URL'
              },
                value: {
                text: webhook.callbackUrl
              }
              },
              {
                key: {
                text: 'Payment events sent by this webhook'
              },
                value: {
                html: webhookSubscriptionsList
              }
              }
            ]
          })
        }}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endblock %}
