{% extends "../settings-layout.njk" %}

{% set settingsPageTitle =  ("Activate" if webhook.status === 'INACTIVE' else 'Deactivate') + " webhook" %}

{% block settingsContent %}
  <form id="toggle-webhook-status" method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {{ govukRadios({
      name: 'toggleActive',
      errorMessage: { text: errors.formErrors['toggleActive'] } if errors.formErrors['toggleActive'] else false,
      fieldset: {
        legend: {
          text: 'Are you sure you want to ' + ('activate ' if webhook.status === 'INACTIVE' else 'deactivate ') + webhook.description + '?',
          isPageHeading: true,
          classes: 'govuk-fieldset__legend--l govuk-!-font-weight-bold'
        }
      },
      items: [
        {
          value: 'yes',
          text: 'Yes'
        },
        {
          value: 'no',
          text: 'No'
        }
      ]
    }) }}
    {{ govukButton({
      text: 'Save changes'
    }) }}
  </form>
{% endblock %}
