<h2 class="govuk-heading-m govuk-!-margin-top-8">Amount</h2>
{{
  govukSummaryList({ rows: [
    {
      key: {
        text: 'Payment amount'
      },
      value: {
        text: (transaction._locals.formatted.totalAmount + ' (including card fee of ' + transaction._locals.formatted.corporateCardSurcharge + ')')
          if (transaction.totalAmount and transaction.corporateCardSurcharge)
          else transaction._locals.formatted.amount
      }
    }, {
      key: {
        text: 'Provider fee'
      },
      value: {
        text: transaction._locals.formatted.fee
      }
    } if transaction.fee else null, {
      key: {
        text: 'Net amount'
      },
      value: {
        text: transaction._locals.formatted.netAmount
      }
    } if transaction.netAmount else null, {
      key: {
        text: 'Refunded amount'
      },
      value: {
        text: transaction._locals.formatted.refundedAmount
      }
    } if transaction.hasRefund()
  ] })
}}
