<h2 class="govuk-heading-m govuk-!-margin-top-8">Payment provider</h2>

{{
  govukSummaryList({ rows: [
    {
      key: { text: 'Provider' },
      value: { text: transaction.paymentProvider | capitalize }
    },
    {
      key: { text: 'Provider ID' },
      value: { text: transaction.gatewayTransactionId }
    },
    {
      key: { text: 'GOV.UK Pay ID' },
      value: { text: transaction.externalId }
    }
  ] })
}}
