{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if permissions.stripe_account_details_update and accountStatus.gatewayAccountStripeProgress %}
  {% set gatewayAccountStripeProgress = accountStatus.gatewayAccountStripeProgress %}
  {% set stripeAccount = accountStatus.stripeAccount %}
  {% set isStripeOnboardingComplete = gatewayAccountStripeProgress.setupCompleted() or (gatewayAccountStripeProgress.entityDocTaskAvailable() and stripeAccount.hasLegacyPaymentsCapability) %}

  {% if gatewayAccountStripeProgress and (not isStripeOnboardingComplete) %}
    {% include './_service-setup-banner.njk' %}
  {% elif stripeAccount.chargesEnabled === false %}
    {% set html %}
      <p class="govuk-notification-banner__heading" data-cy="stripe-notification">
        Stripe has restricted your account
      </p>
      <p class="govuk-body">To start taking payments again, please <a class="govuk-link"
                                                                      href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk"
                                                                      target="_top">contact support</a>
      </p>
    {% endset %}
    {{ govukNotificationBanner({
      html: html
    }) }}
  {% endif %}
{% endif %}
