{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% if (isAdminUser and accountStatus.isSwitching) %}
  {% set html %}
    <p class="govuk-notification-banner__heading">
      Switch your payment service provider (PSP) to {{ accountStatus.targetPaymentProvider | formatPSPname }}
    </p>
    <p class="govuk-body">
      Your service is ready to switch PSP from {{ accountStatus.paymentProvider | formatPSPname }}
      to {{ accountStatus.targetPaymentProvider | formatPSPname }}.
    </p>
    <p class="govuk-body">
      Find out how to switch
      to {{ accountStatus.targetPaymentProvider | formatPSPname | docsLink("switch_payment_service_provider") }}.
    </p>
  {% endset %}
  {{ govukNotificationBanner({
    html: html
  }) }}

{% endif %}
