@mixin self-service-button {
  .button-group & {
    margin-right: 1em;
  }
}

.button {
  @include button;
  @include self-service-button;
}

.button-secondary {
  @include button($grey-1);
  @include self-service-button;
}

.button-link {
  @include button;
  @include self-service-button;

  min-width: 0;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  color: $link-colour;

  &:link,
  &:hover,
  &:focus,
  &:visited {
    color: $link-colour;
  }

  &:link,
  &:hover,
  &:visited {
    background: transparent;
  }

  &:focus {
    background: $focus-colour;
  }
}

.button.delete {
  background-color: $red;
}

.button.delete.disabled:hover,
.button.delete[disabled="disabled"]:hover,
.button.delete[disabled]:hover {
  background-color: $red-50;

}

