.heading-with-border {
  margin-bottom: $gutter;
  padding-bottom: $gutter-two-thirds;
  border-bottom: 5px solid $black;
}

.page-title {
  @extend .heading-large;
  margin-top: 0;
}

.heading-group {
  // Allow other tags to sit alongside the heading
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include inline-block;
  }

  .edit {
    @include core-14;
    margin-left: $gutter-half;
  }
}

.sign-in-heading {
  margin-top: $gutter;
}

.pad-top {
  margin-top: $gutter * 2;
}
