.heading-with-border {
  border-bottom: 5px solid $black;
  padding-bottom: $gutter-two-thirds;
  margin-bottom: $gutter;
}

.page-title {
  @extend .heading-large;
  margin-top: 0;
}

.heading-group {
  /* Allow other tags to sit alongside the heading */
  h1, h2, h3, h4, h5, h6 {
    @include inline-block;
  }

  .edit {
    @include core-14;
    margin-left: $gutter-half;
  }
}
