@mixin respond-to($size) {
  @if $size == desktop {
    @media (min-width: 769px){
      @content;
    }
  } @else if $size == tablet {
    @media (min-width: 641px){
      @content;
    }
  } @else {
    @media (min-width: $size){
      @content
    }
  }
}

@mixin respond-to-max($size) {
  @if $size == tablet {
    @media (max-width: 768px){
      @content;
    }
  } @else if $size == mobile {
    @media (max-width: 640px){
      @content;
    }
  } @else {
    @media (max-width: $size){
      @content
    }
  }
}
