table {
  width: $full-width;
  margin-bottom: $gutter * 2;

  td {
    @include core-14;
    padding: .75em 1.25em .5625em 0;
    line-height: 1;

    &.details {
      font-weight: bold;
    }

    &.one-third {
      width: 33.333%;
    }
    &.two-thirds {
      width: 66.666%;
    }
  }

  tr:first-of-type {
    border-top: 1px solid $grey-2;
  }

  tbody tr th {
    font-weight: normal;
  }
}
