table {
  width: $full-width;
  margin-bottom: $gutter * 2;

  td {
    @include core-14;
    padding: .75em 1.25em .5625em 0;
    line-height: 1;

    &.details {
      font-weight: bold;
    }

    &.one-third {
      width: 33.333%;
    }
    &.two-thirds {
      width: 66.666%;
    }
  }

  tbody tr th {
    font-weight: normal;
  }
}

.large-type {
  * {
    @include core-19;
  }
}


.align-right {
  text-align: right;
}

.row-heading {
  @include bold-19;
  vertical-align: top;
}
