{% extends "../../layout.njk" %}

{% block pageTitle %}
  Company registration number - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% if isSwitchingCredentials %}
    {% include "includes/side-navigation.njk" %}
  {% endif %}
{% endblock %}

{% block mainContent %}

  {% if isSwitchingCredentials %}
    {{ govukBackLink({
      text: "Back to Switching payment service provider (PSP)",
      classes: "govuk-!-margin-top-0",
      href: formatAccountPathsFor(routes.account.switchPSP.index, currentGatewayAccount.external_id)
    }) }}
  {% endif %}

  <div class="govuk-grid-column-two-thirds">
    {% if errors | length %}
      {% set errorList = [] %}
      {% if errors['company-number-declaration'] %}
        {% set errorList = (errorList.push({
          text: 'Company registration number',
          href: '#company-number-declaration'
        }), errorList) %}
      {% endif %}
      {% if errors['company-number'] %}
        {% set errorList = (errorList.push({
          text: 'Company registration number',
          href: '#company-number'
        }), errorList) %}
      {% endif %}
      {{ govukErrorSummary({
        titleText: 'There was a problem with the details you gave for:',
        errorList: errorList
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-6"><label for="company-number">Company registration number</label></h1>
    <form id="company-number-form" method="post">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {% set companyNumberError = false %}
      {% if errors['company-number'] %}
        {% set companyNumberError = {
          text: errors['company-number']
        } %}
      {% endif %}
      {% set companyNumberInput %}
        {{ govukInput({
          name: "company-number",
          id: "company-number",
          label: {
            text: "Enter your Company registration number"
          },
          hint: {
            text: "For example, ‘01234567’"
          },
          value: companyNumber,
          classes: "govuk-input--width-30",
          type: "text",
          errorMessage: companyNumberError,
          attributes: {
            autocomplete: "off",
            spellcheck: "false"
          }
        }) }}
      {% endset %}

      {% set companyNumberDeclarationError = false %}
      {% if errors['company-number-declaration'] %}
        {% set companyNumberDeclarationError = {
          text: errors['company-number-declaration']
        } %}
      {% endif %}
      {{ govukRadios({
        idPrefix: 'company-number-declaration',
        name: 'company-number-declaration',
        fieldset: {
          legend: {
            text: 'Does your organisation have a company registration number?',
            isPageHeading: true,
            classes: 'govuk-fieldset__legend--m'
          }
        },
        errorMessage: companyNumberDeclarationError,
        items: [
          {
            text: 'Yes',
            value: 'true',
            conditional: {
              html: companyNumberInput
            },
            checked: (companyNumberDeclaration === 'true')
          },
          {
            text: 'No',
            value: 'false',
            checked: (companyNumberDeclaration === 'false')
          }
        ]
      }) }}

      {{ govukButton({ text: "Save and continue" }) }}
    </form>
  </div>
{% endblock %}
