// Helpers
// ==========================================================================

// Return ems from a pixel value
// This assumes a base of 19px
@function em($px, $base: 19) {
  @return ($px / $base) + em;
}

// Hide, but not for screenreaders
.visually-hidden,
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

// Hide, only when JavaScript is enabled
.js-enabled .js-hidden,
[hidden],
.hidden {
  display: none;
}
