{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  attributes: {id: "degateway-phase-banner"},
  tag: {
    text: "Update"
  },
  html: 'We\'ve updated our Settings pages. If you notice any problems, please <a target="_blank" class="govuk-link govuk-link--no-visited-state" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk">contact support (opens in new tab)</a>.'
}) }}
