{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
<aside role="complementary" aria-label="Platform Update">
  {{ govukPhaseBanner({
    attributes: {id: "degateway-phase-banner"},
    tag: {
      text: "Update"
    },
    html: 'We’ve updated our Settings pages. If you notice any problems, please email <a class="govuk-link govuk-link--no-visited-state" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk">govuk-pay-support@digital.cabinet-office.gov.uk</a>.'
  }) }}
</aside>
