{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  attributes: {id: "degateway-phase-banner"},
  tag: {
    text: "Experimental",
    classes: "govuk-tag--orange"
  },
  html: '\'Account simplification\' is enabled in \'My profile\'. Some unexpected behaviour may occur.'
}) }}
