{% from "../macro/breadcrumbs.njk" import breadcrumbs %}
{% set accountLabelWithTag %}
  <strong>{{currentService.name}}</strong>
  {% if currentGatewayAccount %}
    {% set paymentProvider = currentGatewayAccount.payment_provider or currentGatewayAccount.paymentProvider %}
    {% set normalisedPaymentProvider = paymentProvider.toLowerCase() %}
    {% set isLive = currentGatewayAccount.type === "live" %}
    {% set stripeAccountIsSetup = (currentGatewayAccount.connectorGatewayAccountStripeProgress.bankAccount and currentGatewayAccount.connectorGatewayAccountStripeProgress.responsiblePerson
      and currentGatewayAccount.connectorGatewayAccountStripeProgress.vatNumber and currentGatewayAccount.connectorGatewayAccountStripeProgress.companyNumber
      and currentGatewayAccount.connectorGatewayAccountStripeProgress.organisationDetails and currentGatewayAccount.connectorGatewayAccountStripeProgress.governmentEntityDocument) %}

    {% set tagModifierClass %}
      {% if (normalisedPaymentProvider === 'stripe' and not stripeAccountIsSetup) or
        (currentGatewayAccount.provider_switch_enabled or currentGatewayAccount.providerSwitchEnabled) %}
        govuk-tag--blue
      {% elseif not isLive %}
        govuk-tag--grey
      {% endif %}
    {% endset %}

    {% set tagText %}
      {% if not isLive %}
        {% if normalisedPaymentProvider === 'sandbox' %}
          Test
        {% else %}
          {{ normalisedPaymentProvider | capitalize }} test
        {% endif %}
      {% else %}
        Live
      {% endif %}
      {% if (normalisedPaymentProvider === 'stripe' and not stripeAccountIsSetup) %}
        - information needed
      {% endif %}
      {% if isAdminUser and (currentGatewayAccount.provider_switch_enabled or currentGatewayAccount.providerSwitchEnabled) %}
      - switch psp
      {% endif %}
    {% endset %}
    <strong class="govuk-tag service-info--tag {{ tagModifierClass }}">{{ tagText }}</strong>
  {% endif %}
{% endset %}

{% set breadcrumbItems = [
  { text: "My services", href: routes.serviceSwitcher.index }
] %}

{% if not hideServiceHeader and currentService.name %}
{% set breadcrumbItems = (breadcrumbItems.push({
  html: accountLabelWithTag
}), breadcrumbItems) %}
{% endif %}

{{ breadcrumbs(breadcrumbItems) }}

{% if not hideServiceNav and not hideServiceHeader %}
<div class="govuk-phase-banner govuk-clearfix pay-top-navigation" data-cy="service-nav">
  <nav role="navigation" class="service-navigation" data-cy="account-sub-nav">
    <ul class="service-navigation--list">
      {% for item in serviceNavigationItems %}
        {% if item.permissions %}
          {% if item.current %}
            <li class="service-navigation--list-item service-navigation--list-item-active"><a id="{{item.id}}" href="{{item.url}}">{{item.name}}</a></li>
          {% else %}
            <li class="service-navigation--list-item"><a id="{{item.id}}" href="{{item.url}}">{{item.name}}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
{% endif %}
