{# TODO delete this monstrosity #}
{% from "../macro/breadcrumbs.njk" import breadcrumbs %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% set accountLabelWithTag %}
  <strong class="service-info--name">{{ currentService.name }}</strong>
  {% if currentGatewayAccount %}
    {% set paymentProvider = currentGatewayAccount.payment_provider or currentGatewayAccount.paymentProvider %}
    {% set normalisedPaymentProvider = paymentProvider.toLowerCase() %}
    {% set isLive = currentGatewayAccount.type === "live" %}


    {% set tagModifierClass %}
      {% if not isLive %}
        govuk-tag--grey
      {% else %}
        govuk-tag--blue
      {% endif %}
    {% endset %}


    {% set tagText %}
      {% if not isLive %}
        {% if normalisedPaymentProvider === 'sandbox' %}
          Test
        {% else %}
          {{ normalisedPaymentProvider | capitalize }}
          test
        {% endif %}
      {% else %}
        Live
      {% endif %}
      {% if informationNeeded %}
        - information needed
      {% endif %}
      {% if isAdminUser and (currentGatewayAccount.provider_switch_enabled or currentGatewayAccount.providerSwitchEnabled) %}
        - switch psp
      {% endif %}
    {% endset %}
    <strong class="govuk-tag service-info--tag {{ tagModifierClass }}">{{ tagText }}</strong>
  {% endif %}
{% endset %}

{% set breadcrumbItems = [] %}

{% if not EnvironmentFeatures.isEnabled('header') %}
  {%
    set breadcrumbItems = (breadcrumbItems.push({
      text: "My services", href: routes.services.index
    }), breadcrumbItems)
  %}

  {% if not hideServiceHeader and currentService.name %}
    {%
      set breadcrumbItems = (breadcrumbItems.push({
        html: accountLabelWithTag
      }), breadcrumbItems)
    %}
  {% endif %}

  {% if breadcrumbItems | length > 0 %}
    {{ breadcrumbs(breadcrumbItems) }}
  {% endif %}
{% endif %}

{% if not hideServiceNav and not hideServiceHeader and not EnvironmentFeatures.isEnabled('sidebar_nav') %}
  {% set navItems = [] %}
  {% for item in serviceNavigationItems %}
    {% if item.permissions %}
      {%
        set navItems = (navItems.push({
          href: item.url,
          text: item.name,
          active: item.current,
          attributes: {
            id: item.id
          }
        }), navItems)
      %}
    {% endif %}
  {% endfor %}
  {% if navItems | length > 0 %}
    <nav role="navigation" class="service-sub-nav" data-cy="account-sub-nav">
      {{
        govukServiceNavigation({
          navigation: navItems,
          navigationId: "service-nav",
          menuButtonText: "Service menu"
        })
      }}
    </nav>
  {% endif %}
{% endif %}
