{%- from "govuk/components/tag/macro.njk" import govukTag -%}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="service-name">
      <aside aria-label="Service name">
        <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-3">
          <strong>{{ serviceHeader.serviceName.en }}</strong>
          {% if serviceHeader.serviceStatus.tag %}
            {{
              govukTag({
              text: serviceHeader.serviceStatus.tag,
              classes: "govuk-!-margin-left-1 " + serviceHeader.serviceStatus.colour
              })
            }}
          {% endif %}
        </p>
        {% if serviceHeader.serviceStatus.text %}
          <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-2">
            {{ serviceHeader.serviceStatus.text }}
            {% if serviceHeader.serviceStatus.action and serviceHeader.serviceUserIsAdmin %}
              <a class="govuk-link govuk-link--no-visited-state" href="{{ serviceHeader.serviceStatus.action.href }}">
                {{ serviceHeader.serviceStatus.action.text }}
              </a>
            {% endif %}
          </p>
        {% endif %}
        <hr class="govuk-section-break govuk-section-break--visible" />
      </aside>
    </div>
  </div>
</div>
