<aside class="pay-info-warning-box">
  <p class="govuk-body">You don’t have permission to manage settings. Contact your service admin if you would like to manage 3D secure, accepted card types, email notifications, billing address or mask card numbers or security codes for MOTO services.</p>
</aside>
