<div id="error-summary-{{form.id}}" class="govuk-error-summary error-summary" role="group" aria-labelledby="error-summary-heading-{{form.id}}" tabindex="-1">
  <h2 class="govuk-error-summary__title" id="error-summary-heading-{{form.id}}">
    There was a problem with the details you gave for:
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      {% for field in fields %}
        <li class="error-{{ field.id }}"><a href="#{{ field.id }}">{{ field.label }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
