{% extends "govuk/template.njk" %}
{% set assetPath = "/govuk-frontend-assets" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block page_title %}GOV.UK Pay Self Service{% endblock %}

{% block head %}
  {% include "includes/head.njk" %}
  {% block pageSpecificStyle %}
  {% endblock %}
{% endblock %}

{% block header %}
  {% set isSignInActive = true %}
  {% include "includes/header.njk" %}
  {% if NEW_GOVUK_HEADER %}
    {% include "includes/service-navigation.njk" %}
  {% endif %}
{% endblock %}

{% block bodyStart %}
  {% include "includes/cookie-message.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% include "includes/flash.njk" %}
    {% block mainContent %}
    {% endblock %}
  </div>
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.njk" %}
  {% block pageSpecificJS %}
  {% endblock %}
{% endblock %}
