{% extends "simplified-account/settings/settings-layout.njk" %}
{% from "macro/task-list.njk" import taskList %}

{% set settingsPageTitle = "Switch your payment provider to Adyen" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>

  {% if currentPsp == 'stripe' %}
    {% call govukInsetText() %}
      You must complete the switch by 22 August 2026 to continue taking payments.
    {% endcall %}
  {% endif %}

  <p class="govuk-body">
    Your service will continue to use {{ currentPsp | smartCaps }} until the switch to Adyen is complete.
  </p>

  <h2 class="govuk-heading-m">1. Confirm your organisation</h2>

  {{
    taskList({
      tasks: adyenTasks.confirmOrganisationTasks,
      idPrefix: 'adyen-confirm-org-tasks'
    })
  }}

  <h2 class="govuk-heading-m">2. Accept the legal terms</h2>

  {{
    taskList({
      tasks: adyenTasks.acceptLegalTermsTasks,
      idPrefix: 'adyen-accept-legal-terms-tasks'
    })
  }}

  <h2 class="govuk-heading-m">3. Complete your organisation’s details</h2>

  {{
    taskList({
      tasks: adyenTasks.completeOrganisationDetailsTasks,
      idPrefix: 'adyen-complete-org-details-tasks'
    })
  }}

  <p class="govuk-body">
    Adyen will check your information. You will receive an email when the checks are complete. You will need to make a
    real payment when the checks have been completed successfully to check everything works.
  </p>
{% endblock %}
