<!-- prettier-ignore -->
<p class="govuk-body"
  >You must also accept Adyen’s legal terms: <a href="/policy/stripe-connected-account-agreement" class="govuk-link">Adyen Connected Account Agreement.</a></p
>
