<!-- prettier-ignore -->
<p class="govuk-body"
  >You must also accept Stripe’s legal terms: <a href="/policy/stripe-connected-account-agreement" class="govuk-link">Stripe Connected Account Agreement.</a></p
>
