{% extends "../../layout.njk" %}

{% block pageTitle %}
   Stripe terms and conditions - GOV.UK Pay
{% endblock %}


{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Stripe terms and conditions
    </h1>

    <p class="govuk-body">
      Last updated: 15 Dec 2023
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="https://stripe.com/gb/legal/connect-account">Stripe Connected Account Agreement</a>
      </li>
      <li>
        <a class="govuk-link" href="https://stripe.com/gb/legal/ssa">Stripe services agreement</a>
      </li>
    </ul>
  </div>
{% endblock %}
