<legend class="govuk-visually-hidden">Date filters</legend>
{# When JavaScript enhances the select to a multi-select, the label element’s for attribute will reference a button element #}
{# WAVE complains about this but it is valid according to the HTML standard and the label will activate the button #}
{{
  govukSelect({
    id: "dateFilter",
    name: "dateFilter",
    classes: 'govuk-!-font-size-19',
    label: {
      text: "Date filters",
      classes: 'govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-0'
    },
    hint: {
      text: "Select a range or enter manually",
      classes: 'govuk-!-font-size-16'
    },
    items: [{
      value: "last-12-months",
      text: "Last 12 months",
      selected: filters.dateFilter === 'last-12-months'
    },
    {
      value: "today",
      text: "Today",
      selected: filters.dateFilter === 'today'
    },
    {
      value: "yesterday",
      text: "Yesterday",
      selected: filters.dateFilter === 'yesterday'
    },
    {
      value: "previous-month",
      text: "Last month",
      selected: filters.dateFilter === 'previous-month'
    },
    {
      value: "tbc",
      text: "Between two dates"
    },
    {
      value: "all-time",
      text: "All time (last 7 years)",
      selected: filters.dateFilter === 'all-time'
    }]
  })
}}
