<legend class="govuk-visually-hidden">Date filters</legend>
{# When JavaScript enhances the select to a multi-select, the label element’s for attribute will reference a button element #}
{# WAVE complains about this but it is valid according to the HTML standard and the label will activate the button #}
{{
  govukSelect({
    id: "dateFilter",
    name: "dateFilter",
    classes: 'govuk-!-font-size-16',
    label: {
      text: "Date filters",
      classes: 'govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-0'
    },
    hint: {
      text: "Select a range or enter manually",
      classes: 'govuk-!-font-size-16'
    },
    attributes: {
      'data-enhance-multiple': true
    },
    items: [{
      value: "yesterday",
      text: "Yesterday"
    },
      {
        value: "today",
        text: "Today"
      }]
  })
}}
