<br class="transactions-list__br" />
<legend class="govuk-visually-hidden">Date range</legend>
{{
  govukInput({
    id: 'startDate',
    name: 'startDate',
    value: filters.startDate,
    classes: 'date-picker start govuk-!-font-size-16',
    label: {
      text: 'Start date',
      classes: 'govuk-!-font-size-16 govuk-!-margin-bottom-2'
    },
    attributes: {
      autocomplete: 'off'
    },
    formGroup: {
      classes: 'datetime-filter__input-container datetime-filter__input-container--date-input'
    }
  })
}}
{{
  govukInput({
    id: 'fromTime',
    name: 'fromTime',
    value: filters.fromTime,
    classes: 'date-picker end govuk-!-font-size-16',
    label: {
      text: 'End date',
      classes: 'govuk-!-font-size-16 govuk-!-margin-bottom-2'
    },
    attributes: {
      autocomplete: 'off'
    },
    formGroup: {
      classes: 'datetime-filter__input-container datetime-filter__input-container--date-input'
    }
  })
}}
{#</fieldset>#}
