{{
  govukInput({
    id: 'metadataValue',
    name: 'metadataValue',
    value: filters.metadataValue,
    classes: 'govuk-!-font-size-16',
    label: {
      text: 'Metadata or reporting column',
      classes: 'govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-0'
    },
    hint: {
      text: 'Enter full value',
      classes: 'govuk-!-font-size-14'
    }
  })
}}