{% extends "../settings-layout.njk" %}

{% set settingsPageTitle = "API key name" %}

{% block settingsContent %}

  <h1 class="govuk-heading-l page-title">{{ settingsPageTitle }}</h1>

  <form id="api-key-name" method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {{ govukInput({
      id: "description",
      name: "description",
      type: "text",
      attributes: {
        maxlength: "50"
      },
      classes: "govuk-input--width-40",
      hint: {
        text: "For example, “John Smith’s API key”"
      },
      errorMessage: { text: errors.formErrors['description'] } if errors.formErrors['description'] else false
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
