{% extends "simplified-account/settings/settings-layout.njk" %}

{% set settingsPageTitle = ("Test" if accountType === 'test' else "Live") + " API keys" %}
{% set isPspOnboarding = EnvironmentFeatures.isEnabled(EnvironmentFeatures.MY_SERVICES) and serviceView.statusTag === 'PSP_ONBOARDING' %}

{% block settingsContent %}

  {% if isPspOnboarding %}
    {% include "simplified-account/settings/api-keys/partials/_finish-onboarding-message.njk" %}
  {% endif %}

  <h1 class="govuk-heading-l page-title"> {{ settingsPageTitle }} </h1>

  {{
    govukWarningText(
      {
        text: 'Do not use a test API key on your live account. It will not work properly.',
        iconFallbackText: 'Warning'
      } if accountType === 'test' else {
        text: 'Do not use a live API key on your test account. It will not work properly.',
        iconFallbackText: 'Warning'
      }
    )
  }}

  <p class="govuk-body"
    >Use these to connect your {% if accountType === 'test' %}test{% else %}live{% endif %} digital service to Pay and
    to access the reporting API.</p
  >
  <p class="govuk-body">
    You do not need API keys to use
    <a class="govuk-link" href="https://www.payments.service.gov.uk/govuk-payment-pages/">payment links</a>.
  </p>

  {% if not isPspOnboarding %}
    {{
      govukButton({
        href: createKeyLink,
        text: 'Create a new API key',
        classes: 'govuk-!-margin-top-2',
        attributes: {
          id: "create-api-key"
        }
      })
    }}
  {% endif %}

  {% if activeKeys.length == 0 %}
    <h2 class="govuk-heading-m govuk-!-margin-top-2"> There are no active {{ accountType }} API keys </h2>
  {% else %}
    <h2 class="govuk-heading-m govuk-!-margin-top-2"> Active {{ accountType }} API keys ({{ activeKeys.length }}) </h2>
    {% for key in activeKeys %}
      {{
        govukSummaryList({
          card: {
            title: {
              text: key.description
            },
            actions: {
              items: [
                {
                  href: key.changeNameLink,
                  text: 'Change name',
                  classes: 'govuk-link--no-visited-state'
                },
                {
                  href: key.revokeKeyLink,
                  text: 'Revoke',
                  classes: 'govuk-link--no-visited-state'
                }
              ]
            }
          },
          rows: [
            {
              key: {
                text: 'Created by'
              },
              value: {
                text: key.createdBy
              }
            },
            {
              key: {
                text: 'Date created'
              },
              value: {
                text: key.issuedDate
              }
            },
            {
              key: {
                text: 'Last used'
              },
              value: {
                text: key.lastUsed if key.lastUsed else 'Not used yet'
              }
            }
          ]
        })
      }}
    {% endfor %}
  {% endif %}

  {% if showRevokedKeysLink %}
    {{
      govukButton({
        href: revokedKeysLink,
        text: 'Show revoked API keys',
        classes: 'govuk-!-margin-top-2 govuk-button--secondary',
        attributes: {
          id: "revoked-keys-link"
        }
      })
    }}
  {% endif %}
{% endblock %}
