{% extends "../settings-layout.njk" %}

{% set settingsPageTitle = "Revoked " + ("test" if accountType === 'test' else "live") + " API key" %}

{% block settingsContent %}

  <h1 class="govuk-heading-l page-title">
    {{ settingsPageTitle }} ({{ tokens.length }})
  </h1>

  {% for key in tokens %}
    {{ govukSummaryList({
      card: {
        title: {
          text: key.description
        }
      },
      rows: [
        {
          key: {
            text: 'Created by'
          },
          value: {
            text: key.createdBy
          }
        },
        {
          key: {
            text: 'Date created'
          },
          value: {
            text: key.issuedDate
          }
        },
        {
          key: {
            text: 'Last used'
          },
          value: {
            text: key.lastUsed if key.lastUsed else 'Not used yet'
          }
        },
        {
          key: {
            text: 'Date revoked'
          },
          value: {
            text: key.revokedDate
          }
        }
      ]
    }) }}
  {% endfor %}
{% endblock %}
