{{< layout_logged_out}}

{{$pageTitle}}
Resend security code - GOV.UK Pay
{{/pageTitle}}

{{$mainContent}}
<div id="display_otp_resend" class="column-two-thirds">
    <h1 class="form-title heading-large">Check your mobile number</h1>
    <p>
        Check your mobile phone number is correct, then resend the security code.
    </p>
    <form action="{{routes.selfCreateService.otpResend}}" class="form" method="post" id="otp-resend-form">
        <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
        <div class="form-group">
            <label class="form-label" for="telephone-number">Mobile number</label>
            <input type="text" class="form-control" id="telephone-number" name="telephone-number" value="{{telephoneNumber}}">
        </div>
        <div class="form-group">
            <input class="button" type="submit" value="Resend security code">
        </div>
    </form>
</div>

{{/mainContent}}
{{/layout_logged_out}}
