{% extends "../layout-two-thirds-no-nav.njk" %}

{% block pageTitle %}
  Set the service name - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  {% if errors %}
    <div class="govuk-error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
      <h2 class="govuk-error-summary__title" id="error-summary-heading">
        There was a problem with the details you gave for:
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% if errors.service_name %}
            <li><a href="#service-name">Service name</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% endif %}
  <form action="{{routes.selfCreateService.serviceNaming}}" method="post" class="form submit-two-fa" id="name-your-service-form" data-virtual-pageview="/service/registration-complete" data-parameters="dimension1:service-name" data-validate="true">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <h1 class="form-title govuk-heading-l">What service will you be taking payments for?</h1>

    {% set serviceNameError = false %}
    {% if errors.service_name %}
      {% set serviceNameError = {
        text: errors.service_name
      } %}
    {% endif %}

    {{
      govukInput({
        id: "service-name",
        name: "service-name",
        label: {
            text: "Service name",
            classes: "govuk-label--s"
        },
        hint: {
          text: "You can change this later"
        },
        value: serviceName,
        attributes: {
          "data-validate": "required isFieldGreaterThanMaxLengthChars", "data-validate-max-length": "50",
          "autofocus": true
        },
        errorMessage: serviceNameError
      })
    }}

    {{
      govukButton({
        text: "Add service",
        classes: "button",
        attributes: {
          id: "add-service"
        }
      })
    }}
  </form>
{% endblock %}
