{% extends "../layout_logged_out.njk" %}

{% block page_title %}
  Enter security code - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div id="display_otp_verify" class="column-two-thirds">
  <form action="{{routes.selfCreateService.otpVerify}}" class="form" method="post" class="submit-two-fa" id="verify-phone-form">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <h1 class="form-title heading-large">Check your phone</h1>
    <p>We've sent you a text message with a security code</p>
    <div class="form-group">
      <label class="form-label" for="verify-code">Text message code</label>
      <input class="form-control form-control-1-4" data-module="" id="verify-code" name="verify-code" type="text" value="">
    </div>
    <div class="form-group">
      <input class="button" type="submit" value="Continue">
    </div>
  </form>
  <p><a href="{{routes.selfCreateService.otpResend}}">Not received a text message?</a></p>
</div>
{% endblock %}
