{% extends "../../layout-full-width.njk" %}

{% block pageTitle %}
  Add your organisation’s details - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Check details before saving</h1>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "VAT number"
          },
          value: {
            text: vatNumber
          },
          actions: {
            items: [
              {
                href: "/vat-number-company-number/vat-number",
                text: "Change",
                visuallyHiddenText: "vat number"
              }
            ]
          }
        },
        {
          key: {
            text: "Company registration number"
          },
          value: {
            text: companyNumber
          },
          actions: {
            items: [
              {
                href: "/vat-number-company-number/company-number",
                text: "Change",
                visuallyHiddenText: "company registration number"
              }
            ]
          }
        }
      ]
    }) }}

    <form id="vat-number-company-number-check-submit-form" method="post"
          action="/vat-number-company-number/check-your-answers" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
      {{ govukButton({ text: "Save details" }) }}
    </form>
  </div>
{% endblock %}
