{% extends "../../layout.njk" %}

{% block pageTitle %}
  What is your organisation’s Company registration number? - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length %}
      {% set errorList = [] %}
      {% if errors['company-number-declaration'] %}
        {% set errorList = (errorList.push({
          text: 'Company registration number',
          href: '#company-number-declaration'
        }), errorList) %}
      {% endif %}
      {% if errors['company-number'] %}
        {% set errorList = (errorList.push({
          text: 'Company registration number',
          href: '#company-number'
        }), errorList) %}
      {% endif %}
      {{ govukErrorSummary({
        titleText: 'There was a problem with the details you gave for:',
        errorList: errorList
      }) }}
    {% endif %}

    <form id="company-number-form" method="post"
          action="/vat-number-company-number/company-number">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {% set companyNumberError = false %}
      {% if errors['company-number'] %}
        {% set companyNumberError = {
          text: errors['company-number']
        } %}
      {% endif %}
      {% set companyNumberInput %}
        {{ govukInput({
          name: "company-number",
          id: "company-number",
          label: {
            text: "Company registration number"
          },
          hint: {
            text: "For example, ‘01234567’"
          },
          value: companyNumber,
          classes: "govuk-input--width-30",
          type: "text",
          errorMessage: companyNumberError,
          attributes: {
            autocomplete: "off",
            spellcheck: "false"
          }
        }) }}
      {% endset %}

      {% set companyNumberDeclarationError = false %}
      {% if errors['company-number-declaration'] %}
        {% set companyNumberDeclarationError = {
          text: errors['company-number-declaration']
        } %}
      {% endif %}
      {{ govukRadios({
        idPrefix: 'company-number-declaration',
        name: 'company-number-declaration',
        fieldset: {
          legend: {
            text: 'Does your organisation have a company registration number?',
            isPageHeading: true,
            classes: 'govuk-fieldset__legend--l'
          }
        },
        errorMessage: companyNumberDeclarationError,
        items: [
          {
            text: 'Yes',
            value: 'true',
            label: {
              classes: "govuk-label--s"
            },
            conditional: {
              html: companyNumberInput
            },
            checked: (companyNumberDeclaration === 'true')
          },
          {
            text: 'No',
            value: 'false',
            label: {
              classes: "govuk-label--s"
            },
            checked: (companyNumberDeclaration === 'false')
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
{% endblock %}
