{% extends "../../layout-two-thirds-no-nav.njk" %}

{% block pageTitle %}
  Add your organisation’s VAT number - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
    {% if errors | length %}
      {% set errorList = [] %}
      {% if errors['vat-number'] %}
        {% set errorList = (errorList.push({
          text: 'VAT number',
          href: '#vat-number'
        }), errorList) %}
      {% endif %}
      {{ govukErrorSummary({
        titleText: 'There was a problem with the details you gave for:',
        errorList: errorList
      }) }}
    {% endif %}
    <h1 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-2">Add your organisation’s VAT number</h1>

    <form id="vat-number-form" method="post"
          action="/vat-number-company-number/vat-number" data-validate="true">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {% set vatNumberError = false %}
      {% if errors['vat-number'] %}
        {% set vatNumberError = {
          text: errors['vat-number']
        } %}
      {% endif %}

      {{ govukInput({
        name: "vat-number",
        id: "vat-number",
        label: {
          text: "VAT number"
        },
        hint: {
          text: "For example, ‘GBGD001’"
        },
        classes: "govuk-input--width-30",
        value: vatNumber,
        type: "text",
        errorMessage: vatNumberError,
        attributes: {
          "data-validate": "required vatNumber",
          autocomplete: "off",
          spellcheck: "false"
        }
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
{% endblock %}
