{% if hasPaginationLinks %}
<div class="pagination">
  {% from "govuk/components/pagination/macro.njk" import govukPagination %}

  {% set items = [] %}
  {% set firstPage = 1 %}
  {% set lastPage = getAllLinks.length %}
  {% set currentPage = (filters.page | default(1)) | int %}
  {% set showPreviousEllipsis = false %}
  {% set showNextEllipsis = false %}

  {% for i in range(1, getAllLinks.length + 1) %}
    {% if i == firstPage or i == lastPage or (i >= currentPage - 1 and i <= currentPage + 1) %}
      {% set item = {
        number: i,
        href: getAllLinks[i - 1],
        current: i == currentPage
      } %}
      {% set items = items.concat(item) %}
    {% elseif i < currentPage - 1 and not showPreviousEllipsis %}
      {% set items = items.concat({ ellipsis: true }) %}
      {% set showPreviousEllipsis = true %}
    {% elseif i > currentPage + 1 and not showNextEllipsis %}
      {% set items = items.concat({ ellipsis: true }) %}
      {% set showNextEllipsis = true %}
    {% endif %}
  {% endfor %}

  {{ govukPagination({
    previous: {
      href: previousPage
    },
    next: {
      href: nextPage
    },
    items: items
  }) }}
</div>
{% endif %}
