{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <h3 class="govuk-notification-banner__heading">
    BST has started and it could affect your reporting.
  </h3>
  <p class="govuk-body">
    Clocks in the UK went forward 1 hour on 30 March 2025 for British Summer Time (BST). During BST,
    times in the GOV.UK Pay admin tool are 1 hour ahead of downloaded CSV files.<br>You can read more
    about <a class="govuk-notification-banner__link" href="https://docs.payments.service.gov.uk/reporting/#timezones-in-gov-uk-pay">
      how timezones work in GOV.UK Pay in our documentation</a>.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  classes: "govuk-!-margin-bottom-4 govuk-!-margin-top-0"
}) }}
