header {
  background-color: $black;
  .header-wrapper {
    max-width:1200px;
    margin: 0 auto;
    @include respond-to-max(1260px) {
      margin: 0 30px;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    position: relative;
    padding-left: 45px;

    &:focus {
      background: none;
    }

    img {
      position: absolute;
      left: 0;
      top: -2px;
    }
  }

  a,
  a:visited,
  a:active,
  a:hover,
  a:link {
    color: $white;
  }

  a:focus,
  a:hover {
    text-decoration: underline;
  }

  .header-logo {
    @include bold-24;
    padding: $gutter-half 0 $gutter-half 0;

    @include media(tablet) {
     padding: $gutter-half 0 $gutter-half 0;
    }
  }
  .logout {
    float: right;
    @include copy-16();
    font-weight: bold;
  }
}
