#global-header .header-wrapper {
  max-width: 1020px;
}

/* Allow the menu link to sit on the same line as the logo */
#global-header.with-proposition {
  .header-wrapper {
    /* Allow the header contents to dictate their own padding-bottom when the proposition menu can be toggled */
    padding-bottom: 0;

    @include media(desktop) {
      padding-bottom: 8px;
    }
  }

  .header-global {
    float: left;

    .header-logo {
      margin-top: 0;
    }
  }
}

#global-header{
  .header-global {
    margin-bottom: -5px;
  }

  #logo {
    background-position: 0 2px;
    line-height: 1.375;
  }
}

.header-logo span {
  margin-left: 5px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.25;
}

.header-logo .phase-tag {
  position: relative;
  top: -2px;
  margin: -1px 0 0 5px;
  font-size: 14px;
  line-height: 1.45857;
}

#global-header .header-proposition {
  /* Trick to align the proposition menu to the right of the header */
  @include media(desktop) {
    text-align: right;
  }

  /* Styles below make the header style match the product page */
  a.menu {
    @include bold-14;
    line-height: 1.25;
    border: solid $grey-1 1px;
    border-radius: 3px;
    padding: 2px 6px 1px;
    margin-bottom: 12px;

    &:focus {
      background: transparent;
    }
  }

  #proposition-menu {
    clear: left;

    @include media(desktop) {
      clear: none;
    }
  }

  #proposition-links {
    border-top: solid $grey-1 1px;
    padding: 8px 0;
    margin-bottom: 0;

    @include media(desktop) {
      border: none;
      padding: 3px 0;
    }

    li {
      border: none;
      padding: 5px 0;
      line-height: 1.25;
      float: none;
      width: 100%;

      /* Reset for `text-align: right` trick */
      text-align: left;

      @include media(desktop) {
        display: inline;
      }

      a {
        // We want the same font size on mobile as tablet, so we can't use bold-16.
        @include _core-font-generator(
          $font-size: 16px,
          $font-size-640: 16px,
          $font-size-print: 12pt,
          $line-height: (20 / 16),
          $line-height-640: (20 / 16),
          $font-weight: 700
        );

        margin: 0;

        @include media(desktop) {
          margin-left: $gutter-half;
        }
      }
    }
  }
}

/* Styles for banner showing environment (test or live) */
.phase-banner {
  max-width: 960px;
  margin: 0 $gutter-half;

  @include ie-lte(8) {
    width: 960px;
  }
  @include media(tablet) {
    margin: 0 $gutter;
  }

  @include media($min-width: (960px + $gutter * 2)) {
    margin: 0 auto;
  }
}

.phase-banner {
  display: block;
  margin: $gutter / 3 15px 0;
  padding: 10px 0 0;
  border-bottom: 1px solid $border-colour;
  @extend %contain-floats;

  @include media(tablet) {
    margin: $gutter / 3 $gutter 0;
  }

  @include media($min-width: (960px + $gutter * 2)) {
    margin: $gutter / 3 auto 0;
  }

  .phase-tag {
    /* Set text for lowercase (phase banner defaults to uppercase) */
    text-transform: none;
    letter-spacing: inherit;
    float: right;
    margin-right: 0;

    &:first-letter {
      text-transform: capitalize;
    }

    .env-live & {
      background: $govuk-blue;
      color: $white;
    }

    .env-test & {
      background: $yellow;
      color: $text-colour;
    }
  }
}

#global-header-bar {
  max-width: 960px;

  @include ie-lte(8) {
    width: 1020px;
  }

  .env-live & {
    background: $govuk-blue;
  }

  .env-test & {
    background: $yellow;
  }
}
