header {
  background-color: $black;
  .header-wrapper {
    max-width:1200px;
    margin: 0 auto;
    @include respond-to-max(1260px) {
      margin: 0 30px;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    position: relative;
    padding-left: 45px;

    &:focus {
      background: none;
    }

    img {
      position: absolute;
      left: 0;
      top: -2px;
    }
  }

  a,
  a:visited,
  a:active,
  a:hover,
  a:link {
    color: $white;
  }

  a:focus,
  a:hover {
    text-decoration: underline;
  }

  .header-logo {
    @include bold-24;
    padding: $gutter-half 0 $gutter-half 0;

    @include media(tablet) {
     padding: $gutter-half 0 $gutter-half 0;
    }
  }
  .logout {
    float: right;
    @include copy-16();
    font-weight: bold;
  }
}

/* Styles for banner showing environment (test or live) */
.phase-banner {
  @include phase-banner();

  /* Corrections to phase-banner styles to allow 1200px width */
  max-width: 1200px;

  @include ie-lte(8) {
    width: 1200px;
  }

  margin: 0 $gutter-half $gutter;

  @include media(tablet) {
    margin: 0 $gutter $gutter;
  }

  @include media($min-width: (1200px + $gutter * 2)) {
    margin: 0 auto $gutter;
  }

  .phase-tag {
    /* Set text for lowercase (phase banner defaults to uppercase) */
    text-transform: none;
    letter-spacing: inherit;

    .env-live & {
      background: $govuk-blue;
      color: $white;
    }

    .env-test & {
      background: $yellow;
      color: $text-colour;
    }
  }
}

.env-live #global-header-bar {
  background: $govuk-blue;
}

.env-test #global-header-bar {
  background: $yellow;
}

