{% extends "layout.njk" %}

{% block pageTitle %}
  3D Secure - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {% if not permissions.toggle_3ds_update %}
      {% include "../includes/settings-read-only.njk" %}
    {% endif %}

    {% if supports3ds %}
      <h1 class="govuk-heading-l">3D Secure</h1>

      <p class="govuk-body-l">3D Secure (3DS) adds an extra layer of authentication to user payments.</p>

      {% if showHelper3ds %}
        {{
          govukInsetText({
            html: 'Your Worldpay merchant code must have been configured to support 3D Secure. Read more about this in our <a class="govuk-link" href="https://docs.payments.service.gov.uk/switching_to_live/set_up_a_live_worldpay_account/#set-up-3d-secure">technical documentation</a>. Once that’s done, you can turn on 3D Secure for all payments to your service.'
          })
        }}
      {% endif %}

      {% if disabled3ds %}
        {{
          govukWarningText({
            text: '3D Secure setting cannot be changed for this payment service provider (PSP)'
          })
        }}
      {% endif %}
      {% if hasCardTypeRequiring3dsEnabled %}
        {{
          govukWarningText({
            text: 'You must disable Maestro to turn off 3D Secure'
          })
        }}
      {% endif %}
      {% if currentGatewayAccount.payment_provider === "worldpay" and currentGatewayAccount.worldpay_3ds_flex %}
        {{
          govukWarningText({
            text: 'If you turn off 3DS in Settings, Worldpay’s 3DS Flex will not work.'
          })
        }}
      {% endif %}
      {% set disabled = true if disabled3ds or hasCardTypeRequiring3dsEnabled else false %}
      {% if not permissions.toggle_3ds_update %}
        {% set disabled = true %}
      {% endif %}

      <form method="post">
        <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
        {{
          govukRadios({
            idPrefix: 'three-dee-secure-toggle',
            name: 'three-dee-secure',
            fieldset: {
              legend: {
                text: '3D Secure:',
                classes: 'govuk-!-font-weight-bold'
              }
            },
            items: [
              {
                text: 'On',
                value: 'on',
                checked: true if requires3ds else false,
                disabled: disabled
              },
              {
                text: 'Off',
                value: 'off',
                checked: true if not requires3ds else false,
                disabled: disabled
              }
            ]
          })
        }}
        {{
          govukButton({
            text: 'Save changes',
            classes: 'govuk-!-margin-bottom-3',
            disabled: disabled,
            attributes: {
              id: "save-3ds-changes"
            }
          })
        }}
      </form>
      <p class="govuk-body">or <a href="{{routes.settings.index}}" class="govuk-link govuk-link--no-visited-state">cancel</a></p>
    {% else %}
      <h1 class="govuk-heading-l govuk-!-margin-top-6">3D Secure</h1>
      <p class="govuk-body" id="threeds-not-supported">3D Secure is not currently supported for this payment service provider (PSP).</p>
    {% endif %}
  </div>
{% endblock %}
