<table class="transaction-details govuk-table">
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Reference number:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="reference">{{reference}}</td>
  </tr>

  {% if permissions.transactions_description_read %}
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Description:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="description">{{description}}</td>
  </tr>
  {% endif %}

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16 vetical-align-top" scope="row">Payment status:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="state">{{state_friendly}}{% if state.message %} ({{state.code}} - {{state.message}}){% endif %}</td>
  </tr>

  {% if permissions.transactions_amount_read %}
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Payment amount:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="amount">
      {%- if total_amount and corporate_card_surcharge -%}
        {{total_amount}} (including a card fee of {{corporate_card_surcharge}})
      {%- else -%}
        {{amount}}
      {%- endif -%}
    </td>
  </tr>

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Refunded amount:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="refunded-amount" class="qa-refunded-amount ">{% if refunded %}–{{refunded_amount}}{% else %}£0.00{% endif %}</td>
  </tr>
  {% endif %}

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Date created:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="date-created">{{updated}}</td>
  </tr>

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Provider:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="provider">{{payment_provider}}</td>
  </tr>

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Provider ID:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="transaction-id">{{gateway_transaction_id}}</td>
  </tr>

  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">GOV.UK payment ID:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="payment-id">{{charge_id}}</td>
  </tr>

  {% if delayed_capture %}
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Delayed capture:</th>
    <td class="govuk-table__cell govuk-!-font-size-16" id="delayed-capture">On</td>
  </tr>
  {% endif %}
  </tbody>
</table>
