<table class="transaction-details govuk-table">
  <tbody class="govuk-table__body">
    {% for key, value in metadata|dictsort %}
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">{{key}}:</th>
      <td class="govuk-table__cell govuk-!-font-size-16" id="metadata-value">{{value}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
