<table class="transaction-details govuk-table">
  <tbody class="govuk-table__body">
    {% if permissions.transactions_card_type_read %}
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Type:</th>
      <td class="govuk-table__cell govuk-!-font-size-16" id="brand">{{card_details.card_brand}}</td>
    </tr>
    {% endif %}
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Name on card:</th>
      <td class="govuk-table__cell govuk-!-font-size-16" id="cardholder_name">{{card_details.cardholder_name}}</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Card number:</th>
      <td class="govuk-table__cell govuk-!-font-size-16" id="card_number">{{card_details.first_digits_card_number}}** **** {{card_details.last_digits_card_number}}</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Card expiry date:</th>
      <td class="govuk-table__cell govuk-!-font-size-16" id="card_expiry_date">{{card_details.expiry_date}}</td>
    </tr>
    {% if wallet_type %}
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Wallet type:</th>
      <td class="govuk-table__cell govuk-!-font-size-16" id="wallet_type">{{wallet_type}}</td>
    </tr>
    {% endif %}
    {% if permissions.transactions_email_read %}
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third govuk-!-font-size-16" scope="row">Email:</th>
      <td class="govuk-table__cell govuk-!-font-size-16" id="email">{{email}}</td>
    </tr>
    {% endif %}
  </tbody>
</table>
