<table class="transaction-details">
  <tbody>
    {{#permissions.transactions_card_type_read}}
    <tr>
      <td>Type:</td>
      <td id="brand">{{card_details.card_brand}}</td>
    </tr>
    {{/permissions.transactions_card_type_read}}
    <tr>
      <td>Name on card:</td>
      <td id="cardholder_name">{{card_details.cardholder_name}}</td>
    </tr>
    <tr>
      <td>Card number:</td>
      <td id="card_number">**** **** **** {{card_details.last_digits_card_number}}</td>
    </tr>
    <tr>
      <td>Card expiry date:</td>
      <td id="card_expiry_date">{{card_details.expiry_date}}</td>
    </tr>
    {{#permissions.transactions_email_read}}
    <tr>
      <td>Email:</td>
      <td id="email">{{email}}</td>
    </tr>
    {{/permissions.transactions_email_read}}
  </tbody>
</table>
