{{< layout}}

{{$pageTitle}}
Transaction details {{reference}} - {{currentServiceName}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{{/pageTitle}}
{{$pageSpecificJS}}
<script src="/public/js/components/refund.js"></script>
{{/pageSpecificJS}}

{{$full_width_content}}
<h1 class="page-title pull-bottom">Transactions</h1>
<div class="actions">
  <a href="{{routes.transactions.index}}?{{indexFilters}}" id="arrowed" class="arrowed"> &#9664; Back to transactions list </a>
  {{#refundable}}
  {{#permissions.refunds_create}}
  <a href="#show-refund" class="button show-refund-button delete"> Refund Payment </a>
  {{/permissions.refunds_create}}
  {{/refundable}}
</div>
{{>transaction_detail/_refund}}
<h2 class="heading-small pull-top push-bottom-sml">Transaction details</h2>
{{>transaction_detail/_details}}

<h3 class="heading-small pull-top push-bottom-sml">Payment method</h3>
{{>transaction_detail/_payment}}

{{#permissions.transactions_events_read}}
<h3 class="heading-small pull-top push-bottom-sml">Transaction Events</h3>
{{>transaction_detail/_events}}
{{/permissions.transactions_events_read}}

{{/full_width_content}}

{{/layout}}
