{% extends "../layout-full-width.njk" %}

{% set contextIsAllServiceTransactions = redirectBackLink %}
{% set hideServiceHeader = contextIsAllServiceTransactions %}

{% block pageTitle %}
  Transaction details {{charge_id}} - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% set defaultBackLink %}{{routes.transactions.index}}{% if indexFilters %}?{{indexFilters}}{% endif %}{% endset %}
  {% set backLink = redirectBackLink if contextIsAllServiceTransactions else defaultBackLink %}
  {% set backLinkText = 'Transactions for all live services' if contextIsAllServiceTransactions else 'Transactions list' %}
  {{
    govukBackLink({
      text: backLinkText,
      href: backLink | safe,
      attributes: {
        id: 'arrowed'
      }
    })
  }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Transaction detail</h1>
    {% include "./_details.njk" %}

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Payment method</h2>
    {% include "./_payment.njk" %}

    {% if metadata %}
    <h2 class="govuk-heading-m govuk-!-margin-top-9">Metadata</h2>
        {% include "./_metadata.njk" %}
    {% endif %}

    {% if permissions.transactions_events_read %}
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Transaction events</h2>
      {% include "./_events.njk" %}
    {% endif %}
  </div>

  <div class="govuk-grid-column-one-third">
    {% if refundable %}
      {% if permissions.refunds_create %}
        <div class="target-to-show--toggle-container {% if not flash.genericError %}active{% endif %}">
          <a href="#refundForm" class="govuk-button govuk-button--warning refund__toggle target-to-show--toggle delete">Refund payment</a>
          <p class="govuk-body">You can also give partial&nbsp;refunds</p>
        </div>
        {% include "./_refund.njk" %}
     {% endif %}
    {% endif %}
  </div>
{% endblock %}
