{% extends "../layout.njk" %}

{% block page_title %}
Sign-in method - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="column-full">
  <h1 class="heading-large page-title">
    Sign-in method changed
  </h1>
</div>
<div class="column-two-thirds">
  <p>You will now use your authenticator app to sign in to GOV.UK Pay.</p>
</div>
{% endblock %}
