{% extends "../layout.njk" %}

{% if method === 'APP' %}
  {% set title = 'Set up an authenticator app' %}
{% else %}
  {% set title = 'Check your phone' %}
{% endif %}

{% block page_title %}
{{ title }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="column-full">
  <a href="{{routes.user.profile}}" class="link-back">My profile</a>
</div>
<div class="column-full">
  <h1 class="heading-large page-title">
    {{ title }}
  </h1>
</div>
<div class="column-two-thirds">
{% if method === 'APP' %}
  <p>Scan the barcode with your authenticator app or enter the secret manually.</p>
  <div class="notice">
    <i class="icon icon-important">
      <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
      Once set-up is complete, you will only be able to use this authenticator app to sign in.
    </strong>
  </div>
  <figure class="qr-code">
    <img src="{{qrCodeDataUrl}}" alt="If you cannot view or scan the barcode, please enter the secret manually">
    <figcaption>
      <h4>Secret</h4>
      <p class="small">
        <span class="code">{{prettyPrintedSecret}}</span>
      </p>
    </figcaption>
  </figure>
{% else %}
  <div class="notice two-fa-notice">
    <i class="icon icon-important">
      <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
      Once set-up is complete, you will only be able to sign in using text message codes.
    </strong>
  </div>
{% endif %}
  <form method="post" action="{{routes.user.twoFactorAuth.configure}}" data-validate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <div class="form-group {% if flash.genericError %}error{% endif %}">
      <label class="form-label" for="code">
        Security code
        <span class="form-hint">
          {% if method === 'APP' %}
          Enter the code shown in your app to complete the set-up
          {% else %}
          We have sent you a text message with a security code
          {% endif %}
        </span>
        {% if flash.genericError %}
          <span class="error-message">Please enter a valid security code</span>
        {% endif %}
      </label>
      <input autofocus type="text" class="form-control" id="code" name="code" data-validate="required" autocomplete="off">
    </div>
    <div class="form-group">
      <button class="button" type="submit">
        Complete
      </button>
    </div>
  </form>
  {% if method === 'SMS' %}
  <form method="post" action="{{routes.user.twoFactorAuth.resend}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <div class="form-group">
      <button class="button-link" type="submit">
        Not received a text message?
      </button>
    </div>
  </form>
  {% endif %}

  <a id="service-name-cancel-link" href="{{routes.user.twoFactorAuth.index}}">
    Cancel
  </a>
</div>
{% endblock %}
