{% extends "../layout.njk" %}

{% block page_title %}
Change sign-in method - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="column-full">
  <a href="{{routes.user.profile}}" class="link-back">My profile</a>
</div>
<div class="column-full">
  <h1 class="heading-large page-title">
    Change sign-in method
  </h1>
</div>
<div class="column-two-thirds">
  {% if authenticatorMethod == 'SMS' %}
    <p>You currently use text message codes to sign in to GOV.UK Pay.</p>
    <form method="post" action="{{routes.user.twoFactorAuth.index}}">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
      <div class="form-group">
        <button class="button" type="submit">
          Use an authenticator app instead
        </button>
      </div>
    </form>
  {% endif %}
  {% if authenticatorMethod == 'APP' %}
    <p>You currently use an authenticator app to sign in to GOV.UK Pay.</p>
    <form method="post" action="{{routes.user.twoFactorAuth.index}}">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
      <div class="form-group">
        <div class="multiple-choice">
          <input id="two-fa-method-app" type="radio" name="two-fa-method" value="APP" checked>
          <label for="two-fa-method-app">Set up a different authenticator app</label>
        </div>
        <div class="multiple-choice">
          <input id="two-fa-method-sms" type="radio" name="two-fa-method" value="SMS">
          <label for="two-fa-method-sms">Use text message codes</label>
        </div>
      </div>
      <div class="form-group">
        <button class="button" type="submit">
          Submit
        </button>
      </div>
    </form>
  {% endif %}
  <div>
    <details>
      <summary>What is an authenticator app?</summary>
      <h2 class="heading-small">Authenticator apps</h2>
      <p>Instead of text message codes, you can use an authenticator app to sign in to GOV.UK Pay. This is an app (usually installed on your phone) that generates a security code whenever you need to sign in. If you choose to use an authenticator app, you will only be able to sign in to GOV.UK Pay using that app and you will no longer receive text message codes.</p>
      <p>GOV.UK Pay works with most authenticator apps. If you do not have one installed already, there are several available. These include:</p>
      <ul class="list list-bullet">
        <li><a href="https://authy.com/">Authy</a></li>
        <li><a href="https://duo.com/">Duo</a></li>
        <li><a href="https://support.google.com/accounts/answer/1066447">Google Authenticator</a></li>
        <li><a href="https://lastpass.com/auth/">LastPass Authenticator</a></li>
        <li><a href="https://docs.microsoft.com/en-us/azure/multi-factor-authentication/end-user/microsoft-authenticator-app-how-to">Microsoft Authenticator</a></li>
      </ul>
    </details>
  </div>
</div>
{% endblock %}
