{% extends "../settings-layout.njk" %}
{% from "macro/spinner.njk" import spinner %}
{% from "macro/task-list.njk" import taskList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set settingsPageTitle = "Stripe details" %}

{% block settingsContent %}
  {% if providerSwitchEnabled %}
    {% set switchMessage %}
      Your service is ready to switch PSP from {{ currentPsp | smartCaps }} to {{ switchingPsp | smartCaps }}.<br>
      <a class="govuk-link govuk-link--no-visited-state" href="{{ switchPspLink }}">Switch to {{ switchingPsp | smartCaps }}.</a>
    {% endset %}

    {{ govukInsetText({
      html: switchMessage,
      classes: "service-settings-inset-text--grey"
    }) }}
  {% endif %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>
  {% if incompleteTasks %}
    <h2 class="govuk-heading-s">Add your organisation's details</h2>
    {{ taskList({
      tasks: tasks,
      idPrefix: 'stripe-details'
    }) }}
  {% else %}
    <p class="govuk-body">This information has been sent to Stripe so that your service can take payments. For
      security
      reasons we cannot show all the information submitted to Stripe.</p>

    <p class="govuk-body">If you need to change the details below or upload another Government Entity document, <a
        class="govuk-link govuk-link--no-visited-state"
        href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk?subject=Change request - Stripe details [service external id: {{ serviceExternalId }}]">contact
        GOV.UK Pay</a>
    </p>

    {% if javascriptUnavailable %}
      {% for section, content in answers %}
        {% set rows = [] %}
        {% for key, value in content.rows %}
          {% set rows = (rows.push({
            key: {
              text: key
            },
            value: {
              text: value
            }
          }), rows) %}
        {% endfor %}
        {{ govukSummaryList({
          card: {
            title: {
              text: content.title
            }
          },
          rows: rows
        }) }}
      {% endfor %}
    {% else %}
      <noscript>
        <meta http-equiv="refresh" content="0; url=?noscript=true">
        <p class="govuk-body">You are being redirected, please wait...
          If you are not redirected, <a class="govuk-body govuk-link--no-visited-state" href="?noscript=true">click
            here</a>.</p>
      </noscript>

      <div id="spinner-container">
        {{ spinner({
          text: "Loading account details..."
        }) }}
      </div>

      <div id="loaded-content-container" style="display: none;">
      </div>

      <script>
        document.addEventListener('DOMContentLoaded', async () => {
          try {
            const response = await fetch('{{ accountDetailsPath }}')
            const data = await response.json()
            document.getElementById('spinner-container').style.display = 'none'
            const contentContainer = document.getElementById('loaded-content-container')

            contentContainer.innerHTML = ''

            for (const [_, content] of Object.entries(data)) {
              const html = `
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">${content.title}</h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    ${Object.entries(content.rows).map(([key, value]) => `
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">${key}</dt>
                        <dd class="govuk-summary-list__value">${value}</dd>
                      </div>
                    `).join('')}
                  </dl>
                </div>
              </div>
              `
              contentContainer.insertAdjacentHTML('beforeend', html)
            }
            contentContainer.style.display = 'block'
          } catch (err) {
            console.log(err)
            document.getElementById('spinner-container').innerHTML = `
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                There was a problem fetching data from Stripe, try again later.
              </strong>
            </div>
          `
          }
        })
      </script>
    {% endif %}
  {% endif %}
{% endblock %}
