{% extends "../layout.njk" %}

{% block pageTitle %}
GoCardless successfully connected - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block mainContent %}

<div class="govuk-grid-column-two-thirds">
  {{ govukPanel({
    titleText: "You’ve successfully connected to GoCardless",
    classes: "govuk-!-margin-bottom-6"
  }) }}

  <p class="govuk-body">
    Before you can take Direct Debit payments, you need to complete your account details.
  </p>

  <p class="govuk-body">
    Once completed, you’ll be ready to accept Direct Debit payments.
  </p>

  <p class="govuk-body">
    If you haven’t provided this information, go to the GoCardless website to:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>enter your account details, for example your organisation’s details and contact names</li>
    <li>provide your bank details - so we know where to send payment</li>
    <li>verify who you are - provide personal details to help confirm your identity</li>
  </ul>

  <p class="govuk-body">
    API integration is handled by GOV.UK Pay, so don’t ‘Create an access token’ or use the ‘Developers’ section on the GoCardless website.
  </p>

  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state payment-links-list--item__link" href="/">Go to the dashboard</a>.
  </p>

</div>

{% endblock %}
