.form-control {
  @include core-16;

  &.large {
    @include respond-to(tablet) {
      width: 100%;
    }
  }

  &.float {
    float: left;
  }
}

select.form-control {
  @include webkit-only {
    border-radius: 0;
    background-image: url("/public/images/dd-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 4px top 2px;
    -webkit-appearance: none;
  }
}

.form-hint {
  @include core-14;
  color: $black;
}

textarea {
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  resize: none;
}

.form-group {
  &.error {
    margin-right: 15px;
    padding-left: 10px;
    border-left: 4px solid $error-colour;

    input {
      border: 4px solid $error-colour;
    }
  }
}
