select.form-control {
    // TODO: restrict to webkit only once PP-2835 has been done
    border-radius: 0;
    background-image: url("/public/images/dd-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 4px top 4px;
    @include appearance(none);
}

textarea {
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  resize: none;
}

.form-control-full {
  width: 100%;
}

.form-group {
  &.error {
    margin-right: 15px;
    padding-left: 10px;
    border-left: 4px solid $error-colour;

    input {
      border: 4px solid $error-colour;
    }
  }
}

// One day `.currency-input` will be part of elements or patterns and tools -  https://github.com/alphagov/temporary-event-notice-prototype/blob/master/app/assets/sass/patterns/currency-input.scss

.currency-input {
  &__inner {
    position: relative;

    &__unit {
      position: absolute;
      bottom: $gutter / 6;
      left: $gutter / 3;
      font-weight: bold;
    }
  }

  .form-control {
    padding: 6px 0 3px 25px;
  }
}
