.icon-important {
  background-image: url("/public/images/icons/icon-important.png");
  background-size: 100%;
  @include device-pixel-ratio {
    background-image: url("/public/images/icons/icon-important-2x.png");
  }
}
