{% extends "../policy.njk" %}

{% block policyTitle %}
  (PLACEHOLDER) Contract for non crown bodies
{% endblock %}

{% block policyDescription %}
  (PLACEHOLDER) Download the latest legal terms that apply to non crown bodies: 
{% endblock %}

{% block policyDownloadLinkDescription %}
  (PLACEHOLDER) GOV.UK Pay contract for non crown bodies
{% endblock %}
