{% extends "../policy.njk" %}

{% block policyTitle %}
  Memorandum of understanding
{% endblock %}

{% block policyDescription %}
  If you’re a Crown body, the memorandum of understanding terms apply when you use GOV.UK Pay.
{% endblock %}

{% block policyDownloadAction %}
  Download the:
{% endblock %}

{% block policyDownloadLinkDescription %}
  GOV.UK Pay memorandum of understanding
{% endblock %}
