{% extends "../policy.njk" %}

{% block policyTitle %}
  Memorandum of understanding for crown bodies 
{% endblock %}

{% block policyDescription %}
  Download the latest legal terms that apply to crown bodies: 
{% endblock %}

{% block policyDownloadLinkDescription %}
  GOV.UK Pay memorandum of understanding
{% endblock %}
