{% extends "../../layout-full-width.njk" %}

{% block pageTitle %}
  Policy Document Download - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">
    GOV.UK Pay’s Payment Card Industry compliance
  </h1>

  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      GOV.UK Pay is certified as a level 1 service provider with the Payment Card Industry Data Security Standard (PCI DSS) version 3.2.1. The PCI DSS provides guidance to help maintain payment security. You can read more on our
      <a class="govuk-link" href="https://www.payments.service.gov.uk/security/">security and compliance page</a>.
    </p>

    <p class="govuk-body">
      You can download
      <a class="govuk-link govuk-link--no-visited-state" href="{{ link }}" download="download">proof of our compliance</a>
      (also known as ‘attestation of compliance’) if you need it for your records.
    </p>

    <p class="govuk-body">
      This document contains confidential information and you should not share it outside of your organisation.
    </p>
  </div>
{% endblock %}