{% extends "../policy.njk" %}

{% block policyTitle %}
  Stripe Connected Account Agreement
{% endblock %}

{% block policyDescription %}
  If you’re using our Payment Service Provider, Stripe, these legal terms apply to you.
{% endblock %}

{% block policyDownloadAction %}
  Download Stripe’s legal terms:
{% endblock %}

{% block policyDownloadLinkDescription %}
  Stripe Connected Account Agreement
{% endblock %}
