{% extends "../policy.njk" %}

{% block policyTitle %}
  (PLACEHOLDER) Stripe connected account agreement
{% endblock %}

{% block policyDescription %}
  (PLACEHOLDER) Download the latest Stripe connected account agreement:
{% endblock %}

{% block policyDownloadLinkDescription %}
  (PLACEHOLDER) GOV.UK Pay Stripe connected account agreement
{% endblock %}
