{% extends "../../settings-layout.njk" %}

{% set settingsPageTitle = "Your Worldpay 3DS Flex credentials" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>

  {% include "simplified-account/settings/worldpay-details/includes/_flex-credentials-input.njk" %}
{% endblock %}
