{{< layout_logged_out}}

{{$pageTitle}}
Sign in to GOV.UK Pay
{{/pageTitle}}

{{$globalBanner}}
<div id="global-message">
</div>
{{/globalBanner}}

{{$mainContent}}

<div class="column-two-thirds no-padding">
  <h1 class="heading-large">Sign in</h1>
  {{#flash.error}}
  <p class="error">{{.}}</p>
  {{/flash.error}}

  <form action="/login" method="post" name="userLoginForm" class="push-bottom">
  <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <div class="form-group">
      <label for="username" class="form-label">Email</label>
      <input class="form-control form-control-2-3 " data-module="" id="username" name="username" rows="8" type="text" value="">
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input class="form-control form-control-2-3 " data-module="" id="password" name="password" rows="8" type="password" value="">
    </div>
    <div>
    <input type="submit" class="button" value="Continue">
    </div>
  </form>
  <a href="/reset-password" class="reset-password clear"> reset your password </a>
</div>

{{/mainContent}}
{{/layout_logged_out}}
