{{< layout_logged_out}}

{{$pageTitle}}
Sign in to GOV.UK Pay
{{/pageTitle}}

{{$globalBanner}}
<div id="global-message">
  <p>Thursday, March 30th, between 8:00 and 8:50 am you may not be able to log into GOV.UK Pay. Your users will not be affected and will be able to complete payments during this time.

    This is due to a planned outage of <a href="https://status.notifications.service.gov.uk/">GOV.UK Notify</a>, we use to send your security code during the login process.

    We apologise for any inconvenience.
  </p>
</div>
{{/globalBanner}}

{{$content}}

<div class="column-two-thirds no-padding">

  <h1 class="heading-large">Sign in</h1>
  {{#flash.error}}
  <p class="error">{{.}}</p>
  {{/flash.error}}

  <form action="/login" method="post" name="userLoginForm" class="push-bottom">
  <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <div class="form-group">
      <label class="form-label" for="username">
          <label for="username">Username</label>
      </label>
      <input class="form-control form-control-2-3 " data-module="" id="username" name="username" rows="8" type="text" value="">
    </div>
    <div class="form-group">
      <label class="form-label" for="password">
          <label for="password">Password</label>
      </label>
      <input class="form-control form-control-2-3 " data-module="" id="password" name="password" rows="8" type="password" value="">
    </div>
    <div>
    <input type="submit" class="button" value="Continue">
    </div>
  </form>
  <a href="/reset-password" class="reset-password clear"> reset your password </a>
</div>


{{/content}}
{{/layout_logged_out}}
