{% extends "../layout-logged-out.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
Sign in to GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      username: "#username",
      password: "#password"
    }
  }) }}

  <h1 class="govuk-heading-l page-title">Sign in</h1>

  <p class="govuk-body">If you do not have an account, you can <a href="{{ routes.register.email }}" class="register-link govuk-link">create one now</a>.</p>

  <form action="/login" method="post" name="userLoginForm" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

    {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-!-width-two-thirds"
        },
        errorMessage: { text: errors.username } if errors.username else false,
        id: "username",
        name: "username",
        classes: "govuk-!-width-two-thirds",
        type: "email",
        autocomplete: "username",
        spellcheck: false
      })
    }}

    {{ govukInput({
        label: {
          text: "Password",
          classes: "govuk-!-width-two-thirds"
        },
        errorMessage: { text: errors.password } if errors.password else false,
        id: "password",
        name: "password",
        classes: "govuk-!-width-two-thirds",
        type: "password",
        autocomplete: "current-password"
      })
    }}

    {{ govukButton({
        text: "Continue",
        attributes: {
          id: "continue"
        }
      })
    }}
  </form>
  <p class="govuk-body">
    <a href="/reset-password" class="reset-password govuk-link clear">Forgot your password?</a>
  </p>
</div>

{% endblock %}
