{% extends "../layout_logged_out.njk" %}

{% block pageTitle %}
Cannot sign in - GOV.UK Pay
{% endblock %}

{% block mainContent %}

<h1 id="noaccess" class="page-title">You cannot sign in to GOV.UK Pay</h1>

<p>This may be because the account is blocked, or doesn’t exist.</p>
<p>If you would like to unlock this account or create a new one, please contact support.</p>
<a href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" target="_top">govuk-pay-support@digital.cabinet-office.gov.uk</a>

{% endblock %}
