{% extends "../layout-logged-out.njk" %}

{% block pageTitle %}
  Enter security code - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if flash.error %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: [
        {
          text: flash.error,
          href: '#sms_code'
        }
      ]
    }) }}
  {% endif %}

  {% if authenticatorMethod === secondFactorMethod.SMS %}
  <h1 class="govuk-heading-l page-title">Check your phone</h1>
  {% endif %}
  {% if authenticatorMethod === secondFactorMethod.APP %}
  <h1 class="govuk-heading-l page-title">Use your authenticator app</h1>
  {% endif %}
  <form action="{{routes.user.otpLogIn}}" method="post" class="form submit-two-fa" id="otp-login-form" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    {% if authenticatorMethod === secondFactorMethod.SMS %}
    <p class="govuk-body">We have sent you a text message with a security code</p>
    {% endif %}
    {% if authenticatorMethod === secondFactorMethod.APP %}
    <p class="govuk-body">Enter the security code shown in your authenticator app</p>
    {% endif %}

    {% set error = false %}
    {% if flash.error %}
      {% set error = {
        text: flash.error
      } %}
    {% endif %}

    {{ govukInput({
        label: {
          text: "Security code"
        },
        errorMessage: error,
        id: "sms_code",
        name: "code",
        classes: "govuk-!-width-one-third",
        type: "text",
        inputmode: "numeric",
        pattern: "[0-9]*",
        autocomplete: "one-time-code",
        attributes: {
          "autofocus": "true"
        }
      })
    }}

    {{ govukButton({
        text: "Continue",
        attributes: {
          id: "continue"
        }
      })
    }}
  </form>
  {% if authenticatorMethod === secondFactorMethod.SMS %}
  <p class="govuk-body"><a class="govuk-link text-messsage-link" href="{{routes.user.otpSendAgain}}">Not received a text message?</a></p>
  {% endif %}
  <p class="govuk-body"><a class="govuk-link cancel-link" href="{{routes.user.logOut}}">Cancel</a></p>
</div>
{% endblock %}
