{% extends "../layout-logged-out.njk" %}

{% block pageTitle %}
  Enter verification code - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if flash.error %}
  <div class="govuk-error-summary hidden" aria-labelledby="error-summary-heading-example-1" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-heading-example-1">
      There was a problem with the details you gave for:
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li><a href="#sms_code">{{ flash.error }}</a></li>
      </ul>
    </div>
  </div>
  {% endif %}

  {% if authenticatorMethod === secondFactorMethod.SMS %}
  <h1 class="govuk-heading-l page-title">Check your phone</h1>
  {% endif %}
  {% if authenticatorMethod === secondFactorMethod.APP %}
  <h1 class="govuk-heading-l page-title">Use your authenticator app</h1>
  {% endif %}
  <form action="{{routes.user.otpLogIn}}" method="post" class="form submit-two-fa" id="otp-login-form" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    {% if authenticatorMethod === secondFactorMethod.SMS %}
    <p class="govuk-body">We have sent you a text message with a verification code</p>
    {% endif %}
    {% if authenticatorMethod === secondFactorMethod.APP %}
    <p class="govuk-body">Enter the verification code shown in your authenticator app</p>
    {% endif %}

    {% set error = false %}
    {% if flash.error %}
      {% set error = {
        text: flash.error
      } %}
    {% endif %}

    {{ govukInput({
        label: {
          text: "Verification code"
        },
        errorMessage: error,
        id: "sms_code",
        name: "code",
        classes: "govuk-!-width-one-third",
        type: "text",
        attributes: {
          "autofocus": "true",
          "autocomplete": "off",
          "inputmode": "numeric",
          "pattern": "[0-9]*"
        }
      })
    }}

    {{ govukButton({
        text: "Continue",
        attributes: {
          id: "continue"
        }
      })
    }}
  </form>
  {% if authenticatorMethod === secondFactorMethod.SMS %}
  <p class="govuk-body"><a class="govuk-link text-messsage-link" href="{{routes.user.otpSendAgain}}">Not received a text message?</a></p>
  {% endif %}
  <p class="govuk-body"><a class="govuk-link cancel-link" href="{{routes.user.logOut}}">Cancel</a></p>
</div>
{% endblock %}
