{% extends "../layout-logged-out.njk" %}

{% block pageTitle %}
Resend verification code - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l page-title">
    Resend verification code
  </h1>
  <p class="govuk-body">
    Text messages sometimes take a few minutes to arrive. If you did not receive the text, you can resend it.
  </p>
  <p class="govuk-body">
    If you no longer have access to the phone with the number registered for this service, speak to your service manager to reset the number
  </p>
  <form action="/otp-send-again" class="form" method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <input type="hidden" name="send" value="true">
    {{ govukButton({
      text: "Resend verification code",
      attributes: {
        id: "continue"
      }
    }) }}
  </form>
</div>
{% endblock %}
