{{< layout_logged_out}}

{{$pageTitle}}
Resend security code - GOV.UK Pay
{{/pageTitle}}
{{$mainContent}}
<div class="column-two-thirds">
  <h1 class="form-title heading-large">
    Resend verification code
  </h1>
  <p>
    Text messages sometimes take a few minutes to arrive. If you did not receive the text, you can resend it.
  </p>
  <p>
    If you no longer have access to the phone with the number registered for this service,
    speak to your service manager to reset the number
  </p>
  <form action="/otp-send-again" class="form" method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <div class="form-group">
      <input type="hidden" name="send" value="true">
      <input class="button" type="submit" value="Resend verification code">
    </div>
  </form>
</div>

{{/mainContent}}
{{/layout_logged_out}}
