{% extends "./index.njk" %}

{% block provider_content %}

  {% if permissions.gateway_credentials_update %}
    <form id="credentials-form" method="post" action="{{ formatAccountPathsFor(routes.account.credentials.index, currentGatewayAccount.external_id) }}" data-validate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

      {{ govukInput({
          label: {
            text: "PSP ID"
          },
          id: "merchantId",
          name: "merchantId",
          classes: "govuk-input--width-20",
          type: "text",
          attributes: {
            "data-validate": "required"
          },
          value: currentGatewayAccount.credentials.merchant_id
        })
      }}

      {{ govukInput({
          label: {
            text: "Username"
          },
          id: "username",
          name: "username",
          classes: "govuk-input--width-20",
          type: "text",
          attributes: {
            "data-validate": "required"
          },
          value: currentGatewayAccount.credentials.username
        })
      }}

      {{ govukInput({
          label: {
            text: "Password"
          },
          id: "password",
          name: "password",
          classes: "govuk-input--width-20",
          type: "password",
          attributes: {
            "data-validate": "required"
          },
          value: currentGatewayAccount.credentials.password
        })
      }}

      {{ govukInput({
          label: {
            text: "SHA-IN passphrase"
          },
          id: "shaInPassphrase",
          name: "shaInPassphrase",
          classes: "govuk-input--width-20",
          type: "password",
          attributes: {
            "data-validate": "required"
          }
        })
      }}

      {{ govukInput({
          label: {
            text: "SHA-OUT passphrase"
          },
          id: "shaOutPassphrase",
          name: "shaOutPassphrase",
          classes: "govuk-input--width-20",
          type: "password",
          attributes: {
            "data-validate": "required"
          }
        })
      }}

      {{
        govukButton({
          text: "Save credentials",
          attributes: {
            id: "submitCredentials"
          }
        })
      }}
    </form>
  {% endif %}
{% endblock %}
