{% extends "./index.njk" %}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/button/macro.njk" import govukButton %}

{% block provider_content %}

  {% if permissions.gateway_credentials_read %}
    {% if not editMode %}
      <table class="govuk-table" id="credentials">
        <caption class="govuk-table__caption govuk-!-margin-bottom-3" id="view-title">Your ePDQ Credentials</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row" id="merchant-id-key">PSP ID</th>
            <td class="govuk-table__cell" id="merchant-id-value">{{currentGatewayAccount.credentials.merchant_id}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row" id="username-key">Username</th>
            <td class="govuk-table__cell" id="username-value">{{currentGatewayAccount.credentials.username}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row" id="password-key">Password</th>
            <td class="govuk-table__cell" id="password-value">{% if currentGatewayAccount.credentials.username %}●●●●●●●●{% endif %}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row" id="sha-in-passphrase-key">SHA-IN passphrase</th>
            <td class="govuk-table__cell" id="sha-in-passphrase-value">{% if currentGatewayAccount.credentials.username %}●●●●●●●●{% endif %}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row" id="sha-out-passphrase-key">SHA-OUT passphrase</th>
            <td class="govuk-table__cell" id="sha-out-passphrase-value">{% if currentGatewayAccount.credentials.username %}●●●●●●●●{% endif %}</td>
          </tr>
        </tbody>
      </table>
      {{
        govukButton({
          text: "Edit credentials",
          href: routes.credentials.edit,
          attributes: {
            id: "edit-credentials-link"
          }
        })
      }}
    {% endif %}
  {% endif %}

  {% if permissions.gateway_credentials_update %}
    {% if editMode %}
      <h4 class="govuk-heading-s" id="view-title">Your {{currentGatewayAccount.payment_provider}} Credentials</h4>
      <form id="credentials-form" method="post" action="{{routes.credentials.create}}">
        <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

        {{ govukInput({
            label: {
              text: "PSP ID"
            },
            id: "merchantId",
            name: "merchantId",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "data-validate": "required"
            },
            value: currentGatewayAccount.credentials.merchant_id
          })
        }}

        {{ govukInput({
            label: {
              text: "Username"
            },
            id: "username",
            name: "username",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "data-validate": "required"
            },
            value: currentGatewayAccount.credentials.username
          })
        }}

        {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            classes: "govuk-input--width-20",
            type: "password",
            attributes: {
              "data-validate": "required"
            },
            value: currentGatewayAccount.credentials.password
          })
        }}

        {{ govukInput({
            label: {
              text: "SHA-IN passphrase"
            },
            id: "shaInPassphrase",
            name: "shaInPassphrase",
            classes: "govuk-input--width-20",
            type: "password",
            attributes: {
              "data-validate": "required"
            }
          })
        }}

        {{ govukInput({
            label: {
              text: "SHA-OUT passphrase"
            },
            id: "shaOutPassphrase",
            name: "shaOutPassphrase",
            classes: "govuk-input--width-20",
            type: "password",
            attributes: {
              "data-validate": "required"
            }
          })
        }}

        {{
          govukButton({
            text: "Save credentials",
            attributes: {
              id: "submitCredentials"
            }
          })
        }}
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
