{% extends "layout.njk" %}

{% block pageTitle %}
  Account credentials - {{currentService.name}} {{ paymentProvider | formatPSPname }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if editNotificationCredentialsMode %}
    <h1 class="govuk-heading-l page-title" id="view-title">Your {{ paymentProvider | formatPSPname }} notification credentials</h1>
  {% else %}
    <h1 class="govuk-heading-l page-title" id="view-title">Your {{ paymentProvider | formatPSPname }} credentials</h1>
  {% endif %}

  {% block provider_content %}
  {% endblock %}
</div>
{% endblock %}
