{% extends "./index.njk" %}

{% block provider_content %}
  <div id="message">
    <p class="govuk-body">This is a test account. Account credentials only exist in live services, and relate to your payment service providers.</p>
    <p class="govuk-body">See our guidance on <a class="govuk-link" href="https://docs.payments.service.gov.uk/#switching-to-live">switching to live</a> to go live.</p>
  </div>
{% endblock %}
