{% extends "layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Account credentials - {{currentService.name}} Smartpay - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      username: "#username",
      password: "#password"
    }
  }) }}

  <h1 class="govuk-heading-l page-title" id="view-title">Your Smartpay notification credentials</h1>

  <form id="notification_credentials_form" method="post" action="{{ formatAccountPathsFor(routes.account.notificationCredentials.update, currentGatewayAccount.external_id, credential.external_id) }}">
    <input id="notification-csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

    {{ govukInput({
        label: {
          text: "Username"
        },
        id: "notification-username",
        name: "username",
        classes: "govuk-input--width-20",
        type: "text",
        value: username,
        errorMessage: { text: errors.username } if errors.username else false
      })
    }}

    {{ govukInput({
        label: {
          text: "Password"
        },
        id: "notification-password",
        name: "password",
        classes: "govuk-input--width-20",
        type: "password",
        value: password,
        errorMessage: { text: errors.password } if errors.password else false
      })
    }}

    {{
      govukButton({
        text: "Save credentials",
        attributes: {
          id: "submitNotificationCredentials"
        }
      })
    }}
  </form>
</div>
{% endblock %}
