{% extends "./index.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block provider_content %}
  {{ errorSummary ({
    errors: lastNotificationsData.errors,
    hrefs: {
      username: '#notification-username', 
      password: '#notification-password' {# // pragma: allowlist secret #}
    }
  }) }}
  {% if editNotificationCredentialsMode %}
    <form id="notification_credentials_form" method="post" action="{{routes.notificationCredentials.update}}" data-validate>
      <input id="notification-csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

      {{ govukInput({
          label: {
            text: "Username"
          },
          id: "notification-username",
          name: "username",
          classes: "govuk-input--width-20",
          type: "text",
          attributes: {
            "data-validate": "required"
          },
          value: lastNotificationsData.username or currentGatewayAccount.notificationCredentials.userName,
          errorMessage: { text: lastNotificationsData.errors.username } if lastNotificationsData.errors.username else false
        })
      }}

      {{ govukInput({
          label: {
            text: "Password"
          },
          id: "notification-password",
          name: "password",
          classes: "govuk-input--width-20",
          type: "password",
          attributes: {
            "data-validate": "required passwordLessThanTenChars"
          },
          value: lastNotificationsData.password,
          errorMessage: { text: lastNotificationsData.errors.password } if lastNotificationsData.errors.password else false
        })
      }}

      {{
        govukButton({
          text: "Save credentials",
          attributes: {
            id: "submitNotificationCredentials"
          }
        })
      }}
    </form>
  {% else %}
    {% if permissions.gateway_credentials_update %}
      <form id="credentials-form" method="post" action="{{routes.credentials.create}}" data-validate>
          <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

        {{ govukInput({
            label: {
              text: "Merchant account code"
            },
            id: "merchantId",
            name: "merchantId",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "data-validate": "required"
            },
            value: currentGatewayAccount.credentials.merchant_id
          })
        }}

        {{ govukInput({
            label: {
              text: "Username"
            },
            id: "username",
            name: "username",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "data-validate": "required"
            },
            value: currentGatewayAccount.credentials.username
          })
        }}

        {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            classes: "govuk-input--width-20",
            type: "password",
            attributes: {
              "data-validate": "required"
            }
          })
        }}

        {{
          govukButton({
            text: "Save credentials",
            attributes: {
              id: "submitCredentials"
            }
          })
        }}
        </form>
    {% endif %}
  {% endif %}
{% endblock %}
