{% extends "./index.njk" %}

{% block provider_content %}
  {% if editNotificationCredentialsMode %}
    <form id="notification_credentials_form" method="post" action="{{ formatAccountPathsFor(routes.account.notificationCredentials.update, currentGatewayAccount.external_id, 'smartpay') }}" data-validate>
      <input id="notification-csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

      {% set username %}{{lastNotificationsData.username or currentGatewayAccount.notificationCredentials.userName}}{% endset %}
      {{ govukInput({
          label: {
            text: "Username"
          },
          id: "notification-username",
          name: "username",
          classes: "govuk-input--width-20",
          type: "text",
          attributes: {
            "data-validate": "required"
          },
          value: username
        })
      }}

      {{ govukInput({
          label: {
            text: "Password"
          },
          id: "notification-password",
          name: "password",
          classes: "govuk-input--width-20",
          type: "password",
          attributes: {
            "data-validate": "required passwordLessThanTenChars"
          },
          value: lastNotificationsData.password
        })
      }}

      {{
        govukButton({
          text: "Save credentials",
          attributes: {
            id: "submitNotificationCredentials"
          }
        })
      }}
    </form>
  {% else %}
    {% if permissions.gateway_credentials_update %}
      <form id="credentials-form" method="post" action="{{ formatAccountPathsFor(routes.account.credentials.index, currentGatewayAccount.external_id, 'smartpay') }}" data-validate>
          <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

        {{ govukInput({
            label: {
              text: "Merchant account code"
            },
            id: "merchantId",
            name: "merchantId",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "data-validate": "required"
            },
            value: currentGatewayAccount.credentials.merchant_id
          })
        }}

        {{ govukInput({
            label: {
              text: "Username"
            },
            id: "username",
            name: "username",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "data-validate": "required"
            },
            value: currentGatewayAccount.credentials.username
          })
        }}

        {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            classes: "govuk-input--width-20",
            type: "password",
            attributes: {
              "data-validate": "required"
            }
          })
        }}

        {{
          govukButton({
            text: "Save credentials",
            attributes: {
              id: "submitCredentials"
            }
          })
        }}
        </form>
    {% endif %}
  {% endif %}
{% endblock %}
