{% extends "./index.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block provider_content %}
  {% if permissions.gateway_credentials_read %}
    {% if not editMode %}
      <table class="govuk-table" id="credentials">
        <caption class="govuk-table__caption govuk-!-margin-bottom-3" id="view-title">Your {{currentGatewayAccount.payment_provider}} Credentials</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row" id="merchant-id-key">Merchant code</th>
            <td id="merchant-id-value" class="govuk-table__cell">{{currentGatewayAccount.credentials.merchant_id}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row" id="username-key">Username</th>
            <td id="username-value" class="govuk-table__cell">{{currentGatewayAccount.credentials.username}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row" id="password-key">Password</th>
            <td id="password-value" class="govuk-table__cell">{% if currentGatewayAccount.credentials.username %}●●●●●●●●{% endif %}</td>
          </tr>
        </tbody>
      </table>
      {{
        govukButton({
          text: "Edit credentials",
          href: routes.credentials.edit,
          attributes: {
            id: "edit-credentials-link"
          }
        })
      }}
    {% endif %}
  {% endif %}

  {% if permissions.gateway_credentials_update %}
    {% if editMode %}
      <h4 class="govuk-heading-s" id="view-title">Your {{currentGatewayAccount.payment_provider}} Credentials</h4>
      <form id="credentials-form" method="post" action="{{routes.credentials.create}}" data-validate>
        <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

        {{ govukInput({
            label: {
              text: "Merchant code"
            },
            id: "merchantId",
            name: "merchantId",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "data-validate": "required"
            },
            value: currentGatewayAccount.credentials.merchant_id
          })
        }}

        {{ govukInput({
            label: {
              text: "Username"
            },
            id: "username",
            name: "username",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "data-validate": "required"
            },
            value: currentGatewayAccount.credentials.username
          })
        }}

        {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            classes: "govuk-input--width-20",
            type: "password",
            attributes: {
              "data-validate": "required"
            }
          })
        }}

        {{
          govukButton({
            text: "Save credentials",
            attributes: {
              id: "submitCredentials"
            }
          })
        }}
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
