{% extends "layout.njk" %}

{% block pageTitle %}
  Account credentials - {{currentService.name}} Worldpay - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
    {% if form.errorSummaryList and form.errorSummaryList.length %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: form.errorSummaryList
      }) }}
    {% endif %}
    <h1 class="govuk-heading-l page-title" id="view-title">Your Worldpay credentials</h1>

  {% if permissions.gateway_credentials_update %}
    <form id="credentials-form" method="post" action="{{ formatAccountPathsFor(routes.account.credentials.worldpay, currentGatewayAccount.external_id) }}" data-validate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

        {{ govukInput({
            label: {
              text: "Merchant code"
            },
            id: "merchantId",
            name: "merchantId",
            classes: "govuk-input--width-20",
            type: "text",
            value: form.values.merchant_id,
            errorMessage: form.errors.merchantId and {
              text: form.errors.merchantId
            }
          })
        }}

        {{ govukInput({
            label: {
              text: "Username"
            },
            id: "username",
            name: "username",
            classes: "govuk-input--width-20",
            type: "text",
            value: form.values.username,
            errorMessage: form.errors.username and {
              text: form.errors.username
            }
          })
        }}

        {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            classes: "govuk-input--width-20",
            type: "password",
            value: form.values.password,
            errorMessage: form.errors.password and {
              text: form.errors.password
            }
          })
        }}

      {{
        govukButton({
          text: "Save credentials",
          attributes: {
            id: "submitCredentials"
          }
        })
      }}
    </form>

    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ formatAccountPathsFor(routes.account.yourPsp.index, currentGatewayAccount.external_id, 'worldpay') }}">Cancel</a>
    </p>
  {% endif %}
</div>
{% endblock %}