{% extends "./index.njk" %}

{% block provider_content %}
  {% if permissions.gateway_credentials_update %}
    <form id="credentials-form" method="post" action="{{routes.credentials.create}}" data-validate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

      {% if change === 'merchantId' %}
        {{ govukInput({
            label: {
              text: "Merchant code"
            },
            id: "merchantId",
            name: "merchantId",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "data-validate": "required",
              "autofocus": "autofocus"
            },
            value: currentGatewayAccount.credentials.merchant_id
          })
        }}
      {% else %}
        {{ govukInput({
            label: {
              text: "Merchant code"
            },
            id: "merchantId",
            name: "merchantId",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "data-validate": "required"
            },
            value: currentGatewayAccount.credentials.merchant_id
          })
        }}
      {% endif %}

      {% if change === 'username' %}
        {{ govukInput({
            label: {
              text: "Username"
            },
            id: "username",
            name: "username",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "data-validate": "required",
              "autofocus": "autofocus"
            },
            value: currentGatewayAccount.credentials.username
          })
        }}
      {% else %}
        {{ govukInput({
            label: {
              text: "Username"
            },
            id: "username",
            name: "username",
            classes: "govuk-input--width-20",
            type: "text",
            attributes: {
              "data-validate": "required"
            },
            value: currentGatewayAccount.credentials.username
          })
        }}
      {% endif %}

      {% if change === 'password' %}
        {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            classes: "govuk-input--width-20",
            type: "password",
            attributes: {
              "data-validate": "required",
              "autofocus": "autofocus"
            }
          })
        }}
        {% else %}
        {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            classes: "govuk-input--width-20",
            type: "password",
            attributes: {
              "data-validate": "required"
            }
          })
        }}
      {% endif %}

      {{
        govukButton({
          text: "Save credentials",
          attributes: {
            id: "submitCredentials"
          }
        })
      }}
    </form>

    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ routes.yourPsp.index }}">Cancel</a>
    </p>
  {% endif %}
{% endblock %}
