{{< layout_logged_out}}

{{$pageTitle}}
Create a new password
{{/pageTitle}}
{{$content}}
<div class="column-half no-padding">
  <form action="/reset-password/{{id}}"method="post" class="form submit-new-password">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
      <h1 class="heading-large">
        Create a new password
      </h1>
      <p>
        You can now create a new password for your account.
      </p>
    <div class="form-group">
      <label class="form-label" for="code">Password</label>
      <input  class="form-control form-control-5em"
              data-module=""
              name="password"
              rows="6"
              type="password"
              value=""
      />
    </div>
    <div class="form-group">
      <input class="button" type="submit" value="Continue" />
    </div>
  </form>

</div>

{{/content}}
{{/layout_logged_out}}

