{% extends "../layout_logged_out.njk" %}

{% block page_title %}
Create a new password - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="column-two-thirds">
    <form action="/reset-password/{{id}}"method="post" class="form submit-new-password">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
      <h1 class="heading-large">
        Create a new password
      </h1>
      <p>
        You can now create a new password for your account.
      </p>
      <div class="form-group">
        <label class="form-label" for="code">Password</label>
        <input  class="form-control"
          data-module=""
          name="password"
          rows="6"
          type="password"
          value=""
        />
      </div>
      <div class="form-group">
        <input class="button" type="submit" value="Continue" />
      </div>
    </form>
</div>
{% endblock %}
