{% extends "../layout_logged_out.njk" %}

{% block page_title %}
Reset password request - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="column-two-thirds">
    <h1 class="heading-large">Now check your email</h1>
    <p>We’ve sent you an email with a link to reset your password.</p>
  </div>
{% endblock %}

