{% extends "../layout-logged-out.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Create an account - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {{ errorSummary ({
      errors: errors,
      hrefs: {
        email: '#email',
        phone: '#phone',
        'password': '#password',
        'repeat-password': '#repeat-password'
      }
    }) }}
    <h1 class="govuk-heading-l page-title">Create an account</h1>
    <form action="{{routes.selfCreateService.register}}" method="post" id="submit-service-creation" class="form submit-registration">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

      {{ govukInput({
        label: {
          text: "Enter your email address",
          classes: "govuk-label",
          isPageHeading: true
        },
        hint: {
          text: "Must be from a government organisation"
        },
        id: "email",
        classes: "govuk-!-width-three-quarters",
        name: "email",
        type: "email",
        autocomplete: "work email",
        spellcheck: false,
        errorMessage: { text: errors['email'] } if errors['email'] else false,
        value: email
      }) }}

      {{ govukInput({
        label: {
          text: "Enter your mobile phone number",
          classes: "govuk-label",
          isPageHeading: true
        },
        hint: {
          text: "We will send a 6 digit security code to the number you give us. [Alternatively, you can choose authenticator app after confirming email in the next step]"
        },
        id: "phone",
        classes: "govuk-!-width-three-quarters",
        name: "phone",
        type: "tel",
        autocomplete: "mobile tel",
        errorMessage: { text: errors['phone'] } if errors['phone'] else false,
        value: phoneNumber
      }) }}

      {{ govukInput({
        label: {
          text: "Enter a password",
          isPageHeading: false
        },
        id: "password",
        name: "password",
        classes: "govuk-!-width-three-quarters",
        type: "password",
        autocomplete: "new-password",
        errorMessage: { text: errors['password'] } if errors['password'] else false
      }) }}

      {{ govukInput({
        label: {
          text: "Re-type password",
          isPageHeading: false
        },
        id: "repeat-password",
        name: "repeat-password",
        classes: "govuk-!-width-three-quarters",
        type: "password",
        autocomplete: "new-password",
        errorMessage: { text: errors['repeat-password'] } if errors['repeat-password'] else false
      }) }}

      {{ govukDetails({
        summaryText: "How to create a secure password",
        text: "A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces."
      }) }}


      {{
      govukButton({
        text: "Continue",
        classes: "button",
        attributes: {
          id: "continue"
        }
      })
      }}
    </form>
  </div>
{% endblock %}
