{% extends "../settings-layout.njk" %}
{% from "macro/task-list.njk" import taskList %}
{% set settingsPageTitle = "Worldpay details" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>

  {% if incompleteTasks %}
    <p class="govuk-body govuk-!-margin-bottom-6">
      You need to link your Worldpay account to GOV.UK Pay.
    </p>

    {{ taskList({
      tasks: tasks,
      idPrefix: 'worldpay-tasks'
    }) }}
  {% else %}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Account credentials'
          },
          actions: {
            items: [{
              href: answers.oneOffCustomerInitiated.href,
              text: 'Change',
              classes: 'govuk-link--no-visited-state'
            }]
          }
        },
        rows: [{
          key: { text: 'Merchant code' },
          value: { text: answers.oneOffCustomerInitiated.merchantCode }
        }, {
          key: { text: 'Username' },
          value: { text: answers.oneOffCustomerInitiated.username }
        }, {
          key: { text: 'Password' },
          value: { text: '●●●●●●●●' }
        }]
      }) }}

    {% if answers.worldpay3dsFlex %}

      {{ govukSummaryList({
        card: {
          title: {
            text: '3DS Flex credentials'
          },
          actions: {
            items: [{
              href: answers.worldpay3dsFlex.href,
              text: 'Change',
              classes: 'govuk-link--no-visited-state'
            }]
          }
        },
        rows: [{
          key: { text: 'Organisational Unit ID' },
          value: { text: answers.worldpay3dsFlex.organisationalUnitId }
        }, {
          key: { text: 'Issuer (API ID)' },
          value: { text: answers.worldpay3dsFlex.issuer }
        }, {
          key: { text: 'JWT MAC Key (API key)' },
          value: { text: '●●●●●●●●' }
        }]
      }) }}

      {% endif %}

  {% endif %}

{% endblock %}
