{% extends "../settings-layout.njk" %}
{% from "macro/task-list.njk" import taskList %}
{% set settingsPageTitle = "Worldpay details" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>

  {% if incompleteTasks %}
    <p class="govuk-body govuk-!-margin-bottom-6">
      You need to link your Worldpay account to GOV.UK Pay.
    </p>

    {{ taskList({
      tasks: tasks,
      idPrefix: 'worldpay-tasks'
    }) }}
  {% else %}

    {% set taskList = [] %}
    {% for task in tasks %}
      {% set taskCardRows = [] %}
        {% for row in task.completedCard.rows %}
          {% set taskCardRows = (taskCardRows.push({
              key: { text: row.keyText },
              value: { text: row.valueText }
          }), taskCardRows) %}
        {% endfor %}

      {{ govukSummaryList({
        card: {
          title: {
            text: task.completedCard.title
          },
          actions: {
            items: [{
              href: task.href,
              text: 'Change'
            }]
          }
        },
        rows: taskCardRows
      }) }}

    {% endfor %}

  {% endif %}

{% endblock %}
