{% extends "../settings-layout.njk" %}

{% set settingsPageTitle = "Worldpay details" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>

  {% if incompleteTasks %}
    <p class="govuk-body govuk-!-margin-bottom-6">
      You need to link your Worldpay account to GOV.UK Pay.
    </p>

    {% set taskList = [] %}
    {% for task in tasks %}
      {% if task.status == 'CANNOT_START' %}
        {% set taskStatusTag = {
          tag: {
            text: "Cannot start yet",
            classes: "govuk-tag--grey"
          }
        } %}
      {% elseif task.status == 'COMPLETED' %}
        {% set taskStatusTag = {
          text: "Completed"
        } %}
      {% else %}
        {% set taskStatusTag = {
          tag: {
            text: "Not yet started",
            classes: "govuk-tag--blue"
          }
        } %}
      {% endif %}

      {% set taskList = (taskList.push({
        title: {
          text: task.linkText
        },
        href: task.href if task.status != 'CANNOT_START',
        status: taskStatusTag
      }), taskList) %}
    {% endfor %}

    {{ govukTaskList({
      idPrefix: "worldpay-tasks",
      items: taskList,
      classes: "task-list"
    }) }}

  {% else %}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Account credentials'
          },
          actions: {
            items: [{
              href: answers.oneOffCustomerInitiated.href,
              text: 'Change',
              classes: 'govuk-link--no-visited-state'
            }]
          }
        },
        rows: [{
          key: { text: 'Merchant code' },
          value: { text: answers.oneOffCustomerInitiated.merchantCode }
        }, {
          key: { text: 'Username' },
          value: { text: answers.oneOffCustomerInitiated.username }
        }, {
          key: { text: 'Password' },
          value: { text: '●●●●●●●●' }
        }]
      }) }}

    {% if answers.worldpay3dsFlex %}

      {{ govukSummaryList({
        card: {
          title: {
            text: '3DS Flex credentials'
          },
          actions: {
            items: [{
              href: answers.worldpay3dsFlex.href,
              text: 'Change',
              classes: 'govuk-link--no-visited-state'
            }]
          }
        },
        rows: [{
          key: { text: 'Organisational Unit ID' },
          value: { text: answers.worldpay3dsFlex.organisationalUnitId }
        }, {
          key: { text: 'Issuer (API ID)' },
          value: { text: answers.worldpay3dsFlex.issuer }
        }, {
          key: { text: 'JWT Mac Key (API key)' },
          value: { text: '●●●●●●●●' }
        }]
      }) }}

      {% endif %}

  {% endif %}

{% endblock %}
