{% extends "../settings-layout.njk" %}

{% set settingsPageTitle = "Your Worldpay credentials" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>

  <p class="govuk-body govuk-!-margin-bottom-6">
    Go to your <a class="govuk-link" href="https://secure.worldpay.com/sso/public/auth/login.html">Worldpay account</a>
    to get the details you need to enter here or
    <a class="govuk-link" href="https://docs.payments.service.gov.uk/switching_to_live/set_up_a_live_worldpay_account/#connect-your-live-account-to-worldpay">read more in our documentation</a>.
  </p>

  {% include "./includes/_worldpay-credentials-input.njk" %}
{% endblock %}
