{% extends "../settings-layout.njk" %}

{% set settingsPageTitle = "Recurring customer initiated transaction (CIT) credentials" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>

  <form id="cit-credentials-form" method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

    {{ govukInput({
      label: {
        text: 'CIT merchant code'
      },
      id: 'merchant-code',
      name: 'merchantCode',
      classes: 'govuk-input--width-20',
      type: 'text',
      value: credentials.merchantCode,
      errorMessage: errors.formErrors.merchantCode and {
        text: errors.formErrors.merchantCode
      }
    })
    }}

    {{ govukInput({
      label: {
        text: 'Username'
      },
      id: 'username',
      name: 'username',
      classes: 'govuk-input--width-20',
      type: 'text',
      value: credentials.username,
      errorMessage: errors.formErrors.username and {
        text: errors.formErrors.username
      },
      autocomplete: 'off'
    })
    }}

    {{ govukInput({
      label: {
        text: 'Password'
      },
      id: 'password',
      name: 'password',
      classes: "govuk-input--width-20",
      type: 'password',
      errorMessage: errors.formErrors.password and {
        text: errors.formErrors.password
      },
      autocomplete: 'off'
    })
    }}

    {{
    govukButton({
      text: 'Save credentials',
      attributes: {
        id: 'submitCredentials'
      }
    })
    }}
  </form>

{% endblock %}
