{% set organisationNameHint %}
  <div>
    <p>Enter the main name of your organisation, not your local office or individual department.</p>
    <p>Write the organisation name in full. Only use acronyms that are widely understood (for example, NHS).</p>
  </div>
{% endset %}

{{ govukInput({
  label: {
    text: "Organisation name",
    classes: "govuk-label--m"
  },
  id: "organisation-name",
  name: "organisationName",
  errorMessage: { text: errors.formErrors['organisationName'] } if errors.formErrors['organisationName'] else false,
  hint: {
    html: organisationNameHint
  },
  classes: "govuk-!-width-three-quarters",
  autocomplete: organization,
  value: organisationDetails.organisationName
}) }}
