{% extends "../layout-logged-out.njk" %}

{% block pageTitle %}
  Create an account - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l page-title">Create an account</h1>
  <form action="{{routes.selfCreateService.register}}" method="post" id="submit-service-creation" class="form submit-registration">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {{
      govukInput({
        id: "email",
        name: "email",
        type: "email",
        classes: "govuk-input--width-20",
        label: {
            text: "Email",
            classes: "govuk-label--s"
        },
        value: email,
        hint: {
          text: "Must be from a government organisation"
        },
        attributes: {
          autofocus: true
        }
      })
    }}
    {{
      govukInput({
        id: "telephone-number",
        name: "telephone-number",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20",
        label: {
            text: "Mobile number",
            classes: "govuk-label--s"
        },
        value: telephoneNumber,
        hint: {
          text: "We’ll send you a verification code by text message"
        }
      })
    }}
    {{
      govukInput({
        id: "password",
        name: "password",
        type: "password",
        autocomplete: "new-password",
        classes: "govuk-input--width-20",
        label: {
            text: "Password",
            classes: "govuk-label--s"
        },
        hint: {
          text: "Must be at least 10 characters"
        }
      })
    }}
    {{
      govukButton({
        text: "Continue",
        classes: "button",
        attributes: {
          id: "continue"
        }
      })
    }}
  </form>
</div>
{% endblock %}
