{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Set the service name - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div id="display-name-your-service" class="govuk-grid-column-two-thirds">
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      service_name: "#service-name"
    }
  }) }}

  <form action="{{routes.selfCreateService.serviceNaming}}" method="post" class="form submit-two-fa" id="name-your-service-form" data-virtual-pageview="/service/registration-complete" data-parameters="dimension1:service-name">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <h1 class="form-title govuk-heading-l">What service will you be taking payments for?</h1>

    {% set serviceNameError = false %}
    {% if errors.service_name %}
      {% set serviceNameError = {
        text: errors.service_name
      } %}
    {% endif %}

    {{
      govukInput({
        id: "service-name",
        name: "service-name",
        label: {
            text: "Service name",
            classes: "govuk-label--s"
        },
        hint: {
          text: "You can change this later"
        },
        value: serviceName,
        attributes: {
          "autofocus": true
        },
        errorMessage: serviceNameError
      })
    }}

    {{
      govukButton({
        text: "Add service",
        classes: "button",
        attributes: {
          id: "add-service"
        }
      })
    }}
  </form>
</div>
{% endblock %}
