{% extends "../layout-logged-out.njk" %}

{% block pageTitle %}
  Enter verification code - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div id="display_otp_verify" class="govuk-grid-column-two-thirds">
  <h1 class="form-title govuk-heading-l">Check your phone</h1>
  <p class="govuk-body">We’ve sent you a text message with a verification code</p>
  <form action="{{routes.selfCreateService.otpVerify}}" class="form" method="post" class="submit-two-fa" id="verify-phone-form">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    {{
      govukInput({
        id: "verify-code",
        name: "verify-code",
        classes: "govuk-input--width-10",
        label: {
            text: "Verification code",
            classes: "govuk-label--s"
        },
        attributes: {
          autocomplete: "off",
          autofocus: true
        }
      })
    }}
    {{
      govukButton({
        text: "Continue",
        classes: 'button',
        attributes: {
          id: "continue"
        }
      })
    }}
  </form>
  <p class="govuk-body"><a href="{{routes.selfCreateService.otpResend}}" class="resend-otp-link govuk-link govuk-link govuk-link--no-visited-state">Not received a text message?</a></p>
</div>
{% endblock %}
