{% extends "../../settings-layout.njk" %}

{% set settingsPageTitle = "Check your answers" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>

  {{
    govukSummaryList({
      card: {
        title: {
          text: "Service director’s personal details"
        },
        actions: {
          items: [
            {
              href: detailsLink,
              text: "Change",
              visuallyHiddenText: "service director's personal details",
              attributes: { 'data-cy' : 'edit-director-details'}
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "First name"
          },
          value: {
            html: "Sam"
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            html: "Person"
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            html: "01 January 1970"
          }
        },
        {
          key: {
            text: "Work email address"
          },
          value: {
            html: "S.person@example.gov.uk"
          }
        }
      ]
    })
  }}

  {{
    govukSummaryList({
      card: {
        title: {
          text: "Service director’s address"
        },
        actions: {
          items: [
            {
              href: addressLink,
              text: "Change",
              visuallyHiddenText: "service director's address",
              attributes: { 'data-cy' : 'edit-director-address'}
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Address line 1"
          },
          value: {
            html: "29 Acacia Road"
          }
        },
        {
          key: {
            text: "Address line 2"
          },
          value: {
            html: "Mitcham"
          }
        } if hasAddressLine2,
        {
          key: {
            text: "Town or city"
          },
          value: {
            html: "London"
          }
        },
        {
          key: {
            text: "Postcode"
          },
          value: {
            html: "SW16 1AB"
          }
        }
      ]
    })
  }}

  <form id="service-director-check-your-answers-form" method="post" class="govuk-!-margin-top-4" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}" />

    {{
      govukButton({
        text: "Continue",
        id: "service-director-confirm"
      })
    }}
  </form>
{% endblock %}
