.account-status-panel {
  border: 5px solid govuk-colour("blue");
  padding: 20px;
  margin: 0 15px;

  .govuk-grid-column-two-thirds{
    padding: 0;
  }

  &--restricted{
    border: 5px solid govuk-colour("red"); 
  } 
}
