.pay-text-grey {
  color: $govuk-secondary-text-colour;
}

.pay-text-black {
  color: $govuk-text-colour;
}

.pay-link-text-red {
  color: govuk-colour("red") !important;
}

.pay-link-text-red:hover {
  color: govuk-colour("red") !important;
}
