@use 'govuk-frontend/dist/govuk' as * ;

.environment-tag {
  padding: govuk-spacing(1) govuk-spacing(1) 3px;
  margin: 0 0 0 govuk-spacing(2);
  position: relative;
  top: -2px;
  background-color: govuk-colour("black", $variant: "tint-95");
  @include govuk-font($size: 16, $weight: bold);
}
