@use 'govuk-frontend/dist/govuk' as * ;

.links__box {
  position: relative;

  a {
    text-decoration: none;
    display: inline-block;
  }

  a:link {
    h2 {
      color: govuk-functional-colour(link);
      text-decoration: underline;
    }
  }

  a:visited {
    h2 {
      color: govuk-functional-colour(link);
    }
  }

  a:hover {
    h2 {
      color: govuk-functional-colour(link-hover);
    }
  }

  a:focus {
    background-color: govuk-functional-colour(focus);
    outline: 3px solid govuk-functional-colour(focus);

    h2 {
      color: govuk-functional-colour(text);
    }
  }
}
