.multi-select {
  @extend .govuk-clearfix;
  position: relative;
  width: 100%;
}

.multi-select__title {
  border: 2px solid $govuk-text-colour;
  padding: 8px 14px;
  border-radius: 0;
  min-height: 34px;
  background-color: govuk-colour('white');
  text-align: left;
  background-image: url('/assets/images/dd-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 10px top 6px;
  -webkit-appearance: none;
  appearance: none;
  max-width: 100%;
  cursor: pointer;
  @include govuk-font($size: 19);

  div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
    width: 15em;

    @include govuk-media-query(tablet) {
      width: 20em;
    }
  }

  &:focus {
    box-shadow: inset 0 0 0 $govuk-border-width-form-element;
    outline: 3px solid $govuk-focus-colour;
    outline-offset: 0;

    div {
      outline: none;
    }
  }
}

.multi-select-dropdown {
  @extend .govuk-clearfix;
  top: 0;
  left: 0;
  background-color: govuk-colour('white');
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
  width: 100%;

  .multi-select-dropdown__close-button {
    text-align: left;
    min-height: 34px;
    background-repeat: no-repeat;
    background-color: #f3f2f1;
    background-position: right 10px top 6px;
    -webkit-appearance: none;
    background-image: url('/assets/images/dd-arrow-up.svg');
    width: 100%;
    margin-bottom: 3px;
    border-radius: 0;
    border: 2px solid govuk-colour('black');
    box-shadow: none;
    padding: 8px 14px;
    @include govuk-font($size: 19);
    &:hover {
      background-color: #b1b4b6;
    }
  }

  .govuk-checkboxes__label::before {
    left: 14px;
    top: 10px;
    background: govuk-colour('white');
  }

  .govuk-checkboxes__label::after {
    left: 20px;
    top: 17px;
  }

  .multi-select-dropdown__inner-container {
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid govuk-colour('black');

    .govuk-checkboxes__item {
      padding-left: 14px;
      label {
        width: 100%;
        padding-left: 5px;
      }
      &:hover {
        background: #b1b4b6;
        cursor: pointer;
      }
    }
  }

  &:focus {
    outline: 3px solid $govuk-focus-colour;
    outline-offset: 0;
  }
}
