.govuk-header__content {
  text-align: right;
}

.pay-top-navigation {
  padding: govuk-spacing(1) 0 0;
}

.service-info--name {
  margin: govuk-spacing(2) 0 govuk-spacing(1);
  @include govuk-media-query($until: tablet) {
    margin: 0 0 0 govuk-spacing(1);
  }
}

.service-info--tag {
  margin-left: 5px;
  max-width: none;
}

@include govuk-media-query(tablet) {
  .navigation--pad-bottom {
    margin-bottom: govuk-spacing(9);
    padding-bottom: govuk-spacing(9);
  }
}

.service-sub-nav {
  .govuk-service-navigation {
    background-color: #fff;

    .govuk-width-container {
      margin: 0;
    }
  }

  ul.govuk-service-navigation__list {
    @include govuk-font($size: 16);
    @include govuk-media-query($until: tablet) {
      li.govuk-service-navigation__item {
        margin-top: 0;
        margin-bottom: govuk-spacing(1);
        padding-top: govuk-spacing(1);
        padding-bottom: govuk-spacing(1);
      }
    }

    li.govuk-service-navigation__item--active {
      @include govuk-typography-weight-bold();
    }
  }
}
