// Section: Request to go live
@use 'govuk-frontend/dist/govuk' as * ;

.intro {
  color: govuk-functional-colour(secondary-text);
}

.request-to-go-live-list {
  counter-reset: live-list;
  p {
    margin-left: govuk-spacing(6);
  }
  h2 {
    margin-bottom: govuk-spacing(2);
  }
  h2::before {
    counter-increment: live-list;
    content: counter(live-list) ". ";
    display: inline-block;
    width: 30px;
  }
  .waiting {
    background-color: govuk-colour("black", $variant: "tint-25");
  }
}

.next-steps-panel {
  padding: 30px 30px 20px 30px;
  border: 5px solid govuk-functional-colour(link);
  margin-bottom: 30px;
}
