// https://getbem.com/naming/

.service-settings-nav {
  @include govuk-font(16);
}

.service-settings-nav__h3 {
  margin: 0;
  padding: govuk-spacing(2) govuk-spacing(3) govuk-spacing(2) 0;
  color: govuk-colour("dark-grey");
  @include govuk-font(19);
  @include govuk-typography-weight-regular();
}

.service-settings-nav__li {
  position: relative;
  margin-bottom: govuk-spacing(1);
  padding-top: govuk-spacing(1);
  padding-bottom: govuk-spacing(1);
  @include govuk-font(16);
  a {
    &:hover {
      color: govuk-colour("dark-blue");
      text-decoration: underline;
      text-decoration-thickness: max(3px, .1875rem, .12em);
      text-decoration-skip-ink: none;
      text-decoration-skip: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

.service-settings-nav__li--active:before {
  content: '';
  position: absolute;
  left: -15px;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: $govuk-brand-colour;
}

.service-settings-nav__li--active {
  @include govuk-typography-weight-bold();
}

.service-settings-pane {
  max-width: 630px;
  h1, .govuk-error-summary, .govuk-error-message {
    overflow-wrap: anywhere
  }
}

.service-settings-inset-text--grey {
  background-color: govuk-colour("light-grey");
}

.team-member-email-list {
  .govuk-summary-list__actions {
    width: 30% !important;
  }
}

.task-list {
  .govuk-task-list__name-and-hint {
    width: 70% !important;
  }
  a:visited, a:link {
    color: govuk-colour("blue");
  }
  a:hover {
    color: govuk-colour("dark-blue");
  }
  a:active, a:focus {
    color: govuk-colour("black");
  }
}

.card-types {
  .govuk-checkboxes__item {
    border-bottom: 1px solid govuk-colour("mid-grey");
    padding-bottom: govuk-spacing(2);
  }

  .govuk-summary-list__row:first-of-type {
    border-top: 1px solid govuk-colour("mid-grey");
  }
}

.webhooks-summary-card {
  .govuk-summary-list__key {
    width: 180px;
  }
}

.pagination-links {
  .govuk-pagination__prev {
    a {
      &:visited {
        color: govuk-colour("blue");
      }
    }
  }

  .govuk-pagination__next {
    a {
      &:visited {
        color: govuk-colour("blue");
      }
    }
  }

  .govuk-pagination__item {
    a {
      &:visited {
        color: govuk-colour("blue");
      }
    }
  }

  .govuk-pagination__item--current {
    a {
      &:visited {
        color: govuk-colour("white");
      }
    }
  }
}

.header-with-tag {
  display: flex;
  align-items: flex-start;
  > div {
    white-space: nowrap;
    padding: govuk-spacing(1) govuk-spacing(2);
    margin-top: govuk-spacing(1);
  }
}

.card-title-with-tag {
  display: inline-flex;
  flex-wrap: wrap;
  > div {
    margin-right: govuk-spacing(1);
    &:first-child {
      margin-bottom: govuk-spacing(1);
    }
  }
}

.json-block {
  overflow: scroll
}

.break-all {
  word-break: break-all;
}
