// https://getbem.com/naming/

.service-settings-nav {
  @include govuk-font(16);
}

.service-settings-nav__h3 {
  margin: 0;
  padding: govuk-spacing(2) govuk-spacing(3) govuk-spacing(2) 0;
  color: govuk-colour("dark-grey");
  @include govuk-font(19);
  @include govuk-typography-weight-regular();
}

.service-settings-nav__li {
  position: relative;
  margin-bottom: govuk-spacing(1);
  padding-top: govuk-spacing(1);
  padding-bottom: govuk-spacing(1);
  @include govuk-font(16);
}

.service-settings-nav__li--active:before {
  content: '';
  position: absolute;
  left: -14px;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: $govuk-brand-colour;
}

.service-settings-nav__li--active {
  @include govuk-typography-weight-bold();
}

.service-settings-pane {
  max-width: 630px;
}

.service-settings-inset-text--grey {
  background-color: govuk-colour("light-grey");
}

.team-member-email-list {
  .govuk-summary-list__actions {
    width: 30% !important;
  }
}

.task-list {
  .govuk-task-list__name-and-hint {
    width: 70% !important;
  }
  a:visited, a:link {
    color: govuk-colour("blue");
  }
  a:hover {
    color: govuk-colour("dark-blue");
  }
  a:active, a:focus {
    color: govuk-colour("black");
  }
}

.card-types {
  .govuk-checkboxes__item {
    border-bottom: 1px solid govuk-colour("mid-grey");
    padding-bottom: govuk-spacing(2);
  }

  .govuk-summary-list__row:first-of-type {
    border-top: 1px solid govuk-colour("mid-grey");
  }
}

.webhooks-summary-card {
  .govuk-summary-list__key {
    width: 180px;
  }
}

.webhook-header-with-tag {
  display: flex;
  align-items: flex-start;
  .webhook-tag {
    white-space: nowrap;
    padding: 4px 12px;
    margin-top: 0.3em;
  }
}
