// https://getbem.com/naming/

.service-nav {
  margin-bottom: govuk-spacing(3);
}

.nav__h3 {
  padding: govuk-spacing(2) govuk-spacing(3) govuk-spacing(2) govuk-spacing(1);
  margin: 0;
  color: govuk-colour('dark-grey');
  @include govuk-font(19);
  @include govuk-typography-weight-regular();
}

.nav__hr {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(2);
}

.nav__button {
  width: 100%;
  text-align: left;
  position: relative;
  display: inline-flex;
  align-items: center;
  box-shadow: none;
  margin-bottom: govuk-spacing(1);
  padding: govuk-spacing(1);
  padding-right: 40px;
  @include govuk-font(16);
}

.nav__button[current] {
  @include govuk-typography-weight-bold();
}

.nav__button[current]::before {
  content: '';
  position: absolute;
  left: -10px;
  top: -2px;
  height: 100%;
  width: 4px;
  background-color: govuk-colour('blue');
  border: solid govuk-colour('blue');
  border-width: 2px 0 2px 0;
}

.sub-nav {
  padding-left: govuk-spacing(3);
}

.sub-nav__button::after {
  content: '';
  position: absolute;
  right: 15px;
  width: 10px;
  height: 10px;
  border: solid govuk-colour('dark-grey');
  border-width: 0 2px 2px 0;
  transform-origin: center;
}

/* pointing down */
.sub-nav__button[open]::after {
  transform: rotate(45deg);
}

/* pointing up */
.sub-nav__button:not([open])::after {
  transform: rotate(225deg);
}

.service-settings-pane {
  max-width: 630px;

  h1,
  .govuk-error-summary,
  .govuk-error-message {
    overflow-wrap: anywhere;
  }
}

.service-settings-inset-text--grey {
  background-color: govuk-colour('light-grey');
}

.team-member-email-list {
  .govuk-summary-list__actions {
    width: 30% !important;
  }
}

.task-list {
  .govuk-task-list__name-and-hint {
    width: 70% !important;
  }

  a:visited,
  a:link {
    color: govuk-colour('blue');
  }

  a:hover {
    color: govuk-colour('dark-blue');
  }

  a:active,
  a:focus {
    color: govuk-colour('black');
  }
}

.card-types {
  .govuk-checkboxes__item {
    border-bottom: 1px solid govuk-colour('mid-grey');
    padding-bottom: govuk-spacing(2);
  }

  .govuk-summary-list__row:first-of-type {
    border-top: 1px solid govuk-colour('mid-grey');
  }
}

.pagination-links {
  .govuk-pagination__prev {
    a {
      &:visited {
        color: govuk-colour('blue');
      }
    }
  }

  .govuk-pagination__next {
    a {
      &:visited {
        color: govuk-colour('blue');
      }
    }
  }

  .govuk-pagination__item {
    a {
      &:visited {
        color: govuk-colour('blue');
      }
    }
  }

  .govuk-pagination__item--current {
    a {
      &:visited {
        color: govuk-colour('white');
      }
    }
  }
}

.text-with-tag {
  display: flex;
  align-items: flex-start;
  gap: govuk-spacing(2);
}

.flex-align-items-centre {
  align-items: center;
}

.text-with-tag__text {
  flex: 1;
  min-width: 0;
}

.text-with-tag__tag {
  flex-shrink: 0;
}

.card-with-tag {
  .govuk-summary-card__title-wrapper {
    flex-wrap: wrap;

    .govuk-summary-card__title {
      flex-basis: 100%;
      min-width: 100%;
      margin: govuk-spacing(1) 0;
    }

    .govuk-summary-card__actions {
      flex-basis: 100%;
    }
  }

  .govuk-summary-card__content {
    .govuk-summary-list__key {
      width: 180px;
      @include govuk-media-query($until: tablet) {
        width: 100%;
      }
    }
  }
}

.responsive-margin-bottom-l {
  @include govuk-responsive-margin(6, 'bottom');
}

.json-block {
  overflow: scroll;
}

.break-all {
  word-break: break-all;
}
