@use 'govuk-frontend/dist/govuk' as * ;

.system-messages {
  margin-bottom: 30px;
}

.govuk-notification-banner--error {
  border-color: govuk-functional-colour(error);
  background-color: govuk-functional-colour(error);
}

.system-message__container {
  display: flex;
  align-items: center;
  gap: govuk-spacing(3);
  padding: 15px;
}

.system-message__icon {
  flex: 0;
}

.system-message__text {
  flex: 1;
  overflow-wrap: break-word;
  overflow: hidden;
}

.system-message__icon--success {
  color: govuk-functional-colour(success);
}
.system-message__icon--info {
  color: govuk-functional-colour(brand);
}
.system-message__icon--error {
  color: govuk-functional-colour(error);
}
