.transactions-list-table {
  background-color: govuk-colour('white');
  table-layout: fixed;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.display-size {
  float: right;
  margin-left: govuk-spacing(3);
  @include govuk-font($size: 19);
}

.displaySizeForm:before {
  content: '|';
  margin: 0 govuk-spacing(1);
}

.capitalize {
  text-transform: capitalize;
}

.transactions-list {
  &__worldpay-header {
    &--reference {
      width: 16%;
    }

    &--email {
      width: 33%;
    }

    &--amount {
      width: 11%;
    }

    &--brand {
      width: 11%;
    }

    &--state {
      width: 13%;
    }

    &--date {
      text-align: left;
      width: 16%;
    }
  }

  &__stripe-header {
    &--reference {
      width: 14.5%;
    }

    &--email {
      width: 20.5%;
    }

    &--amount {
      width: 9%;
    }

    &--brand {
      width: 12%;
    }

    &--state {
      width: 10%;
    }

    &--date {
      text-align: left;
      width: 15.5%;
    }
  }
}
