{% extends "../layout.njk" %}

{% block page_title %}
Transaction details {{reference}} - {{currentServiceName}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block pageSpecificJS %}
<script src="/public/js/components/refund.js"></script>
{% endblock %}

{% block full_width_content %}
  <div class="grid-row">
    <div class="column-full">
      <a href="{{routes.transactions.index}}?{{indexFilters}}" id="arrowed" class="arrowed"> &#9664; Transactions list</a>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="page-title heading-large">Transaction detail</h1>
      {% include "./_details.njk" %}

      <h2 class="heading-medium">Payment method</h2>
      {% include "./_payment.njk" %}

      {% if permissions.transactions_events_read %}
        <h2 class="heading-medium">Transaction events</h2>
        {% include "./_events.njk" %}
       {% endif %}
    </div>

    <div class="column-one-third">
      {% if refundable %}
        {% if permissions.refunds_create %}
        <div class="refund__toggle-container {% if not flash.genericError %}active{% endif %}">
          <button class="button refund__toggle delete">Refund Payment</button>
          <p>You can also give partial&nbsp;refunds</p>
        </div>
        {% include "./_refund.njk" %}
         {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
