{% extends "base/govuk_template_nunjucks.njk" %}
  {% block pageTitle %}GOV.UK Pay{% endblock %}

  {% block head %}
    {% include "includes/head.njk" %}
    {% block pageSpecificStyle %}
    {% endblock %}
  {% endblock %}

  {% block propositionHeader %}
    {% include "includes/propositional_navigation.njk" %}
  {% endblock %}

  {% block headerClass %}with-proposition{% endblock %}
  {% block bodyClasses %}
    {% block classesOnBodyTag %}{% endblock %}
    {% if currentGatewayAccount %}env-{{currentGatewayAccount.type}}{% endif %}
  {% endblock %}

  {% block homepageUrl %}/{% endblock %}
  {% block globalHeaderText %}GOV.UK <span>Pay <strong class="phase-tag">Beta</strong></span>{% endblock %}

  {% block cookieMessage %}
    <p>GOV.UK Pay uses cookies to make the site simpler. <a href="https://www.payments.service.gov.uk/cookies/">Find out more about cookies</a></p>
  {% endblock %}

  {% block content %}
    {% if not hideServiceHeader %}
    {% include "includes/phase_banner.njk" %}
    {% endif %}

    <main id="content" role="main" class="{% block mainClasses %}{% endblock %}">
        {% include "includes/flash.njk" %}
        {% block full_width_content %}{% endblock %}
        <div class="grid-row">
          {% if showSettingsNav %}
            {% include "includes/side_navigation.njk" %}
          {% endif %}
          <div class="column-two-thirds">
              {% block mainContent %}{% endblock %}
          </div>
        </div>
    </main>
  {% endblock %}

  {% block footerTop %}
    {% include "includes/footer-categories.njk" %}
  {% endblock %}

  {% block footerSupportLinks %}
  <nav class="footer-nav">
    <ul>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></li>
      <li><a href="https://www.payments.service.gov.uk/cookies/">Cookies</a></li>
    </ul>
  </nav>
  {% endblock %}

  {% block licenceMessage %}
    {% include "includes/license-message.njk" %}
  {% endblock %}

  {% block crownCopyrightMessage %}
    {% include "includes/crown-copyright.njk" %}
  {% endblock %}

  {% block bodyEnd %}
    {% include "includes/scripts.njk" %}
    {% block pageSpecificJS %}
    {% endblock %}
  {% endblock %}
