{% extends "base/govuk_template_nunjucks.njk" %}
    {% block pageTitle %}GOV.UK Pay{% endblock %}

    {% block head %}
      {% extends "includes/head" %}
      {% block pageSpecificStyle %}
      {% endblock %}
    {% endblock %}

    {% block propositionHeader %}
      {% extends "includes/propositional_navigation" %}
    {% endblock %}

    {% block headerClass %}with-proposition{% endblock %}
    {% block bodyClasses %}{% block classesOnBodyTag %}{% endblock %} {{#currentGatewayAccount}}env-{{currentGatewayAccount.type}}{% endblock %}{% endblock %}

    {% block homepageUrl %}/{% endblock %}
    {% block globalHeaderText %}GOV.UK <span>Pay <strong class="phase-tag">Beta</strong></span>{% endblock %}

    {% block cookieMessage %}
      <p>GOV.UK Pay uses cookies to make the site simpler. <a href="https://www.payments.service.gov.uk/cookies/">Find out more about cookies</a></p>
    {% endblock %}

    {% block content %}
        {% if hideServiceHeader %}
        {% extends "includes/phase_banner" %}
        {% endif %}

        <main id="content" role="main" class="{% block mainClasses %}{% endblock %}">
            {% extends "includes/flash" %}
            {% block full_width_content %}{% endblock %}
            <div class="grid-row">
              {{#showSettingsNav}}
                  {% extends "includes/side_navigation" %}
              {% endblock %}
              <div class="column-two-thirds">
                  {% block mainContent %}{% endblock %}
              </div>
            </div>
        </main>
    {% endblock %}

    {% block footerTop %}
      {% extends "includes/footer-categories" %}
    {% endblock %}

    {% block footerSupportLinks %}
    <nav class="footer-nav">
      <ul>
        <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></li>
        <li><a href="https://www.payments.service.gov.uk/cookies/">Cookies</a></li>
      </ul>
    </nav>
    {% endblock %}

    {% block licenceMessage %}
      {% extends "includes/license-message" %}
    {% endblock %}

    {% block crownCopyrightMessage %}
      {% extends "includes/crown-copyright" %}
    {% endblock %}

    {% block bodyEnd %}
      {% extends "includes/scripts" %}
      {% block pageSpecificJS %}
      {% endblock %}
    {% endblock %}
{% endblock %}
