{% extends "../../layout.njk" %}

{% block pageTitle %}
  What are your bank details? - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check details before saving</h1>

    <form id="bank-details-check-display-form" method="post" action="/bank-details" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
      <input name="answers-need-changing" type="hidden" value="true"/>
      <input name="account-number" type="hidden" value="{{ accountNumber }}"/>
      <input name="sort-code" type="hidden" value="{{ sortCode }}"/>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd id="sort-code-value" class="govuk-summary-list__value">
            {{ sortCode }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <button id="sort-code-change-button" class="pay-button--as-link" type="submit">
              Change
              <span class="govuk-visually-hidden">sort code</span>
            </button>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd id="account-number-value" class="govuk-summary-list__value">
            {{ accountNumber }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <button id="account-number-change-button" class="pay-button--as-link" type="submit">
              Change
              <span class="govuk-visually-hidden">account number</span>
            </button>
          </dd>
        </div>
      </dl>
    </form>

    <form id="bank-details-check-submit-form" method="post" action="/bank-details" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
      <input name="answers-checked" type="hidden" value="true"/>
      <input name="account-number" type="hidden" value="{{ accountNumber }}"/>
      <input name="sort-code" type="hidden" value="{{ sortCode }}"/>

      {{ govukButton({ text: "Save details" }) }}
    </form>

  </div>
{% endblock %}
