{% extends "../../layout.njk" %}
{% from "../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Enter your organisation’s banking details - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% if isSwitchingCredentials %}
    {% include "includes/side-navigation.njk" %}
  {% endif %}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-column-two-thirds">

    {% if isSwitchingCredentials %}
      {{ govukBackLink({
        text: "Back to Switching payment service provider (PSP)",
        classes: "govuk-!-margin-top-0",
        href: formatAccountPathsFor(routes.account.switchPSP.index, currentGatewayAccount.external_id)
      }) }}
    {% endif %}

    {{ errorSummary ({
      errors: errors,
      hrefs: {
        'sort-code': '#sort-code',
        'account-number': '#account-number'
      }
    }) }}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Enter your organisation’s banking details</h1>
    <p class="govuk-body govuk-!-margin-bottom-6">This is the bank account payments will go into.</p>

    <form id="bank-details-form" method="post"
         >
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {% set sortCodeError = false %}
      {% if errors['sort-code'] %}
        {% set sortCodeError = {
          text: errors['sort-code']
        } %}
      {% endif %}

      {{ govukInput({
        label: {
          text: "Sort code"
        },
        hint: {
          text: "Must be 6 digits long"
        },
        id: "sort-code",
        name: "sort-code",
        classes: "govuk-input--width-5",
        value: sortCode,
        type: "text",
        errorMessage: sortCodeError,
        attributes: {
          "autocomplete": "off",
          "inputmode": "numeric"
        }
      }) }}

      {% set accountNumberError = false %}
      {% if errors['account-number'] %}
        {% set accountNumberError = {
          text: errors['account-number']
        } %}
      {% endif %}

      {{ govukInput({
        name: "account-number",
        id: "account-number",
        label: {
          text: "Account number"
        },
        hint: {
          text: "Must be between 6 and 8 digits long"
        },
        classes: "govuk-input--width-10",
        value: accountNumber,
        type: "text",
        errorMessage: accountNumberError,
        attributes: {
          "autocomplete": "off",
          "inputmode": "numeric"
        }
      }) }}

      {{ govukButton({ text: "Save and continue" }) }}
    </form>
  </div>
{% endblock %}
