{% extends "../settings-layout.njk" %}

{% block settingsPageTitle %}
  Organisation details
{% endblock %}

{% block settingsContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) if backLink }}

  <h1 class="govuk-heading-l">Organisation details</h1>

  <p class="govuk-body govuk-!-margin-bottom-6">Payment card schemes require the details of the organisation taking payment to be shown on payment pages.</p>

  <form id="organisation-details-form" method="post" action="{{ submitLink }}" >
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {{
      govukInput({
        label: {
          text: "Organisation name",
          classes: "govuk-label--m"
        },
        id: "organisation-name",
        name: "organisationName",
        errorMessage: { text: errors.formErrors['organisationName'] } if errors.formErrors['organisationName'] else false,
        hint: {
          html: "<p>Enter the main name of your organisation, not your local office or individual department.</p>
                <p>Write the organisation name in full. Only use acronyms that are widely understood (for example, NHS).</p>"
        },
        classes: "govuk-!-width-two-thirds",
        value: organisationDetails.organisationName
      })
    }}

    {% call govukFieldset({
      legend: {
        text: "Organisation address",
        classes: "govuk-fieldset__legend--m",
        isPageHeading: false
      }
    }) %}

      {{ govukInput({
        label: {
          html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
        },
        hint: {
          text: "Cannot be a PO Box"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-line1",
        name: "addressLine1",
        errorMessage: { text: errors.formErrors['addressLine1'] } if errors.formErrors['addressLine1'] else false,
        value: organisationDetails.addressLine1
      }) }}

      {{ govukInput({
        label: {
          html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-line2",
        name: "addressLine2",
        errorMessage: { text: errors.formErrors['addressLine2'] } if errors.formErrors['addressLine2'] else false,
        value: organisationDetails.addressLine2
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        classes: "govuk-!-width-one-half",
        id: "address-city",
        name: "addressCity",
        errorMessage: { text: errors.formErrors['addressCity'] } if errors.formErrors['addressCity'] else false,
        value: organisationDetails.addressCity
      }) }}

      {{ govukSelect({
        id: "address-country",
        classes: "govuk-!-width-one-half",
        name: "addressCountry",
        errorMessage: { text: errors.formErrors['addressCountry'] } if errors.formErrors['addressCountry'] else false,
        label: {
          text: "Country"
        },
        items: countries
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "address-postcode",
        name: "addressPostcode",
        errorMessage: { text: errors.formErrors['addressPostcode'] } if errors.formErrors['addressPostcode'] else false,
        value: organisationDetails.addressPostcode
      }) }}

    {% endcall %}

    {{ govukInput({
      label: {
        text: "Telephone number",
        classes: "govuk-label--m"
      },
      hint: {
        text: "Include the country code for international numbers"
      },
      errorMessage: { text: errors.formErrors['telephoneNumber'] } if errors.formErrors['telephoneNumber'] else false,
      id: "telephone-number",
      name: "telephoneNumber",
      classes: "govuk-!-width-two-thirds",
      type: "tel",
      autocomplete: "work tel",
      value: organisationDetails.telephoneNumber
    }) }}

    {{ govukInput({
      label: {
        text: "Organisation website address",
        classes: "govuk-label--m"
      },
      hint: {
        text: "Enter the address in full like https://www.example.com"
      },
      errorMessage: { text: errors.formErrors['organisationUrl'] } if errors.formErrors['organisationUrl'] else false,
      id: "url",
      name: "organisationUrl",
      classes: "govuk-!-width-two-thirds",
      type: "url",
      autocomplete: "url",
      spellcheck: false,
      value: organisationDetails.organisationUrl
    }) }}

    {{ govukButton({
      text: "Save organisation details",
      attributes: {
        id: "save-merchant-details"
      }
    }) }}

  </form>

{% endblock %}
