{% extends "../settings-layout.njk" %}

{% block settingsPageTitle %}
  Organisation details
{% endblock %}

{% block settingsContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) if backLink }}

  <h1 class="govuk-heading-l">Organisation details</h1>

  <p class="govuk-body govuk-!-margin-bottom-6 hint-and-body-width">Payment card schemes require the details of the organisation taking payment to be shown on payment pages.</p>

  <form id="organisation-details-form" method="post" action="{{ submitLink }}" >
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {% include "./_edit-organisation-details-name.njk" %}
    {% include "./_edit-organisation-details-address.njk" %}

    {{ govukInput({
      label: {
        text: "Telephone number",
        classes: "govuk-label--m"
      },
      hint: {
        text: "Include the country code for international numbers"
      },
      errorMessage: { text: errors.formErrors['telephoneNumber'] } if errors.formErrors['telephoneNumber'] else false,
      id: "telephone-number",
      name: "telephoneNumber",
      classes: "govuk-!-width-two-thirds",
      type: "tel",
      autocomplete: "work tel",
      value: organisationDetails.telephoneNumber
    }) }}

    {{ govukInput({
      label: {
        text: "Organisation website address",
        classes: "govuk-label--m"
      },
      hint: {
        text: "Enter the address in full like https://www.example.com"
      },
      errorMessage: { text: errors.formErrors['organisationUrl'] } if errors.formErrors['organisationUrl'] else false,
      id: "url",
      name: "organisationUrl",
      classes: "govuk-!-width-two-thirds",
      type: "url",
      autocomplete: "url",
      spellcheck: false,
      value: organisationDetails.organisationUrl
    }) }}

    {{ govukButton({
      text: "Save organisation details",
      attributes: {
        id: "save-merchant-details"
      }
    }) }}

  </form>

{% endblock %}
