{% extends "../settings-layout.njk" %}

{% block settingsPageTitle %}
  Organisation details
{% endblock %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">Organisation details</h1>

  <p class="govuk-body govuk-!-margin-bottom-6">Payment card schemes require the details of the organisation taking
    payment to be shown on payment pages.</p>

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    card: {
      title: {
        text: "Organisation details"
      },
      actions: {
        items: [
          {
            href: editOrganisationDetailsHref,
            text: "Change"
          }
        ]
      }
    },
    rows: [
      {
        key: {
        text: "Name"
      },
        value: {
        text: organisationDetails.organisationName
      }
      },
      {
        key: {
        text: "Address"
      },
        value: {
        html: organisationDetails.address
      }
      },
      {
        key: {
        text: "Telephone number"
      },
        value: {
        text: organisationDetails.telephoneNumber
      }
      },
      {
        key: {
        text: "Website address"
      },
        value: {
        text: organisationDetails.url
      }
      }
    ]
  }) }}
{% endblock %}
