
{% from "./macro/status.njk" import agreementStatusTag %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "../layout.njk" %}

{% block pageTitle %}
  Agreement details {{ agreement.external_id }} - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block mainContent %}

{% set filter = ("?" + listFilter) if listFilter  %}

<div class="govuk-grid-column-two-thirds">
  {{ govukBackLink({
    text: "Back to agreements",
    classes: "govuk-!-margin-top-0",
    href: formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.agreements.index, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id) + filter
  }) }}

  {% if isCancelAgreementSuccess %}
    {% set html %}
      <h3 class="govuk-notification-banner__heading">
        Agreement cancelled
      </h3>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">Agreement detail</h1>

  {{ govukSummaryList({
    rows: [{
      key: { text: "ID" },
      value: { text: agreement.external_id }
    },{
      key: { text: "Reference" },
      value: { text: agreement.reference }
    },{
      key: { text: "Status" },
      value: { html: agreementStatusTag(agreement.status) }
    },{
      key: { text: "Description" },
      value: { html: agreement.description },
      attributes: {
        id: "data-description"
      }
    },{
      key: { text: "Date created" },
      value: { html: agreement.created_date | datetime('datelong') }
    }]
  }) }}

  <h2 class="govuk-heading-m govuk-!-margin-top-9">Payment instrument</h2>
  {% set paymentInstrument = agreement.payment_instrument %}

  {% if paymentInstrument %}
  {% set cardDetails = paymentInstrument.card_details %}

  {% set cardMap = {
    'visa': '/public/images/card_visa.png',
    'master-card': '/public/images/card_mastercard.png',
    'american-express': '/public/images/card_amex.png',
    'unknown': '/public/images/card_unknown.png'
  } %}
  {% set imageUrl = cardMap[cardDetails.card_brand | lower] or cardMap.unknown %}
  {% set image %}
  <img src="{{ imageUrl }}" alt="Card brand {{ cardDetails.card_brand }}" height="22" class="" style="vertical-align: middle"></img>
  {% endset %}
  {{ govukSummaryList({
    rows: [{
      key: { text: "Type" },
      value: { text: paymentInstrument.type | capitalize }
    },{
      key: { text: "Card brand" },
      value: { html: image }
    },{
      key: { text: "Name on card" },
      value: { text: cardDetails.cardholder_name }
    },{
      key: { text: "Card number" },
      value: { text: "••••" + cardDetails.last_digits_card_number }
    },{
      key: { text: "Card expiry date" },
      value: { text: cardDetails.expiry_date }
    }, {
      key: { text: "Card type" },
      value: { text: cardDetails.card_type | capitalize }
    }],
    attributes: {
      id: "payment-instrument-list"
    }
  }) }}

  {% else %}
  <p id="empty-payment-instrument" class="govuk-body">No payment instrument set for this agreement.</p>
  {% endif %}

  <h2 class="govuk-heading-m govuk-!-margin-top-9">Transactions</h2>
  <table id="transactions-list" class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" id="reference-header">Reference number</th>
        <th class="govuk-table__header" scope="col" id="state-header">State</th>
        <th class="govuk-table__header" scope="col" id="amount-header">Amount</th>
        <th class="govuk-table__header govuk-table__header--numeric" scope="col" id="time-header">Date created</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for transaction in transactions.results %}
      <tr class="govuk-table__row vertical-align-top">
        <th scope="row" class="charge-column reference govuk-table__header" data-gateway-transaction-id="{{transaction.gateway_transaction_id}}">
          <span class="govuk-!-font-weight-regular govuk-!-font-size-14 reference govuk-!-display-block" id="charge-id-{{transaction.charge_id}}" data-charge-id="{{transaction.charge_id}}">{{transaction.reference}}</span>
        </th>
        <td class="govuk-table__cell transactions-list--item govuk-!-font-size-14 state">{{transaction.state_friendly}}</td>
        <td class="govuk-table__cell transactions-list--item amount govuk-!-font-size-14" id="amount"><span style="white-space: pre">{{transaction.amount}}</span></td>
        <td class="govuk-table__cell transactions-list--item govuk-!-font-size-14 govuk-table__cell--numeric time">{{transaction.created}}</td>
      </tr>
    {% else %}
      <tr class="govuk-table__row">
        <td colspan="4" class="govuk-table__cell govuk-!-font-size-14">No transactions found for this agreement.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <p class="govuk-body">
    <a class="govuk-link govuk-link__no-visited-state" href="{{ formatAccountPathsFor(routes.account.transactions.index, currentGatewayAccount.external_id) }}?agreementId={{ agreement.external_id }}">Show all transactions for this agreement</a>
  </p>
</div>

{% if isShowCancelAgreementFunctionality %}
  <div class="govuk-grid-column-one-third" data-cy="cancel-agreement-container">
    <h2 class="govuk-heading-m">Cancel</h2>

    <div class="target-to-show--toggle-container {% if not flash.genericError %}active{% endif %}">
      {{ govukButton({
        text: "Cancel this agreement",
        classes: "govuk-button--secondary target-to-show--toggle",
        href: "#cancel-form",
        attributes: { 'data-cy': 'cancel-agreement-button' }
      }) }}
    </div>

    <form
      class="target-to-show"
      id="cancel-form"
      method="post"
      action="{{ formatFutureStrategyAccountPathsFor(routes.futureAccountStrategy.agreements.cancel, currentGatewayAccount.type, currentGatewayAccount.service_id, currentGatewayAccount.external_id, agreement.external_id) }}">

      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}" />

      <p class="govuk-body">The agreement will be cancelled immediately.</p>

      <div class="govuk-form-group govuk-!-margin-top-6">
        {{ govukButton({
          text: "Confirm cancellation",
          classes: "govuk-button--warning",
          type: "submit",
          attributes: { 'data-cy': 'confirm-cancel-agreement-button' }
        }) }}

        <p class="govuk-body govuk-!-display-inline">
          <a href="#main" class="govuk-link govuk-!-margin-left-3 target-to-show--cancel">Do not cancel</a>
        </p>
      </div>
    </form>
  </div>
{% endif %}

{% endblock %}
