{% extends "../layout.njk" %}

{% block pageTitle %}
Agreements - GOV.UK Pay
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">
    Agreements
  </h1>
</div>
{% endblock %}