{% set links = agreements.links %}
{% if links and links.length %}
<div class="pagination" id="pagination">
  {% for paginationLink in links %}
    <form class="paginationForm page-{{paginationLink.pageName}}" method="GET" novalidate>
      <input type="hidden" name="page" value="{{paginationLink.pageNumber}}"/>

      {% for filterKey, filterValue in filters %}
        {% if filterValue %}
      <input type="hidden" name="{{ filterKey }}" value="{{ filterValue }}" />
        {% endif %}
      {% endfor %}

      <button class="pagination {{paginationLink.pageName}} {% if paginationLink.activePage %}active{% endif %}" type="submit">
        {% if paginationLink.hasSymbolicName %}
          {{paginationLink.pageName}}<span class="govuk-visually-hidden"> page of results</span>
        {% else %}
          <span class="govuk-visually-hidden">Results page </span>{{paginationLink.pageName}}
        {% endif %}
      </button>
    </form>
  {% endfor %}
</div>
{% endif %}
