{% extends "simplified-account/settings/settings-layout.njk" %}

{% set settingsPageTitle = "Hide card security codes (CVV) from call centre agents " %}

{% block settingsContent %}
  <form method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {{ govukRadios({
      name: "hideCardSecurityCode",
      fieldset: {
        legend: {
          text: settingsPageTitle,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      },
      hint: {
        text: "If you hide the security codes, call agents will not be able to read the numbers entered on their screen.",
        classes: "govuk-body"
      },
      value: currentState,
      errorMessage: { text: errors.formErrors['hideCardSecurityCode'] } if errors.formErrors['hideCardSecurityCode'] else false,
      items: [
        {
          value: "on",
          text: "Hide",
          id: "hide-card-security-code-on"
        },
        {
          value: "off",
          text: "Show",
          id: "hide-card-security-code-off"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save changes"
    }) }}
  </form>
{% endblock %}
