{% extends "simplified-account/settings/settings-layout.njk" %}

{% set settingsPageTitle = "Hide card numbers from call centre agents" %}

{% block settingsContent %}
  <form method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {{ govukRadios({
      name: "hideCardNumber",
      fieldset: {
        legend: {
          text: settingsPageTitle,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      },
      hint: {
        text: "If you hide the card number, call agents will not be able to read the numbers they enter on their screen.",
        classes: "govuk-body"
      },
      value: currentState,
      errorMessage: { text: errors.formErrors['hideCardNumber'] } if errors.formErrors['hideCardNumber'] else false,
      items: [
        {
          value: "on",
          text: "Hide",
          id: "hide-card-number-on"
        },
        {
          value: "off",
          text: "Show",
          id: "hide-card-number-off"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save changes"
    }) }}
  </form>
{% endblock %}
