{% extends "simplified-account/services/service-layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% set servicePageTitle %}
  Transaction details - {{ pageID }}
{% endset %}

{% block serviceContent %}
  {% for sectionKey, sectionData in transactionViewHelper %}

    {% if (loop.first == true) %}
      <h1 class="govuk-heading-l govuk-!-margin-top-6">{{ sectionKey }}</h1>

      {% if not transaction.isFullyRefunded() %}
        {{
          govukButton({
            text: "Refund payment",
            classes: "govuk-button--secondary",
            href: refundLink
          })
        }}
      {% endif %}
    {% else %}
      <h2 class="govuk-heading-m govuk-!-margin-top-8">{{ sectionKey }}</h2>
    {% endif %}

    {% set rows = [] %}
    {% for key, value in sectionData %}
      {% if value %}
        {%
          set rows = (rows.push({
            key: {
              text: key,
              classes: "transaction-details summary-list__key govuk-!-font-size-16"
            },
            value: {
              html: value.html,
              classes: "transaction-details summary-list__row govuk-!-font-size-16"
            } if value.html else {
              text: value,
              classes: "transaction-details summary-list__row govuk-!-font-size-16"
            }
          }), rows)
        %}
      {% endif %}
    {% endfor %}

    {{ govukSummaryList({ rows: rows }) }}
  {% endfor %}

  {% set eventsTableRows = [] %}
  {% for eventKey, eventData in events %}


    {% set eventDescription %}
      <p class="govuk-!-margin-0"><strong>{{ eventData.description }}</strong></p>
      {% if eventData.metadata %}
        <p class="govuk-!-margin-0" style="max-width: 280px; overflow-wrap: anywhere;">{{ eventData.metadata }}</p>
      {% endif %}
    {% endset %}

    {%
      set eventsTableRows = (eventsTableRows.push([
        {
          html: eventDescription
        },
        {
          text: eventData.formattedAmount,
          format: "numeric"
        },
        {
          text: eventData.timestamp,
          format: "numeric"
        }
      ]), eventsTableRows)
    %}
  {% endfor %}

  {{
    govukTable({
      caption: "Transaction events",
      captionClasses: "govuk-table__caption--m govuk-!-margin-top-8",
      firstCellIsHeader: false,
      rows: eventsTableRows,
      classes: "govuk-!-font-size-16"
    })
  }}

  <a class="govuk-button govuk-button--secondary" href="{{ oldView }}">GOTO old view</a>
  <!-- TODO: PP-14639 remove before going live -->
{% endblock %}
