{% extends "simplified-account/services/service-layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% set servicePageTitle %}
  Transaction details - {{ pageID }}
{% endset %}

{% block serviceContent %}
  <h1 class="govuk-heading-l govuk-!-margin-top-6">Transaction details</h1>

  {% if not transaction.isFullyRefunded() and transaction.isRefundable() and permissions['refunds_create'] %}
    {{
      govukButton({
        text: "Refund payment",
        classes: "govuk-button--secondary",
        href: transaction._locals.links.refund
      })
    }}
  {% endif %}
  {% include './partials/_details.njk' %}
  {% include './partials/_amount.njk' %}
  {% include './partials/_payment-method.njk' %}
  {% include './partials/_payment-provider.njk' %}
  {% if transaction.isDispute() or transaction.disputed %}
    {% include './partials/_dispute-details.njk' %}
  {% endif %}
  {% include './partials/_transaction-events.njk' %}

  <a class="govuk-button govuk-button--secondary" href="{{ oldView }}">GOTO old view</a>
  <!-- TODO: PP-14639 remove before going live -->
{% endblock %}
