{{< layout}}

{{$pageTitle}}
GOV.UK Pay - My Services
{{/pageTitle}}
{{$content}}
    <p>Choose the environment you want to enter</p>

    {{#gatewayAccounts}}
    <form method="post" action="{{routes.serviceSwitcher.switch}}">
        <div style="display:none">
            <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
            <input name="gatewayAccountId" type="text" value="{{gateway_account_id}}">

        </div>
        <input class="service_switcher" type="submit" value="{{ payment_provider_display_name }} {{ type }} account">
    </form>
    {{/gatewayAccounts}}
{{/content}}

{{/layout}}
