<div class="transactions-filter-simplified-account" style="width:100%">
  <div class="govuk-grid-row govuk-clearfix">
    <div class="govuk-grid-column-one-third inputs-less-margin">{% include "./partials/_reference-input.njk" %}</div>
    <div class="govuk-grid-column-one-third inputs-less-margin">{% include "./partials/_email-input.njk" %}</div>
    <div class="govuk-grid-column-one-third">{% include "./partials/_status-select.njk" %}</div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <fieldset class="govuk-fieldset">{% include "./partials/_date-filter-select.njk" %}</fieldset>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <fieldset class="govuk-fieldset">{% include "./partials/_date-picker.njk" %}</fieldset>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <br class="transactions-list__br" />
      <br class="transactions-list__br govuk-!-margin-bottom-2" />
      {{
        govukCheckboxes({
          name: "includeTime",
          classes: "govuk-checkboxes--small transactions-list-time__checkbox",
          fieldset: {
            legend: {
              text: "time",
              isPageHeading: true,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "include",
              id: "include-time-checkbox",
              text: "Include time",
              label: {
                classes: " transactions-list-time__checkbox-label"
              },
              checked: filters.includeTime
            }
          ]
        })
      }}
    </div>
  </div>
  <div class="govuk-grid-row" id="time-picker" {{ 'hidden' if (not filters.includeTime) }}>
    <div class="govuk-grid-column-one-third">
      <br class="transactions-list__br" />
    </div>
    <div class="govuk-grid-column-one-third">
      <fieldset class="govuk-fieldset">{% include "./partials/_time-picker.njk" %}</fieldset>
    </div>
    <div class="govuk-grid-column-one-third"> <br class="transactions-list__br" /></div>
  </div>

  {% if filters.metadataValue or filters.agreementId %}
    {% set detailsElementOpenHtml = 'open="true"' %}
  {% endif %}
</div>
