{% from './macro/_stripe-transaction-row.njk' import stripeTransactionRow %}
{% from './macro/_worldpay-transaction-row.njk' import worldpayTransactionRow %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% if results.transactions.length %}
  <table id="transactions-list" class="govuk-table transactions-list-table" style="width:100%">
    <thead class="govuk-table__head govuk-!-font-size-16">
      <tr class="govuk-table__row">
        {% if isStripeAccount %}
          <th class="govuk-table__header transactions-list__stripe-header--reference" scope="col" id="reference-header"
            >Reference number</th
          >
          <th class="govuk-table__header transactions-list__stripe-header--email" scope="col" id="email-header"
            >Email</th
          >
          <th class="govuk-table__header transactions-list__stripe-header--amount" scope="col" id="amount-header"
            >Amount</th
          >
          <th class="govuk-table__header transactions-list__stripe-header--amount" scope="col" id="amount-header"
            >Provider fee</th
          >
          <th class="govuk-table__header transactions-list__stripe-header--amount" scope="col" id="amount-header"
            >Net</th
          >
          <th class="govuk-table__header transactions-list__stripe-header--brand" scope="col" id="brand-header"
            >Card brand</th
          >
          <th class="govuk-table__header transactions-list__stripe-header--state" scope="col" id="state-header"
            >Payment Status</th
          >
          <th class="govuk-table__header transactions-list__stripe-header--date" scope="col" id="time-header">
            Date created
          </th>
        {% else %}
          <th
            class="govuk-table__header transactions-list__worldpay-header--reference"
            scope="col"
            id="reference-header"
            >Reference number</th
          >
          <th class="govuk-table__header transactions-list__worldpay-header--email" scope="col" id="email-header"
            >Email</th
          >
          <th class="govuk-table__header transactions-list__worldpay-header--amount" scope="col" id="amount-header"
            >Amount</th
          >
          <th class="govuk-table__header transactions-list__worldpay-header--brand" scope="col" id="brand-header"
            >Card brand</th
          >
          <th class="govuk-table__header transactions-list__worldpay-header--state" scope="col" id="state-header"
            >Payment Status</th
          >
          <th class="govuk-table__header transactions-list__worldpay-header--date" scope="col" id="time-header">
            Date created
          </th>
        {% endif %}
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for transaction in results.transactions %}
        {% if isStripeAccount %}
          {{ stripeTransactionRow(transaction) }}
        {% else %}
          {{ worldpayTransactionRow(transaction) }}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination-with-count">
    <p data-cy="pagination-detail" class="govuk-body govuk-!-font-size-16">
      {% if pagination.total > 0 %}Showing {{ pagination.startIndex }} to {{ pagination.endIndex }} of{% endif %}
      {{ pagination.total }}
      transactions
    </p>
    <div style="margin: auto">
      {{ govukPagination(pagination | addKey('landmarkLabel', 'Bottom of table pagination')) }}
    </div>
  </div>
{% else %}
  {% if not isInvalidDateRange %}
    {% if (allServicesTimeout) %}
      <p class="govuk-body" id="update-filters-after-timeout">Update the filters and select the Filter button.</p>
    {% else %}
      <p class="govuk-body" id="no-results">There are no results for the filters you used.</p>
    {% endif %}
  {% endif %}
{% endif %}
