<table class="transaction-details">
  <tbody>
    <tr>
      <td>Brand:</td>
      <td id="brand">{{card_brand}}</td>
    </tr>
    <tr>
      <td>Name on card:</td>
      <td id="cardholder_name">{{card_details.cardholder_name}}</td>
    </tr>
    <tr>
      <td>Card number:</td>
      <td id="card_number">**** **** **** {{card_details.last_digits_card_number}}</td>
    </tr>
    <tr>
      <td>Card Expiry Date:</td>
      <td id="card_expiry_date">{{card_details.expiry_date}}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td id="email">{{email}}</td>
    </tr>
  </tbody>
</table>
