{{#refundable}}

<div id="show-refund">
  <form action="/transactions/{{charge_id}}/refund" method="post" class="refund-form">
      <input id="amount-available" type="hidden" name="refund-amount-available-in-pence" value="{{ refund_summary.amount_available }}" />
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <div class="container">
      <h2 class="heading-medium">Refund payment</h2>
      <input id="full-amount" type="hidden" name="full-amount" value="{{ net_amount }}" >

      {{#refunded}}
      <label class="block-label" for="full">
        <input id="full" type="radio" name="refund-type" value="full" checked="checked">
        Remaining amount
        <span class="form-hint">refund the remaining £{{ net_amount }}, ({{refunded_amount}} has already been refunded) </span>
      </label>
      {{/refunded}}

      {{^refunded}}
      <label class="block-label" for="full">
          <input id="full" type="radio" name="refund-type" value="full" checked="checked">
        Full refund
        <span class="form-hint">refund the full amount of {{ amount }}</span>
      </label>
      {{/refunded}}

      <label class="block-label" for="partial">
        <input id="partial" type="radio" name="refund-type" value="partial" id="partial-refund">
        Partial refund
        <span class="form-hint">refund a partial amount</span>
      </label>
      <div class="panel panel-border-wide refund-amount">
       <p>refund amount</p>
       <span class="currency">£</span>
       <input class="form-control refund-amount-input" name="refund-amount" type="number" step="any">
     </div>
     <input type="submit" value="Refund" class="button delete" />
     <a href="#" class="close">cancel</a>
   </div>
 </form>
</div>
{{/refundable}}
