<table class="transaction-details">
  <tbody>
    <tr>
      <td>Reference Number:</td>
      <td id="reference">{{reference}}</td>
    </tr>
    <tr>
      <td>Amount:</td>
      <td id="amount">{{amount}}</td>
    </tr>
    <tr>
      <td>State:</td>
      <td id="state">{{state_friendly}}{{#state.message}} ({{state.code}} - {{state.message}}){{/state.message}}</td>
    </tr>
    <tr>
      <td>Finished:</td>
      <td id="finished">{{#state.finished}}&#10004;{{/state.finished}}{{^state.finished}}&#10006;{{/state.finished}}</td>
    </tr>
    <tr>
      <td>Method:</td>
      <td id="method"></td>
    </tr>
    <tr>
      <td>Provider:</td>
      <td>{{payment_provider}}</td>
    </tr>
    <tr>
      <td>Date created:</td>
      <td>{{updated}}</td>
    </tr>
    <tr>
      <td>Gateway Transaction ID:</td>
      <td id="transaction-id">{{gateway_transaction_id}}</td>
    </tr>
    <tr>
      <td>GOV.UK Pay ID:</td>
      <td id="payment-id">{{charge_id}}</td>
    </tr>
  </tbody>
</table>
