
  {% if hasPageSizeLinks %}
  <div id="displaySize" class="display-size govuk-!-margin-top-3">
    <span>Results per page:</span>
    {% for pageSizeLink in pageSizeLinks %}
    {% if pageSizeLink.active %}
      {{pageSizeLink.name}}
    {% else %}
      <form class="displaySizeForm govuk-!-display-inline-block" method="get" action="{{pageSizeLink.search_path}}" novalidate>
        {% include "transactions/common-hidden-search-fields.njk" %}
        <input type="hidden" name="page" value="1"/>
        <input type="hidden" name="pageSize" value="{{pageSizeLink.value}}"/>

        <button class="pay-button--as-link displaySize govuk-!-font-size-19">{{pageSizeLink.name}}</button>
      </form>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
