<div class="grid-row transactions-filter">
  <form class="form" method="get" action="{{search_path}}">
    <fieldset>
        <div class="column-third reference-number">
          <label class="form-label" for="reference">
            <strong>Reference Number</strong>
            <span class="form-hint">Enter full or partial number</span>
          </label>
          <input class="form-control large" id="reference" name="reference" type="text" value="{{filters.reference}}" autofocus />
        </div>

        <div class="column-third email">
          <label class="form-label" for="email">
            <strong>Email Address</strong>
            <span class="form-hint">Enter full or partial email</span>
          </label>
          <input class="form-control large" id="email" name="email" type="text" value="{{filters.email}}"/>
        </div>
        <div class="column-third">
          <label class="form-label" for="state">
            <strong>State</strong>
            <span class="form-hint">Select an option</span>
          </label>
          <select class="form-control large" id="state" name="state">
            <option value="">Any</option>
            {{#eventStates}}
              <option value="{{key}}" {{#value.selected}} selected {{/value.selected}}>{{value.text}}</option>
            {{/eventStates}}
          </select>
        </div>

      <div class="column-half datetime-pair">
        <label class="form-label" for="fromDate">
          <strong>Date range</strong>
        </label>
        <div class="datetime-filter">
          <div class="date selector">
            <span class="form-hint">Date</span>
            <input class="form-control large date-picker start" id="fromDate" name="fromDate" type="text" value="{{filters.fromDate}}" autocomplete="off">
            <span class="form-hint">eg 25/11/2015</span>
          </div>
          <div class="time selector">
            <span class="form-hint">Time</span>
            <input class="form-control large time-picker start" id="fromTime" name="fromTime" type="text" value="{{filters.fromTime}}" autocomplete="off">
            <span class="form-hint">eg 9:30:00</span>
          </div>
        </div>
        <div class="datetime-seperator">
          to
        </div>
        <div class="datetime-filter">
          <div class="date selector">
            <span class="form-hint">Date</span>
            <input class="form-control large date-picker end" id="toDate" name="toDate" type="text" value="{{filters.toDate}}" autocomplete="off">
            <span class="form-hint">eg 27/11/2015</span>
          </div>
          <div class="time selector">
            <span class="form-hint">Time</span>
            <input class="form-control large time-picker end" id="toTime" name="toTime" type="text" value="{{filters.toTime}}" autocomplete="off">
            <span class="form-hint">eg 15:00:00</span>
          </div>
        </div>
      </div>
      <div class="form-group filter-submit">
        {{#hasFilters}}
        <a href="{{routes.transactions.index}}" class="clear-filter"> Clear Filter </a>
        {{/hasFilters}}
        <input class="button" type="submit" id="filter" value="Filter">
      </div>
    </fieldset>
  </form>
</div>
