<div class="grid-row transactions-filter">
  <form class="form" method="get" action="{{search_path}}">
    <fieldset>
        <div class="column-quarter reference-number">
          <label class="form-label form-label-small" for="reference">
            <strong>Reference number</strong>
            <span class="form-hint">Enter full or partial number</span>
          </label>
          <input class="form-control large" id="reference" name="reference" type="text" value="{{filters.reference}}" autofocus />
        </div>

        <div class="column-quarter email">
          <label class="form-label form-label-small" for="email">
            <strong>Email address</strong>
            <span class="form-hint">Enter full or partial email</span>
          </label>
          <input class="form-control large" id="email" name="email" type="text" value="{{filters.email}}"/>
        </div>

        <div class="column-quarter">
          <label class="form-label form-label-small" for="cardholderName">
            <strong>Name on card</strong>
            <span class="form-hint">Enter full or partial name</span>
          </label>
          <input class="form-control large" id="cardholderName" name="cardholderName" type="text" value="{{filters.cardholderName}}" autofocus />
        </div>

      <div class="column-quarter">
        <label class="form-label form-label-small" for="lastDigitsCardNumber">
          <strong>Last 4 card numbers</strong>
          <span class="form-hint">Last 4 digits of associated card</span>
        </label>
        <input class="form-control large" id="cardholderName" name="lastDigitsCardNumber" type="text" value="{{filters.lastDigitsCardNumber}}" autofocus />
      </div>

        <div class="column-quarter">
          <label class="form-label form-label-small" for="card-brand">
            <strong>Card brand</strong>
            <span class="form-hint">Select a brand</span>
          </label>
          <select class="form-control large" id="card-brand" name="brand" data-enhance-multiple>
            <option value="">All brands</option>
            {% for cardBrand in cardBrands %}
              <option value="{{cardBrand.key}}" {% if cardBrand.value.selected %} selected {% endif %}>{{cardBrand.value.text}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="column-quarter">
          <label class="form-label form-label-small" for="state">
            <strong>Payment status</strong>
            <span class="form-hint">Select an option</span>
          </label>
          <select class="form-control large" id="state" name="state" data-enhance-multiple>
            <option value="">Any</option>
            {% for eventState in eventStates %}
            <option value="{{eventState.key}}" {% if eventState.value.selected %} selected {% endif %}>{{eventState.value.text}}</option>
            {% endfor %}
          </select>
        </div>

      <fieldset class="column-half">
        <legend class="form-label-small">
          Date range
        </legend>
        <fieldset class="datetime-filter datetime-filter-from">
          <legend class="visuallyhidden">
            From this date and time
          </legend>
          <div class="date selector">
            <label class="form-label" for="fromDate">Start date</label>
            <input class="form-control large date-picker start" id="fromDate" name="fromDate" type="text" value="{{filters.fromDate}}" autocomplete="off">
          </div>
          <div class="time selector">
            <label class="form-label" for="fromTime">Start time</label>
            <input class="form-control large time-picker start" id="fromTime" name="fromTime" type="text" value="{{filters.fromTime}}" autocomplete="off">
          </div>
        </fieldset>
        <fieldset class="datetime-filter datetime-filter-to">
          <legend class="datetime-separator">
            to<span class="visuallyhidden"> this date and time</span>
          </legend>
          <div class="date selector">
            <label class="form-label" for="toDate">End date</label>
            <input class="form-control large date-picker end" id="toDate" name="toDate" type="text" value="{{filters.toDate}}" autocomplete="off">
          </div>
          <div class="time selector">
            <label class="form-label" for="toTime">End time</label>
            <input class="form-control large time-picker end" id="toTime" name="toTime" type="text" value="{{filters.toTime}}" autocomplete="off">
          </div>
        </fieldset>
      </fieldset>
      <div class="form-group filter-submit column-full">
        <input class="button" type="submit" id="filter" value="Filter">
        {% if hasFilters %}
        <a href="{{routes.transactions.index}}" class="clear-filter"> Clear Filter </a>
        {% endif %}
      </div>
    </fieldset>
  </form>
</div>
