
<div class="transactions-filter govuk-grid-row">
  <form class="govuk-clearfix" method="get" action="{{search_path}}" novalidate>
    <div class="govuk-grid-column-one-quarter inputs-less-margin">
      {{
        govukInput({
          id: 'reference',
          name: 'reference',
          value: filters.reference,
          classes: 'govuk-!-font-size-16',
          label: {
            text: 'Reference number',
            classes: 'govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-0'
          },
          hint: {
            text: 'Enter full or partial number',
            classes: 'govuk-!-font-size-14'
          }
        })
      }}
    </div>
    <div class="govuk-grid-column-one-quarter inputs-less-margin">
      {{
        govukInput({
          id: 'email',
          name: 'email',
          value: filters.email,
          classes: 'govuk-!-font-size-16',
          label: {
            text: 'Email address',
            classes: 'govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-0'
          },
          hint: {
            text: 'Enter full or partial email',
            classes: 'govuk-!-font-size-14'
          }
        })
      }}
    </div>
    <div class="govuk-grid-column-one-quarter inputs-less-margin">
      {{
        govukInput({
          id: 'cardholderName',
          name: 'cardholderName',
          value: filters.cardholderName,
          classes: 'govuk-!-font-size-16',
          label: {
            text: 'Name on card',
            classes: 'govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-0'
          },
          hint: {
            text: 'Enter full or partial name',
            classes: 'govuk-!-font-size-14'
          }
        })
      }}
    </div>
    <div class="govuk-grid-column-one-quarter inputs-less-margin">
      {{
        govukInput({
          id: 'lastDigitsCardNumber',
          name: 'lastDigitsCardNumber',
          value: filters.lastDigitsCardNumber,
          classes: 'govuk-!-font-size-16',
          label: {
            text: 'Last 4 card numbers',
            classes: 'govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-0'
          },
          hint: {
            text: 'Last 4 digits of associated card',
            classes: 'govuk-!-font-size-14'
          },
          attributes: {
            "autocomplete": "off",
            "inputmode": "numeric",
            "pattern": "[0-9]*",
            "maxlength": "4"
          }
        })
      }}
    </div>
    <div class="govuk-grid-column-one-quarter">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-visually-hidden">
            Card brand
        </legend>
        <fieldset class="govuk-fieldset">
        {{
          govukSelect({
            id: "card-brand",
            name: "brand",
            classes: 'govuk-!-font-size-16',
            label: {
              text: "Card brand",
              classes: 'govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-0'
            },
            hint: {
              text: "Select a brand",
              classes: 'govuk-!-font-size-14'
            },
            attributes: {
              'data-enhance-multiple': true
            },
            items: cardBrands
          })
        }}
        </fieldset>
      </fieldset>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-visually-hidden">
            Payment status
        </legend>
        {{
          govukSelect({
            id: "state",
            name: "state",
            classes: 'govuk-!-font-size-16',
            label: {
              text: "Payment status",
              classes: 'govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-0'
            },
            hint: {
              text: "Select an option",
              classes: 'govuk-!-font-size-14'
            },
            attributes: {
              'data-enhance-multiple': true
            },
            items: eventStates
          })
        }}
        </fieldset>
    </div>
    <div class="govuk-grid-column-one-half">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-display-block">
          Date range
        </legend>
        <fieldset class="govuk-fieldset datetime-filter datetime-filter-from">
          <legend class="govuk-visually-hidden">
            From this date and time
          </legend>
          {{
            govukInput({
              id: 'fromDate',
              name: 'fromDate',
              value: filters.fromDate,
              classes: 'date-picker start govuk-!-font-size-16',
              label: {
                text: 'Start date',
                classes: 'govuk-!-font-size-14 govuk-!-margin-bottom-2'
              },
              attributes: {
                autocomplete: 'off'
              }
            })
          }}
          {{
            govukInput({
              id: 'fromTime',
              name: 'fromTime',
              value: filters.fromTime,
              classes: 'time-picker start govuk-!-font-size-16',
              label: {
                text: 'Start time',
                classes: 'govuk-!-font-size-14 govuk-!-margin-bottom-2'
              },
              attributes: {
                autocomplete: 'off'
              }
            })
          }}
        </fieldset>
        <fieldset class="govuk-fieldset datetime-filter datetime-filter-to">
          <legend class="datetime-separator">
            to<span class="govuk-visually-hidden"> this date and time</span>
          </legend>
          {{
            govukInput({
              id: 'toDate',
              name: 'toDate',
              value: filters.toDate,
              classes: 'date-picker end govuk-!-font-size-16',
              label: {
                text: 'End date',
                classes: 'govuk-!-font-size-14 govuk-!-margin-bottom-2'
              },
              attributes: {
                autocomplete: 'off'
              }
            })
          }}
          {{
            govukInput({
              id: 'toTime',
              name: 'toTime',
              value: filters.toTime,
              classes: 'time-picker end govuk-!-font-size-16',
              label: {
                text: 'End time',
                classes: 'govuk-!-font-size-14 govuk-!-margin-bottom-2'
              },
              attributes: {
                autocomplete: 'off'
              }
            })
          }}
        </fieldset>
      </fieldset>
    </div>
    {% if filters.metadataValue or filters.agreementId %}
      {% set detailsElementOpenHtml = 'open="true"' %}
    {% endif %}
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-one-half">
        <details class="govuk-details" data-module="govuk-details" {{ detailsElementOpenHtml }}>
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Advanced filters
            </span>
          </summary>
          <div class="govuk-details__text">
            {{
              govukInput({
                id: 'metadataValue',
                name: 'metadataValue',
                value: filters.metadataValue,
                classes: 'govuk-!-font-size-16',
                label: {
                  text: 'Search by metadata or reporting column',
                  classes: 'govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-0'
                },
                hint: {
                  text: 'Enter full value',
                  classes: 'govuk-!-font-size-14'
                }
              })
            }}
            {% if currentGatewayAccount.recurring_enabled %}
            {{
              govukInput({
                id: 'agreementId',
                name: 'agreementId',
                value: filters.agreementId,
                classes: 'govuk-!-font-size-16',
                label: {
                  text: 'Search by agreement',
                  classes: 'govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-0'
                },
                hint: {
                  text: 'Enter agreement identifier',
                  classes: 'govuk-!-font-size-14'
                }
              })
            }}
            {% endif %}
          </div>
        </details>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter inputs-less-margin">
      {{
        govukButton({
          text: 'Filter',
          classes: 'govuk-!-width-full',
          attributes: {
            id: "filter"
          }
        })
      }}
    </div>
    <div class="govuk-grid-column-one-quarter inputs-less-margin">
      {% if hasFilters %}
      <a href="{{clearRedirect}}" class="govuk-link govuk-link--no-visited-state clear-filter">Clear filter</a>
      {% endif %}
    </div>
  </form>
</div>
