{% extends "../layout.njk" %}

{% block pageTitle %}
    {% if allServiceTransactions %}
       Transactions for all live services
    {% else %}
       Transactions - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
    {% endif %}
{% endblock %}

{% block classesOnBodyTag %}transactions index {% endblock %}

{% block pageSpecificStyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">
{% endblock %}

{% block pageSpecificJS %}
<script src="/public/js/components/link-follower.js"></script>
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js" integrity="sha384-w48xMCwgWQu0zb3PvQI/rK5lfN6G+lSWu+qI4ukKZg3I5Xx3/VWA8IiaQ8O7tZur" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js" integrity="sha384-VCGGyImXZFrgsDyta1kgBiWdDqK5tFDLLQqkVmrAlMD75liEcrwWyHrlsOgWLpI+" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepair.js/0.4.15/jquery.datepair.min.js" integrity="sha384-n9nOljWGNI/Dtu7uK9ZIbiRrZZT3MhFq452zDmvmNZm1GPu5gGFXTPyHC09dDXis" crossorigin="anonymous"></script>
<script src="/public/js/components/datetime-picker.js"></script>
{% endblock %}

{% block beforeContent %}
  {% if allServiceTransactions %}
    {{
      govukBackLink({
        text: "Back to My services",
        href: routes.serviceSwitcher.index
      })
    }}
  {% else %}
    {% include "includes/phase-banner.njk" %}
  {% endif %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">
    {% if allServiceTransactions %}
       Transactions for all live services
    {% else %}
       Transactions
    {% endif %}
  </h1>
  {% include "transactions/filter.njk" %}

  {% include "transactions/display-size.njk" %}

  <h3 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-top-3" id="total-results">
    {% if totalOverLimit %}
      Over {{maxLimitFormatted}} transactions
    {% else %}
      {{totalFormatted}} transactions
    {% endif %}
    {{ filtersDescription | safe }}
  </h3>

  {% if allServiceTransactions or permissions.transactions_download_read %}

    {% if (hasResults) %}
      {% if (showCsvDownload) %}
          <p id="csv-download" class="govuk-body">
            <a href="{{downloadTransactionLink}}" id="download-transactions-link" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16"> Download all transaction details as a CSV file </a>
          </p>
      {% else %}
          <p id="csv-download" class="govuk-body">
              Filter results to download a CSV of transactions
          </p>
      {% endif %}
    {% endif %}
  {% endif %}

  {% include "transactions/paginator.njk" %}

  {% include "transactions/list.njk" %}

  {% include "transactions/paginator.njk" %}
</div>
{% endblock %}
