{{< layout}}

{{$pageTitle}}
Transactions - {{currentServiceName}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{{/pageTitle}}

{{$classesOnBodyTag}}transactions index{{/classesOnBodyTag}}

{{$pageSpecificStyle}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">
{{/pageSpecificStyle}}

{{$pageSpecificJS}}
<script src="/public/js/components/link-follower.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepair.js/0.4.15/jquery.datepair.min.js"></script>
<script src="/public/js/components/datetime-picker.js"></script>
{{/pageSpecificJS}}

{{$full_width_content}}
<h1 class="heading-large page-title">Transactions</h1>

{{>transactions/filter}}


<div>
<h3 class="heading-small" id="total-results">
  {{total}} transactions
  {{#filters.fromDate}}
    from {{filters.fromDate}}
  {{/filters.fromDate}}
  {{#filters.toDate}}
    to {{filters.toDate}}
  {{/filters.toDate}}
  {{#filters.state}}
    with '{{filters.state }}' state
  {{/filters.state}}
  {{#filters.brand}}
    with '{{filters.brand }}' card brand
  {{/filters.brand}}
</h3>

{{>transactions/display_size}}


{{#hasResults}}
{{#permissions.transactions_download_read}}
<a href="{{downloadTransactionLink}}" id="download-transactions-link" class="push-bottom-sml"> Download a spreadsheet of these transactions </a>
{{/permissions.transactions_download_read}}
{{/hasResults}}
</div>

{{>transactions/paginator}}

{{>transactions/list}}

{{>transactions/paginator}}
{{/full_width_content}}

{{/layout}}
