{{< layout}}

{{$pageTitle}}
GOV.UK Pay - View transactions
{{/pageTitle}}

{{$bodyClasses}}transactions index{{/bodyClasses}}

{{$pageSpecificStyle}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.standalone.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">
{{/pageSpecificStyle}}

{{$pageSpecificJS}}
<script src="/public/js/components/link-follower.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepair.js/0.4.14/jquery.datepair.min.js"></script>
<script src="/public/js/components/datetime-picker.js"></script>
{{/pageSpecificJS}}

{{$content}}
<h1 class="heading-large page-title tuck-bottom">Transactions</h1>
<h2 class="heading-medium pull-top">Filter transactions list</h2>

{{>transactions/filter}}


<h3 class="heading-small" id="total-results">
  {{total}} transactions
  {{#filters.fromDate}}
    from {{filters.fromDate}}
  {{/filters.fromDate}}
  {{#filters.toDate}}
    to {{filters.toDate}}
  {{/filters.toDate}}
  {{#filters.state}}
    with '{{filters.state }}' state
  {{/filters.state}}
</h3>

{{>transactions/paginator}}

{{#hasResults}}
<a href="{{downloadTransactionLink}}" id="download-transactions-link"> Download a spreadsheet of these transactions </a>
{{/hasResults}}

{{>transactions/list}}

{{/content}}

{{/layout}}
