<table id="transactions-list">
  <thead>
    <tr>
      <th id="charge-id-header">GOV.UK Pay ID</th>
      <th id="reference-header">Reference number</th>
      <th id="amount-header">Amount</th>
      <th id="status-header">Status</th>
      <th id="time-header">Date Created</th>
    </tr>
  </thead>
  <tbody>
  {{#results}}
    <tr data-follow-link data-link="/selfservice/transactions/{{charge_id}}">
      <td class="charge-column">
        <a id="charge-id-{{charge_id}}" href="/selfservice/transactions/{{charge_id}}">
          {{charge_id}}
        </a>
      </td>
      <td class="reference" data-gateway-transaction-id="{{gateway_transaction_id}}">
        {{reference}}
      </td>
      <td>{{amount}}</td>
      <td>{{status}}</td>
      <td>{{created}}</td>
    </tr>
  {{/results}}
  </tbody>
</table>
{{^results}}
  <p id="no-results">No results match the search criteria.</p>
{{/results}}
