{% if hasPaginationLinks %}
<div class="pagination">
  {% for paginationLink in paginationLinks %}
    <form class="paginationForm page-{{paginationLink.pageName}}" method="get" action="{{paginationLink.search_path}}" novalidate>
      {% include "transactions/common-hidden-search-fields.njk" %}
      <input type="hidden" name="page" value="{{paginationLink.pageNumber}}"/>
      <input type="hidden" name="pageSize" value="{{filters.pageSize}}"/>

      <button class="pagination {{paginationLink.pageName}} {% if paginationLink.activePage %}active{% endif %} {% if paginationLink.disabled %}govuk-button--disabled {% endif %}" {% if paginationLink.disabled %} disabled="disabled" {% endif %} type="submit">
          <span class="govuk-visually-hidden">Results page </span>{{paginationLink.pageName}}
      </button>
    </form>
  {% endfor %}
</div>
{% endif %}
