{{#hasPaginationLinks}}
<div class="pagination">
	{{#paginationLinks}}
	<form class="paginationForm {{pageName}}" method="get" action="{{search_path}}">
		<div style="display:none">
				<input class="state" name="state" type="text" value="{{filters.state}}"/>
        <input class="reference" name="reference" type="text" value="{{filters.reference}}" />
				<input class="fromDate" name="fromDate" type="text" value="{{filters.fromDate}}" />
	      <input class="toDate" name="toDate" type="text" value="{{filters.toDate}}"/>
	      <input class="page" name="page" type="text" value="{{pageNumber}}"/>
	      <input class="pageSize" name="pageSize" type="text" value="{{filters.pageSize}}"/>
        <input class="fromTime" name="fromTime" type="text" value="{{filters.fromTime}}">
        <input class="toTime" name="toTime" type="text" value="{{filters.toTime}}">
	    </div>
	    <input class="pagination {{pageName}} {{#activePage}}active{{/activePage}}" type="submit" value="{{pageName}}"/>
	</form>
	{{/paginationLinks}}
</div>
{{/hasPaginationLinks}}
