{% extends "../../layout.njk" %}

{% block pageTitle %}
  Your prototype link - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "Back to prototype links",
      href: routes.prototyping.demoService.links,
      attributes: {
        id: "prototyping__links-link-back"
      }
    })
  }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Your prototype link</h1>
  <p class="govuk-body">This link will send the user to our payment pages. Use it in a “pay now” button, for example, to integrate it with your prototype.</p>

  {% set prototypeLink %}
    <p class="govuk-body govuk-!-font-weight-bold"><a class="pay-protototype-link govuk-link" id="prototyping__links-link-create-payment" href="{{prototypeLink}}">{{prototypeLink}}</a></p>
  {% endset %}

  {{
    govukInsetText({
      html: prototypeLink
    })
  }}

  <p class="govuk-body">Links will be saved for as long as you need them in the prototype links tab.</p>

  {{
    govukButton({
      text: "See prototype links",
      href: routes.prototyping.demoService.links,
      attributes: {
        id: "see-prototype-links"
      }
    })
  }}

</div>
{% endblock %}
