{% extends "../../layout.njk" %}

{% block pageTitle %}
  Create a prototype link - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "Back to prototype links",
      href: formatAccountPathsFor(routes.account.prototyping.demoService.links,  currentGatewayAccount.external_id)
    })
  }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Create a prototype link</h1>
  <form method="post" action="{{formatAccountPathsFor(routes.account.prototyping.demoService.confirm,  currentGatewayAccount.external_id)}}" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

    {{
      govukInput({
        name: "payment-description",
        id: "prototyping__links-input-description",
        label: {
          text: "Payment description",
          classes: "govuk-label--s"
        },
        hint: {
          text: "Tell users what they are paying for"
        },
        value: paymentDescription,
        spellcheck: true
      })
    }}

    <div class="currency-input govuk-form-group">
      <label class="govuk-label govuk-label--s" for="payment-amount">
        Payment amount
        <span class="govuk-visually-hidden">in &pound;</span>
      </label>
      <div class="currency-input__inner">
        <span class="currency-input__inner__unit">&pound;</span>
        <input
          class="govuk-input govuk-input--width-10"
          aria-label="Enter amount in pounds"
          name="payment-amount"
          data-non-numeric
          type="text"
          spellcheck="false"
          id="prototyping__links-input-amount"
          {% if paymentAmount %}
            value="{{ paymentAmount | penceToPounds }}"
          {% endif %}
          data-trim
        />
      </div>
    </div>

    {{
      govukInput({
        name: "confirmation-page",
        id: "prototyping__links-input-confirmation-page",
        label: {
          text: "Confirmation page",
          classes: "govuk-label--s"
        },
        hint: {
          text: "Enter the secure URL users will go to after they have completed the test payment"
        },
        type: "url",
        spellcheck: false,
        value: confirmationPage,
        attributes: {
          "data-trim": true
        }
      })
    }}

    {{
      govukButton({
        text: "Create prototype link",
        attributes: {
          id: "prototyping__links-button-create-prototype-link"
        }
      })
    }}
  </form>
</div>
{% endblock %}
