{% extends "../../layout.njk" %}

{% block pageTitle %}
  Test with your users - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "Back to dashboard",
      href: routes.dashboard.index })
    }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Test with your users</h1>
  <p class="govuk-body">Create a reusable link to integrate your service prototype with GOV.UK Pay and test with users.</p>

  {{
    govukButton({
      text: "Create prototype link",
      href: formatAccountPathsFor(routes.account.prototyping.demoService.create,  currentGatewayAccount.external_id),
      attributes: {
        id: "prototyping__links-button-create"
      }
    })
  }}

  <div class="govuk-tabs">
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab {% if not productsTab %}
govuk-tabs__tab--selected{% endif %}" href="{{formatAccountPathsFor(routes.account.prototyping.demoService.index,  currentGatewayAccount.external_id)}}">
          Mock card numbers
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab {% if productsTab %}
govuk-tabs__tab--selected{% endif %}" href="{{formatAccountPathsFor(routes.account.prototyping.demoService.links,  currentGatewayAccount.external_id)}}">
          Prototype links
        </a>
      </li>
    </ul>
  </div>

  {% if not productsTab %}
    <p class="govuk-body">Use this card number to test a successful payment. Don’t use real card numbers.</p>
    {{
      govukInsetText({
        html: '<p class="govuk-!-font-size-24 govuk-!-font-weight-bold">4000<span class="govuk-!-padding-left-3 govuk-!-padding-right-3">0566</span><span class="govuk-!-padding-right-3">5566</span>5556</p>'
      })
    }}
    <p class="govuk-body">
    You can enter any valid value for the other details. For example, it doesn’t matter what expiry date you enter, but it must be in the future.
    </p>
    <p class="govuk-body">You can also use other card types and see errors. <a class="govuk-link" href="https://docs.payments.service.gov.uk/testing_govuk_pay/#mock-card-numbers-for-testing-purposes">See more card types in our documentation</a>.</p>
  {% endif %}

  {% if productsTab %}
    <h2 id="prototyping__links-header" class="govuk-heading-m">
      {% if productsLength === 1 %}
        There is 1 prototype link
      {% elif productsLength > 1 %}
        There are {{productsLength}} prototype links
      {% else %}
        There are no prototype links
      {% endif %}
    </h2>
    <div class="key-list">
      {% for product in products %}
      <div class="key-list-item prototyping__links-list-item">
        <h3 class="govuk-heading-s"><a class="govuk-link" href="{{ product.links.pay.href }}">{{ product.links.pay.href }}</a></h3>
        <dl class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">
          <dt class="govuk-!-display-inline-block">
            Payment description:
          </dt>
          <dd class="govuk-!-display-inline-block govuk-!-font-weight-bold govuk-!-margin-left-0 prototyping__links-list-item-description">
            {{ product.name }}
          </dd>
        </dl>
        <dl class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">
          <dt class="govuk-!-display-inline-block">
            Payment amount:
          </dt>
          <dd class="govuk-!-display-inline-block govuk-!-font-weight-bold govuk-!-margin-left-0 prototyping__links-list-item-amount">
            {{ product.price | penceToPoundsWithCurrency }}
          </dd>
        </dl>
        <dl class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">
          <dt class="govuk-!-display-inline-block">
            Success page:
          </dt>
          <dd class="govuk-!-display-inline-block govuk-!-font-weight-bold govuk-!-margin-left-0 prototyping__links-list-item-success-page">
            {{ product.returnUrl }}
          </dd>
        </dl>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-3"><a class="govuk-link govuk-link--no-visited-state prototyping__links-list-item-delete-link" href="links/disable/{{ product.externalId }}">Delete prototype link</a></p>
      </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}
