{{<layout}}
{{$pageTitle}}
Test with your users - {{currentServiceName}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{{/pageTitle}}

{{$mainContent}}
  <a href="/" class="link-back">Back to dashboard</a>
  <h1 class="heading-large prototyping__heading">Test with your users</h1>
  <p>Create a reusable link to integrate your service prototype with GOV.UK Pay and test with users.</p>
  <a class="button" href="{{createPage}}">Create prototype link</a>

  <ul class="tabs prototyping__tabs">
    {{#productsTab}}
    <li><a href="{{indexPage}}">Mock card numbers</a></li>
    <li class="current">Prototype links</li>
    {{/productsTab}}
    {{^productsTab}}
    <li class="current">Mock card numbers</li>
    <li><a href="{{linksPage}}">Prototype links</a></li>
    {{/productsTab}}
  </ul>

  <div class="tab-content current">
    {{^productsTab}}
      <p>Use this card number to test a successful payment. Don’t use real card numbers.</p>
      <div class="panel panel-border-wide">
        <h2 class="heading-medium"><span class="mock-card-block">4242</span><span class="mock-card-block">4242</span><span class="mock-card-block">4242</span><span class="mock-card-block">4242</span></h2>
      </div>
      <p>
      You can enter any valid value for the other details. For example, it doesn’t matter what expiry date you enter, but it must be in the future.
      </p>
      <p>You can also use other card types and see errors. <a href="https://govukpay-docs.cloudapps.digital/#mock-card-numbers-for-testing-purposes">See more card types in our documentation</a>.</p>
    {{/productsTab}}
    {{#productsTab}}
      <h2 id="{{header}}" class="heading-medium remove-top-margin">
          {{#productsLength}}
          {{#productsSingular}}
          There is 1 {{token_state}} prototype link
          {{/productsSingular}}
          {{^productsSingular}}
          There are {{productsLength}} prototype links
          {{/productsSingular}}
          {{/productsLength}}
          {{^productsLength}}
          There are no prototype links
          {{/productsLength}}
      </h2>
      <div class="key-list prototyping__links-list">
        {{#products}}
        <div class="key-list-item prototyping__links-list-item">
          <h3 class="heading-small"><a href="{{links.pay.href}}">{{links.pay.href}}</a></h3>
          <p>Payment description: <strong>{{name}}</strong> <br/>
          Payment amount: <strong>&pound;{{price}}</strong> <br/>
          {{#returnUrl}}Success page: <strong>{{returnUrl}}</strong></p>{{/returnUrl}}
          <p><a href="links/disable/{{externalId}}">Delete prototype link</a></p>
        </div>
        {{/products}}
      </div>
    {{/productsTab}}
  </div>
{{/mainContent}}
{{/layout}}
