.tabs {
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $border-colour;
}

.tabs {
  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
    text-decoration: none;
  }
}

.tabs li {
  display: inline-block;
  margin-bottom: -1px;
  margin-left: 10px;
  padding: 10px;
  color: $link-colour;
  background: none;
  font-weight: bold;
  cursor: pointer;

  @include media(tablet) {
    padding: 10px 30px;
  }
}

.tabs .current {
  border: 1px solid $border-colour;
  border-bottom: hidden;
  color: $text-colour;
  background-color: $page-colour;
}

.tab-content {
  display: none;
  padding-top: 30px;
}

.tab-content.current {
  display: inherit;
}

.key-list {
  margin-top: 30px;
  list-style: none;
  max-width: 700px;
}

.key-list-item-meta {
  @include core-16;
  margin-bottom: 1em;

  dt {
    font-weight: bold;
  }

  dt,
  dd {
    display: inline;
  }

  p {
    margin: 0 0 $gutter / 3;
  }
}

.key-list-item {
  border-top: 1px solid $grey-2;
  padding: $gutter 0;

  .form-group {
    margin-bottom: $gutter;
    float: none;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.key-list-item-controls {
  a {
    margin-right: $gutter / 2;
  }
}

.copy {
  &-api-key {
    width: 100%;
    outline: 0;
    border: 0;
    @include appearance(none);
  }

  &-button {
    background-color: $panel-colour;
    color: $text-colour;
    margin: $gutter 0;
    @include box-shadow(0 2px 0 $border-colour);

    &:focus,
    &:hover {
      color: $text-colour;
      background-color: darken($panel-colour, 15%);
      @include box-shadow(0 2px 0 darken($border-colour, 15%));
    }
  }
}

.update-key-wrap {
  margin-top: $gutter;
}
