.fullwidth .main-content {
  display: none;
}

.payment-links-list {

  &--item {
    position: relative;
    padding: $gutter * (2 / 3) $gutter * 3 $gutter * (2 / 3) 0;
    border-top: 1px solid $border-colour;

    &:last-of-type {
      border-bottom: 1px solid $border-colour;
    }

    &__title {
      margin-top: 0;
    }

    &__link {
      word-break: break-all;
    }

    &__actions {
      @include core-16;

      margin-top: $gutter / 2;

      &--toggle {
        padding: 5px 15px 5px 0;
      }
    }

    &__status {
      @include core-16

      position: absolute;
      right: 0;
      bottom: $gutter / 2;
      padding: 5px 10px;
      background-color: $panel-colour;
      font-weight: bold;

      @include media(desktop) {
        top: $gutter * (2 / 3);
        bottom: inherit;
      }

      &--draft {
        background-color: $focus-colour;
      }
    }
  }
}

.create-payment-link {
  &-details {
    margin-top: $gutter;

    p {
      margin-bottom: $gutter / 2!important;
    }
  }

  &-link-replay {
    margin-top: $gutter / 2;
  }

  &-screenshot {
    max-width: 100%;
  }
}
