.first-steps {
  &__title {
    margin-bottom: $gutter;
  }

  &__box {
    display: block;
    position: relative;
    width: 100%;

    @include media(tablet) {
      display: flex;
      flex-direction: column;
    }

    a {
      display: block;
      text-decoration: none;
      flex: 1;
    }

    h2 {
      margin-top: 0;
      text-decoration: underline;
    }

    p {
      margin-bottom: 0;
      color: $black;
    }

    @include media(tablet) {
      &.border-bottom {
        margin-bottom: $gutter * 1.5;

        &:after {
          content: "";
          position: absolute;
          bottom: -$gutter;
          height: 1px;
          background-color: $panel-colour;
        }

        &:nth-child(1):after {
          right: 0;
          left: $gutter / 2;
        }

        &:nth-child(2):after {
          right: $gutter / 2;
          left: 0;
        }
      }
    }
  }
}
