ul.tabs {
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $grey-2;
}

.tabs {
  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
    text-decoration: none;
  }
}

ul.tabs li {
  display: inline-block;
  margin-bottom: -1px;
  margin-left: 10px;
  padding: 10px 40px;
  color: $link-colour;
  background: none;
  font-weight: bold;
  cursor: pointer;
}

ul.tabs li.current {
  border: 1px solid $grey-2;
  border-bottom: hidden;
  color: $text-colour;
  background-color: $page-colour;
}

.tab-content {
  display: none;
  padding-top: 30px;
}

.tab-content.current {
  display: inherit;
}

.key-list {
  margin-top: 30px;
}

.key-list-item-meta {
  @include core-16;
  margin-bottom: 1em;

  dt,
  dd {
    display: inline;
  }

  p {
    margin: 0;
  }
}

.key-list-item {
  .form-group {
    margin-bottom: $gutter;
    float: none;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.key-list-item-controls a:last-child {
  margin-left: 1em;
}

// Hide edit options for tokens
.js-enabled .js-edit-description,
.js-enabled .js-revoke-confirmation,
.js-enabled .js-revoke-confirmed {
  display: none;
}
