#displaySize {
  display: inline-block;
  margin-left: $gutter;
  font-size: 14px;

  .displaySizeForm {
    display: inline-block;

    &.small::after {
      content: "|";
    }

    input.displaySize {
      // Remove all decorations to look like normal text
      display: inline-block;
      margin: 0;
      border: 0;
      outline: none;
      outline-offset: 0;
      font: inherit;
      background: none;

      // Additional styles to look like a link
      color: $link-colour;
      line-height: 30px;
      text-transform: capitalize;
      cursor: pointer;

      &.active {
        color: $text-colour;
        cursor: default;
        pointer-events: none;
      }
    }
  }
}
