.feeback-banner {
  border-bottom: $gutter / 3 solid $govuk-blue;

  &--inner {
    margin: $gutter $gutter / 2 0;
    padding: $gutter / 3 $gutter / 2 0;
    background-color: $govuk-blue;

    @include media(tablet) {
      margin: $gutter $gutter 0;
    }
    
  @include media($min-width: (960px + $gutter * 2)) {
      max-width: 960px;
      margin: $gutter auto 0;
    }
  }

  p {
    margin: 0;
  }

  a:link, a:visited {
    color: $white;
  }

}
