.notification {
  @include core-19;
  margin-bottom: $gutter;
  padding: $gutter $gutter / 2;
  border: 5px solid $green;

  h2 {
    margin: 0 0 em(20, 24);
    @include core-24;
    font-weight: bold;

    &:only-child {
      margin-bottom: 0;
    }
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.generic-error {
  border-color: $red;
}

.flash-container {
  .error-summary {
    margin-top: 0;

    ul {
      list-style: none;
    }
  }
}
