.notification {
  margin-top: $gutter;
  padding: $gutter $gutter / 2;
  border: 5px solid $green;
  color: $green;
  font-weight: bold;
  text-align: center;
}

.generic-error {
  border-color: $red;
  color: $red;
}

.error-summary ul {
  list-style: none;
}
