.flex-grid {
  &--row {
    @extend .grid-row;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;

    & + & {
      margin-top: 30px;
    }
  }

  &--heading-group {
    margin: 0 $gutter-half;
    border-top: solid 1px $grey-2;
    flex: 2 100%;

    h2 {
      margin-top: 1.25em;
    }
  }

  &--column-half {
    @extend .column-half;
    margin-bottom: $gutter;

    @include media(tablet) {
      min-width: 50%;
      flex: 0 0 auto;
      flex-basis: 50%;

      &.marked:nth-child(even) {
        border-right: solid 1px $grey-2;
      }
    }
  }

  &--column-third {
    @extend .column-third;
    margin-bottom: $gutter;

    @include media(tablet) {
      flex-basis: 33%;

      &.marked:nth-child(even) {
        border-right: solid 1px $grey-2;
      }
    }
  }
}
