.marked-grid {
  &--row {
    @extend .grid-row;
    display: flex;
    flex-flow: row wrap;

    & + & {
      margin-top: 30px;
    }
  }

  &--heading-group {
    margin: 0 $gutter-half;
    border-top: solid 1px $grey-2;
    flex: 2 100%;

    h2 {
      margin-top: 1.25em;
    }

  }

  &--column-half {
    @extend .column-half;
    flex: 1 100%;

    @include media(tablet) {
      flex: 1;

      &:nth-child(even) {
        border-right: solid 1px $grey-2;
      }
    }
  }
}
