

div.multi-select {
  position: relative;
  @extend %contain-floats;
  width:100%;
}

button.multi-select-title {
  border-radius: 0;
  min-height: 38px;
  background-color: $white;
  text-align: left;
  background-image: url("/public/images/dd-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 4px top 2px;
  -webkit-appearance: none;
  padding-right: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  cursor: pointer;
}

.multi-select-dropdown{
  top: 0;
  left:0;
  background-color: $white;
  z-index:10;
  position: absolute;
  border:2px solid $black;
  width:100%;
  @extend %contain-floats;

  &:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
  }

  .multi-select-dropdown-close-area {
    width:15%;
    top:0;
    right:0;
    position:absolute;
    height: 100%;
    background-image: url("/public/images/dd-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 4px top 2px;
  }

  .multiple-choice {
    width:100%;
    display: block;
    text-align: left;
    cursor: pointer;
    margin: 0;
    label {
      padding: 10px 4px 4px;
      width:100%;
    }
    input {
      z-index: 0;
    }
  }
  .multiple-choice [type=checkbox] + label::before,
  .multiple-choice [type=checkbox] + label::after {
    margin: auto;
    height: 20px;
    width: 20px;
    top: 9px;
    left: 8px;
  }

  .multiple-choice [type=checkbox] + label::after {
    top: 14.5px;
    left: 12px;
    height: 5px;
    width: 13px;
    border-width: 0 0 3px 3px;
  }
}