#pagination {
	margin-bottom: $gutter-half;
	input.pagination {
		/* Remove all decorations to look like normal text */
		background: none;
		display: inline-block;
		font: inherit;
		margin: 0;
		border: none;
		outline: none;
		outline-offset: 0;
		/* Additional styles to look like a link */
		color: $link-colour;
		cursor: pointer;
		text-transform: capitalize;
		padding: 0 $gutter-half;
		line-height: 30px;
	}

	input.pagination.active {
		background-color: $highlight-colour;
	}

	.paginationForm {
		display: inline;
		float: left;
		border: 1px solid $border-colour;
		border-right: none;
		vertical-align: middle;
		color: $link-colour;
		font-size: 12px;
	}

	.paginationForm:last-child {
		border: 1px solid $border-colour;
	}

	.paginationForm:before {
    display: inline-block;
    margin: 0 -12px 0 8px;	
    top: -1px;
    position: relative;
  }

  .paginationForm:after {
    display: inline-block;
    margin: 0 8px 0 -12px;	
    position: relative;
    top: -1px;
  }

	.paginationForm.first:before {
		content:"<<";
	}

	.paginationForm.previous:before {
		content:"<";
	}

	.paginationForm.next:after {
		content:">";
	}

	.paginationForm.last:after {
		content:">>";
	}


	&::after{
    content: "";
    display: block;
    clear: both;
	}
}
