div.pagination {
  margin-bottom: $gutter-half;
  @extend %contain-floats;

  .paginationForm {
    float: left;

    button[type='submit'] {
      background: inherit;
      border: 1px solid $border-colour;
      border-right: none;
      padding: 0.5em 1em;
      vertical-align: middle;
      color: $link-colour;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: $text-colour;
        background-color: $focus-colour;
      }

      &:active {
        color: $link-active-colour;
      }

      &.active {
        background-color: $govuk-blue;
        border-color: $govuk-blue;
        color: $highlight-colour;

        &:active {
          color: $highlight-colour;
        }
      }
    }

    &:last-child button[type='submit'] {
      border: 1px solid $border-colour;
    }

    /* Buttons for the next or previous set or either end of the whole lot */
    &.first button[type='submit']:before {
      content:"\00AB";
      margin-right: 0.25em;
    }

    &.previous button[type='submit']:before {
      content:"\2039";
      margin-right: 0.25em;
    }

    &.next button[type='submit']:after {
      content:"\203A";
      margin-left: 0.25em;
    }

    &.last button[type='submit']:after {
      content:"\00BB";
      margin-left: 0.25em;
    }
  }
}
