#payment-types {
  table {
    max-width: 600px;
    margin-top: 30px;
  }

  .table-header-accept {
    text-align: right;
  }

  .table-data-label {
    img, span {
      float: left;
      margin: $gutter-half 0 $gutter-half 10px;
    }

    span {
      font-size: 16px;
      margin-top: 22px;
      margin-left: $gutter-half;
      width: 50%;

      @include media(tablet) {
        margin-left: $gutter;
        width: auto;
      }
    }
  }

  .table-data-accept {
    font-size: 16px;
    text-align: right;
  }

  .payment-types-not-available {
    .table-data-accept {
      color: $secondary-text-colour;
    }

    .table-data-label {
      color: $secondary-text-colour;
    }
  }

  #payment-types-save-button {
    margin-right: 30px;
  }

  #payment-types-card-brand-selection-form .form-group {
    margin-bottom: 0;
  }

  #payment-types-card-summary {
    margin-bottom: 0;
  }

  #payment-types-card-brand-selection-form .form-group.error {
    margin-bottom: 30px;
  }
}
