input.service_switcher {
  /* Remove all decorations to look like normal text */
  background: none;
  display: inline-block;
  font: inherit;
  margin: 0 0 5px;
  border: none;
  outline: none;
  outline-offset: 0;
  /* Additional styles to look like a link */
  color: $link-colour;
  cursor: pointer;
  text-decoration: underline;
  padding:0;

}

.service-name a {
  @include core-14;
  text-decoration: none;
  padding-left: 10px;


}

.service_list_item {
  margin-top:30px;
}

input.service_switcher.active {
  background-color: $highlight-colour;
}

input.service_switcher::first-letter {
  text-transform: capitalize;
}
