input.service_switcher {
  // Remove all decorations to look like normal text
  display: inline-block;
  margin: 0 0 5px;
  border: 0;
  outline: none;
  outline-offset: 0;
  font: inherit;
  background: none;

  // Additional styles to look like a link
  color: $link-colour;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
}

.service_list_item {
  margin-top:30px;
}

input.service_switcher.active {
  background-color: $highlight-colour;
}

input.service_switcher::first-letter {
  text-transform: capitalize;
}
