.service {
  form {
    display: inline-block;
  }

  &--test {
    display: inline-block;
  }
}

.service-switcher {
  // Remove all decorations to look like normal text link
  @include core-16;

  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  outline-offset: 0;
  color: $link-colour;
  background: none;
  font: inherit;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;

  &::first-letter {
    text-transform: uppercase;
  }

  &.live {
    @include core-19;
    position: relative;
    margin-bottom: $gutter / 2;
    padding-left: 2rem;
    font-weight: bold;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      @include translate(0, -50%);
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      background-color: $green;
    }
  }
}

.switch-divider {
  @include core-16;
  margin: 0 $gutter / 6;
}

.service-name a {
  @include core-14;
  padding-left: 10px;
  text-decoration: none;
}

.service-switcher.active {
  background-color: $highlight-colour;
}

.create-service {
  display: inline-block;
  margin-top: 10px;
}

.service-list {
  margin-bottom: 0;
}
