.transactions-filter {
  padding: 0 15px;

  .form-hint {
    @include core-14;
    color: $black;
  }

  .form-label {
    strong {
      font-weight: bold;
    }
  }

  input {
    font-size: 16px;
  }

  form {
    background: $panel-colour;
  }

  .filter-submit {
    display: block;
    padding-left: $gutter / 2;
    margin-top: $gutter / 2;
    margin-bottom: $gutter / 2;

    @include respond-to-max(860px) {
      margin-top: 0;
      margin-right: 15px;
      padding-right: 0;
    }

    @include respond-to-max(640px) {
      width: 100%;
      margin: 15px 0;
      padding: 0 15px;
    }
  }

  .button {
    padding-top: 5px;
    padding-bottom:1px;
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
    font-size: 19px;

    @include media(tablet) {
      width: calc(25% - 24px);
    }
  }

  legend {
    font-weight: 700;
  }

  .clear-filter {
    @include core-14;
    position: relative;
    top: 4px;

    @include media(tablet) {
      margin-left: $gutter;
    }

  }

  .column-half {
    margin: 15px 0;
  }

  .column-third {
    margin: 15px 0;
  }

  .column-quarter {
    padding-top: 15px;
  }

  .column-half.date-from,
  .column-half.date-to  {
    width:50%;
    float: left;
    @include respond-to-max(mobile) {
      margin-bottom: $gutter-half;
    }
  }

  .datetime-filter {
    width: 100%;

    @include media(tablet) {
      float: left;
    }

    .form-label {
      @include core-14;
      padding-bottom: 7px;
    }

    .selector {
      width:47.5%;
      margin: 0 2.5%;
      float: left;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        float: right;
        margin-right: 0;
      }

    }
  }

  @include media(tablet) {
    .datetime-filter-from {
      width: 45%;
    }
  }

  @include media(tablet) {
    .datetime-filter-to {
      width: 55%;

      .selector {
        width: 42.5%;
      }
    }
  }

  .datetime-separator {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    margin-top: 5px;

    @include media(tablet) {
      margin-top: 34px;
      width: 10%;
      float: left;
      text-align: center;
    }
  }

  .datetime-filter input + .form-hint {
      margin-top: 5px;
  }
}

// bootstrap datepicker overides :s
.datepicker .datepicker-days table tr td.day.focused,
.datepicker .datepicker-days table tr td.day:hover {
    background: $yellow;
}

.datepicker .datepicker-days table tr td.active:active,
.datepicker .datepicker-days table tr td.active.highlighted:active,
.datepicker .datepicker-days table tr td.active.active,
.datepicker .datepicker-days table tr td.active.highlighted.active {
  background: $govuk-blue;
}

.form-label-small {
  font-size: 16px;
}
