.transactions-filter {

  padding: 15px;
  form {
    background: $panel-colour;
  }
  .filter-submit {
    float: right;
    display: block;
    width: auto;
    margin-top: 65px;
    padding-right: 20px;
    width:200px;
    @include respond-to-max(860px) {
      margin-top: 0;
      margin-right: 15px;
      padding-right: 0;
    }
    @include respond-to-max(640px) {
      width: 100%;
      margin: 15px 15px 15px;
    }
  }

  .button {
    padding-top: 5px;
    padding-bottom:1px;
    float: left;
    margin-right: 0;
    width: auto;
    @include respond-to-max(860px) {
      float: right;
    }

  }

  legend {
    font-weight: 700;
  }

  .clear-filter {
    @include core-14;
    float: right;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 4px;

    @include respond-to-max(860px) {
      margin-right: 15px;
    }
  }

  .column-half {

    margin: 15px 0;
  }
  .column-third {

    margin: 15px 0;
  }

  .column-quarter {
    padding-top: 15px;

    @include respond-to-max(1040px) {
      width: 50%;
      margin-bottom: $gutter;
    }
    @include respond-to-max(mobile) {
      width: 100%;
      margin-bottom: $gutter-half;
    }
  }

  .column-half.date-from,
  .column-half.date-to  {
    width:50%;
    float: left;
    @include respond-to-max(mobile) {
      margin-bottom: $gutter-half;
    }
  }

  .datetime-pair {
    width: 80%;
    width: calc(100% - 200px);

    @include respond-to-max(860px) {
      width: 100%;
    }

    @include respond-to-max(mobile) {
      margin-top: 15px;
    }
  }

  .datetime-filter {
    width: 100%;

    @include media(tablet) {
      float: left;
    }

    .form-label {
      @include core-14;
      padding-bottom: 5px;
    }

    .selector {
      width:47.5%;
      margin: 0 2.5%;
      float: left;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        float: right;
        margin-right: 0;
      }

    }
  }

  @include media(tablet) {
    .datetime-filter-from {
      width: 45%;
    }
  }

  @include media(tablet) {
    .datetime-filter-to {
      width: 55%;

      .selector {
        width: 42.5%;
      }
    }
  }

  .datetime-separator {
    text-align: left;
    line-height: 32px;
    font-weight: normal;

    @include media(tablet) {
      width: 10%;
      float: left;
      line-height: 86px;
      text-align: center;
    }
  }

  .datetime-filter input + .form-hint {
      margin-top: 5px;
  }
}

// bootstrap datepicker overides :s
.datepicker .datepicker-days table tr td.day.focused,
.datepicker .datepicker-days table tr td.day:hover {
    background: $yellow;
}
.datepicker .datepicker-days table tr td.active:active,
.datepicker .datepicker-days table tr td.active.highlighted:active,
.datepicker .datepicker-days table tr td.active.active,
.datepicker .datepicker-days table tr td.active.highlighted.active {
  background: $govuk-blue;
}
