.show-refund-button {
  margin: 15px 0;
}

.transaction-details, .transaction-events {
  table-layout: fixed;
  margin-top:30px;
  * {
    @include core-16;
  }

  tr td:first-child {
    width:40%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}


.transaction-events {
  td.amount {
    text-align: left;
    @include core-16($tabular-numbers: true);
  }
}
