.transaction-details,
.transaction-events {
  margin-top: $gutter;
  table-layout: fixed;

  * {
    @include core-16;
  }

  tr td:first-child {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.transaction-events {
  .amount,
  .date {
    text-align: left;
    @include core-16($tabular-numbers: true);
  }
}
