.refund {

  &__toggle-container {
    display: none;

    &.active {
      display: block;
    }
  }

  &__toggle {
    margin: $gutter / 2 0;
  }

  &__form {
    display: none;

    & .form-hint {
      @include core-16;
    }

    &.active {
      display: block;
    }

    .heading-medium {
      margin: $gutter / 2 0;
    }
  }

  &__amount {
    margin-left: $gutter / 2;
  }

  &__submit-button {
    margin: 0 $gutter / 2 $gutter / 2 0;
  }
}

// Target to show/hide without JS
#refundForm:target {
  display: block;
}

// Only hide partial amount if JS is enabled
.js-enabled .refund__amount {
  display: none;

  &.active {
    display: block;
  }
}

// One day `.currency-input` will be part of elements or patterns and tools -  https://github.com/alphagov/temporary-event-notice-prototype/blob/master/app/assets/sass/patterns/currency-input.scss

.currency-input {
  &__inner {
    position: relative;

    .form-control {
      padding: 6px 0 3px 25px;
    }

    &__unit {
      position: absolute;
      bottom: $gutter / 6;
      left: $gutter / 3;
      font-weight: bold;
    }
  }
}
