#transactions-list {
  margin-bottom: 15px;
  border-collapse: collapse;
  tr:hover {
    background: $grey-4;
    cursor: pointer;
  }

  td {
    @include core-14;
  }

  @at-root body.js-enabled #transactions-list {
    .charge-column,
    #charge-id-header {
      // display: none;
    }
  }
}
