#show-refund {
  display: none;

  &:target,
  &.shown {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background: rgba(0, 0, 0, .2);
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 460px;
    margin-top: -250px;
    margin-left: -200px;
    padding: 15px;
    background: $page-colour;
  }

  .heading-medium {
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid $text-colour;
    text-align: center;
  }

  .panel {
    padding-top: 0;
  }

  .block-label {
    min-width: 300px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .block-label input[type="radio"] {
    top: 32px;
    width: auto;
    height: auto;
    outline-offset: 5px;
  }

  .block-label .form-hint {
    font-size: 14px;
    font-weight: normal;
  }

  .refund-amount {
    visibility: hidden;
    margin-bottom: 15px;
    transition: .1;
    opacity: 0;
    pointer-events: none;
  }

  body:not(.js-enabled) & .refund-amount,
  .refund-amount.shown {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  .refund-amount p {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .refund-amount .currency {
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .close {
    padding-left: 15px;
    color: $link-colour;
    line-height: 40px;
    text-decoration: none;
  }

  .close:visited {
    color: $link-colour;
  }
}
