{% extends "../../settings-layout.njk" %}

{% block settingsPageTitle %}
  Stripe details - Responsible person
{% endblock %}

{% block settingsContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
  <h1 class="govuk-heading-l">Responsible person</h1>
{% endblock %}
