{% extends "./index.njk" %}

{% block page_content %}
  <form method="post">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {{
      govukCheckboxes({
        idPrefix: "debit",
        name: "debit",
        classes: "with-border govuk-!-padding-top-3 pay-!-border-top",
        fieldset: {
          legend: {
            text: "Debit cards",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: debitCards
      })
    }}

    {{
      govukCheckboxes({
        idPrefix: "credit",
        name: "credit",
        classes: "with-border govuk-!-padding-top-3 pay-!-border-top",
        fieldset: {
          legend: {
            text: "Credit cards",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: creditCards
      })
    }}

    {{
      govukButton({
        text: 'Save changes',
        attributes: {
          id: "save-card-types"
        }
      })
    }}
  </form>
{% endblock %}
