{% extends "layout-with-side-nav.njk" %}

{% block pageTitle %}
  Manage payment types - {{currentService.name}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
  {% if not permissions.payment_types_update %}
    {% include "includes/settings-read-only.njk" %}
  {% endif %}

  <h1 class="govuk-heading-l page-title">Manage payment types</h1>

  <p class="govuk-body">Choose which credit and debit cards you want to accept.</p>

  <div id="payment-types">
    {% block page_content %}
    {% endblock %}
  </div>
{% endblock %}
