{% extends "layout.njk" %}

{% block pageTitle %}
  Manage payment types - {{currentService.name}} - GOV.UK Pay
{% endblock %}

{% block sideNavigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if not permissions.payment_types_update %}
    {% include "includes/settings-read-only.njk" %}
  {% endif %}

  <h1 class="govuk-heading-l page-title">Manage payment types</h1>

  <p class="govuk-body">Choose which credit and debit cards you want to accept.</p>

  <div id="payment-types">
    {% block page_content %}
    {% endblock %}
  </div>
</div>
{% endblock %}
