{% extends "./layout.njk" %}

{% block pageTitle %}
  Page not found - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">Sorry the page you requested was not found</p>
    <p class="govuk-body">Maybe try one of these:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://www.payments.service.gov.uk/">The GOV.UK Pay home page</a></li>
      <li><a class="govuk-link" href="https://www.payments.service.gov.uk/getstarted/">Get started</a></li>
      <li><a class="govuk-link" href="https://www.payments.service.gov.uk/support/">Support</a></li>
    </ul>
  </div>
{% endblock %}
