{% extends "layout.njk" %}

{% block page_title %}
  Account credentials - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="column-two-thirds">
  <h1 class="page-title">Account credentials</h1>

  {% block provider_content %}
  {% endblock %}
</div>
{% endblock %}
