{% extends "layout.njk" %}

{% block page_title %}
  Account credentials - {{currentServiceName}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <h1 class="page-title">Account credentials</h1>

  {% block provider_content %}
  {% endblock %}
{% endblock %}
