{% extends "./layout_logged_out.njk" %}

{% block page_title %}
An error occurred - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <h1 class="page-title">An error occurred:</h1>
  <div id="errorMsg">{{message}}</div>
{% endblock %}
