{{< layout}}

{{$pageTitle}}
An error occurred - GOV.UK Pay
{{/pageTitle}}

{{$pageSpecificJS}}
<script src="/public/js/components/link-follower.js"></script>
{{/pageSpecificJS}}

{{$mainClasses}}full-width{{/mainClasses}}
{{$full_width_content}}

<div class="column-two-thirds">
    <h1 class="heading-large" id="error-title">{{error.title}}</h1>

    <p id="error-message">{{error.message}}</p>

    {{#enable_link}}
    <a class="lede" href="{{link.link}}" id="back-link">{{link.text}}</a>
    {{/enable_link}}
</div>

{{/full_width_content}}

{{/layout}}
