{{< layout}}

{{$pageTitle}}
GOV.UK Pay - Change service name
{{/pageTitle}}

{{$mainContent}}

<h1 class="page-title">GOV.UK Pay - Change service name</h1>

{{^editMode}}
{{#permissions.service_name_read}}
<h2 class="heading-medium remove-top-margin">Current service name</h2>

<p>As it appears on the user facing payment screens</p>

<div class="panel panel-border-wide">
    <p class="lede" id="service-name">{{serviceName}}</p>
</div>
{{/permissions.service_name_read}}
{{#permissions.service_name_update}}
<a id="service-name-change-link" class="button" href="{{routes.gatewayAccountName.edit}}">
Change service name
</a>
{{/permissions.service_name_update}}
{{/editMode}}

{{#permissions.service_name_update}}
{{#editMode}}
<form id="service-name-form" method="post" action="{{routes.gatewayAccountName.save}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <div class="form-group">
        <label class="form-label-bold" for="gateway-account-name-input">
            Enter new service name

            <span class="form-hint">The service name can't be more than 50 characters.</span>
        </label>
        <input id="gateway-account-name-input" class="form-control" name="gateway-account-name-input" type="text" value="{{serviceName}}" maxlength="50">
    </div>
    <div class="form-group">
        <input id="gateway-account-name-save-button" name="gateway-account-name-save-button" type="submit" class="button" value="Save service name">
    </div>
    <a id="gateway-account-name-cancel-link" href="{{routes.gatewayAccountName.index}}">
        Cancel
    </a>
</form>
{{/editMode}}
{{/permissions.service_name_update}}

{{/mainContent}}

{{/layout}}
