{{< govuk_template}}
    {{$pageTitle}}GOV.UK Pay{{/pageTitle}}

    {{$head}}
      {{>includes/head}}
      {{$pageSpecificStyle}}
      {{/pageSpecificStyle}}
    {{/head}}

    {{$propositionHeader}}
      {{>includes/propositional_navigation}}
    {{/propositionHeader}}

    {{$headerClass}}with-proposition{{/headerClass}}
    {{$bodyClasses}}{{$classesOnBodyTag}}{{/classesOnBodyTag}} {{#currentGatewayAccount}}env-{{currentGatewayAccount.type}}{{/currentGatewayAccount}}{{/bodyClasses}}

    {{$homepageUrl}}/{{/homepageUrl}}
    {{$globalHeaderText}}GOV.UK <span>Pay <strong class="phase-tag">Beta</strong></span>{{/globalHeaderText}}

    {{$cookieMessage}}
      <p>GOV.UK Pay uses cookies to make the site simpler. <a href="https://www.payments.service.gov.uk/cookies/">Find out more about cookies</a></p>
    {{/cookieMessage}}

    {{$content}}
        {{^hideServiceHeader}}
        {{> includes/phase_banner }}
        {{/hideServiceHeader}}

        <main id="content" role="main" class="{{$mainClasses}}{{/mainClasses}}">
            {{>includes/flash}}
            {{$full_width_content}}{{/full_width_content}}
            <div class="grid-row">
              {{#showSettingsNav}}
                  {{> includes/side_navigation }}
              {{/showSettingsNav}}
              <div class="column-two-thirds">
                  {{$mainContent}}{{/mainContent}}
              </div>
            </div>
        </main>
    {{/content}}

    {{$footerTop}}
      {{>includes/footer-categories}}
    {{/footerTop}}

    {{$footerSupportLinks}}
    <nav class="footer-nav">
      <ul>
        <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></li>
        <li><a href="https://www.payments.service.gov.uk/cookies/">Cookies</a></li>
      </ul>
    </nav>
    {{/footerSupportLinks}}

    {{$licenceMessage}}
      {{>includes/license-message}}
    {{/licenceMessage}}

    {{$crownCopyrightMessage}}
      {{>includes/crown-copyright}}
    {{/crownCopyrightMessage}}

    {{$bodyEnd}}
      {{>includes/scripts}}
      {{$pageSpecificJS}}
      {{/pageSpecificJS}}
    {{/bodyEnd}}
{{/govuk_template}}
