{% extends "./layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <aside class="govuk-grid-column-one-third">
      {% block side_navigation %}{% endblock %}
    </aside>
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/flash.njk" %}
      {% block mainContent %}{% endblock %}
    </div>
  </div>
{% endblock %}