{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block page_title %}GOV.UK Pay Self Service{% endblock %}

{% block head %}
  {% include "includes/head.njk" %}
  {% block pageSpecificStyle %}
  {% endblock %}
{% endblock %}

{% block header %}
  {% include "includes/header.njk" %}
{% endblock %}

{% block bodyStart %}
  {% include "includes/cookie-message.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/flash.njk" %}
      {% block mainContent %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.njk" %}
  {% block pageSpecificJS %}
  {% endblock %}
{% endblock %}
