{{< govuk_template}}
    {{$pageTitle}}GOV.UK Pay Self Service{{/pageTitle}}

    {{$head}}
      {{>includes/head}}
      {{$pageSpecificStyle}}
      {{/pageSpecificStyle}}
    {{/head}}

    {{$propositionHeader}}
      {{>includes/propositional_navigation}}
    {{/propositionHeader}}

    {{$headerClass}}with-proposition{{/headerClass}}
    {{$bodyClasses}}{{$classesOnBodyTag}}{{/classesOnBodyTag}} {{#currentGatewayAccount}}env-{{currentGatewayAccount.type}}{{/currentGatewayAccount}}{{/bodyClasses}}

    {{$homepageUrl}}/{{/homepageUrl}}
    {{$globalHeaderText}}GOV.UK Pay{{/globalHeaderText}}

    {{$content}}
        {{>includes/flash}}
        {{#navigation}}
            {{> includes/phase_banner }}
        {{/navigation}}
        <main id="content" role="main" class="{{$mainClasses}}{{/mainClasses}}">
            {{$full_width_content}}{{/full_width_content}}
            {{#navigation}}
                {{> includes/side_navigation }}
            {{/navigation}}
            <div class="main-content">
                <div class="inner">
                    {{$mainContent}}{{/mainContent}}
                </div>
            </div>
        </main>
    {{/content}}

    {{$bodyEnd}}
      {{>includes/scripts}}
      {{$pageSpecificJS}}
      {{/pageSpecificJS}}
    {{/bodyEnd}}
{{/govuk_template}}
