{{< govuk_template}}
    {{$pageTitle}}GOV.UK Pay{{/pageTitle}}

    {{$head}}
      {{>includes/head}}
      {{$pageSpecificStyle}}
      {{/pageSpecificStyle}}
    {{/head}}

    {{$propositionHeader}}
      {{>includes/propositional_navigation}}
    {{/propositionHeader}}

    {{$headerClass}}with-proposition{{/headerClass}}
    {{$bodyClasses}}{{$classesOnBodyTag}}{{/classesOnBodyTag}} {{#currentGatewayAccount}}env-{{currentGatewayAccount.type}}{{/currentGatewayAccount}}{{/bodyClasses}}

    {{$homepageUrl}}/{{/homepageUrl}}
    {{$globalHeaderText}}GOV.UK <span>Pay</span>{{/globalHeaderText}}

    {{$content}}
        {{>includes/flash}}
        {{^hideServiceHeader}}
        {{> includes/phase_banner }}
        {{/hideServiceHeader}}

        <main id="content" role="main" class="{{$mainClasses}}{{/mainClasses}}">
            {{$full_width_content}}{{/full_width_content}}
            {{#showSettingsNav}}
                {{> includes/side_navigation }}
            {{/showSettingsNav}}
            <div class="main-content">
                <div class="inner">
                    {{$mainContent}}{{/mainContent}}
                </div>
            </div>
        </main>
    {{/content}}

    {{$footerTop}}
      {{>includes/footer-categories}}
    {{/footerTop}}

    {{$licenceMessage}}
      {{>includes/license-message}}
    {{/licenceMessage}}

    {{$crownCopyrightMessage}}
      {{>includes/crown-copyright}}
    {{/crownCopyrightMessage}}

    {{$bodyEnd}}
      {{>includes/scripts}}
      {{$pageSpecificJS}}
      {{/pageSpecificJS}}
    {{/bodyEnd}}
{{/govuk_template}}
