{{< govuk_template}}

    {{$pageTitle}}GOV.UK Pay Self Service{{/pageTitle}}

    {{$homepageUrl}}https://www.payments.service.gov.uk/{{/homepageUrl}}
    {{$globalHeaderText}}GOV.UK <span>Pay <strong class="phase-tag">Beta</strong></span>{{/globalHeaderText}}

    {{$propositionHeader}}
      {{>includes/propositional_navigation_logged_out}}
    {{/propositionHeader}}
    {{$headerClass}}with-proposition{{/headerClass}}

    {{$head}}
      {{>includes/head}}
      {{$pageSpecificStyle}}
      {{/pageSpecificStyle}}
    {{/head}}

    {{$cookieMessage}}
      <p>GOV.UK Pay uses cookies to make the site simpler. <a href="https://www.payments.service.gov.uk/cookies/">Find out more about cookies</a></p>
    {{/cookieMessage}}

    {{$content}}
        {{>includes/flash}}
        <main id="content" role="main" class="{{$mainClasses}}{{/mainClasses}}">
          <div class="main-content">
            <div class="grid-row">
              {{$mainContent}}{{/mainContent}}
            </div>
          </div>
        </main>
    {{/content}}

    {{$footerTop}}
      {{>includes/footer-categories}}
    {{/footerTop}}

    {{$footerSupportLinks}}
    <nav class="footer-nav">
      <ul>
        <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></li>
        <li><a href="https://www.payments.service.gov.uk/cookies/">Cookies</a></li>
      </ul>
    </nav>
    {{/footerSupportLinks}}

    {{$licenceMessage}}
      {{>includes/license-message}}
    {{/licenceMessage}}

    {{$crownCopyrightMessage}}
      {{>includes/crown-copyright}}
    {{/crownCopyrightMessage}}

    {{$bodyEnd}}
      {{>includes/scripts}}
      {{$pageSpecificJS}}
      {{/pageSpecificJS}}
    {{/bodyEnd}}

{{/govuk_template}}
