{% extends "template.njk" %}
{% from "components/file-upload/macro.njk" import govukFileUpload %}

{% set loggedIn = true %}
{% set accountType = currentGatewayAccount.type %}

{% block pageTitle %}GOV.UK Pay{% endblock %}

{% block head %}
  {% include "includes/head.njk" %}
  {% block pageSpecificStyle %}
  {% endblock %}
{% endblock %}

{% block bodyStart %}
  {% include "includes/cookie-message.njk" %}
{% endblock %}

{% block header %}
  {% include "includes/header.njk" %}
{% endblock %}

{% block content %}
  {% if not hideServiceHeader %}
    {% include "includes/phase_banner.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
    {% block side_navigation %}{% endblock %}
      {% include "includes/flash.njk" %}
    {% block mainContent %}{% endblock %}
  </div>
{% endblock %}

{% block footer %}
  {% if not hideFeedbackBanner %}
    {% include "includes/feedback-banner.njk" %}
  {% endif %}
  {% include "includes/footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.njk" %}
  {% block pageSpecificJS %}
  {% endblock %}
{% endblock %}
