{{< payment_types}}

{{$pageTitle}}
Payment types - {{currentServiceName}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{{/pageTitle}}

{{$page_content}}
{{#permissions.payment_types_read}}
<div id="payment-types-card-summary" class="form-group">
    <div class="panel panel-border-wide">
        {{#isAcceptedTypeAll}}
        <p id="payment-types-accept-all-types-message">Debit and credit cards are currently accepted</p>
        {{/isAcceptedTypeAll}}
        {{#isAcceptedTypeDebit}}
        <p id="payment-types-accept-debit-types-message">Debit cards only accepted</p>
        {{/isAcceptedTypeDebit}}
    </div>
    <table>
        <thead>
        <tr>
            <th>Card brand</th>
            <th class="table-header-accept">Accepted</th>
        </tr>
        </thead>
        <tbody>
        {{#brands}}
            {{#available}}
                <tr id="{{id}}">
            {{/available}}
            {{^available}}
                <tr id="{{id}}" class="payment-types-not-available">
            {{/available}}
                <td class="table-data-label">
                    {{#available}}<img src="/public/images/{{value}}-color.png" alt="" height="34" width="50" />{{/available}}
                    {{^available}}<img src="/public/images/{{value}}-bw.png" alt="" height="34" width="50" />{{/available}}
                    <span class="payment-types-label {{value}}">{{label}}</span>
                </td>
                <td class="table-data-accept">
                    {{#available}}
                        {{#selected}}
                            <span class="payment-types-selected">Yes</span>
                        {{/selected}}

                        {{^selected}}
                            <span class="payment-types-not-selected">No</span>
                        {{/selected}}
                    {{/available}}

                    {{^available}}
                        <span>{{{unavailabilityReason}}}</span>
                    {{/available}}
                </td>
            </tr>
        {{/brands}}
        </tbody>
    </table>
</div>
<a id="payment-types-manage-button" href="{{routes.paymentTypes.selectType}}" class="button">
    Manage
</a>

{{/permissions.payment_types_read}}
{{/page_content}}

{{/payment_types}}
