{{< payment_types}}

{{$page_content}}

<form id="payment-types-card-type-selection-form" method="post" action="{{routes.paymentTypes.index}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    <h2 class="heading-small">What card types do you want to accept?</h2>
    <div class="form-group">
        <fieldset>
            <legend class="visuallyhidden">What card types do you want to accept?</legend>

            <label class="block-label" for="payment-types-all-type">
                <input id="payment-types-all-type" type="radio" name="payment-types-card-type" value="{{allCardOption.type}}" {{allCardOption.selected}}>
                Debit and credit cards
            </label>
            <label class="block-label" for="payment-types-debit-type">
                <input id="payment-types-debit-type" type="radio" name="payment-types-card-type" value="{{debitCardOption.type}}" {{debitCardOption.selected}}>
                Debit cards only
            </label>
        </fieldset>
    </div>
    <input id="payment-types-continue-button" name="payment-types-continue-button" type="submit" class="button" value="Continue">
</form>

{{/page_content}}

{{/payment_types}}
