{% extends "layout.njk" %}

{% block page_title %}
Card Types - GOV.UK Pay
{% endblock %}

{% block pageSpecificJS %}
  <script src="/public/js/components/checkbox-row-selection.js"></script>
{% endblock %}

{% block side_navigation %}
  {% include "includes/side_navigation.njk" %}
{% endblock %}

{% block mainContent %}
<div class="column-two-thirds">
  {% if not permissions.payment_types_update %}
    {% include "includes/settings-read-only.njk" %}
  {% endif %}

  <h1 class="page-title">Card Types</h1>

  {% if permissions.payment_types_update %}
  <h2 class="heading-medium remove-top-margin">Manage accepted cards</h2>
  {% endif %}

  <div id="payment-types">
    {% block page_content %}
    {% endblock %}
  </div>
</div>
{% endblock %}
