{{< govuk_template}}

{{$pageTitle}}GOV.UK Pay Self Service{{/pageTitle}}
{{$homepageUrl}}/{{/homepageUrl}}
{{$globalHeaderText}}GOV.UK Pay{{/globalHeaderText}}

{{$insideHeader}}
  {{#showLogout}}
  <a href="/logout" title="Log me out" id="logout" class="content logout">Log Out</a>
  {{/showLogout}}
{{/insideHeader}}

{{$afterHeader}}
  {{#flash.genericError}}
    <p class="generic-error"> {{flash.genericError}} </p>
  {{/flash.genericError}}
  {{#flash.generic}}
    <p class="generic-flash">{{flash.generic}}</p>
  {{/flash.generic}}
  {{$globalBanner}}{{/globalBanner}}
{{/afterHeader}}

{{$content}}
<main id="content" role="main">
  <div class="main-content">
    <div class="inner">
      {{$mainContent}}{{/mainContent}}
    </div>
  </div>
</main>
{{/content}}

{{/govuk_template}}
