{{< layout}}

{{$pageTitle}}
GOV.UK Pay - API keys
{{/pageTitle}}

{{$pageSpecificJS}}
<script src="/public/js/devtokens.js"></script>
{{/pageSpecificJS}}

{{$content}}

<h1 class="page-title">API Keys</h1>
<ul class="tabs">
  {{#active}}
  <li class="current"><a href="{{ routes.devTokens.index }}">Active keys</a></li>
  <li><a href="{{ routes.devTokens.revoked }}">Revoked keys</a></li>
  {{/active}}
  {{^active}}
  <li><a href="{{ routes.devTokens.index }}">Active keys</a></li>
  <li class="current"><a href="{{ routes.devTokens.revoked }}">Revoked keys</a></li>
  {{/active}}
</ul>

{{>includes/_token_list}}

{{/content}}

{{/layout}}
