{{< layout}}

{{$pageTitle}}
Generate developer tokens
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

    <h1>Generate developer tokens for account '{{account_id}}'</h1>

    {{^tokens.length}}
        <h2>There are no active developer keys</h2>
    {{/tokens.length}}

    {{#tokens.length}}
        <h2>There are {{tokens.length}} active developer key(s)</h2>
        <h3>Active keys</h3>
        <hr />

        <table id="tokensTable" style="width:100%">
            {{#tokens}}
            <tr id="{{token_id}}-id">
                <td id="{{token_id}}-description">{{description}}</td>
                <td>REVOKE</td>
            </tr>
            {{/tokens}}
        </table>
    {{/tokens.length}}

    <a id="generateLink" href="/tokens/generate/{{account_id}}">
        <input id="generateButton" type="button" value="Generate a new key" />
    </a>

</main>

{{/content}}

{{/layout}}
