{{<layout}}

{{$pageTitle}}
View transactions
{{/pageTitle}}

{{$content}}

<table id="transaction-list">
  <thead>
    <tr>
      <th id="charge-id-header">Charge ID</th>
      <th id="transaction-id-header">Gateway transaction ID</th>
      <th id="amount-header">Amount (£)</th>
      <th id="status-header">Status</th>
    </tr>
  </thead>
  <tbody>
  {{#results}}
    <tr>
      <td>{{charge_id}}</td>
      <td>{{gateway_transaction_id}}</td>
      <td>{{amount}}</td>
      <td>{{status}}</td>
    </tr>
  {{/results}}
  </tbody>
</table>

{{/content}}

{{/layout}}
