{% extends "../settings-layout.njk" %}

{% block settingsPageTitle %}
  Team members - Change permission
{% endblock %}

{% block settingsContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
<div>
  <form method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <input type="hidden" name="userCurrentRoleName" value="{{ userCurrentRoleName }}"

    {% set roleItems = [] %}
    {% set roleDisplayOrder = ['admin', 'view-refund-and-initiate-moto', 'view-and-refund', 'view-and-initiate-moto', 'view-only'] %}
    {% for roleName in roleDisplayOrder %}
      {% if availableRoles[roleName] %}
        {% set roleItem = {
          value: roleName,
          id: "role-" + roleName + "-input",
          html: "<label class=\"govuk-!-font-weight-bold\">" + availableRoles[roleName].description + "</label>",
          hint: { text: availableRoles[roleName].explanation },
          checked: userCurrentRoleName === roleName
        } %}
        {% set roleItems = (roleItems.push(roleItem), roleItems) %}
      {% endif %}
    {% endfor %}

    {{ govukRadios({
      idPrefix: "newRole",
      name: "newRole",
      fieldset: {
        legend: {
          text: "Change permission for " + email,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: roleItems
    }) }}
    {{
    govukButton({
      text: "Save changes"
    })
    }}

  </form>
</div>
{% endblock %}
