{% extends "../settings-layout.njk" %}

{% block settingsPageTitle %}
  Team members - Change permission
{% endblock %}

{% block settingsContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}

  <form method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <input type="hidden" name="email" value="{{ email }}" />

    {% set roleItems = [] %}
    {% for role in availableRoles %}
      {% set roleItem = {
        value: role.name,
        id: "role-" + role.name + "-input",
        html: "<label class=\"govuk-!-font-weight-bold\">" + role.description + "</label>",
        hint: { text: role.explanation },
        checked: userCurrentRoleName === role.name
      } %}
      {% set roleItems = (roleItems.push(roleItem), roleItems) %}
    {% endfor %}

    {{ govukRadios({
      idPrefix: "changePermission",
      name: "changePermission",
      fieldset: {
        legend: {
          text: "Change permission for " + email,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: roleItems
    }) }}
    {{
    govukButton({
      text: "Save changes"
    })
    }}

  </form>

{% endblock %}
