{% extends "../settings-layout.njk" %}

{% macro teamMemberEmail(email, isCurrent, isServiceAdmin) %}
  <p class="govuk-body">{{email}}{% if isCurrent %} (you){% endif %}</p>
{% endmacro %}

{% block settingsPageTitle %}
  Settings - Team members
{% endblock %}

{% block settingsContent %}
    <h1 class="govuk-heading-l">Team members</h1>
    {% if isServiceAdmin %}
      <p class="govuk-body govuk-!-margin-bottom-6">Team member changes affect both live and test environments.</p>
    {% else %}
      <p class="govuk-body govuk-!-margin-bottom-6">Contact an administrator to invite team members and change permissions.</p>
    {% endif %}

    {% if isServiceAdmin %}
      {{
      govukButton({
        text: "Invite a team member",
        href: inviteTeamMemberLink,
        attributes: {
          id: "invite-team-member-link"
        }
      })
      }}
    {% endif %}

  {% for role, roleDetails in roles %}
      {% if teamMembers[role].length %}
          <h3 id="{{ role }}-role-header" class="govuk-heading-m">
            {{ roleDetails.description }} <span class="govuk-!-font-weight-regular pay-text-grey">({{ teamMembers[role].length }})</span>
          </h3>
          {% for member in teamMembers[role] %}
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                  text: "Email address",
                  classes: "govuk-!-display-none"
                },
                  value: {
                  html: teamMemberEmail(member.email, member.isCurrent)
                },
                  actions: {
                  items: [
                    { href: member.removeLink, text: "View", classes: "govuk-link--no-visited-state" }
                  ] if member.isCurrent else
                  [
                  { href: member.changePermissionLink, text: "Change permission", classes: "govuk-link--no-visited-state" } if member.changePermissionLink and isServiceAdmin,
                  { href: member.removeLink, text: "Remove", classes: "govuk-link--no-visited-state" } if member.removeLink and isServiceAdmin
              ]
            }
              }
              ]
              }) }}
          {% endfor %}
      {% endif %}
  {% endfor %}


  {% if numberInvitedMembers > 0 %}
    <h2 id="invited-team-members-heading" class="govuk-heading-m">
      Invited <span class="govuk-!-font-weight-regular pay-text-grey">({{numberInvitedMembers}})</span>
    </h2>
    {% for role, roleDetails in roles %}
      {% if role in invitedTeamMembers %}
        {% if invitedTeamMembers[role].length %}
            <h3 id="invited-team-members-{{ role }}-role-header" class="govuk-heading-s">{{ roleDetails.description }} <span class="govuk-!-font-weight-regular pay-text-grey">({{invitedTeamMembers[role].length}})</span></h3>
              {% for invitedMember in invitedTeamMembers[role] %}
                {{ govukSummaryList({
                  rows: [
                    {
                      key: {
                      text: "Email address",
                      classes: "govuk-!-display-none"
                      },
                        value: {
                        html: invitedMember.email
                      }
                    }
                  ]
                  }) }}
              {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
