{% extends "../../../layout.njk" %}

{% block pageTitle %}
  Settings - Team members
{% endblock %}

{% block sideNavigation %}
  {% include "../_settings-navigation.njk" %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-three-quarters">
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}

    <form method="post" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

      {{ govukRadios({
        idPrefix: "confirmRemoveUser",
        name: "confirmRemoveUser",
        fieldset: {
          legend: {
            text: "Are you sure you want to remove " + email + "?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "They will no longer have access to this service."
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            attributes: {'data-cy': 'yes-radio'}
          },
          {
            value: "no",
            text: "No",
            attributes: {'data-cy': 'no-radio'}
          }
        ]
      }) }}
      {{
      govukButton({
        text: "Save changes"
      })
      }}
    </form>
  </div>
{% endblock %}
