{% extends "../../../layout.njk" %}

{% block pageTitle %}
  Settings - Team members
{% endblock %}

{% block sideNavigation %}
  {% include "../_settings-navigation.njk" %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-three-quarters">
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}

    <h1 class="govuk-heading-l">Are you sure you want to remove {{ email }}?</h1>
    <p class="govuk-body govuk-!-margin-bottom-6 admin-lede">They will no longer have access to this service.</p>
  </div>
{% endblock %}
