{{<layout}}
{{$pageTitle}}
Mock card numbers for demo payment - {{currentServiceName}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{{/pageTitle}}

{{$mainContent}}
  <a href="{{indexPage}}" class="link-back">Back to dashboard</a>
  <h1 class="heading-large prototyping__heading">Mock card numbers</h1>
  <p>Use this card number to test a successful payment. Don’t use real card numbers.</p>
  
  <div class="panel panel-border-wide">
    <h2 class="heading-medium">4242 4242 4242 4242</h2>
  </div>
  
  <p>You can enter any valid value for the other details. For example, it doesn’t matter what expiry date you enter, but it must be in the future.</p>
  <p>You can also use other card types and see errors. <a href="https://govukpay-docs.cloudapps.digital/#mock-card-numbers-for-testing-purposes">See more card types in our documentation</a>.</p>
  <a id="prototyping__make-demo-payment" class="button" href="{{prototypeLink}}">Make a demo payment</a>
{{/mainContent}}
{{/layout}}
