{% extends "../../layout.njk" %}
{% from "../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Edit payment description for demo payment - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "Back to make a demo payment",
      href: formatAccountPathsFor(routes.account.prototyping.demoPayment.index,  currentGatewayAccount.external_id)
    })
  }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    {{ errorSummary ({
      errors: errors,
      hrefs: {
        description: "#payment-description"
      }
    }) }}

    <h1 class="govuk-heading-l">Edit payment description</h1>
    <form method="post" action="{{formatAccountPathsFor(routes.account.prototyping.demoPayment.editDescription,  currentGatewayAccount.external_id)}}" data-validate="true">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
      {{
        govukTextarea({
          name: "payment-description",
          id: "payment-description",
          label: {
            text: "Payment description"
          },
          hint: {
            text: "Tell users what they are paying for"
          },
          value: paymentDescription,
          classes: "govuk-!-width-two-thirds",
          attributes: {
            rows: 2,
            autofocus: true,
            "data-trim": true
          },
          errorMessage: { text: errors.description } if errors.description else false
        })
      }}

      {{
        govukButton({
          text: "Save changes"
        })
      }}
    </form>
  </div>
{% endblock %}
