{% extends "../../layout.njk" %}

{% block pageTitle %}
  Edit payment amount for demo payment - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "Back to make a demo payment",
      href: formatAccountPathsFor(routes.account.prototyping.demoPayment.index,  currentGatewayAccount.external_id)
    })
  }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Edit payment amount</h1>
    <form method="post" action="{{formatAccountPathsFor(routes.account.prototyping.demoPayment.index,  currentGatewayAccount.external_id)}}" data-validate="true">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>

      <div class="currency-input govuk-form-group">
        <label class="govuk-label" for="payment-amount">
          Payment amount
          <span class="govuk-visually-hidden">in &pound;</span>
        </label>
        <div class="currency-input__inner">
          <span class="currency-input__inner__unit">&pound;</span>
          <input
            class="govuk-input govuk-input--width-10"
            aria-label="Enter amount in pounds"
            name="payment-amount"
            autofocus
            data-non-numeric
            type="text"
            inputmode="numeric"
            id="payment-amount"
            value="{{ paymentAmount | penceToPounds }}"
            data-validate="required currency belowMaxAmount"
            data-trim
          />
        </div>
      </div>

      {{
        govukButton({
          text: "Save changes",
          attributes: {
            id: "save-changes"
          }
        })
      }}
    </form>
  </div>
{% endblock %}
