{% extends "../../layout.njk" %}

{% block pageTitle %}
Make a demo payment - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "Back to dashboard",
      href: routes.dashboard.index
    })
  }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Make a demo payment</h1>
    <p class="govuk-body">Try the payment experience as a user. Then view the completed payment as an administrator on GOV.UK Pay.</p>

    <dl class="demo-payment-settings">
      <dt class="demo-payment-settings__setting">
        <div class="govuk-heading-s govuk-!-margin-0">Payment description</div>
        <div class="govuk-body pay-text-grey govuk-!-margin-bottom-2">Tell users what they are paying for</div>
      </dt>
      <dd class="demo-payment-settings__value govuk-!-margin-bottom-2">
        <div class="govuk-body govuk-!-margin-0" id="payment-description">
          {{ paymentDescription | striptags(true) | escape | nl2br }}
          <span class="demo-payment-settings__edit-link">
            <a class="govuk-link govuk-link--no-visited-state" href="{{formatAccountPathsFor(routes.account.prototyping.demoPayment.editDescription,  currentGatewayAccount.external_id)}}">
              Edit <span class="govuk-visually-hidden">description</span>
            </a>
          </span>
        </div>
      </dd>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6"> 

      <dt class="demo-payment-settings__setting govuk-!-margin-bottom-2">
        <div class="govuk-heading-s govuk-!-margin-0">Payment amount</div>
      </dt>
      <dd class="demo-payment-settings__value govuk-!-margin-bottom-2">
        <div class="govuk-body govuk-!-margin-0" id="payment-amount">
          {{ paymentAmount | penceToPoundsWithCurrency }}
          <span class="demo-payment-settings__edit-link">
            <a class="govuk-link govuk-link--no-visited-state" href="{{formatAccountPathsFor(routes.account.prototyping.demoPayment.editAmount,  currentGatewayAccount.external_id)}}">
              Edit <span class="govuk-visually-hidden">amount</span>
            </a>
          </span>
        </div>
      </dd>
    </dl>

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

    {{
      govukButton({
        text: "Continue",
        href: formatAccountPathsFor(routes.account.prototyping.demoPayment.mockCardDetails,  currentGatewayAccount.external_id),
        attributes: {
          id: "prototyping__continue"
        }
      })
    }}
  </div>
{% endblock %}
