{% extends "../../layout-two-thirds-no-nav.njk" %}

{% block pageTitle %}
  Mock card numbers for demo payment - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "Back to make a demo payment",
      href: routes.prototyping.demoPayment.index
    })
  }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Mock card numbers</h1>
  <p class="govuk-body">Use this card number to test a successful payment. Don’t use real card numbers.</p>

  {{
    govukInsetText({
      html: '<p class="govuk-!-font-size-24 govuk-!-font-weight-bold">4000<span class="govuk-!-padding-left-3 govuk-!-padding-right-3">0566</span><span class="govuk-!-padding-right-3">5566</span>5556</p>'
    })
  }}

  <p class="govuk-body">You can enter any valid value for the other details. For example, it doesn’t matter what expiry date you enter, but it must be in the future.</p>
  <p class="govuk-body">You can also use other card types and see errors. <a class="govuk-link" href="https://docs.payments.service.gov.uk/testing_govuk_pay/#mock-card-numbers-for-testing-purposes">See more card types in our documentation</a>.</p>

  <form method="post" action="{{routes.prototyping.demoPayment.goToPaymentScreens}}" >
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    {{
      govukButton({
        text: "Make a demo payment",
        attributes: {
          id: "prototyping__make-demo-payment"
        }
      })
    }}
  </form>
{% endblock %}
