{% extends "../../layout.njk" %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block pageTitle %}
  Add a government entity document - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block sideNavigation %}
  {% if isSwitchingCredentials or enableStripeOnboardingTaskList %}
    {% include "includes/side-navigation.njk" %}
  {% endif %}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-column-two-thirds">

    {% if isSwitchingCredentials %}
      {{ govukBackLink({
        text: "Back to Switching payment service provider (PSP)",
        classes: "govuk-!-margin-top-0",
        href: formatAccountPathsFor(routes.account.switchPSP.index, currentGatewayAccount.external_id)
      }) }}
    {% endif %}
    {% if enableStripeOnboardingTaskList %}
      {{ govukBackLink({
        text: "Back to information for Stripe",
        classes: "govuk-!-margin-top-0",
        href: formatAccountPathsFor(routes.account.yourPsp.index, currentGatewayAccount.external_id, currentCredential.external_id)
      }) }}
    {% endif %}

    {{ errorSummary ({
      errors: errors,
      hrefs: {
        'government-entity-document': '#government-entity-document'
      }
    }) }}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Upload a government entity document</h1>

    <p class="govuk-body">For Stripe to verify that your organisation is a ‘government entity’, you need to upload one
      of these documents:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>VAT Registration</li>
      <li>Certificate of incorporation</li>
      <li>Companies House Document</li>
      <li>HM Revenue and Customs: VAT Certificate</li>
      <li>HM Revenue and Customs: Account Statement</li>
      <li>Charity Commission Document</li>
      <li>OSCR Scottish Charity Regulator</li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">
      <label class="govuk-label govuk-label--m" for="government-entity-document">
        Upload a file
      </label>
    </h2>

    <p class="govuk-body">The file must meet these requirements:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>The file size must be 10MB or less</li>
      <li>The format has to be JPG, PNG or PDF</li>
    </ul>

    <form id="government-entity-document-form" method="post" enctype="multipart/form-data" novalidate
          action="?csrfToken={{ csrf }}">

      {% set fileUploadError = false %}
      {% if errors['government-entity-document'] %}
        {% set fileUploadError = {
          text: errors['government-entity-document']
        } %}
      {% endif %}

      {{ govukFileUpload({
        id: "government-entity-document",
        name: "government-entity-document",
        errorMessage: fileUploadError
      }) }}

      {{ govukButton({ text: "Submit and continue" }) }}
    </form>
  </div>
{% endblock %}
