{% extends "../layout.njk" %}

{% block pageTitle %}
Payments to your bank account - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      text: "Back to My services",
      href: routes.serviceSwitcher.index
    })
  }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">
    Payments to your bank account
    <strong class="govuk-tag govuk-tag--grey">{{ "LIVE" if filterLiveAccounts else "TEST" }}</strong>
  </h1>
</div>
<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
  <p class="govuk-body">Payments Stripe has made to your bank account.</p>
  <p class="govuk-body">
    {% if filterLiveAccounts %}
      <a class="govuk-link govuk-link--no-visited-state" href="{{ routes.formattedPathFor(routes.payouts.listStatusFilter, 'test') }}">Switch to test accounts</a>
    {% else %}
      {% if hasLiveAccounts %}
        <a class="govuk-link govuk-link--no-visited-state" href="{{ routes.payouts.list }}">Switch to live accounts</a>
      {% endif %}
    {% endif %}
  </p>
</div>

{% set transactionsDownloadPath = paths.allServiceTransactions.download if filterLiveAccounts else paths.formattedPathFor(paths.allServiceTransactions.downloadStatusFilter, 'test') %}
<div class="govuk-grid-column-two-thirds">
  {% for key, group in payoutSearchResult.groups %}
    {% set dateString = group.date.format('DD MMMM') %}
    <h2 class="govuk-heading-m">{{ dateString }}</h2>

    <table class="govuk-table" id="payout-list">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Service</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
          <th scope="col" class="govuk-table__header">View transactions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for payoutEntry in group.entries %}
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">{{ payoutEntry.serviceName }}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ payoutEntry.amount | penceToPoundsWithCurrency }}
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="{{ transactionsDownloadPath }}?gatewayPayoutId={{payoutEntry.gateway_payout_id}}">
              Download CSV <span class="govuk-visually-hidden">for {{ payoutEntry.serviceName }} on {{ dateString }}</span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% if payoutsReleaseDate %}
    <p class="govuk-body">No payments to your bank account found on or after {{ payoutsReleaseDate.format('D MMMM YYYY') }}.</p>
    <p class="govuk-body">For historic payments to your bank account please <a class="govuk-link" href="https://www.payments.service.gov.uk/support/">contact support.</a></p>
    {% else %}
    <p class="govuk-body">No payments to your bank account found.</p>
    {% endif %}
  {% endfor %}
</div>

<div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
  {% include "payouts/paginator.njk" %}
</div>

{% endblock %}
