{% from '../macro/breadcrumbs.njk' import breadcrumbs %}
{% extends "../layout.njk" %}

{% block pageTitle %}
Payments to your bank account - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {% set pageTitleBreadcrumbWithTag %}
      <span>Payments to your bank account</span>
      <strong class="service-info--tag govuk-tag govuk-tag--grey">{{ "LIVE" if filterLiveAccounts else "TEST" }}</strong>
  {% endset %}
  {{ breadcrumbs([
    { text: "My services", href: routes.serviceSwitcher.index },
    { html: pageTitleBreadcrumbWithTag  }
  ]) }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">
    Payments to your bank account
    <strong class="govuk-tag govuk-tag--grey">{{ "LIVE" if filterLiveAccounts else "TEST" }}</strong>
  </h1>
</div>
<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
  <p class="govuk-body">Payments Stripe has made to your bank account.</p>
  {% if not filterLiveAccounts %}
    <div class="govuk-inset-text">
    <p class="govuk-body">Test reports represent how payments to your bank account appear. They show the total amount received from Stripe in each payment and detail all the transactions.</p>
    <p class="govuk-body">The reports are available the next working day after your test transactions. With test transactions, no payments are made to your bank account.</p>

    <p class="govuk-body">Once your service is live, you should receive payments to your bank account within:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>2 working days if your user completed their payment during the week</li>
      <li>3 working days if your user completed their payment at the weekend or on a bank holiday</li>
    </ul>
    </div>
  {% endif %}

  <p class="govuk-body">
    {% if filterLiveAccounts %}
      {% if hasTestStripeAccount %}
      <a class="govuk-link govuk-link--no-visited-state" href="{{ routes.formattedPathFor(routes.payouts.listStatusFilter, 'test') }}">Switch to test transactions</a>
      {% endif %}
    {% else %}
      {% if hasLiveAccounts %}
        <a class="govuk-link govuk-link--no-visited-state" href="{{ routes.payouts.list }}">Switch to live transactions</a>
      {% endif %}
    {% endif %}
  </p>
</div>

{% set transactionsDownloadPath = routes.allServiceTransactions.download if filterLiveAccounts else routes.formattedPathFor(routes.allServiceTransactions.downloadStatusFilter, 'test') %}
<div class="govuk-grid-column-two-thirds">
  {% for key, group in payoutSearchResult.groups %}
    {% set dateString = group.date.format('DD MMMM') %}
    <h2 class="govuk-heading-m">{{ dateString }}</h2>

    <table class="govuk-table" id="payout-list">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Service</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
          <th scope="col" class="govuk-table__header">View transactions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for payoutEntry in group.entries %}
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">{{ payoutEntry.serviceName }}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ payoutEntry.amount | penceToPoundsWithCurrency }}
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="{{ transactionsDownloadPath }}?gatewayPayoutId={{payoutEntry.gateway_payout_id}}">
              Download CSV <span class="govuk-visually-hidden">for {{ payoutEntry.serviceName }} on {{ dateString }}</span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    {% if filterLiveAccounts %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {% if payoutsReleaseDate %}
        <p class="govuk-body">No payments to your bank account found on or after {{ payoutsReleaseDate.format('D MMMM YYYY') }}.</p>
        <p class="govuk-body">For historic payments to your bank account please <a class="govuk-link" href="https://www.payments.service.gov.uk/support/">contact support.</a></p>
      {% else %}
        <p class="govuk-body">No payments to your bank account found.</p>
      {% endif %}
    {% else %}
      <h2 class="govuk-heading-m">Sample Report</h2>
      <p class="govuk-body">This is a sample report. If you make test payments, you'll be able to see a copy of the report using your test payments.</p>

      <table class="govuk-table" id="payout-list">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Service</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
            <th scope="col" class="govuk-table__header">View transactions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Test Service</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ 19402 | penceToPoundsWithCurrency }}
            </td>
            <td class="govuk-table__cell">
              <a class="govuk-link govuk-link--no-visited-state" href="/csv/sample_reporting_payout.csv">
                Download CSV
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    {% endif %}
  {% endfor %}
</div>

<div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
  {% include "payouts/paginator.njk" %}
</div>

{% endblock %}
