{% extends "simplified-account/services/service-layout.njk" %}

{% set servicePageTitle %}
  Edit payment link amount
{% endset %}

{% block serviceContent %}
  <span class="govuk-caption-m">Edit {{ serviceMode }} payment link</span>

  {% include "simplified-account/services/payment-links/partials/forms/_payment-link-amount.njk" %}
{% endblock %}
