{% extends "simplified-account/services/service-layout.njk" %}

{% set servicePageTitle = "Edit payment link" %}

{% block serviceContent %}
  <h1 class="govuk-heading-l page-title">
    {{ servicePageTitle }}
  </h1>
{% endblock %}
