{% extends "simplified-account/services/service-layout.njk" %}

{% set servicePageTitle %}
  Edit payment link details
{% endset %}

{% block serviceContent %}
  <span class="govuk-caption-l">Edit {{ serviceMode }} payment link {% if isWelsh %}(Welsh){% endif %}</span>
  <h1 class="govuk-heading-l page-title">
    Enter payment link details
  </h1>
  {% include "simplified-account/services/payment-links/partials/forms/_payment-link-info.njk" %}
{% endblock %}
