{% extends "simplified-account/services/service-layout.njk" %}

{% set servicePageTitle %}
  {% if createJourney %}Add{% else %}Edit{% endif %} reporting column
{% endset %}

{% block serviceContent %}
  <h1 class="govuk-heading-l page-title">
    {{ servicePageTitle }}
  </h1>

  <p class="govuk-body">Reporting columns are added to your CSV payment reports. They are not shown to the user making
    the payment.</p>
  <p class="govuk-body">If you are adding reporting columns to more than one service or payment link, use consistent
    wording. This will make it easier to read your payment report.</p>

  {% include "simplified-account/services/payment-links/partials/forms/_payment-link-metadata.njk" %}

{% endblock %}
