{% extends "simplified-account/services/service-layout.njk" %}

{% set servicePageTitle %}
  Edit reporting column
{% endset %}

{% block serviceContent %}
  <span class="govuk-caption-m">Edit {{ serviceMode }} payment link</span>
  <h1 class="govuk-heading-l page-title">
    Reporting column
  </h1>

  {% include "simplified-account/services/payment-links/partials/forms/_payment-link-metadata.njk" %}
{% endblock %}
