{% extends "simplified-account/services/service-layout.njk" %}

{% set servicePageTitle %}
  Payment link details
{% endset %}

{% block serviceContent %}
  <span class="govuk-caption-l">Edit {{ serviceMode }} payment link {% if isWelsh %}(Welsh){% endif %}</span>
  <h1 class="govuk-heading-l page-title">
    {{ servicePageTitle }}
  </h1>

  {{ govukSummaryList({
    rows: [
      {
        key: {
        text: "Title"
      },
        value: {
        text: product.name
      },
        actions: {
        items: [
          {
            href: editInformationLink,
            text: "Change",
            classes: "govuk-link--no-visited-state",
            visuallyHiddenText: "title"
          }
        ]
      }
      },
      {
        key: {
        text: "Web address"
      },
        value: {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="' + product.webAddress + '">' + product.webAddress + '</a>'
      }
      },
      {
        key: {
        text: "Details"
      },
        value: {
        text: product.details
      },
        actions: {
        items: [
          {
            href: editInformationLink,
            text: "Change",
            classes: "govuk-link--no-visited-state",
            visuallyHiddenText: "details"
          }
        ]
      }
      },
      {
        key: {
        text: "Payment reference"
      },
        value: {
        text: product.reference
      },
        actions: {
        items: [
          {
            href: editReferenceLink,
            text: "Change",
            classes: "govuk-link--no-visited-state",
            visuallyHiddenText: "reference"
          }
        ]
      }
      },
      {
        key: {
        text: "Payment amount"
      },
        value: {
        text: product.amount
      },
        actions: {
        items: [
          {
            href: editAmountLink,
            text: "Change",
            classes: "govuk-link--no-visited-state",
            visuallyHiddenText: "contact details"
          }
        ]
      }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m">Reporting columns</h2>

  <p class="govuk-body">You can download reports in CSV format about your payments from your account.</p>
  <p class="govuk-body">You can add extra columns about your transactions to these reports. For example, to include your
    cost centre code or business area. This will help finance teams track and reconcile your payments. The extra columns
    will only appear in your downloaded reports.</p>

  {% if product.metadata %}
    {% set reportingColumns = [] %}
    {% for key, value in product.metadata | dictsort %}
      {% set column =
        {
          key: {
          text: key
        },
          value: {
          text: value.value
        },
          actions: {
          items: [
            {
              href: value.link,
              text: "Change",
              classes: "govuk-link--no-visited-state",
              visuallyHiddenText: key
            }
          ]
        }
        } %}
      {% set reportingColumns = (reportingColumns.push(column), reportingColumns) %}
    {% endfor %}

    {{ govukSummaryList({
      rows: reportingColumns
    }) }}
  {% endif %}

  <a href="{{ addReportingColumnLink }}" class="govuk-button govuk-button--secondary">
    Add reporting column
  </a>
{% endblock %}
