{% extends "simplified-account/services/service-layout.njk" %}

{% if isWelsh %}
  {% set langAttr = 'cy' %}
{% else %}
  {% set langAttr = 'en' %}
{% endif %}


{% set servicePageTitle %}
  Payment link details - {{ product.name }}
{% endset %}

{% block serviceContent %}
  <span class="govuk-caption-l">Edit {{ serviceMode }} payment link {% if isWelsh %}(Welsh){% endif %}</span>
  <h1 class="govuk-heading-l"> Payment link details </h1>

  {% macro generateTextWithHintHtml(value, hint, cypressDataAttribute) %}
    <p class="govuk-body" lang="{{ langAttr }}">{{ value }}</p>
    {% if hint %}
      <p class="govuk-hint govuk-!-margin-top-0" lang="{{ langAttr }}" data-cy="{{ cypressDataAttribute }}">
        {{ hint | striptags(true) | escape | nl2br }}
      </p>
    {% endif %}
  {% endmacro %}

  {% set referenceHtml = generateTextWithHintHtml(product.reference, product.referenceHint, 'reference-hint') %}
  {% set amountHtml = generateTextWithHintHtml(product.amount, product.amountHint, 'amount-hint') %}

  {{
    govukSummaryList({
      rows: [
        {
          key: {
          text: "Title"
        },
          value: {
          text: product.name
        },
          actions: {
          items: [
            {
              href: editInformationLink,
              text: "Change",
              classes: "govuk-link--no-visited-state",
              visuallyHiddenText: "title"
            }
          ]
        }
        },
        {
          key: {
          text: "Web address"
        },
          value: {
          html: '<a class="govuk-link govuk-link--no-visited-state" href="' + product.webAddress + '">' + product.webAddress + '</a>'
        }
        },
        {
          key: {
          text: "Details"
        },
          value: {
          text: product.details
        },
          actions: {
          items: [
            {
              href: editInformationLink,
              text: "Change",
              classes: "govuk-link--no-visited-state",
              visuallyHiddenText: "details"
            }
          ]
        }
        },
        {
          key: {
          text: "Payment reference"
        },
          value: {
          html: referenceHtml
        },
          actions: {
          items: [
            {
              href: editReferenceLink,
              text: "Change",
              classes: "govuk-link--no-visited-state",
              visuallyHiddenText: "reference"
            }
          ]
        }
        },
        {
          key: {
          text: "Payment amount"
        },
          value: {
          html: amountHtml
        },
          actions: {
          items: [
            {
              href: editAmountLink,
              text: "Change",
              classes: "govuk-link--no-visited-state",
              visuallyHiddenText: "contact details"
            }
          ]
        }
        }
      ]
    })
  }}
  {% include "../../payment-links/partials/_manage-payment-link-metadata.njk" %}
{% endblock %}
