{% extends "../layout-two-thirds-no-nav.njk" %}

{% block pageTitle %}
Give feedback — GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Give feedback</h1>

  <form method="POST" action="{{routes.feedback}}">
    <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
    <input id="email" name="email" type="hidden" value="{{email}}"/>
    <input id="service-name" name="service-name" type="hidden" value="{{currentService.name}}"/>
    <input id="service-external-id" name="service-external-id" type="hidden" value="{{currentService.externalId}}"/>
    <input id="gateway" name="service-gateway" type="hidden" value="{{currentGatewayAccount.payment_provider}} - {{currentGatewayAccount.type}}"/>
    {{
      govukRadios({
        idPrefix: "feedback-rating",
        name: "feedback-rating",
        fieldset: {
          legend: {
            text: "Overall, how do you feel about the service you received today?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Very satisfied",
            text: "Very satisfied",
            checked: rating === "Very Satisfied"
          },
          {
            value: "Satisfied",
            text: "Satisfied",
            checked: rating === "Satisfied"
          },
          {
            value: "Neither satisfied nor dissatisfied",
            text: "Neither satisfied nor dissatisfied",
            checked: rating === "Neither satisfied nor dissatisfied"
          },
          {
            value: "Dissatisfied",
            text: "Dissatisfied",
            checked: rating === "Dissatisfied"
          },
          {
            value: "Very dissatisfied",
            text: "Very dissatisfied",
            checked: rating === "Very dissatisfied"
          }
        ]
        })
    }}

    {{
      govukTextarea({
        name: "feedback-suggestion",
        id: "feedback-suggestion",
        label: {
          text: "How could we improve this service?",
          classes: "govuk-label--s"
        },
        attributes: {
          rows: "5"
        },
        value: suggestion
      })
    }}

    {{
      govukButton({
        text: "Send feedback"
      })
    }}
  </form>

{% endblock %}
