{{< layout_logged_out}}

{{$pageTitle}}
Self registration - GOV.UK Pay
{{/pageTitle}}
{{$mainContent}}
<div class="column-half no-padding">
    <form action="{{routes.registerUser.registration}}" method="post" id="submit-registration" class="form submit-registration">
        <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
        <h1 class="heading-large">
            Create an account
        </h1>
        <p id="email-display">Your account will be created with this email: {{email}}</p>
        <div class="form-group">
            <label class="form-label" for="telephone-number">
                Mobile number
                <span class="form-hint">
	              We'll send you a security code by text message
	            </span>
            </label>
            <input type="text" class="form-control" id="telephone-number" name="telephone-number" value="{{telephone_number}}">
        </div>
        <div class="form-group">
            <label class="form-label" for="password">Password</label>
            <input class="form-control form-control-5em"
                   data-module=""
                   id="password"
                   name="password"
                   rows="6"
                   type="password"
                   value=""
            />
        </div>
        <div class="form-group">
            <input class="button" type="submit" value="Continue"/>
        </div>
    </form>

</div>

{{/mainContent}}
{{/layout_logged_out}}
