{% extends "../layout-logged-out.njk" %}

{% block pageTitle %}
  Enter verification code - GOV.UK Pay
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="form-title govuk-heading-l">Check your phone</h1>
    <p class="govuk-body">We’ve sent you a text message with a verification code</p>
    <form action="{{routes.registerUser.otpVerify}}" class="form" method="post" class="submit-two-fa" id="verify-phone-form">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
      {{
        govukInput({
          id: "verify-code",
          name: "verify-code",
          classes: "govuk-input--width-10",
          label: {
              text: "Verification code",
              classes: "govuk-label--s"
          },
          attributes: {
            autofocus: true,
            autocomplete: "off"
          }
        })
      }}
      {{
        govukButton({
          text: "Continue",
          classes: "button",
          attributes: {
            id: "continue"
          }
        })
      }}
    </form>
    <p class="govuk-body"><a class="govuk-link govuk-link govuk-link--no-visited-state" href="{{routes.registerUser.reVerifyPhone}}">Not received a text message?</a></p>
  </div>
{% endblock %}
