name: Post Merge

on:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/**'

permissions:
  contents: read

concurrency: selfservice-post-merge

jobs:
  tests:
    uses: ./.github/workflows/run-tests.yml

  publish-selfservice-consumer-contract-tests:
    needs: tests
    runs-on: ubuntu-18.04

    name: Publish and tag selfservice consumer pact
    steps:
      - name: Checkout
        uses: actions/checkout@dcd71f646680f2efd8db4afa5ad64fdcba30e748
      - name: Parse Node version
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id: parse-node-version
      - name: Setup
        uses: actions/setup-node@56337c425554a6be30cdef71bf441f15be286854
        with:
          node-version: "${{ steps.parse-node-version.outputs.NVMRC }}"
      - name: Cache build directories
        uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0
        with:
          path: |
            node_modules
            govuk_modules
            public
          key: ${{ runner.os }}-build-id-${{ github.head_ref }}-${{ github.sha }}
      - name: Cache pacts directory
        uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0
        with:
          path: pacts
          key: ${{ runner.os }}-build-id-${{ github.head_ref }}-${{ github.sha }}-pacts
      - name: Publish and tag selfservice consumer pact
        env:
          PACT_BROKER_URL: https://pay-pact-broker.cloudapps.digital
          PACT_CONSUMER_VERSION: ${{ github.sha }}
          PACT_BROKER_USERNAME: ${{ secrets.pact_broker_username }}
          PACT_BROKER_PASSWORD: ${{ secrets.pact_broker_password }}
          PACT_CONSUMER_TAG: master
        run: npm run publish-pacts

  adminusers-provider-contract-tests:
    needs: publish-selfservice-consumer-contract-tests
    uses: alphagov/pay-adminusers/.github/workflows/_run-pact-provider-tests.yml@master
    with:
      consumer: selfservice
      consumer_tag: master
    secrets:
      pact_broker_username: ${{ secrets.pact_broker_username }}
      pact_broker_password: ${{ secrets.pact_broker_password }}

  connector-provider-contract-tests:
    needs: publish-selfservice-consumer-contract-tests
    uses: alphagov/pay-connector/.github/workflows/_run-pact-provider-tests.yml@master
    with:
      consumer: selfservice
      consumer_tag: master
    secrets:
      pact_broker_username: ${{ secrets.pact_broker_username }}
      pact_broker_password: ${{ secrets.pact_broker_password }}

  ledger-provider-contract-tests:
    needs: publish-selfservice-consumer-contract-tests
    uses: alphagov/pay-ledger/.github/workflows/_run-pact-provider-tests.yml@master
    with:
      consumer: selfservice
      consumer_tag: master
    secrets:
      pact_broker_username: ${{ secrets.pact_broker_username }}
      pact_broker_password: ${{ secrets.pact_broker_password }}

  products-provider-contract-tests:
    needs: publish-selfservice-consumer-contract-tests
    uses: alphagov/pay-products/.github/workflows/_run-pact-provider-tests.yml@master
    with:
      consumer: selfservice
      consumer_tag: master
    secrets:
      pact_broker_username: ${{ secrets.pact_broker_username }}
      pact_broker_password: ${{ secrets.pact_broker_password }}

  tag-release:
    needs:
      - adminusers-provider-contract-tests
      - connector-provider-contract-tests
      - ledger-provider-contract-tests
      - products-provider-contract-tests
    permissions:
      contents: write
    uses: alphagov/pay-ci/.github/workflows/_create-alpha-release-tag.yml@master
