name: Github Actions Tests

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: actions/setup-node@v1
        with:
          node-version: 12.21.0
      - name: Cache NPM packages
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node
      - name: Cache Cypress
        uses: actions/cache@v2
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress
      - name: Install Dependencies
        run: npm ci
      - name: Compile
        run: npm run compile
      - name: Unit Test
        run: npm test
