{% extends "../layout.njk" %}
{% from "../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Enter organisation website address - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}

<div class="govuk-grid-column-two-thirds">

  {% if isSwitchingCredentials %}
    {{ govukBackLink({
      text: "Back to Switching payment service provider (PSP)",
      classes: "govuk-!-margin-top-0",
      href: formatAccountPathsFor(routes.account.switchPSP.index, currentGatewayAccount.external_id)
    }) }}
  {% endif %}

  {{ errorSummary ({
    errors: errors,
    hrefs: {
      'organisation-url': '#organisation-url'
    }
  }) }}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    <label for="organisation-url">Enter organisation website address</label>
  </h1>

  <form id="organisation-url-form" method="post" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

    {% set organisationUrlError = false %}
      {% if errors['organisation-url'] %}
        {% set organisationUrlError = {
          text: errors['organisation-url']
        } %}
      {% endif %}

    {{ govukInput({
      name: "organisation-url",
      id: "organisation-url",
      classes: "govuk-input--width-30",
      value: organisationUrl,
      errorMessage: organisationUrlError,
      hint: {
        text: "Enter the address in full like https://www.example.com"
      },
      type: "url",
      autocomplete: "url",
      spellcheck: false
    }) }}

    {{ govukButton({ text: "Submit" }) }}
  </form>
</div>

{% endblock %}
