{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "layout.njk" %}

{% block pageTitle %}
  Switch PSP - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block sideNavigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% macro taskListItem(label, url, item) %}
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      {% if item.enabled %}
      <a class="govuk-link" href="{{ url }}" aria-describedby="{{ label }}-status">
        {{ label }}
      </a>
      {% else %}
      <span>{{ label }}</span>
      {% endif %}
    </span>

    {% if not item.enabled and not item.complete %}
    <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="{{ label }}-status">cannot start yet</strong>
    {% elif item.enabled and not item.complete %}
    <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="{{ label }}-status">not started</strong>
    {% elif item.complete %}
    <strong class="govuk-tag app-task-list__tag" id="{{ label }}-status">completed</strong>
    {% endif %}
  </li>
{% endmacro %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  {% if flash.verifyIntegrationPaymentSuccess %}
    {% set bannerHtml %}
      <h3 class="govuk-notification-banner__heading">
        Your live payment has succeeded
      </h3>
      <p class="govuk-body">The connection between {{ targetCredential.payment_provider }} and GOV.UK Pay has been confirmed. You can <a class="govuk-notification-banner__link" href="{{ formatAccountPathsFor(routes.account.transactions.index, currentGatewayAccount.external_id) }}?reference=VERIFY_PSP_INTEGRATION">check the payment using reporting tools</a> and refund the payment at any time.</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: bannerHtml,
      type: 'success'
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l page-title">Switch payment service provider (PSP)</h1>

  <p class="govuk-body">This service is taking payments with {{ currentGatewayAccount.payment_provider | formatPSPname }}.</p>

  <p class="govuk-body">To prepare for the switch, you need:</p>

  {% switch targetCredential.payment_provider %}
    {% case 'worldpay' %}
      <ul class="govuk-list govuk-list--bullet">
        <li>your Worldpay account credentials: Merchant code, username and password</li>
        {% if not currentGatewayAccount.allow_moto %}
          <li>your Worldpay 3DS Flex account credentials: Organisational unit ID, issuer and JWT MAC key</li>
        {% endif %}
        <li>a debit or credit card to make a nominal live payment (refundable)</li>
      </ul>

      {% set tasks %}
        {{ taskListItem(
          "Link your Worldpay account with GOV.UK Pay",
          formatAccountPathsFor(routes.account.switchPSP.credentialsWithGatewayCheck, currentGatewayAccount.external_id, targetCredential.external_id),
          taskList.LINK_CREDENTIALS
        ) }}

        {% if not currentGatewayAccount.allow_moto %}
          {{ taskListItem(
            "Provide your Worldpay 3DS Flex credentials",
            formatAccountPathsFor(routes.account.switchPSP.flex, currentGatewayAccount.external_id, targetCredential.external_id),
            taskList.LINK_FLEX_CREDENTIALS
          ) }}
        {% endif %}

        {{ taskListItem(
          "Make a live payment to test your Worldpay PSP",
          formatAccountPathsFor(routes.account.switchPSP.verifyPSPIntegrationPayment, currentGatewayAccount.external_id),
          taskList.VERIFY_PSP_INTEGRATION
        ) }}
      {% endset %}
    {% case 'stripe' %}
      <ul class="govuk-list govuk-list--bullet">
        <li>organisation website address</li>
        <li>organisation bank details</li>
        <li>the name, date of birth and home address of the person in your organisation legally reponsible for payments (called your ‘<a href="https://www.payments.service.gov.uk/required-responsible-person-and-director-information/" class="govuk-link">responsible person</a>’)</li>
        <li>the name, date of birth and work email address of the director of your service (or someone at director level)</li>
        <li>VAT number (if applicable)</li>
        <li>Company registration number (if applicable)</li>
        <li>government entity document</li>
        <li>a debit or credit card to make a nominal live payment (refundable)</li>
      </ul>

      {% set tasks %}
        {{ taskListItem(
          "Add organisation website address",
          formatAccountPathsFor(routes.account.switchPSP.organisationUrl, currentGatewayAccount.external_id, targetCredential.external_id),
          taskList.ENTER_ORGANISATION_URL
        ) }}
        {{ taskListItem(
          "Provide your bank details",
          formatAccountPathsFor(routes.account.switchPSP.stripeSetup.bankDetails, currentGatewayAccount.external_id, targetCredential.external_id),
          taskList.ENTER_BANK_DETAILS
        ) }}
        {{ taskListItem(
          "Provide details about your responsible person",
          formatAccountPathsFor(routes.account.switchPSP.stripeSetup.responsiblePerson, currentGatewayAccount.external_id, targetCredential.external_id),
          taskList.ENTER_RESPONSIBLE_PERSON
        ) }}
        {{ taskListItem(
          "Provide details about the director of your organisation",
          formatAccountPathsFor(routes.account.switchPSP.stripeSetup.director, currentGatewayAccount.external_id, targetCredential.external_id),
          taskList.ENTER_DIRECTOR
        ) }}
        {{ taskListItem(
          "Provide your organisation’s VAT number",
          formatAccountPathsFor(routes.account.switchPSP.stripeSetup.vatNumber, currentGatewayAccount.external_id, targetCredential.external_id),
          taskList.ENTER_VAT_NUMBER
        ) }}
        {{ taskListItem(
          "Provide your Company registration number",
          formatAccountPathsFor(routes.account.switchPSP.stripeSetup.companyNumber, currentGatewayAccount.external_id, targetCredential.external_id),
          taskList.ENTER_COMPANY_NUMBER
        ) }}
        {{ taskListItem(
          "Confirm your organisation details",
          formatAccountPathsFor(routes.account.switchPSP.stripeSetup.checkOrgDetails, currentGatewayAccount.external_id, targetCredential.external_id),
          taskList.CONFIRM_ORGANISATION_DETAILS
        ) }}
        {{ taskListItem(
          "Upload a government entity document",
          formatAccountPathsFor(routes.account.switchPSP.stripeSetup.governmentEntityDocument, currentGatewayAccount.external_id, targetCredential.external_id),
          taskList.UPLOAD_GOVERNMENT_ENTITY_DOCUMENT
        ) }}
        {{ taskListItem(
          "Make a live payment to test your Stripe PSP",
          formatAccountPathsFor(routes.account.switchPSP.verifyPSPIntegrationPayment, currentGatewayAccount.external_id),
          taskList.VERIFY_PSP_INTEGRATION
        ) }}
      {% endset %}
  {% endswitch %}

  <ol class="app-task-list govuk-!-margin-top-8">
    <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Get ready to switch PSP
        </h2>
        <ul class="app-task-list__items">{{ tasks | safe }}</ul>
      </li>

      <li>
        <h2 class="app-task-list__section" id="switch-psp-action-step">
          <span class="app-task-list__section-number">2. </span> Switch PSP to {{ targetCredential.payment_provider | formatPSPname }}
        </h2>
        <ul class="app-task-list__flat_items">
          <li class="app-task-list__item">
            <p class="govuk-body">
              After linking {{ targetCredential.payment_provider | formatPSPname }} and GOV.UK Pay, you can safely switch to taking payments with {{ targetCredential.payment_provider | formatPSPname }}.
            </p>

            {% set warningText %}
                Once you switch, {{ targetCredential.payment_provider | formatPSPname }} will immediately start taking payments. You can refund previous payments through {{ currentGatewayAccount.payment_provider | formatPSPname }}.
            {% endset %}
            {{ govukWarningText({
              text: warningText,
              iconFallbackText: "Warning"
            }) }}

            <form method="POST" novalidate>
              {{ govukButton({
                text: "Switch to " + (targetCredential.payment_provider | formatPSPname),
                disabled: (not taskListIsComplete)
              }) }}
              <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
            </form>
          </li>
        </ul>
      </li>
    </ol>
</div>
{% endblock %}
