{% extends "layout.njk" %}

{% block pageTitle %}
  Switch PSP - Verify PSP - {{currentService.name}} {{currentGatewayAccount.full_type}} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% include "includes/side-navigation.njk" %}
{% endblock %}

{% block mainContent %}

<div class="govuk-grid-column-two-thirds">

  {# back link should always go before <main> content so it can be skipped, settings page layouts should be adjusted to suport this #}
  {{ govukBackLink({
    text: "Back to Switching payment service provider (PSP)",
    classes: "govuk-!-margin-top-0",
    href: formatAccountPathsFor(routes.account.switchPSP.index, currentGatewayAccount.external_id)
  }) }}

  {% if flash.verifyIntegrationPaymentFailed %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      {% switch targetCredential.payment_provider %}
        {% case 'worldpay' %}
      <p class="govuk-body">Please check your Worldpay credentials and try making another payment.</p>
        {% default %}
      <p class="govuk-body">Please try making another payment.</p>
      {% endswitch %}
      <p class="govuk-body">If this does not work, email us at <a class="govuk-link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" target="_top">govuk-pay-support@digital.cabinet-office.gov.uk</a>.</p>
    </div>
  </div>
  {% endif %}

  <h1 class="govuk-heading-l page-title">Test the connection between {{ targetCredential.payment_provider | formatPSPname }} and GOV.UK Pay</h1>

  {% if targetCredential.payment_provider === 'worldpay' or allowTestPayment === true %}
    <p class="govuk-body">Make a live payment of £2 with a debit or credit card to check that the connection with {{ targetCredential.payment_provider | formatPSPname }} is working. You can refund the payment anytime.</p>
    <form method="POST">
      {{ govukButton ({
        text: "Continue to live payment"
      }) }}

      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
    </form>
  {% else %}
    <p class="govuk-body">Stripe is still verifying your details. You cannot make a test payment until this is complete. Please try again later.</p>
  {% endif %}
</div>
{% endblock %}
