@use 'govuk-frontend/dist/govuk' as *  with (
    // We set all our pages wider in selfservice because it helps people viewing the list of transactions
    $govuk-page-width: 1200px,
    $govuk-suppressed-warnings: (govuk-typography-scale-14),
    $govuk-assets-path: '/govuk-frontend-assets/'
);
@use 'accessible-autocomplete/dist/accessible-autocomplete.min.css' as *;

@use 'components/cookie-message';
@use 'components/header';
@use 'components/phase-tag';
@use 'components/navigation';
@use 'components/environment-tag';
@use 'components/dashboard-activity';
@use 'components/flex-grid';
@use 'components/links-box';
@use 'components/links-container';
@use 'components/flash';
@use 'components/text-align';
@use 'components/button';
@use 'components/accessible-autocomplete';
@use 'components/related-information';
@use 'components/code';
@use 'components/negative-margin';
@use 'components/links';
@use 'components/api-keys';
@use 'components/target-to-show';
@use 'components/info-box';
@use 'components/email-template';
@use 'components/colour';
@use 'components/currency-input';
@use 'components/transaction-list';
@use 'components/transaction-filter';
@use 'components/multi-select';
@use 'components/pagination';
@use 'components/transaction-details';
@use 'components/transaction-refund';
@use 'components/vertical-align';
@use 'components/borders';
@use 'components/request-to-go-live';
@use 'components/error-label';
@use 'components/digital-wallet';
@use 'components/padding';
@use 'components/reporting-columns';
@use 'components/account-status-panel';
@use 'components/psp-go-live-panel';
@use 'components/demo-payment';
@use 'components/my-profile';
@use 'components/prototype-links';
@use 'components/my-services';
@use 'components/task-list';
@use 'components/print-button';
@use 'components/contract';
@use 'components/sub-navigation';
@use 'components/additional-information';
@use 'components/system-messages';
@use 'components/spinner';
@use 'components/service-settings';
@use 'components/fieldset-legend-width';
@use 'components/lists';
@use 'components/overrides';
@use 'components/url-preview';
@use 'components/summary-card';
@use 'components/existing-url';
@use 'components/images';
