{% extends "../../layout.njk" %}
{% from "../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  Enter a director’s details - {{ currentService.name }} - GOV.UK Pay
{% endblock %}

{% block side_navigation %}
  {% if isSwitchingCredentials or enableStripeOnboardingTaskList %}
    {% include "includes/side-navigation.njk" %}
  {% endif %}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-column-two-thirds">

    {% if isSwitchingCredentials %}
      {{ govukBackLink({
        text: "Back to Switching payment service provider (PSP)",
        classes: "govuk-!-margin-top-0",
        href: formatAccountPathsFor(routes.account.switchPSP.index, currentGatewayAccount.external_id)
      }) }}
    {% endif %}
    {% if enableStripeOnboardingTaskList %}
      {{ govukBackLink({
        text: "Back to information for Stripe",
        classes: "govuk-!-margin-top-0",
        href: formatAccountPathsFor(routes.account.yourPsp.index, currentGatewayAccount.external_id, currentCredential.external_id)
      }) }}
    {% endif %}

    {{ errorSummary ({
      errors: errors,
      hrefs: {
        'first-name': '#first-name',
        'last-name': '#last-name',
        'dob-day': '#dob-day',
        'email': '#email'
      }
    }) }}

    <h1 class="govuk-heading-l">Enter a director’s details</h1>

    <p class="govuk-body">We need the details of the director of the service or someone at director level in your
      organisation. They could be the same as your responsible person. The details will be used by Stripe to run
      anti-money laundering checks.</p>

    <p class="govuk-body">If your organisation does not have a director, we need the details of a person who has the
      authority to transfer funds. Someone like a chief executive officer (CEO), chief financial officer (CFO), or chief
      operating officer (COO).</p>

    <form id="director-form" method="post" class="govuk-!-margin-top-4" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {% call govukFieldset({
        legend: {
          text: "Name",
          classes: "govuk-fieldset__legend--m",
          isPageHeading: false
        }
      }) %}

      {% set firstNameError = false %}
      {% if errors['first-name'] %}
        {% set firstNameError = {
          text: errors['first-name']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "first-name",
        name: "first-name",
        value: firstName,
        type: "text",
        autocomplete: "given-name",
        spellcheck: false,
        errorMessage: firstNameError,
        classes: "govuk-input--width-20"
      }) }}

      {% set lastNameNameError = false %}
      {% if errors['last-name'] %}
        {% set lastNameNameError = {
          text: errors['last-name']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "last-name",
        name: "last-name",
        value: lastName,
        type: "text",
        autocomplete: "family-name",
        spellcheck: false,
        errorMessage: lastNameNameError,
        classes: "govuk-input--width-20"
      }) }}

      {% endcall %}

      {% set dobError = false %}
      {% if errors['dob-day'] %}
        {% set dobError = {
          text: errors['dob-day']
        } %}
      {% endif %}
      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--m",
            text: "Date of birth"
          }
        },
        hint: {
          text: "For example, 26 5 1980"
        },
        errorMessage: dobError,
        items: [
          {
            value: dobDay,
            name: "day",
            classes: "govuk-input--width-2",
            autocomplete: "bday-day"
          },
          {
            value: dobMonth,
            name: "month",
            classes: "govuk-input--width-2",
            autocomplete: "bday-month"
          },
          {
            value: dobYear,
            name: "year",
            classes: "govuk-input--width-4",
            autocomplete: "bday-year"
          }
        ]
      }) }}

      {% set emailError = false %}
      {% if errors['email'] %}
        {% set emailError = {
          text: errors['email']
        } %}
      {% endif %}
      {{ govukInput({
        label: {
          text: "Work email address",
          classes: "govuk-label--m"
        },
        id: "email",
        name: "email",
        value: email,
        type: "email",
        autocomplete: "work email",
        spellcheck: "false",
        errorMessage: emailError,
        classes: "govuk-!-width-two-thirds"
      }) }}

      {{ govukButton({ text: "Save and continue" }) }}
    </form>
  </div>
{% endblock %}
